<footer class="footer bg-white" style="--footer-overlay: #fffbfb">
 <div class="mid-footer">
  <div class="container">
   <div class="row">
    <div class="col-xs-12 col-md-6 col-xl-4 footer-click footer-1">
     <h4 class="title-menu clicked">
      Baseus TechMall Authorised Distributor and Retailer
      <br/>
      Nhà phân phối chính thức của Baseus tại Vietnam
     </h4>
     <a class="logo-wrapper mb-3 d-block" href="/">
      <img alt="logo Baseus Việt Nam" height="50" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/logo-footer.png?v=1419" width="164"/>
     </a>
     <p>
      <p>
       <i>
        Quản lý và điều hành bởi:
       </i>
       <br/>
       CÔNG TY CỔ PHẦN ĐẦU TƯ CÔNG NGHỆ GEEKTEK
       <br/>
       GPDKKD: 0318310839 do sở KH &amp; ĐT TP.HCM cấp ngày 22/02/2024
       <br/>
       Trụ sở chính: 47A Lê Trọng Tấn, Phương Tân Sơn Nhì, TP. Hồ Chí Minh
      </p>
      <p>
       <strong>
        Hệ thống cửa hàng chính hãng Baseus Brand Store :
       </strong>
      </p>
      <p>
       <i class="fa fa-home">
       </i>
       Baseus Hà Nội: 414 Xã Đàn, Phường Đống Đa, Hà Nội
      </p>
      <p>
       <i class="fa fa-home">
       </i>
       Baseus Quận 1: 109 Nguyễn Thị Minh Khai, Phường Bến Thành, TP. HCM
      </p>
      <p>
       <i class="fa fa-home">
       </i>
       Baseus Quận 3: 232 -234 Cách Mạng Tháng 8, Phường Nhiêu Lộc, TP. HCM
      </p>
      <p>
       <i class="fa fa-home">
       </i>
       Baseus Q. Gò Vấp: 55A Quang Trung, Phường Gò Vấp, TP.HCM
      </p>
      <p>
       <i class="fa fa-home">
       </i>
       Baseus Tân Phú: 47A Lê Trọng Tấn, Phường Tân Sơn Nhì, TP. Hồ Chí Minh
      </p>
      <p>
       <i class="fa fa-home">
       </i>
       Baseus Cao Lãnh: 76 Tôn Đức Thắng, Phường Cao Lãnh, Đồng Tháp
      </p>
      <p>
       <i class="fa fa-home">
       </i>
       Baseus Bình Thuận: 186 Tuyên Quang, Phường Phú Thủy, Lâm Đồng
      </p>
     </p>
     <a href="http://online.gov.vn/Home/WebDetails/134069" target="_blank" title="Logo Bộ Công Thương">
      <img alt="Logo Bộ Công Thương" height="40" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/logo_bct.png?v=1419" width="104">
      </img>
     </a>
     <img alt="Trusted Store" class="" height="45" src="https://file.hstatic.net/1000152881/file/trust-symbols_c_32d4b2ac7cbb449cb6d062593bcd9c48.png" width="200"/>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-2 footer-click">
     <h4 class="title-menu clicked">
      Thông tin
      <i class="fa fa-angle-down d-md-none d-inline-block">
      </i>
     </h4>
     <ul class="list-menu toggle-mn">
      <li class="li_menu">
       <a class="link" href="/pages/lien-he" title="Liên hệ">
        Liên hệ
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/he-thong-cua-hang" title="Hệ thống cửa hàng">
        Hệ thống cửa hàng
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/about-us" title="Giới thiệu">
        Giới thiệu
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/phuong-thuc-thanh-toan" title="Tài khoản thanh toán">
        Tài khoản thanh toán
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/chinh-sach-ban-hang" title="Chính sách bán hàng">
        Chính sách bán hàng
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/baseus-viet-nam-chinh-thuc-trien-khai-he-thong-phan-phoi-si-baseus-chinh-hang-toan-quoc" title="Phân phối + Bán Sỉ">
        Phân phối + Bán Sỉ
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/chinh-sach-bao-hanh" title="Chính sách bảo hành">
        Chính sách bảo hành
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/chinha-sach-doi-tra-san-pham" title="Chính sách đổi trả">
        Chính sách đổi trả
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/chinh-sach-bao-mat-thong-tin" title="Chính sách bảo mật">
        Chính sách bảo mật
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/blogs/news/huong-dan-nhan-biet-hang-baseus-chinh-hang-phan-biet-hang-fake-hang-xach-tay" title="Nhận biết hàng chính hãng">
        Nhận biết hàng chính hãng
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/tuyen-dung" title="Tuyển dụng">
        Tuyển dụng
       </a>
      </li>
     </ul>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-2 footer-click">
     <h4 class="title-menu clicked">
      Chính sách
      <i class="fa fa-angle-down d-md-none d-inline-block">
      </i>
     </h4>
     <ul class="list-menu toggle-mn">
      <li class="li_menu">
       <a class="link" href="/pages/chinh-sach-ban-hang" title="- Chính sách bán hàng">
        - Chính sách bán hàng
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/chinh-sach-bao-hanh" title="- Chính sách bảo hành">
        - Chính sách bảo hành
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/chinha-sach-doi-tra-san-pham" title="- Chính sách đổi trả">
        - Chính sách đổi trả
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/chinh-sach-bao-mat-thong-tin" title="- Chính sách bảo mật">
        - Chính sách bảo mật
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="#" title="Sale Channel :">
        Sale Channel :
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/baseus-viet-nam-chinh-thuc-trien-khai-he-thong-phan-phoi-si-baseus-chinh-hang-toan-quoc" title="- Đại lý + Phân phối sỉ">
        - Đại lý + Phân phối sỉ
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="https://shopee.vn/baseus.vn" title="- Baseus on Shopee">
        - Baseus on Shopee
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="https://www.lazada.vn/shop/baseus-techmall-authorized" title="- Baseus on Lazada">
        - Baseus on Lazada
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="https://tiki.vn/cua-hang/baseus-official-online-store" title="- Baseus on Tiki">
        - Baseus on Tiki
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="https://www.tiktok.com/@baseus.vn" title="- Baseus on Tiktok">
        - Baseus on Tiktok
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="https://zalo.me/3902233563268346010" title="- Baseus on Zalo">
        - Baseus on Zalo
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="https://www.facebook.com/baseusvietnam.vn" title="- Baseus on Facebook">
        - Baseus on Facebook
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="https://www.youtube.com/@baseusvietnam" title="- Baseus on Youtube">
        - Baseus on Youtube
       </a>
      </li>
      <li>
       <a class="dmca-badge" href="//www.dmca.com/Protection/Status.aspx?ID=fcce13e3-0fd2-47a1-bc97-f6e62de6f9b2" target="_blank" title="DMCA.com Protection Status">
        <img alt="DMCA.com Protection Status" src="https://images.dmca.com/Badges/dmca-badge-w150-5x1-02.png?ID=fcce13e3-0fd2-47a1-bc97-f6e62de6f9b2"/>
       </a>
       <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js">
       </script>
      </li>
     </ul>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-4 footer-click">
     <h4 class="title-menu clicked">
      Tổng đài hỗ trợ
     </h4>
     <p>
      <span>
       - Hotline :
      </span>
      <a class="text-primary font-weight-bold" href="tel:(028)7109.95.96">
       (028)7109.95.96
      </a>
      <span>
       (08:30-21:30)
      </span>
     </p>
     <p>
      <span>
       - Tư vấn :
      </span>
      <a class="text-primary font-weight-bold" href="tel:0904.185.524">
       0904.185.524
      </a>
      <span>
       (08:30-21:30)
      </span>
     </p>
     <p>
      <span>
       - Bảo hành :
      </span>
      <a class="text-primary font-weight-bold" href="tel:(028)7109.95.96">
       (028)7109.95.96
      </a>
      <span>
       (08:30-21:30)
      </span>
     </p>
     <p>
      <span>
       - Hà Nội :
      </span>
      <a class="text-primary font-weight-bold" href="tel:0889.45.95.96">
       0889.45.95.96
      </a>
      <span>
       (08:30-21:30)
      </span>
     </p>
     <p>
      <span>
       - H.H.T :
      </span>
      <a class="text-primary font-weight-bold" href="tel:0966.843.145">
       0966.843.145
      </a>
      <span>
       (08:30-21:30)
      </span>
     </p>
     <p>
      <span>
       - CMT8 :
      </span>
      <a class="text-primary font-weight-bold" href="tel:0966.243.146">
       0966.243.146
      </a>
      <span>
       (08:30-21:30)
      </span>
     </p>
     <p>
      <span>
       - L.T.Tấn :
      </span>
      <a class="text-primary font-weight-bold" href="tel:0904.185.524">
       0904.185.524
      </a>
      <span>
       (09:00-19:00)
      </span>
     </p>
     <p>
      <span>
       - Quang Trung :
      </span>
      <a class="text-primary font-weight-bold" href="tel:0975.613.246">
       0975.613.246
      </a>
      <span>
       (09:00-19:00)
      </span>
     </p>
     <p>
      <span>
       - NTMK :
      </span>
      <a class="text-primary font-weight-bold" href="tel:0903.472.930">
       0903.472.930
      </a>
      <span>
       (8:30-21:30)
      </span>
     </p>
     <p>
      <span>
       - KD Sỉ + DN 1 :
      </span>
      <a class="text-primary font-weight-bold" href="tel:03688.02688">
       03688.02688
      </a>
      <span>
       (08:30-21:30)
      </span>
     </p>
     <p>
      <span>
       - B2B + Quà tặng DN :
      </span>
      <a class="text-primary font-weight-bold" href="tel:096.3131.480">
       096.3131.480
      </a>
      <span>
       (08:30-21:30)
      </span>
     </p>
     <p>
      <span>
       - KD Đại lý :
      </span>
      <a class="text-primary font-weight-bold" href="tel:0795.018.007">
       0795.018.007
      </a>
      <span>
       (08:30-21:30)
      </span>
     </p>
     <span class="title-menu">
      Phương thức thanh toán
     </span>
     <div class="trustbadge">
      <a href="/pages/phuong-thuc-thanh-toan" target="_blank" title="Phương thức thanh toán">
       <img alt="" class="img-fluid" height="53" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/footer_trustbadge.jpg?v=1419" width="246"/>
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="bg-footer-bottom copyright clearfix py-2">
  <div class="container">
   <div class="row">
    <div class="col-xl-4 col-lg-12 col-md-12 col-xs-12 fot_copyright" id="copyright">
     <span class="wsp">
      © Bản quyền 2022 thuộc về
      <a href="https://baseus.vn" rel="nofollow" target="_blank">
       Baseus Vietnam
      </a>
      <br/>
      Member of
      <a href="https://techmall.vn">
       TechMall Vietnam
      </a>
     </span>
    </div>
   </div>
  </div>
 </div>
</footer>
