<header class="header header_menu">
 <div class="mid-header wid_100 d-flex align-items-center">
  <div class="container">
   <div class="row align-items-center">
    <div class="col-2 header-right d-lg-none d-block">
     <div class="toggle-nav btn menu-bar mr-4 ml-0 p-0 d-lg-none d-flex text-white">
      <span class="bar">
      </span>
      <span class="bar">
      </span>
      <span class="bar">
      </span>
     </div>
    </div>
    <div class="col-8 col-lg-2 col-xl-3 header-left">
     <a class="logo-wrapper" href="/" title="Baseus Việt Nam">
      <img alt="logo Baseus Việt Nam" class="img-fluid" height="60" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/logo.png?v=1419" width="420"/>
     </a>
    </div>
    <div class="col-lg-4 col-12 header-center pl-lg-0" id="search-header">
     <div class="frmSearch">
      <form action="/search" class="input-group search-bar custom-input-group" id="searchFRM" method="get" role="search">
       <input autocomplete="off" class="input-group-field auto-search form-control" data-placeholder="Bạn cần tìm gì..;
Nhập tên hoặc mã sản phẩm.." id="inputSearchAuto" name="q" required="" type="text" value=""/>
       <input name="type" type="hidden" value="product"/>
       <span class="input-group-btn btn-action">
        <button aria-label="search" class="btn text-white icon-fallback-text h-100" type="submit">
         <svg class="icon">
          <use xlink:href="#icon-search">
          </use>
         </svg>
        </button>
       </span>
      </form>
      <div class="ajaxSearchAuto" id="ajaxSearchResults" style="display: none">
       <div class="resultsContent">
       </div>
      </div>
     </div>
     <div class="search-dropdow">
      <ul class="search__list pl-0 d-flex list-unstyled mb-0 flex-wrap">
       <li class="mr-2">
        <a href="/search?q=filter=(tag:product=Cáp+sạc,+Pin+dự+phòng,+Ốp+lựng,+Cường+lực,+tai+nghe,+Hub,...)" id="filter-search-cap-sac-pin-du-phong-op-lung-cuong-luc-tai-nghe-hub">
         Cáp sạc, Pin dự phòng, Ốp lựng, Cường lực, tai nghe, Hub,...
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div class="col-2 col-lg-6 col-xl-5 pl-0">
     <ul class="header-right mb-0 list-unstyled d-flex align-items-center">
      <li class="media d-lg-flex d-none hotline">
       <img alt="phone-icon" class="mr-3 align-self-center" height="24" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/phone-icon.png?v=1419" width="24">
        <div class="media-body d-md-flex flex-column d-none">
         <span>
          Gọi mua hàng
         </span>
         <a class="font-weight-bold d-block" href="tel:(028)7109.95.96" title="(028)7109.95.96">
          (028)7109.95.96
         </a>
        </div>
       </img>
      </li>
      <li class="ml-md-3 media d-lg-flex d-none hotline">
       <img alt="phone-icon" class="mr-3 align-self-center" height="24" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/address-icon.png?v=1419" width="24"/>
       <div class="media-body d-md-flex flex-column d-none">
        <a href="/pages/he-thong-cua-hang" title="Hệ thống cửa hàng">
         Hệ thống
         <br/>
         cửa hàng
        </a>
       </div>
      </li>
      <li class="ml-4 mr-4 mr-md-0 ml-md-3 media d-lg-flex d-none">
       <img alt="account_icon" class="mr-3 align-self-center" height="24" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/account-icon.png?v=1419" width="24"/>
       <div class="media-body d-md-flex flex-column d-none">
        <a class="d-block" href="/account/login" rel="nofollow" title="Tài khoản">
         Tài khoản
        </a>
        <small>
         <a class="font-weight: light" href="/account/login" title="Đăng nhập">
          Đăng nhập
         </a>
        </small>
       </div>
      </li>
      <li class="cartgroup ml-3">
       <div class="mini-cart text-xs-center">
        <a class="img_hover_cart" href="/cart" title="Giỏ hàng">
         <img alt="cart_icon" height="24" loading="lazy" src="//theme.hstatic.net/1000152881/1001100349/14/cart-icon.png?v=1419" width="24"/>
         <span class="ml-2 d-xl-block d-none">
          Giỏ hàng
         </span>
         <span class="count_item count_item_pr">
          0
         </span>
        </a>
        <div class="top-cart-content card">
         <ul class="mini-products-list count_li list-unstyled" id="cart-sidebar">
          <li class="list-item">
           <ul>
           </ul>
          </li>
          <li class="action">
          </li>
         </ul>
        </div>
       </div>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</header>
