<header class="header">
 <div class="wolf-header-notice">
  <div class="container notice-list">
   <div class="notice-item">
    Giảm 10% cho đơn hàng đầu tiên
   </div>
   <div class="notice-item">
    Miễn phí vận chuyển và hoàn tiền trong 30 ngày
   </div>
  </div>
 </div>
 <div class="wolf-main-header">
  <div class="container wolf-main-header-grid">
   <div class="wolf-header-left">
    <ul class="header-nav-secondary header-nav-secondary-left">
     <li class="wolf-hide-mobile">
      <a href="/pages/he-thong-cua-hang" title="Cửa hàng">
       <svg aria-label="Location icon" class="icon icon-location" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.41,6.59a2,2,0,1,1-2.77,2.87l-.05-.05a2,2,0,0,1,2.82-2.82Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5" vector-effect="non-scaling-stroke">
        </path>
        <path d="M15.49,13.24A16,16,0,0,0,12,17.7a16.4,16.4,0,0,0-3.49-4.46C6.76,11.43,5.68,9.94,5.67,8A6.23,6.23,0,0,1,12,1.72,6.23,6.23,0,0,1,18.33,8C18.32,9.94,17.24,11.42,15.49,13.24Z" fill="none" stroke="currentColor" stroke-width="1.5" vector-effect="non-scaling-stroke">
        </path>
        <path d="M7,16c-2.41.59-4,1.58-4,2.72C3,20.53,7,22,12,22s9-1.47,9-3.28c0-1.14-1.59-2.13-4-2.72" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5" vector-effect="non-scaling-stroke">
        </path>
       </svg>
       <span>
        Cửa hàng
       </span>
      </a>
     </li>
     <li class="wolf-hide-mobile">
      <a href="/pages/lien-he" title="Liên hệ">
       <svg aria-label="Support icon" class="icon icon-support" fill="none" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.685 9.685A2.181 2.181 0 0 1 11.9 7.998 2.137 2.137 0 0 1 14.15 10C14.15 11.504 12 12 12 13M12.125 15.752a.125.125 0 1 1-.25 0 .125.125 0 0 1 .25 0" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" vector-effect="non-scaling-stroke">
        </path>
        <path clip-rule="evenodd" d="M3.81 17.738a10 10 0 1 1 2.452 2.452l-3.152.7.7-3.152Z" stroke="currentColor" stroke-width="1.5" vector-effect="non-scaling-stroke">
        </path>
       </svg>
       <span>
        Liên hệ
       </span>
      </a>
     </li>
     <li class="wolf-search wolf-hide-desktop">
      <a class="wofl-search-link" href="javascript:;" title="Tìm kiếm">
       <svg aria-hidden="true" height="24" viewbox="0 0 24 24" width="24">
        <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-width="1.5" transform="translate(3.000000, 3.000000)">
         <circle cx="7.82352941" cy="7.82352941" r="7.82352941">
         </circle>
         <line stroke-linecap="square" x1="13.9705882" x2="18.4411765" y1="13.9705882" y2="18.4411765">
         </line>
        </g>
       </svg>
      </a>
     </li>
     <li class="wolf-wishlist wolf-hide-desktop">
      <a href="/pages/san-pham-yeu-thich" rel="nofollow" title="Danh sách yêu thích">
       <svg aria-hidden="true" class="icon icon--medium" focusable="false" height="24" role="presentation" stroke-width="1" viewbox="0 0 16 16" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.86 4.38a2.78 2.78 0 013.72-.3c1.4 1.2 1.2 3.11.19 4.13L7.98 13.1c-.05.06-.1.06-.19 0L3.01 8.2a2.8 2.8 0 01.19-4.1c1.06-.9 2.7-.76 3.74.28l.96.98.96-.98zm-.96-.45l.24-.25a3.78 3.78 0 015.07-.38l.01.01v.01a3.82 3.82 0 01.26 5.59l-4.79 4.9a1.12 1.12 0 01-1.45.12l-.1-.06L2.3 8.91a3.8 3.8 0 01.26-5.57 3.79 3.79 0 015.1.33l.01.01.24.25z" fill="currentColor" fill-rule="evenodd">
        </path>
       </svg>
       <span class="js-wishlist-count">
        0
       </span>
      </a>
     </li>
    </ul>
   </div>
   <div class="wolf-header-center">
    <a class="logo-wrapper" href="/" title="Wolf Bikini">
     <img alt="Wolf Bikini" class="lazyload" data-src="//cdn.hstatic.net/themes/200001089156/1001419193/14/logo.png?v=365" height="35" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="320"/>
    </a>
   </div>
   <div class="wolf-header-right">
    <ul class="header-nav-secondary header-nav-secondary-right">
     <li class="wolf-search wolf-hide-mobile">
      <a class="wofl-search-link" href="javascript:;" title="Tìm kiếm">
       <svg aria-hidden="true" height="24" viewbox="0 0 24 24" width="24">
        <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-width="1.5" transform="translate(3.000000, 3.000000)">
         <circle cx="7.82352941" cy="7.82352941" r="7.82352941">
         </circle>
         <line stroke-linecap="square" x1="13.9705882" x2="18.4411765" y1="13.9705882" y2="18.4411765">
         </line>
        </g>
       </svg>
      </a>
     </li>
     <li class="wolf-wishlist wolf-hide-mobile">
      <a href="/pages/san-pham-yeu-thich" title="Danh sách yêu thích">
       <svg aria-hidden="true" class="icon icon--medium" focusable="false" role="presentation" stroke-width="1" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.86 4.38a2.78 2.78 0 013.72-.3c1.4 1.2 1.2 3.11.19 4.13L7.98 13.1c-.05.06-.1.06-.19 0L3.01 8.2a2.8 2.8 0 01.19-4.1c1.06-.9 2.7-.76 3.74.28l.96.98.96-.98zm-.96-.45l.24-.25a3.78 3.78 0 015.07-.38l.01.01v.01a3.82 3.82 0 01.26 5.59l-4.79 4.9a1.12 1.12 0 01-1.45.12l-.1-.06L2.3 8.91a3.8 3.8 0 01.26-5.57 3.79 3.79 0 015.1.33l.01.01.24.25z" fill="currentColor" fill-rule="evenodd">
        </path>
       </svg>
       <span class="js-wishlist-count">
        0
       </span>
      </a>
     </li>
     <li class="wolf-header-cart header-action_cart">
      <a class="a-hea" href="/cart" title="Giỏ hàng">
       <span class="box-icon">
        <svg aria-hidden="true" height="24" viewbox="0 0 24 24" width="24">
         <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
          <rect height="24" width="24" x="0" y="0">
          </rect>
          <path d="M15.3214286,9.5 C15.3214286,7.93720195 15.3214286,6.5443448 15.3214286,5.32142857 C15.3214286,3.48705422 13.8343743,2 12,2 C10.1656257,2 8.67857143,3.48705422 8.67857143,5.32142857 C8.67857143,6.5443448 8.67857143,7.93720195 8.67857143,9.5" id="Oval-Copy-11" stroke="currentColor" stroke-width="1.5">
          </path>
          <polygon points="5.35714286 7.70535714 18.6428571 7.70535714 19.75 21.2678571 4.25 21.2678571" stroke="currentColor" stroke-width="1.5">
          </polygon>
         </g>
        </svg>
       </span>
       <span class="count_item count_item_pr">
        0
       </span>
      </a>
      <div class="top-cart-content">
       <div class="CartHeaderContainer">
       </div>
      </div>
     </li>
     <li class="wolf-header-account">
      <a aria-label="Tài khoản" class="header-account" href="javascript:;" title="Tài khoản">
       <svg class="bi bi-person" fill="currentColor" height="30" viewbox="0 0 16 16" width="30" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z">
        </path>
       </svg>
      </a>
      <ul>
       <li class="li-account">
        <a href="/account/login" rel="nofollow" title="Đăng nhập">
         <svg class="bi bi-box-arrow-in-right" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" fill-rule="evenodd">
          </path>
          <path d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" fill-rule="evenodd">
          </path>
         </svg>
         Đăng nhập
        </a>
       </li>
       <li class="li-account">
        <a href="/account/register" rel="nofollow" title="Đăng ký">
         <svg class="bi bi-person-plus" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z">
          </path>
          <path d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" fill-rule="evenodd">
          </path>
         </svg>
         Đăng ký
        </a>
       </li>
      </ul>
     </li>
    </ul>
   </div>
  </div>
  <div class="wolf-main-search">
   <div class="wolf-main-search-container container">
    <button aria-label="Close" class="wolf-main-search-close">
     <svg aria-hidden="true" class="feather feather-x" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <line x1="18" x2="6" y1="6" y2="18">
      </line>
      <line x1="6" x2="18" y1="6" y2="18">
      </line>
     </svg>
    </button>
    <form action="/search" class="header-search-form search-bar" method="get" role="search">
     <input autocomplete="off" class="input-group-field auto-search search-auto form-control" name="q" placeholder="Tìm sản phẩm..." required="" type="text"/>
     <input name="type" type="hidden" value="product"/>
     <button aria-label="Tìm kiếm" class="wolf-btn-search btn icon-fallback-text" title="Tìm kiếm" type="submit">
      <svg class="bi bi-search" fill="currentColor" height="24" viewbox="0 0 16 16" width="24" xmlns="http://www.w3.org/2000/svg">
       <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
       </path>
      </svg>
     </button>
    </form>
    <div class="search-suggest">
     <div class="item-suggest">
      <div class="search-title">
       Danh mục nổi bật
      </div>
      <div class="row search-list">
       <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <a class="search-item" href="/collections/nu" title="Nữ">
         <div class="keyword-img">
          <img alt="Nữ" class="lazyload duration-300" data-src="//cdn.hstatic.net/files/200001089156/collection/woman_9b96eb362366448faf17410b6bc395c6_large.jpg" height="375" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="263">
          </img>
         </div>
         <div class="keyword-info-title">
          Nữ
         </div>
        </a>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <a class="search-item" href="/collections/cap-doi" title="Cặp đôi">
         <div class="keyword-img">
          <img alt="Cặp đôi" class="lazyload duration-300" data-src="//cdn.hstatic.net/files/200001089156/collection/uploaded-dataimages-201609-original-_image_7411831_16488378972740a28c06bcec1fbaab4a_large.jpg" height="375" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="263"/>
         </div>
         <div class="keyword-info-title">
          Cặp đôi
         </div>
        </a>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <a class="search-item" href="/collections/tre-em" title="Trẻ em">
         <div class="keyword-img">
          <img alt="Trẻ em" class="lazyload duration-300" data-src="//cdn.hstatic.net/files/200001089156/collection/treem_928288e7ff244b0aab57d90cbf129bbc_large.jpg" height="375" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="263"/>
         </div>
         <div class="keyword-info-title">
          Trẻ em
         </div>
        </a>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <a class="search-item" href="/collections/nam" title="Nam">
         <div class="keyword-img">
          <img alt="Nam" class="lazyload duration-300" data-src="//cdn.hstatic.net/files/200001089156/collection/nam_1a3fa56a6633442c9bd34f46e5e6bb1b_large.jpg" height="375" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="263"/>
         </div>
         <div class="keyword-info-title">
          Nam
         </div>
        </a>
       </div>
      </div>
     </div>
     <div class="list-search row">
     </div>
    </div>
   </div>
  </div>
  <nav class="wolf-nav-drawer">
   <div class="container scroll-menu-desktop">
    <div class="mobile-nav-slider">
     <ul class="wolf-main-nav">
      <li class="nav-item nav-item-level-1 active">
       <a class="nav-link" href="/" title="Trang chủ">
        Trang chủ
       </a>
      </li>
      <li class="nav-item nav-item-level-1">
       <a class="nav-link" href="/pages/about-us" title="Giới thiệu">
        Giới thiệu
       </a>
      </li>
      <li class="nav-item nav-item-level-1 has-mega has-mega-1">
       <a class="nav-item-toggle nav-link" href="/collections/all" title="Sản phẩm">
        Sản phẩm
        <svg class="wolf-icon-menus" height="25px" style="enable-background:new 0 0 490.656 490.656;" viewbox="0 0 490.656 490.656" width="25px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
         <path class="active-path" d="M487.536,120.445c-4.16-4.16-10.923-4.16-15.083,0L245.339,347.581L18.203,120.467c-4.16-4.16-10.923-4.16-15.083,0    c-4.16,4.16-4.16,10.923,0,15.083l234.667,234.667c2.091,2.069,4.821,3.115,7.552,3.115s5.461-1.045,7.531-3.136l234.667-234.667    C491.696,131.368,491.696,124.605,487.536,120.445z" data-old_color="#000000" data-original="#000000" fill="#141414">
         </path>
        </svg>
        <svg aria-label="Chevron right icon" class="icon icon-chevron-right" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
         <use xlink:href="#iconChevronRight">
         </use>
        </svg>
       </a>
       <div class="wolf-nav-dropdown">
        <div class="megamenu">
         <ul class="submenu submenu-nested submenu-span-2">
          <li class="nav-item nav-item-level-2 has-submenu">
           <a class="nav-link nav-link-level-2 mobile-subnav-item--toggle" href="/collections/nu" title="Nữ">
            Nữ
            <svg aria-label="Chevron right icon" class="icon icon-chevron-right" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
             <use xlink:href="#iconChevronRight">
             </use>
            </svg>
           </a>
           <div class="submenu-descendant">
            <ul>
             <li class="nav-item nav-item-level-3">
              <a class="nav-link nav-link-level-3" href="/collections/mix-match" title="Mix&amp;match">
               Mix&amp;match
              </a>
             </li>
             <li class="nav-item nav-item-level-3">
              <a class="nav-link nav-link-level-3" href="/collections/mot-manh" title="Một Mảnh">
               Một Mảnh
              </a>
             </li>
             <li class="nav-item nav-item-level-3">
              <a class="nav-link nav-link-level-3" href="/collections/hai-manh" title="Hai Mảnh">
               Hai Mảnh
              </a>
             </li>
             <li class="nav-item nav-item-level-3">
              <a class="nav-link nav-link-level-3" href="/collections/hai-manh-sexy" title="Hai Mảnh Sexy">
               Hai Mảnh Sexy
              </a>
             </li>
             <li class="nav-item nav-item-level-3">
              <a class="nav-link nav-link-level-3" href="/collections/ba-manh" title="Ba Mảnh">
               Ba Mảnh
              </a>
             </li>
             <li class="nav-item nav-item-level-3">
              <a class="nav-link nav-link-level-3" href="/collections/do-boi-nu-tay-dai" title="Đồ Bơi Nữ Tay Dài">
               Đồ Bơi Nữ Tay Dài
              </a>
             </li>
            </ul>
           </div>
          </li>
          <li class="nav-item nav-item-level-2 has-submenu">
           <a class="nav-link nav-link-level-2 mobile-subnav-item--toggle" href="/collections/nam" title="Nam">
            Nam
            <svg aria-label="Chevron right icon" class="icon icon-chevron-right" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
             <use xlink:href="#iconChevronRight">
             </use>
            </svg>
           </a>
           <div class="submenu-descendant">
            <ul>
             <li class="nav-item nav-item-level-3">
              <a class="nav-link nav-link-level-3" href="/collections/ao-boi-nam" title="Áo Bơi Nam">
               Áo Bơi Nam
              </a>
             </li>
             <li class="nav-item nav-item-level-3">
              <a class="nav-link nav-link-level-3" href="/collections/quan-boi-nam" title="Quần Bơi Nam">
               Quần Bơi Nam
              </a>
             </li>
             <li class="nav-item nav-item-level-3">
              <a class="nav-link nav-link-level-3" href="/collections/tui-coi" title="Túi Cói">
               Túi Cói
              </a>
             </li>
            </ul>
           </div>
          </li>
          <li class="nav-item nav-item-level-2">
           <a class="nav-link nav-link-level-2" href="/collections/tre-em" title="Trẻ em">
            Trẻ em
           </a>
          </li>
          <li class="nav-item nav-item-level-2">
           <a class="nav-link nav-link-level-2" href="/collections/cap-doi" title="Cặp đôi">
            Cặp đôi
           </a>
          </li>
          <li class="nav-item nav-item-level-2 has-submenu">
           <a class="nav-link nav-link-level-2 mobile-subnav-item--toggle" href="/collections/phu-kien" title="Phụ kiện">
            Phụ kiện
            <svg aria-label="Chevron right icon" class="icon icon-chevron-right" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
             <use xlink:href="#iconChevronRight">
             </use>
            </svg>
           </a>
           <div class="submenu-descendant">
            <ul>
             <li class="nav-item nav-item-level-3">
              <a class="nav-link nav-link-level-3" href="/collections/ao-choang-khan-sarong" title="Áo Choàng, Khăn Sarong">
               Áo Choàng, Khăn Sarong
              </a>
             </li>
             <li class="nav-item nav-item-level-3">
              <a class="nav-link nav-link-level-3" href="/collections/non-coi" title="Nón Cói">
               Nón Cói
              </a>
             </li>
             <li class="nav-item nav-item-level-3">
              <a class="nav-link nav-link-level-3" href="/collections/kinh-boi-non-boi" title="Kính Bơi, Nón Bơi">
               Kính Bơi, Nón Bơi
              </a>
             </li>
             <li class="nav-item nav-item-level-3">
              <a class="nav-link nav-link-level-3" href="/collections/dep" title="Dép">
               Dép
              </a>
             </li>
            </ul>
           </div>
          </li>
         </ul>
         <div class="submenu-image">
          <a href="/collections/mix-match" title="Mix&amp;match">
           <div class="component-image-wrapper">
            <img alt="Mix&amp;match" class="lazyload" data-src="//cdn.hstatic.net/themes/200001089156/1001419193/14/megamenu_sub_1_img_1.jpg?v=365" height="700" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="480"/>
           </div>
           <span>
            Mix&amp;match
           </span>
          </a>
         </div>
         <div class="submenu-image">
          <a href="/collections/all" title="Hai Mảnh">
           <div class="component-image-wrapper">
            <img alt="Hai Mảnh" class="lazyload" data-src="//cdn.hstatic.net/themes/200001089156/1001419193/14/megamenu_sub_1_img_2.jpg?v=365" height="700" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="480"/>
           </div>
           <span>
            Hai Mảnh
           </span>
          </a>
         </div>
        </div>
       </div>
      </li>
      <li class="nav-item nav-item-level-1">
       <a class="nav-item-toggle nav-link" href="/collections/nu" title="Nữ">
        Nữ
        <svg class="wolf-icon-menus" height="25px" style="enable-background:new 0 0 490.656 490.656;" viewbox="0 0 490.656 490.656" width="25px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
         <path class="active-path" d="M487.536,120.445c-4.16-4.16-10.923-4.16-15.083,0L245.339,347.581L18.203,120.467c-4.16-4.16-10.923-4.16-15.083,0    c-4.16,4.16-4.16,10.923,0,15.083l234.667,234.667c2.091,2.069,4.821,3.115,7.552,3.115s5.461-1.045,7.531-3.136l234.667-234.667    C491.696,131.368,491.696,124.605,487.536,120.445z" data-old_color="#000000" data-original="#000000" fill="#141414">
         </path>
        </svg>
        <svg aria-label="Chevron right icon" class="icon icon-chevron-right" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
         <use xlink:href="#iconChevronRight">
         </use>
        </svg>
       </a>
       <div class="wolf-nav-dropdown">
        <div class="megamenu">
         <ul class="submenu submenu-nested submenu-span-4">
          <li class="nav-item nav-item-level-2">
           <a class="nav-link nav-link-level-2" href="/collections/mix-match" title="Mix&amp;match">
            Mix&amp;match
           </a>
          </li>
          <li class="nav-item nav-item-level-2">
           <a class="nav-link nav-link-level-2" href="/collections/mot-manh" title="Một Mảnh">
            Một Mảnh
           </a>
          </li>
          <li class="nav-item nav-item-level-2">
           <a class="nav-link nav-link-level-2" href="/collections/hai-manh" title="Hai Mảnh">
            Hai Mảnh
           </a>
          </li>
          <li class="nav-item nav-item-level-2">
           <a class="nav-link nav-link-level-2" href="/collections/hai-manh-sexy" title="Hai Mảnh Sexy">
            Hai Mảnh Sexy
           </a>
          </li>
          <li class="nav-item nav-item-level-2">
           <a class="nav-link nav-link-level-2" href="/collections/ba-manh" title="Ba Mảnh">
            Ba Mảnh
           </a>
          </li>
          <li class="nav-item nav-item-level-2">
           <a class="nav-link nav-link-level-2" href="/collections/do-boi-nu-tay-dai" title="Đồ Bơi Nữ Tay Dài">
            Đồ Bơi Nữ Tay Dài
           </a>
          </li>
          <li class="nav-item nav-item-level-2 has-submenu">
           <a class="nav-link nav-link-level-2 mobile-subnav-item-toggle" href="/collections/phu-kien" title="Phụ kiện">
            Phụ kiện
            <svg aria-label="Chevron right icon" class="icon icon-chevron-right" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
             <use xlink:href="#iconChevronRight">
             </use>
            </svg>
           </a>
           <div class="submenu-descendant">
            <ul>
             <li class="nav-item nav-item-level-3">
              <a class="nav-link nav-link-level-3" href="/collections/ao-choang-khan-sarong" title="Áo Choàng, Khăn Sarong">
               Áo Choàng, Khăn Sarong
              </a>
             </li>
             <li class="nav-item nav-item-level-3">
              <a class="nav-link nav-link-level-3" href="/collections/non-coi" title="Nón Cói">
               Nón Cói
              </a>
             </li>
            </ul>
           </div>
          </li>
         </ul>
        </div>
       </div>
      </li>
      <li class="nav-item nav-item-level-1">
       <a class="nav-link" href="/collections/nam" title="Nam">
        Nam
       </a>
      </li>
      <li class="nav-item nav-item-level-1">
       <a class="nav-link" href="/collections/tre-em" title="Trẻ em">
        Trẻ em
       </a>
      </li>
      <li class="nav-item nav-item-level-1">
       <a class="nav-link" href="/collections/cap-doi" title="Cặp đôi">
        Cặp đôi
       </a>
      </li>
      <li class="nav-item nav-item-level-1">
       <a class="nav-link" href="/blogs/news" title="Tin tức">
        Tin tức
       </a>
      </li>
      <li class="nav-item nav-item-level-1">
       <a class="nav-link" href="/pages/lien-he" title="Liên hệ">
        Liên hệ
       </a>
      </li>
     </ul>
    </div>
    <div class="control-menu">
     <a href="#" id="prev">
      <svg viewbox="0 0 384 512" xmlns="http://www.w3.org/2000/svg">
       <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 278.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" fill="#000">
       </path>
      </svg>
     </a>
     <a href="#" id="next">
      <svg viewbox="0 0 384 512" xmlns="http://www.w3.org/2000/svg">
       <path d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" fill="#000">
       </path>
      </svg>
     </a>
    </div>
   </div>
  </nav>
 </div>
</header>
