.heading-title {
  margin-bottom: 40px;
  position: relative; }
  .heading-title .title1 {
    font-size: 110px;
    font-family: "QwitcherGrypen" , sans-serif;
    line-height: 1; }
  .heading-title .title2 {
    font-size: 70px;
    margin-bottom: 0;
    line-height: 1.2; }
  .heading-title .desc {
    opacity: 0.8;
    line-height: 1.8; }
  @media (max-width: 991px) {
    .heading-title .title2 {
      font-size: 60px; }
    .heading-title .title2 br,
    .heading-title .desc br {
      content: ''; }
      .heading-title .title2 br:after,
      .heading-title .desc br:after {
        content: ' '; } }
  @media (max-width: 767px) {
    .heading-title {
      margin-bottom: 25px; }
      .heading-title .title1 {
        font-size: 70px; }
      .heading-title .title2 {
        font-size: 26px; }
      .heading-title .desc {
        margin-top: 10px; } }

.button {
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  padding: 15px 30px;
  line-height: normal;
  color: var(--shop-color-button-text);
  background-color: var(--shop-color-button);
  border: none;
  border-radius: 60px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  outline: none !important;
  -webkit-transition: all 0.45s;
  transition: all 0.45s; }
  .button svg {
    fill: currentcolor; }
  @media (min-width: 992px) {
    .button:hover, .button.has-hover, .button:focus {
      color: var(--shop-color-button-text);
      opacity: 0.8; } }
  @media (max-width: 767px) {
    .button {
      font-size: 12px;
      padding: 8px 15px;
      min-height: 35px;
      display: inline-flex;
      align-items: center;
      justify-content: center; } }
