<footer class="footer">
 <div class="topfoter">
  <div class="container">
   <div class="top-footer">
    <div class="row">
     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 footer-click">
      <h4 class="large">
       Kết nối với chúng tôi
      </h4>
      <div class="f-b-box">
       <div class="fb-page" data-adapt-container-width="true" data-hide-cover="false" data-href="https://www.facebook.com/Will.English.Center" data-show-facepile="false" data-small-header="false">
        <div class="fb-xfbml-parse-ignore">
         <blockquote cite="https://www.facebook.com/Will.English.Center">
          <a href="https://www.facebook.com/Will.English.Center">
           ANH NGỮ WiLL
          </a>
         </blockquote>
        </div>
       </div>
      </div>
      <div class="payment">
       <a href="#" title="Thanh toán">
        <img alt="thanh toán" class="img-responsive lazyload" data-src="//bizweb.dktcdn.net/100/449/073/themes/854230/assets/img_pay_1.png?1675673975161" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
       </a>
       <a href="#" title="Thanh toán">
        <img alt="thanh toán" class="img-responsive lazyload" data-src="//bizweb.dktcdn.net/100/449/073/themes/854230/assets/img_pay_2.png?1675673975161" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
       </a>
       <a href="#" title="Thanh toán">
        <img alt="thanh toán" class="img-responsive lazyload" data-src="//bizweb.dktcdn.net/100/449/073/themes/854230/assets/img_pay_3.png?1675673975161" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
       </a>
       <a href="#" title="Thanh toán">
        <img alt="thanh toán" class="img-responsive lazyload" data-src="//bizweb.dktcdn.net/100/449/073/themes/854230/assets/img_pay_4.png?1675673975161" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
       </a>
      </div>
     </div>
     <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12">
      <div class="row rowpading">
       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-click">
        <h4 class="cliked">
         Thông tin
        </h4>
        <ul class="toggle-mn" style="display:none;">
         <li>
          <a class="ef" href="/">
           Trang chủ
          </a>
         </li>
         <li>
          <a class="ef" href="/gioi-thieu">
           Giới thiệu
          </a>
         </li>
         <li>
          <a class="ef" href="/khoa-hoc">
           Khóa học
          </a>
         </li>
         <li>
          <a class="ef" href="/goc-chia-se">
           Góc chia sẻ
          </a>
         </li>
         <li>
          <a class="ef" href="/lien-he-tu-van">
           Liên hệ tư vấn
          </a>
         </li>
        </ul>
       </div>
       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-click">
        <h4 class="cliked">
         Các khóa học
        </h4>
        <ul class="toggle-mn" style="display:none;">
         <li>
          <a class="ef" href="/tieng-anh-tre-em">
           Tiếng Anh trẻ em
          </a>
         </li>
         <li>
          <a class="ef" href="/tieng-anh-nguoi-lon">
           Tiếng Anh người lớn
          </a>
         </li>
         <li>
          <a class="ef" href="/luyen-thi-chung-chi-quoc-te">
           Luyện thi chứng chỉ quốc tế
          </a>
         </li>
         <li>
          <a class="ef" href="/tieng-anh-theo-yeu-cau">
           Tiếng Anh theo yêu cầu
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 footer-click">
      <h4 class="large">
       ANH NGỮ WiLL - TIẾNG ANH ONLINE 1 THẦY 1 TRÒ VỚI GIÁO VIÊN NƯỚC NGOÀI
      </h4>
      <ul class="ul_col">
       <li>
        <span class="icon">
         <i class="fa fa-home">
         </i>
        </span>
        <span class="right">
         <span>
          <span class="b">
           Địa chỉ:
          </span>
          659 Âu Cơ - Tân Thành - Tân Phú - HCM
         </span>
        </span>
       </li>
       <li>
        <span class="icon">
         <i class="fa fa-phone">
         </i>
        </span>
        <span class="right">
         <a class="fone" href="tel:0704489256">
          <span class="b">
           Điện thoại:
          </span>
          0704489256
         </a>
        </span>
       </li>
       <li>
        <span class="icon">
         <i class="fa fa-phone">
         </i>
        </span>
        <span class="right">
         <a class="fone" href="tel:0937226256">
          <span class="b">
           Hotline:
          </span>
          0937226256
         </a>
        </span>
       </li>
       <li>
        <span class="icon">
         <i class="fa fa-envelope">
         </i>
        </span>
        <span class="right">
         <a href="mailto:anhnguwill@gmail.com">
          <span class="b">
           Email:
          </span>
          anhnguwill@gmail.com
         </a>
        </span>
       </li>
       <li>
        <span class="icon">
         <i aria-hidden="true" class="fa fa-globe">
         </i>
        </span>
        <span class="right">
         <a href="/">
          <span class="b">
           Website:
          </span>
          http://anhnguwill.edu.vn
         </a>
        </span>
       </li>
      </ul>
      <div class="social">
       <a class="fb" href="https://www.facebook.com/Will.English.Center">
        <img alt="ico" class="img-responsive lazyload" data-src="//bizweb.dktcdn.net/100/449/073/themes/854230/assets/icon_face.png?1675673975161" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
       </a>
       <a class="gg" href="https://www.youtube.com/channel/UCvr_TFg0uasl3Mq-UKi2IcA">
        <img alt="ico" class="img-responsive lazyload" data-src="//bizweb.dktcdn.net/100/449/073/themes/854230/assets/icon_you.png?1675673975161" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
       </a>
       <a class="rss" href="">
        <img alt="ico" class="img-responsive lazyload" data-src="//bizweb.dktcdn.net/100/449/073/themes/854230/assets/icon_tik_tok.png?1675673975161" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
       </a>
       <a class="be" href="#">
        <img alt="ico" class="img-responsive lazyload" data-src="//bizweb.dktcdn.net/100/449/073/themes/854230/assets/icon_instar_color.png?1675673975161" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
       </a>
       <a class="be" href="mailto:anhnguwill@gmail.com">
        <img alt="ico" class="img-responsive lazyload" data-src="//bizweb.dktcdn.net/100/449/073/themes/854230/assets/icon_mail.png?1675673975161" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="bottom-footer">
  <div class="container">
   <div class="row row_footer">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="copy1">
     <div class="row tablet">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fot_copyright a-center" id="copyright">
       <span class="wsp">
        @ Bản quyền thuộc về
        <span class="color">
         ANH NGỮ WiLL
        </span>
        <span class="hidden-xs">
         |
        </span>
        <span class="mobile">
         Cung cấp bởi
         <a href="https://www.sapo.vn/?utm_campaign=cpn:site_khach_hang-plm:footer&amp;utm_source=site_khach_hang&amp;utm_medium=referral&amp;utm_content=fm:text_link-km:-sz:&amp;utm_term=&amp;campaign=site_khach_hang" rel="nofollow" target="_blank" title="Sapo">
          Sapo
         </a>
        </span>
       </span>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <a class="backtop back-to-top" href="#" id="back-to-top" title="Lên đầu trang">
  <i class="fa fa-arrow-up">
  </i>
 </a>
</footer>
