<header class="header topbar_ect">
 <div class="topbar hidden-xs">
  <div class="container">
   <div>
    <div class="row">
     <div class="col-sm-7 col-xs-6 col-lg-8 col-md-8 a-left">
      <span>
       Chào mừng bạn đến với ANH NGỮ WiLL !
      </span>
     </div>
     <div class="col-xs-6 col-sm-5 col-md-4 col-lg-4">
      <ul class="list-inline f-right">
       <li>
        <a href="https://www.facebook.com/Will.English.Center">
         <i class="fa fa-facebook">
         </i>
        </a>
       </li>
       <li>
        <a href="#">
         <i class="fa fa-twitter">
         </i>
        </a>
       </li>
       <li>
        <a href="#">
         <i class="fa fa-google-plus">
         </i>
        </a>
       </li>
       <li>
        <a href="https://www.youtube.com/channel/UCvr_TFg0uasl3Mq-UKi2IcA">
         <i class="fa fa-youtube-play">
         </i>
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="wrap_hed">
  <div class="container">
   <div class="menu-bar button-menu hidden-md hidden-lg">
    <a href="javascript:;">
     <i class="fa">
     </i>
    </a>
   </div>
   <div class="header-main">
    <div class="row">
     <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <div class="logo a-left">
       <a class="logo-wrapper" href="/">
        <img alt="logo ANH NGỮ WiLL" src="//bizweb.dktcdn.net/100/449/073/themes/854230/assets/logo.png?1675673975161"/>
       </a>
      </div>
     </div>
     <div class="col-lg-9 col-md-9 col-sm-9 hidden-xs hidden-sm">
      <div class="service_head">
       <div class="row">
        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
         <div class="wrap wa-cus">
          <a class="img" href="https://www.youtube.com/channel/UCvr_TFg0uasl3Mq-UKi2IcA" target="_blank">
           <img alt="ico" class="img-responsive lazyload" data-src="//bizweb.dktcdn.net/100/449/073/themes/854230/assets/icon_you.png?1675673975161" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
           </img>
          </a>
          <a class="img" href="https://www.facebook.com/Will.English.Center" target="_blank">
           <img alt="ico" class="img-responsive lazyload" data-src="//bizweb.dktcdn.net/100/449/073/themes/854230/assets/icon_face.png?1675673975161" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
          </a>
          <a class="img" href="skype:0937226256?chat" target="_blank">
           <img alt="ico" class="img-responsive lazyload" data-src="//bizweb.dktcdn.net/100/449/073/themes/854230/assets/icon_sky.png?1675673975161" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
          </a>
          <a class="img" href="skype:0937226256?chat" target="_blank">
           <img alt="ico" class="img-responsive lazyload" data-src="//bizweb.dktcdn.net/100/449/073/themes/854230/assets/icon_tik_tok.png?1675673975161" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
          </a>
         </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
         <div class="wrap">
          <div class="img">
           <img alt="ico" class="img-responsive lazyload" data-src="//bizweb.dktcdn.net/100/449/073/themes/854230/assets/icon_head_2.png?1675673975161" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
          </div>
          <div class="content">
           <p>
            Giờ làm việc:
           </p>
           <span>
            6:00 - 22:00, thứ 2 - CN
           </span>
          </div>
         </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
         <div class="wrap">
          <div class="img">
           <img alt="ico" class="img-responsive lazyload" data-src="//bizweb.dktcdn.net/100/449/073/themes/854230/assets/icon_head_3.png?1675673975161" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
          </div>
          <div class="content">
           <p>
            Hotline:
           </p>
           <a href="tel:0937226256">
            0937226256
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</header>
