:root {
  --ldpage01-color-bg: #ffffff;
  --ldpage01-color-main: #ff0000;
  --ldpage01-color-title: #000000;
  --ldpage01-countdown-bg: #fa0b0b;
  --ldpage01-coupon-bg: #ffedf5;
  --ldpage01-coupon-title: #ffffff;
  --ldpage01-coupon-light: #fa0b0b;
  --ldpage01-coupon-text: #ffffff; }

[class*="section-ldpage01-"] {
  margin-bottom: 100px; }

@media (max-width: 767px) {
  [class*="section-ldpage01-"] {
    margin-bottom: 30px; } }

.layoutPage-ldpage01 {
  background: var(--ldpage01-color-bg);
  margin-bottom: -30px; }
  .layoutPage-ldpage01.paddingTop {
    padding-top: 40px; }
  .layoutPage-ldpage01 .product-loadding .product-loop-load {
    border: 0;
    margin: 0; }
  .layoutPage-ldpage01 .product-loadding .loading-mask__image {
    padding: 7px 7px 0; }
  .layoutPage-ldpage01 .product-loadding .loading-mask__image .mask-line {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; }
  .layoutPage-ldpage01 .product-loadding .loading-mask__detail {
    padding: 7px; }
  .layoutPage-ldpage01 .wrapper-ldpage-countdown {
    margin: 0px 0px 20px;
    text-align: center; }
    .layoutPage-ldpage01 .wrapper-ldpage-countdown #label-due {
      color: var(--ldpage01-coupon-title);
      text-transform: uppercase;
      font-weight: 600;
      line-height: 1.4;
      font-size: 16px;
      letter-spacing: 1px; }
    .layoutPage-ldpage01 .wrapper-ldpage-countdown #soon-espa {
      position: relative;
      font-size: 32px;
      color: #fff;
      font-weight: 500; }
    .layoutPage-ldpage01 .wrapper-ldpage-countdown .soon[data-layout*=group] {
      padding: 12px 0 15px; }
    .layoutPage-ldpage01 .wrapper-ldpage-countdown .soon[data-layout*=group] .soon-label {
      font-size: 14px;
      margin-top: 0; }
    .layoutPage-ldpage01 .wrapper-ldpage-countdown .soon[data-layout*=group] .soon-flip-card {
      background: #ffffff;
      overflow: hidden; }
    .layoutPage-ldpage01 .wrapper-ldpage-countdown .soon[data-layout*=group] .soon-group.soon-group-sub {
      box-shadow: none;
      border-radius: 4px;
      margin: 0 3px;
      background: var(--ldpage01-countdown-bg); }
    .layoutPage-ldpage01 .wrapper-ldpage-countdown .soon[data-layout*=group] .soon-flip-fallback,
    .layoutPage-ldpage01 .wrapper-ldpage-countdown .soon[data-layout*=group] .soon-flip-face {
      box-shadow: none;
      color: #EF2F3C !important;
      background: #fff !important; }
    .layoutPage-ldpage01 .wrapper-ldpage-countdown .soon-flip-front::after, .layoutPage-ldpage01 .wrapper-ldpage-countdown .soon-flip-bottom::after, .layoutPage-ldpage01 .wrapper-ldpage-countdown .soon-flip-top::after {
      visibility: hidden; }
    .layoutPage-ldpage01 .wrapper-ldpage-countdown .soon[data-face*=color-light] .soon-flip-bottom::before,
    .layoutPage-ldpage01 .wrapper-ldpage-countdown .soon[data-face*=color-light] .soon-flip-back::before {
      background-color: rgba(0, 0, 0, 0.04);
      box-shadow: none; }
    @media (min-width: 992px) {
      .layoutPage-ldpage01 .wrapper-ldpage-countdown {
        min-height: 142px; } }
    @media (max-width: 991px) {
      .layoutPage-ldpage01 .wrapper-ldpage-countdown {
        min-height: 124px; } }
    @media (max-width: 480px) {
      .layoutPage-ldpage01 .wrapper-ldpage-countdown #soon-espa {
        font-size: 24px; }
      .layoutPage-ldpage01 .wrapper-ldpage-countdown #soon-espa .soon-label {
        font-size: 14px; } }
  .layoutPage-ldpage01 .section-ldpage-heading .main-title {
    margin: 0 0 8px 0; }
  .layoutPage-ldpage01 .section-ldpage-heading .sub-title {
    font-size: 16px;
    margin-bottom: 60px; }
  .layoutPage-ldpage01 .section-ldpage-heading .ldpage-hTitle {
    overflow: hidden;
    margin-bottom: 15px; }
    .layoutPage-ldpage01 .section-ldpage-heading .ldpage-hTitle h1 {
      font-size: 40px;
      line-height: 1.4;
      margin: 0;
      font-weight: 600;
      color: var(--ldpage01-coupon-title);
      background: transparent;
      position: relative;
      padding: 0 25px; }
    .layoutPage-ldpage01 .section-ldpage-heading .ldpage-hTitle .subtitle {
      margin: 10px 0 0;
      font-weight: 400; }
  @media (min-width: 768px) {
    .layoutPage-ldpage01 .section-ldpage-heading h1 {
      display: inline-block;
      max-width: calc(100% - 400px);
      /*&:before, &:after {
				content: "";					
				width: 200px;height: 2px;
				position: absolute;	top: 50%;
			}
				&:before {
				right: 100%;
				background-image: linear-gradient(to right, transparent, var(--ldpage01-color-main));
				-webkit-transform: translateY(-50%);transform: translateY(-50%);
			}
				&:after {
				left: 100%;
				background-image: linear-gradient(to right, var(--ldpage01-color-main), transparent);
				-webkit-transform: translateY(-50%);transform: translateY(-50%);
			}*/ } }
  @media (max-width: 991px) and (min-width: 768px) {
    .layoutPage-ldpage01 .section-ldpage-heading .ldpage-hTitle h1 {
      font-size: 30px;
      max-width: 100%; }
      .layoutPage-ldpage01 .section-ldpage-heading .ldpage-hTitle h1:before, .layoutPage-ldpage01 .section-ldpage-heading .ldpage-hTitle h1:after {
        width: 120px; } }
  @media (max-width: 767px) {
    .layoutPage-ldpage01 .section-ldpage-heading .ldpage-hTitle h1 {
      font-size: 22px;
      padding: 0; }
    .layoutPage-ldpage01 .section-ldpage-heading .sub-title {
      margin-bottom: 30px; } }
  .layoutPage-ldpage01 .section-ldpage01-headerbanner {
    position: relative;
    text-align: center;
    margin-bottom: 0; }
    .layoutPage-ldpage01 .section-ldpage01-headerbanner .bannerTop-item__insert {
      padding-top: 15px; }
  .layoutPage-ldpage01 .section-ldpage01-bestseller .tabslist-product-title, .layoutPage-ldpage01 .section-ldpage01-flashsale .tabslist-product-title {
    margin-bottom: 35px; }
    .layoutPage-ldpage01 .section-ldpage01-bestseller .tabslist-product-title .collection-navtabs, .layoutPage-ldpage01 .section-ldpage01-flashsale .tabslist-product-title .collection-navtabs {
      text-align: center;
      margin: 0px 0 30px;
      border: 0;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: center;
      justify-content: center; }
      .layoutPage-ldpage01 .section-ldpage01-bestseller .tabslist-product-title .collection-navtabs li, .layoutPage-ldpage01 .section-ldpage01-flashsale .tabslist-product-title .collection-navtabs li {
        display: inline-block;
        margin: 0 4px 10px;
        float: none;
        position: relative; }
      .layoutPage-ldpage01 .section-ldpage01-bestseller .tabslist-product-title .collection-navtabs li a, .layoutPage-ldpage01 .section-ldpage01-flashsale .tabslist-product-title .collection-navtabs li a {
        font-size: 22px;
        line-height: 1.45;
        margin: 0;
        padding: 20px 15px 25px;
        font-weight: 600;
        text-decoration: none;
        position: relative;
        display: inline-block;
        color: var(--fashion03-color-title);
        background: transparent;
        border: 0;
        border-radius: 0;
        opacity: 0.6;
        -webkit-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s; }
      .layoutPage-ldpage01 .section-ldpage01-bestseller .tabslist-product-title .collection-navtabs li a.active, .layoutPage-ldpage01 .section-ldpage01-flashsale .tabslist-product-title .collection-navtabs li a.active {
        opacity: 1;
        color: var(--ldpage01-color-title); }
      .layoutPage-ldpage01 .section-ldpage01-bestseller .tabslist-product-title .collection-navtabs li a.active:before, .layoutPage-ldpage01 .section-ldpage01-flashsale .tabslist-product-title .collection-navtabs li a.active:before {
        content: "";
        position: absolute;
        height: 5px;
        width: 48px;
        background: var(--ldpage01-color-main);
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 5px; }
  .layoutPage-ldpage01 .section-ldpage01-bestseller .collection-listprod .icon-loading, .layoutPage-ldpage01 .section-ldpage01-flashsale .collection-listprod .icon-loading {
    position: relative;
    overflow: hidden;
    padding: 150px 0;
    width: 100%;
    display: block;
    min-height: 300px; }
    .layoutPage-ldpage01 .section-ldpage01-bestseller .collection-listprod .icon-loading:before, .layoutPage-ldpage01 .section-ldpage01-flashsale .collection-listprod .icon-loading:before {
      content: "";
      border: 5px solid #ececec;
      border-top: 4px double var(--ldpage01-color-main);
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      display: block;
      opacity: 0.8;
      animation: rotateIconLoad 0.8s linear infinite; }
  .layoutPage-ldpage01 .section-ldpage01-bestseller .collection-loadmore, .layoutPage-ldpage01 .section-ldpage01-flashsale .collection-loadmore {
    margin-top: 15px; }
    .layoutPage-ldpage01 .section-ldpage01-bestseller .collection-loadmore .btn-loadmore:after, .layoutPage-ldpage01 .section-ldpage01-flashsale .collection-loadmore .btn-loadmore:after {
      content: '';
      position: absolute;
      left: 15px;
      top: 50%;
      margin-top: -9px;
      width: 18px;
      height: 18px;
      border: 2px solid;
      border-left-color: transparent;
      border-right-color: transparent;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.5s;
      animation: 0.8s linear infinite rotateIconLoad; }
    .layoutPage-ldpage01 .section-ldpage01-bestseller .collection-loadmore .btn-loadmore.btn-loading, .layoutPage-ldpage01 .section-ldpage01-flashsale .collection-loadmore .btn-loadmore.btn-loading {
      padding-left: 50px;
      color: var(--ldpage01-color-main);
      border-color: var(--ldpage01-color-main); }
      .layoutPage-ldpage01 .section-ldpage01-bestseller .collection-loadmore .btn-loadmore.btn-loading:after, .layoutPage-ldpage01 .section-ldpage01-flashsale .collection-loadmore .btn-loadmore.btn-loading:after {
        opacity: 1; }
      .layoutPage-ldpage01 .section-ldpage01-bestseller .collection-loadmore .btn-loadmore.btn-loading:before, .layoutPage-ldpage01 .section-ldpage01-flashsale .collection-loadmore .btn-loadmore.btn-loading:before {
        display: none; }
  .layoutPage-ldpage01 .section-ldpage01-bestseller .tabslist-product-content .tab-pane .product-loop-ldpage, .layoutPage-ldpage01 .section-ldpage01-flashsale .tabslist-product-content .tab-pane .product-loop-ldpage {
    opacity: 0; }
  .layoutPage-ldpage01 .section-ldpage01-bestseller .tabslist-product-content .tab-pane.active.show .product-loop-ldpage, .layoutPage-ldpage01 .section-ldpage01-flashsale .tabslist-product-content .tab-pane.active.show .product-loop-ldpage {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-delay: 0.05s; }
  @media (max-width: 991px) and (min-width: 768px) {
    .layoutPage-ldpage01 .section-ldpage01-bestseller .tabslist-product-title .collection-navtabs li a, .layoutPage-ldpage01 .section-ldpage01-flashsale .tabslist-product-title .collection-navtabs li a {
      padding: 15px 10px; } }
  @media (max-width: 767px) {
    .layoutPage-ldpage01 .section-ldpage01-bestseller .tabslist-product-title, .layoutPage-ldpage01 .section-ldpage01-flashsale .tabslist-product-title {
      position: relative;
      overflow: hidden;
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: 25px; }
      .layoutPage-ldpage01 .section-ldpage01-bestseller .tabslist-product-title .collection-navtabs, .layoutPage-ldpage01 .section-ldpage01-flashsale .tabslist-product-title .collection-navtabs {
        -webkit-box-pack: start;
        justify-content: start;
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        text-align: center;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        margin-bottom: -15px; }
        .layoutPage-ldpage01 .section-ldpage01-bestseller .tabslist-product-title .collection-navtabs li, .layoutPage-ldpage01 .section-ldpage01-flashsale .tabslist-product-title .collection-navtabs li {
          webkit-flex: 1 1 0%;
          flex: 1 1 0%;
          margin: 0; }
        .layoutPage-ldpage01 .section-ldpage01-bestseller .tabslist-product-title .collection-navtabs li a, .layoutPage-ldpage01 .section-ldpage01-flashsale .tabslist-product-title .collection-navtabs li a {
          font-size: 18px;
          padding: 12px 10px 18px;
          margin-right: 15px; }
    .layoutPage-ldpage01 .section-ldpage01-bestseller .collection-loadmore, .layoutPage-ldpage01 .section-ldpage01-flashsale .collection-loadmore {
      margin-top: 5px; }
    .layoutPage-ldpage01 .section-ldpage01-bestseller .collection-loadmore .btn-loadmore, .layoutPage-ldpage01 .section-ldpage01-flashsale .collection-loadmore .btn-loadmore {
      padding: 10px 18px;
      font-size: 12px;
      min-width: 220px; } }
  .layoutPage-ldpage01 .section-ldpage01-bestseller {
    padding: 60px 0;
    background-image: url(//theme.hstatic.net/200000758017/1001229453/14/ldpage01_countdown_image.jpg?v=19); }
  .layoutPage-ldpage01 .section-ldpage01-category .list-category {
    display: flex;
    justify-content: center; }
  .layoutPage-ldpage01 .section-ldpage01-category .category-item {
    flex: 0 0 auto;
    width: 16.666666%;
    text-align: center; }
    .layoutPage-ldpage01 .section-ldpage01-category .category-item__img a {
      display: inline-block;
      border-radius: 50%;
      overflow: hidden; }
    .layoutPage-ldpage01 .section-ldpage01-category .category-item__info {
      margin: 10px 0 0; }
      .layoutPage-ldpage01 .section-ldpage01-category .category-item__info h3 {
        font-size: 20px; }
  .layoutPage-ldpage01 .section-ldpage01-category .boxlazy-img {
    max-width: 150px;
    max-height: 150px;
    margin: auto; }
    .layoutPage-ldpage01 .section-ldpage01-category .boxlazy-img__insert {
      padding-bottom: 100%; }
  @media (max-width: 991px) and (min-width: 768px) {
    .layoutPage-ldpage01 .section-ldpage01-category .category-item {
      width: 30%; } }
  @media (max-width: 991px) {
    .layoutPage-ldpage01 .section-ldpage01-category .section-content {
      margin: 0 -12px; }
    .layoutPage-ldpage01 .section-ldpage01-category .list-category {
      justify-content: unset;
      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none; }
      .layoutPage-ldpage01 .section-ldpage01-category .list-category::-webkit-scrollbar {
        display: none; } }
  @media (max-width: 767px) {
    .layoutPage-ldpage01 .section-ldpage01-category .category-item {
      width: 45%; } }
  .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-banner {
    margin-bottom: 0px; }
  .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row {
    margin-left: -10px;
    margin-right: -10px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item {
      margin-top: 20px;
      padding-left: 10px;
      padding-right: 10px; }
      .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__inner {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 100%;
        background-color: var(--ldpage01-coupon-bg);
        border-radius: 8px; }
      .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left {
        padding: 15px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 62%;
        flex: 0 0 62%; }
        .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info {
          position: relative;
          padding: 14px 16px;
          height: 100%;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          background: repeating-linear-gradient(var(--ldpage01-coupon-bg), var(--ldpage01-coupon-bg) 4px, transparent 0, transparent 12px, var(--ldpage01-coupon-bg) 0, var(--ldpage01-coupon-bg) 18px) 0/1px 100% no-repeat, radial-gradient(circle at 0 8px, transparent, transparent 4px, var(--ldpage01-coupon-bg) 0, var(--ldpage01-coupon-bg) 5px, var(--ldpage01-coupon-light) 0) 1px 0/100% 18px repeat-y; }
          .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            width: 10px;
            height: 100%;
            right: 0;
            background: repeating-linear-gradient(var(--ldpage01-coupon-bg), var(--ldpage01-coupon-bg) 4px, transparent 0, transparent 12px, var(--ldpage01-coupon-bg) 0, var(--ldpage01-coupon-bg) 18px) 9px/1px 100% no-repeat, radial-gradient(circle at 8px 8px, var(--ldpage01-coupon-bg), var(--ldpage01-coupon-bg) 4px, var(--ldpage01-coupon-bg) 0, var(--ldpage01-coupon-bg) 5px, var(--ldpage01-coupon-light) 0) 1px 0/100% 18px repeat-y; }
          .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-name {
            background: #ffffff;
            border-radius: 4px;
            text-align: center;
            padding: 8px 10px;
            margin-bottom: 12px;
            font-size: 18px;
            font-weight: 600;
            line-height: initial;
            text-transform: uppercase;
            color: var(--ldpage01-coupon-light);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; }
            .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-name strong {
              font-size: 40px;
              margin-left: 15px;
              line-height: 100%; }
          .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-flex {
            margin-bottom: 0;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-align-items: flex-end;
            -ms-align-items: flex-end;
            align-items: flex-end; }
            .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-flex .cpi-text {
              margin-bottom: 0px;
              -ms-flex: 1 1 auto;
              flex: 1 1 auto;
              width: 1%;
              padding-right: 15px;
              padding-left: 0; }
              .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-flex .cpi-text li {
                color: var(--ldpage01-coupon-text);
                position: relative;
                margin-top: 0px;
                padding-left: 20px;
                line-height: 1.4;
                font-size: 13px; }
              .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-flex .cpi-text li:before {
                content: "";
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: var(--ldpage01-coupon-text);
                position: absolute;
                left: 5px;
                top: 8px; }
            .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-flex .cpi-button {
              -webkit-align-self: flex-end;
              -ms-align-self: flex-end;
              align-self: flex-end;
              margin-top: 0px;
              display: inline-block;
              padding: 4px 12px;
              padding-right: 10px;
              font-size: 13px;
              font-weight: 600;
              border-radius: 15px;
              letter-spacing: -0.25px;
              min-width: 108px;
              color: var(--ldpage01-coupon-light);
              background: #ffffff;
              border: 1px solid var(--ldpage01-coupon-light);
              /*&:active{box-shadow: 0 0 0 2px var(--ldpage01-color-main), 0 0 0 4px var(--ldpage01-color-main);}*/ }
              .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-flex .cpi-button i {
                color: #575252;
                font-size: 10px;
                margin-left: 3px;
                display: inline-block;
                vertical-align: 1px; }
              .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-flex .cpi-button.disabled {
                pointer-events: none;
                opacity: 0.95; }
              .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-flex .cpi-button:focus {
                outline: none; }
      .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right {
        position: relative;
        text-align: center;
        padding: 15px 15px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 38%;
        flex: 0 0 38%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right:before, .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right:after {
          content: "";
          position: absolute;
          left: -10px;
          width: 20px;
          height: 10px;
          background-color: var(--ldpage01-color-bg);
          z-index: 2; }
        .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right:before {
          top: 0;
          border-bottom-left-radius: 40px;
          border-bottom-right-radius: 40px; }
        .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right:after {
          bottom: 0;
          border-top-left-radius: 40px;
          border-top-right-radius: 40px; }
        .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right .cpi-date {
          font-weight: 500;
          color: #282828;
          font-size: 14px;
          margin-bottom: 12px;
          line-height: 1.5; }
          .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right .cpi-date small {
            opacity: 0.9;
            font-size: 100%; }
          .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right .cpi-date strong, .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right .cpi-date b {
            font-size: 15px; }
        .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right .cpi-tooltip__dot {
          padding: 6px 8px;
          cursor: pointer;
          border: 0;
          background: transparent; }
          .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right .cpi-tooltip__dot svg {
            width: 22px;
            height: 22px;
            fill: #282828;
            display: block; }
          .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right .cpi-tooltip__dot:focus {
            outline: none; }
  @media (max-width: 1199px) and (min-width: 992px) {
    .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
      flex: 0 0 66%; }
      .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-name {
        margin-bottom: 5px;
        font-size: 16px; }
        .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-name strong {
          font-size: 34px; }
      .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-flex {
        -webkit-justify-content: flex-end;
        -ms-justify-content: flex-end;
        justify-content: flex-end; }
        .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-flex .cpi-text {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          width: 100%;
          padding-right: 0px; }
        .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-flex .cpi-text + .cpi-button {
          margin-top: 10px; }
    .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 34%;
      flex: 0 0 34%; }
      .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right .cpi-date {
        font-size: 14px; } }
  @media (max-width: 991px) and (min-width: 768px) {
    .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__inner:before, .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__inner:after {
      content: "";
      position: absolute;
      left: calc(50% - 10px);
      width: 20px;
      height: 10px;
      background-color: var(--ldpage01-color-bg);
      z-index: 2; }
    .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__inner:before {
      top: 0;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px; }
    .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__inner:after {
      bottom: 0;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px; }
    .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left, .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      padding: 15px 15px; }
    .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left {
      padding-bottom: 8px; }
    .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right {
      padding-top: 0;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between; }
      .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right:before, .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right:after {
        display: none; }
      .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right .cpi-date {
        text-align: left;
        font-size: 14px;
        padding-left: 5px;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0; } }
  @media (max-width: 991px) {
    .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-flex {
      -ms-justify-content: flex-end;
      justify-content: flex-end; }
    .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-flex .cpi-text {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      width: 100%;
      padding-right: 0px;
      font-size: 13px; }
    .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-flex .cpi-text + .cpi-button {
      margin-top: 6px;
      font-size: 12px;
      min-width: 100px;
      padding: 3px 10px; } }
  @media (max-width: 767px) {
    .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon--overflow {
      position: relative;
      overflow: hidden;
      margin: 0 -12px; }
    .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      margin-left: 0;
      margin-right: 0px;
      padding-left: 12px;
      white-space: nowrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      padding-bottom: 30px;
      margin-bottom: -30px;
      transition: transform 0.25s ease 0s; }
      .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item {
        margin-top: 0;
        max-width: 84%;
        padding-left: 0;
        padding-right: 10px;
        -ms-flex: 0 0 84%;
        flex: 0 0 84%; }
        .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__inner:before, .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__inner:after {
          content: "";
          position: absolute;
          left: calc(50% - 7.5px);
          width: 15px;
          height: 6px;
          background-color: var(--ldpage01-color-bg);
          z-index: 2; }
        .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__inner:before {
          top: 0;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px; }
        .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__inner:after {
          bottom: 0;
          border-top-left-radius: 30px;
          border-top-right-radius: 30px; }
        .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__inner {
          white-space: normal; }
        .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left, .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          padding: 12px 10px; }
        .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left {
          padding-bottom: 5px; }
          .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info {
            padding: 10px 12px; }
            .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-name {
              margin-bottom: 5px;
              font-size: 14px;
              padding: 5px 10px; }
              .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__left .cpi-info .cpi-name strong {
                font-size: 28px; }
        .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right {
          padding-top: 0;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-justify-content: space-between;
          -ms-justify-content: space-between;
          justify-content: space-between; }
          .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right:before, .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right:after {
            display: none; }
          .layoutPage-ldpage01 .section-ldpage01-coupon .list-coupon-row .coupon-item__right .cpi-date {
            text-align: left;
            font-size: 13px;
            padding-left: 5px;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 1%;
            margin-bottom: 0; } }
  .layoutPage-ldpage01 .section-ldpage01-service {
    background: #eaf3ef;
    padding: 80px 0;
    margin-bottom: 0; }
    .layoutPage-ldpage01 .section-ldpage01-service .list-service {
      display: flex;
      margin: 0 -12px; }
    .layoutPage-ldpage01 .section-ldpage01-service .service-column {
      background: #fff;
      flex: 0 0 auto;
      width: calc(33.333333% - 30px);
      margin-left: 12px;
      margin-right: 12px;
      margin-bottom: 30px;
      padding: 20px 15px 30px;
      text-align: center;
      border-radius: 8px; }
    .layoutPage-ldpage01 .section-ldpage01-service .service-area__thumb {
      max-width: 50px;
      max-height: 50px;
      margin: 0 auto 10px; }
    .layoutPage-ldpage01 .section-ldpage01-service .service-area__content span {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 5px;
      display: block; }
    .layoutPage-ldpage01 .section-ldpage01-service .boxlazy-img__insert {
      padding-bottom: 100%; }
    @media (max-width: 991px) and (min-width: 768px) {
      .layoutPage-ldpage01 .section-ldpage01-service .flexbox-service .service-item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%; } }
    @media (max-width: 991px) {
      .layoutPage-ldpage01 .section-ldpage01-service {
        padding: 40px 0; }
        .layoutPage-ldpage01 .section-ldpage01-service .list-service {
          overflow: scroll;
          -ms-overflow-style: none;
          scrollbar-width: none; }
          .layoutPage-ldpage01 .section-ldpage01-service .list-service::-webkit-scrollbar {
            display: none; }
        .layoutPage-ldpage01 .section-ldpage01-service .service-column {
          width: 70%;
          margin-bottom: 0; } }
    @media (max-width: 767px) {
      .layoutPage-ldpage01 .section-ldpage01-service .flexbox-service .service-item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 25px;
        padding: 0 10px; }
        .layoutPage-ldpage01 .section-ldpage01-service .flexbox-service .service-item__inner {
          text-align: center; }
          .layoutPage-ldpage01 .section-ldpage01-service .flexbox-service .service-item__inner .service--info {
            font-size: 14px; }
            .layoutPage-ldpage01 .section-ldpage01-service .flexbox-service .service-item__inner .service--info h4 {
              font-size: 16px; } }
  .layoutPage-ldpage01 .section-ldpage01-banner .banner-item__link {
    position: relative;
    overflow: hidden;
    display: block; }
    .layoutPage-ldpage01 .section-ldpage01-banner .banner-item__link:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 100%;
      right: 0;
      left: 0;
      transform: none;
      transition: all 0.5s ease;
      background-color: rgba(0, 0, 0, 0.5);
      background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
      background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%); }
    .layoutPage-ldpage01 .section-ldpage01-banner .banner-item__link img:not(.lazyloaded) {
      min-height: 200px; }
    .layoutPage-ldpage01 .section-ldpage01-banner .banner-item__link img.lazyloaded {
      transition: transform 2s ease-in-out;
      -webkit-transition: transform 2s ease-in-out;
      -ms-transition: transform 2s ease-in-out; }
    .layoutPage-ldpage01 .section-ldpage01-banner .banner-item__link:hover:after {
      top: 0; }
    .layoutPage-ldpage01 .section-ldpage01-banner .banner-item__link:hover img {
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
  @media (max-width: 991px) {
    .layoutPage-ldpage01 .section-ldpage01-banner {
      padding-top: 0px; }
      .layoutPage-ldpage01 .section-ldpage01-banner .banner-item + .banner-item {
        margin-top: 15px; } }
