.topbar {
  padding: 10px;
  border-bottom: 1px solid var(--shop-color-main);
  max-height: 50px; }
  .topbar .topbar-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 992px) {
      .topbar .topbar-wrap {
        justify-content: flex-end; } }
  .topbar .topbar-left {
    display: flex;
    align-items: center; }
    @media (max-width: 992px) {
      .topbar .topbar-left {
        display: none; } }
    .topbar .topbar-left .topbar-left__text a {
      font-size: 12px;
      font-weight: bold;
      color: var(--shop-color-main);
      padding-right: 20px; }
    .topbar .topbar-left .topbar-left__logo {
      border-left: 1px solid #9a979a;
      padding: 0 20px;
      position: relative; }
      .topbar .topbar-left .topbar-left__logo::after {
        content: '';
        border: 7px solid transparent;
        border-bottom: 7px solid var(--shop-color-main);
        border-top: none;
        bottom: -10px;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        border-bottom-color: var(--shop-color-main); }
      .topbar .topbar-left .topbar-left__logo a {
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
        margin: 0;
        white-space: initial;
        line-height: 28px;
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        color: var(--shop-color-main); }
  .topbar .topbar-right ul.topbar-right__list {
    display: flex;
    align-items: center; }
    .topbar .topbar-right ul.topbar-right__list > li {
      padding: 0 10px; }
      .topbar .topbar-right ul.topbar-right__list > li:last-child {
        padding-right: 0; }
    .topbar .topbar-right ul.topbar-right__list .header-action_account button:not(.form__submit) {
      background: unset;
      border: unset;
      color: var(--shop-color-main);
      outline: unset; }
    .topbar .topbar-right ul.topbar-right__list .header-action_account .header-action__link:hover {
      text-decoration: underline; }
    .topbar .topbar-right ul.topbar-right__list .header-action_account .header-action_text {
      position: relative; }
    .topbar .topbar-right ul.topbar-right__list .header-action_account.js-action-show .header-action_dropdown {
      visibility: visible;
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
      transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), visibility 0.4s linear, -webkit-transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1);
      transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear;
      transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear, -webkit-transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1); }
      .topbar .topbar-right ul.topbar-right__list .header-action_account.js-action-show .header-action_dropdown .site_account_panel.is-selected {
        visibility: visible; }
    .topbar .topbar-right ul.topbar-right__list .header-action_account.js-action-show .box-triangle {
      z-index: 99999; }
    .topbar .topbar-right ul.topbar-right__list .header-action_account .box-triangle {
      position: absolute;
      top: calc(100% - 3px);
      margin: 0 auto;
      width: 22px;
      height: 15px;
      right: 19px;
      z-index: -1; }
    .topbar .topbar-right ul.topbar-right__list li {
      position: relative; }
      .topbar .topbar-right ul.topbar-right__list li > a, .topbar .topbar-right ul.topbar-right__list li > button {
        color: var(--shop-color-main); }
        .topbar .topbar-right ul.topbar-right__list li > a:hover, .topbar .topbar-right ul.topbar-right__list li > button:hover {
          text-decoration: underline;
          color: var(--shop-color-hover); }
  .topbar .header-action_dropdown {
    position: absolute;
    top: calc(100% + 10px);
    left: auto;
    right: -15px;
    z-index: 9999;
    min-width: 340px;
    border-radius: 3px;
    color: #677279;
    background: #fff;
    border: solid 1px #dfe3e8;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s, -webkit-transform 0.25s ease-in-out;
    will-change: transform; }
    .topbar .header-action_dropdown .header-dropdown_content {
      width: 100%;
      height: 100%;
      max-height: 100%;
      overflow: hidden;
      padding: 15px 20px; }

.mainHeader.mainHeader_temp01 {
  position: relative; }
  @media (min-width: 992px) {
    .mainHeader.mainHeader_temp01 {
      border-bottom: 1px solid #dadada; } }
  @media (max-width: 992px) {
    .mainHeader.mainHeader_temp01 .flex-container-header .header-wrap-iconav .header-action {
      justify-content: flex-start; } }
  .mainHeader.mainHeader_temp01 .flex-container-header .header-wrap-left {
    -webkit-box-flex: 2;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*-ms-flex: 2;
      flex: 2;*/
    flex: 0 0 75%; }
  .mainHeader.mainHeader_temp01 .flex-container-header .header-wrap-right {
    -webkit-box-flex: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    /* -ms-flex: 1;
      flex: 1;
			flex: 0 0 25%;*/
    justify-content: flex-end;
    padding-left: 0; }
  .mainHeader.mainHeader_temp01 .header-wrap-menu .navbar-mainmenu.styleMega .menuList-main .menuList-submain > .container {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px; }
    .mainHeader.mainHeader_temp01 .header-wrap-menu .navbar-mainmenu.styleMega .menuList-main .menuList-submain > .container > li {
      padding: 0 35px; }
      .mainHeader.mainHeader_temp01 .header-wrap-menu .navbar-mainmenu.styleMega .menuList-main .menuList-submain > .container > li:first-child {
        padding-left: 0; }
      .mainHeader.mainHeader_temp01 .header-wrap-menu .navbar-mainmenu.styleMega .menuList-main .menuList-submain > .container > li + li {
        border-left: 1px solid #e3e5e5; }
      .mainHeader.mainHeader_temp01 .header-wrap-menu .navbar-mainmenu.styleMega .menuList-main .menuList-submain > .container > li > a {
        font-weight: bold; }
  .mainHeader.mainHeader_temp01 .header-wrap-menu .navbar-mainmenu.styleMega .menuList-main li.has-submenu .menuList-submain {
    width: 100%;
    left: 0;
    max-width: 100%; }
    .mainHeader.mainHeader_temp01 .header-wrap-menu .navbar-mainmenu.styleMega .menuList-main li.has-submenu .menuList-submain .menuList-submain {
      position: static;
      opacity: 1;
      visibility: visible;
      border: unset;
      box-shadow: unset;
      padding-top: 5px; }
  .mainHeader.mainHeader_temp01 .header-wrap-menu .navbar-mainmenu.styleMega .menuList-main li a {
    padding: 3px;
    opacity: 1;
    color: var(--shop-color-main); }
    .mainHeader.mainHeader_temp01 .header-wrap-menu .navbar-mainmenu.styleMega .menuList-main li a:hover {
      text-decoration: underline; }
  .mainHeader.mainHeader_temp01 .header-wrap-menu .navbar-mainmenu.styleMega .menuList-main > li {
    position: initial; }
    .mainHeader.mainHeader_temp01 .header-wrap-menu .navbar-mainmenu.styleMega .menuList-main > li > a {
      padding-top: 20px;
      padding-bottom: 20px; }
    .mainHeader.mainHeader_temp01 .header-wrap-menu .navbar-mainmenu.styleMega .menuList-main > li > ul {
      margin-top: -2px; }
  .mainHeader.mainHeader_temp01 .menuList-submain.menuList-submain-banner > .container {
    justify-content: center; }
  .mainHeader.mainHeader_temp01 .menuList-submain.menuList-submain-banner a {
    display: block;
    text-align: center; }
    .mainHeader.mainHeader_temp01 .menuList-submain.menuList-submain-banner a img {
      display: block;
      margin-bottom: 20px; }
  .mainHeader.mainHeader_temp01 .menuList-submain.menuList-submain-banner .ratio-image {
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 130% !important;
    width: 160px; }
    .mainHeader.mainHeader_temp01 .menuList-submain.menuList-submain-banner .ratio-image img, .mainHeader.mainHeader_temp01 .menuList-submain.menuList-submain-banner .ratio-image iframe, .mainHeader.mainHeader_temp01 .menuList-submain.menuList-submain-banner .ratio-image video {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      transition: .3s ease-in-out all; }
  .mainHeader.mainHeader_temp01 .header-action_search {
    position: relative; }
    .mainHeader.mainHeader_temp01 .header-action_search input.input-search {
      height: 33px;
      line-height: 28px;
      padding: 8px 50px 8px 10px;
      width: 100%;
      background: #f6f6f6;
      border: 1px solid var(--shop-color-main);
      font-size: 12px;
      font-weight: 400;
      margin: 0;
      display: inline-block;
      border-radius: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      appearance: none;
      background: none;
      min-width: 260px;
      max-width: 320px; }
      .mainHeader.mainHeader_temp01 .header-action_search input.input-search:focus {
        outline: unset;
        border: 1px solid var(--shop-color-main); }
    .mainHeader.mainHeader_temp01 .header-action_search button {
      width: 50px;
      height: 33px;
      line-height: 33px;
      position: absolute;
      padding: 0;
      top: -1px;
      right: -3px;
      background: transparent;
      transition: opacity 150ms linear;
      outline: none;
      box-shadow: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center; }
      .mainHeader.mainHeader_temp01 .header-action_search button svg {
        width: 18px;
        height: 33px;
        opacity: 1;
        fill: var(--shop-color-main); }
    .mainHeader.mainHeader_temp01 .header-action_search .smart-search-wrapper {
      position: absolute;
      z-index: 999;
      width: 100%;
      background-color: white; }
    .mainHeader.mainHeader_temp01 .header-action_search .smart-search-wrapper .item-ult {
      padding: 10px 10px;
      border-bottom: 1px dotted #dfe0e1;
      clear: both; }
    .mainHeader.mainHeader_temp01 .header-action_search .smart-search-wrapper .item-ult .thumbs {
      width: 40px;
      display: inline-block;
      text-align: right; }
    .mainHeader.mainHeader_temp01 .header-action_search .smart-search-wrapper .item-ult .title {
      width: calc(100% - 40px);
      padding-right: 5px;
      float: left;
      line-height: 20px;
      position: relative;
      margin-top: 0px !important; }
    .mainHeader.mainHeader_temp01 .header-action_search .smart-search-wrapper .item-ult .title a {
      font-size: 13px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: pre;
      float: left;
      width: 100%;
      margin-bottom: 4px; }
    .mainHeader.mainHeader_temp01 .header-action_search .smart-search-wrapper .item-ult .title p {
      line-height: 15px;
      font-size: 12px;
      font-weight: 600;
      float: left;
      margin: 0; }
    .mainHeader.mainHeader_temp01 .header-action_search .smart-search-wrapper .item-ult .title p del {
      font-size: 11px;
      font-weight: 300;
      margin-left: 5px;
      color: #797979; }
    .mainHeader.mainHeader_temp01 .header-action_search .resultsMore {
      width: 100%;
      float: left; }
    .mainHeader.mainHeader_temp01 .header-action_search .resultsMore a {
      text-align: center;
      display: block;
      font-size: 14px;
      padding: 10px 0; }
    .mainHeader.mainHeader_temp01 .header-action_search .dataEmpty {
      text-align: center;
      padding: 10px 0;
      margin: 0; }
    .mainHeader.mainHeader_temp01 .header-action_search.search-mobile {
      margin-bottom: 10px; }
      .mainHeader.mainHeader_temp01 .header-action_search.search-mobile input.input-search {
        width: 100%;
        max-width: 100%;
        border-width: 0 0 1px 0;
        height: 25px;
        padding-top: 0;
        padding-bottom: 5px; }
      .mainHeader.mainHeader_temp01 .header-action_search.search-mobile button {
        display: none; }
  @media (max-width: 1200px) {
    .mainHeader.mainHeader_temp01 input.input-search {
      min-width: 150px !important; } }
  @media (max-width: 991px) {
    .mainHeader.mainHeader_temp01 .flex-container-header .header-wrap-right {
      -ms-flex: 1;
      flex: 1; } }

/*--------------------------------------------------------------------------------
FOOTER
--------------------------------------------------------------------------------*/
.mainFooter {
  background: var(--footer-bg-color-2);
  line-height: 1.6; }
  .mainFooter .sitebox-recaptcha {
    color: white;
    margin-top: 5px; }
    .mainFooter .sitebox-recaptcha a {
      font-weight: bold;
      color: white; }
  .mainFooter .row-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); }
    @media (min-width: 992px) {
      .mainFooter .row-grid > div:first-child {
        grid-column: span 2/span 2; } }
    @media (max-width: 992px) {
      .mainFooter .row-grid {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
        gap: 0px; } }
  .mainFooter .footer-expand-title {
    text-align: center;
    display: none;
    padding: 10px 0 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background: #ffffff; }
    .mainFooter .footer-expand-title .arrow-up {
      display: block;
      width: 25px;
      height: 25px;
      line-height: 25px;
      margin: 8px auto 4px;
      text-align: center;
      border-radius: 50%;
      background: #000;
      color: #fff;
      font-size: 18px;
      transition: transform 0.4s ease-in-out 0s;
      -moz-transition: transform 0.4s ease-in-out 0s;
      -webkit-transition: transform 0.4s ease-in-out 0s; }
      .mainFooter .footer-expand-title .arrow-up svg {
        fill: #fff;
        width: 16px;
        height: 100%;
        display: block;
        margin: 0 auto; }
    .mainFooter .footer-expand-title.active .arrow-up {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
  .mainFooter .footer-expand-collapsed {
    color: var(--footer-color-text); }
  .mainFooter .widget-footer {
    border-bottom: 1px solid rgba(255, 255, 255, 0.04); }
    .mainFooter .widget-footer__title {
      position: relative;
      font-size: 16px;
      color: var(--footer-color-title);
      margin: 0px;
      padding: 15px 0;
      font-weight: bold; }
    .mainFooter .widget-footer__content {
      display: none;
      padding: 10px 0px 20px; }
      .mainFooter .widget-footer__content .ft-logo img {
        max-width: 150px;
        margin-bottom: 15px; }
      .mainFooter .widget-footer__content .ft-logo a {
        color: var(--footer-color-title); }
      .mainFooter .widget-footer__content .ft-logobct {
        margin-top: 12px; }
      .mainFooter .widget-footer__content .ft-logobct img {
        max-width: 180px; }
      .mainFooter .widget-footer__content .address-footer ul {
        padding: 0; }
        .mainFooter .widget-footer__content .address-footer ul li {
          margin: 0 0 8px; }
      .mainFooter .widget-footer__content .footerNav-link {
        padding: 0; }
        .mainFooter .widget-footer__content .footerNav-link li {
          position: relative;
          margin: 0 0 8px; }
          .mainFooter .widget-footer__content .footerNav-link li a {
            color: var(--footer-color-text); }
          .mainFooter .widget-footer__content .footerNav-link li a:hover, .mainFooter .widget-footer__content .footerNav-link li a:focus {
            color: var(--footer-color-hover); }
          .mainFooter .widget-footer__content .footerNav-link li a:hover:before, .mainFooter .widget-footer__content .footerNav-link li a:focus:before {
            background: var(--footer-color-hover); }
          .mainFooter .widget-footer__content .footerNav-link li a:hover {
            text-decoration: underline; }
      .mainFooter .widget-footer__content .footerNav-social {
        margin-top: 12px;
        padding: 0;
        display: flex;
        flex-wrap: wrap; }
        .mainFooter .widget-footer__content .footerNav-social li {
          display: inline-block; }
        .mainFooter .widget-footer__content .footerNav-social li a {
          width: 32px;
          height: 32px;
          line-height: 30px;
          font-size: 14px;
          background-color: transparent;
          border: 1px solid var(--footer-color-text);
          color: var(--footer-color-text);
          display: block;
          margin-right: 8px;
          margin-bottom: 8px;
          text-align: center;
          border-radius: 4px;
          translate: scale(1);
          -webkit-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s; }
        .mainFooter .widget-footer__content .footerNav-social li a svg {
          width: 15px;
          display: block;
          height: 100%;
          margin: 0 auto;
          transform: scale(1);
          fill: var(--footer-color-text);
          stroke: var(--footer-color-text);
          -webkit-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s; }
        .mainFooter .widget-footer__content .footerNav-social li a:hover {
          border-color: var(--footer-color-hover); }
        .mainFooter .widget-footer__content .footerNav-social li a:hover svg {
          fill: var(--footer-color-hover);
          stroke: var(--footer-color-hover);
          transform: scale(1.1);
          transition: .2s all; }
      .mainFooter .widget-footer__content .newsletter-form {
        margin-top: 15px; }
        .mainFooter .widget-footer__content .newsletter-form button {
          border-radius: 0; }
        .mainFooter .widget-footer__content .newsletter-form input {
          font-size: 14px;
          border: 1px solid #eee; }
        .mainFooter .widget-footer__content .newsletter-form input:focus {
          box-shadow: none; }
        .mainFooter .widget-footer__content .newsletter-form .input-group {
          margin-bottom: 0;
          width: 80%; }
          @media (max-width: 992px) {
            .mainFooter .widget-footer__content .newsletter-form .input-group {
              width: 100%; } }
        .mainFooter .widget-footer__content .newsletter-form .icon-email {
          position: absolute;
          top: 0;
          left: 10px;
          bottom: 0;
          z-index: 10;
          display: flex;
          align-items: center; }
        .mainFooter .widget-footer__content .newsletter-form .newsletter-input {
          height: 40px;
          padding: 10px 130px 10px 20px;
          border-radius: 4px !important;
          border: 1px solid var(--shop-color-button);
          font-size: 13px;
          background-color: #ffffff;
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          appearance: none; }
        .mainFooter .widget-footer__content .newsletter-form .newsletter-btn {
          position: absolute;
          right: 0px;
          top: 0px;
          padding: 5px 25px;
          height: 40px;
          border: 1px solid var(--shop-color-button);
          text-transform: uppercase;
          font-weight: 700;
          z-index: 9;
          border-radius: 4px;
          background: #333333; }
        .mainFooter .widget-footer__content .newsletter-form .newsletter-error, .mainFooter .widget-footer__content .newsletter-form .newsletter-success {
          font-size: 13px;
          margin: 0;
          padding: 5px 5px 0; }
        .mainFooter .widget-footer__content .newsletter-form .newsletter-success {
          color: #27a208;
          background: #c5e9c5;
          margin: 5px 0 0 0;
          border-radius: 2px; }
        .mainFooter .widget-footer__content .newsletter-form .newsletter-error {
          color: #ff0000; }
  .mainFooter .footer-payment {
    /*margin: 15px 0;*/ }
    .mainFooter .footer-payment .payment-title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px; }
    .mainFooter .footer-payment .payment-icon {
      display: flex;
      flex-wrap: wrap; }
      .mainFooter .footer-payment .payment-icon li {
        margin: 0 8px 8px 0;
        border: 1px solid #dee2e6;
        border-radius: 3px;
        overflow: hidden; }
  .mainFooter .footer-social {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid white; }
    .mainFooter .footer-social .social-title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px; }
  .mainFooter .footer-shipment {
    /*margin: 15px 0;*/ }
    .mainFooter .footer-shipment .shipment-title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px; }
    .mainFooter .footer-shipment .shipment-icon {
      display: flex;
      flex-wrap: wrap; }
      .mainFooter .footer-shipment .shipment-icon li {
        margin: 0 8px 8px 0;
        border: 1px solid #dee2e6;
        border-radius: 3px;
        overflow: hidden; }
  .mainFooter .footer-copyright {
    padding: 15px 0;
    /*background:var(--footer-bg-color-copyright);*/
    color: var(--footer-color-text); }
    .mainFooter .footer-copyright p {
      font-size: 13px;
      margin: 0; }
    .mainFooter .footer-copyright p a {
      color: var(--footer-color-text); }
  @media (min-width: 1200px) {
    .mainFooter .widget-footer {
      border-bottom: 0;
      padding: 30px 15px 30px 35px;
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 992px) {
    .mainFooter .footer-expand-title {
      display: none; }
    .mainFooter .footer-expand-collapsed {
      display: block; }
    .mainFooter .widget-footer__title {
      font-weight: 700;
      font-size: 16px;
      padding-bottom: 6px; }
    .mainFooter .widget-footer__content {
      display: block; }
    .mainFooter .widget-footer:last-child {
      border-right: 0; }
    .mainFooter .footer-copyright {
      border-top: 1px solid #dedede; } }
  @media (max-width: 991px) {
    .mainFooter .widget-footer {
      order: 2; }
      .mainFooter .widget-footer__title:before {
        content: "";
        right: 5px;
        position: absolute;
        box-sizing: border-box;
        height: 8px;
        width: 8px;
        border-style: solid;
        border-color: currentColor;
        border-width: 0px 1px 1px 0px;
        transform: rotate(45deg);
        transition: border-width 150ms ease-in-out;
        transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        -o-transition: all 0.4s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s; }
      .mainFooter .widget-footer__title.opened {
        font-weight: 700; }
      .mainFooter .widget-footer__title.opened:before {
        -moz-transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        transform: rotate(-135deg); }
      .mainFooter .widget-footer.widget-footer-newsletter {
        order: 1; }
        .mainFooter .widget-footer.widget-footer-newsletter .widget-footer__title {
          pointer-events: none; }
          .mainFooter .widget-footer.widget-footer-newsletter .widget-footer__title:before {
            display: none; }
        .mainFooter .widget-footer.widget-footer-newsletter .widget-footer__content {
          display: block; } }
  @media (max-width: 767px) {
    .mainFooter.has-sidebar {
      padding-bottom: 55px; } }
  .mainFooter .widget-footer.footer-information ul li {
    font-size: 12px; }
  .mainFooter .widget-footer.footer-information .widget-footer__title {
    font-size: 14px; }
    @media (max-width: 992px) {
      .mainFooter .widget-footer.footer-information .widget-footer__title {
        pointer-events: none; } }
    .mainFooter .widget-footer.footer-information .widget-footer__title:before {
      display: none; }
  .mainFooter .widget-footer.footer-information .footer-desc {
    font-size: 12px; }
  @media (min-width: 992px) {
    .mainFooter .ft-logobct {
      text-align: right;
      transform: translateY(-130px);
      padding-right: 6%; } }
  @media (max-width: 992px) {
    .mainFooter .ft-logobct {
      margin-top: 10px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .mainFooter .ft-logobct {
      transform: translateY(-90px); } }

@media (min-width: 1200px) {
  .template-collection .col-lg-cus5 {
    width: 33.33333%; } }

@media (max-width: 992px) {
  .template-collection .list-product-row {
    margin: 0 -5px; }
    .template-collection .list-product-row .product-loop {
      padding-left: 5px;
      padding-right: 5px; } }

.template-collection .product-loop {
  border-right: 1px solid #e3e5e5;
  border-bottom: 1px solid #e3e5e5;
  margin-bottom: 0;
  background: white;
  z-index: 5;
  transition: all .2s linear; }
  @media (min-width: 992px) {
    .template-collection .product-loop:nth-child(3), .template-collection .product-loop:nth-child(6), .template-collection .product-loop:nth-child(9), .template-collection .product-loop:nth-child(12), .template-collection .product-loop:nth-child(15), .template-collection .product-loop:nth-child(18), .template-collection .product-loop:nth-child(21), .template-collection .product-loop:nth-child(24), .template-collection .product-loop:nth-child(27), .template-collection .product-loop:nth-child(30), .template-collection .product-loop:nth-child(33), .template-collection .product-loop:nth-child(36), .template-collection .product-loop:last-child {
      border-right: unset; } }
  @media (max-width: 992px) {
    .template-collection .product-loop:nth-child(even), .template-collection .product-loop:last-child {
      border-right: unset; } }
  .template-collection .product-loop:hover {
    position: relative;
    transform: scale(1.05);
    box-shadow: 0 0 9px 0 #ccc;
    z-index: 8;
    transition: all .2s linear; }
  .template-collection .product-loop .proloop-detail {
    text-align: center; }
    .template-collection .product-loop .proloop-detail .proloop-price, .template-collection .product-loop .proloop-detail a.price {
      color: var(--shop-color-main); }

@media (min-width: 992px) {
  .template-collection .sidebar-left {
    padding-right: 25px; }
  .template-collection .collection.main-container {
    padding-left: 25px; } }

.productDetail-information.productDetail_style__01 {
  padding-bottom: 30px;
  padding-top: 30px;
  background: #f2f2f3; }
  @media (min-width: 992px) {
    .productDetail-information.productDetail_style__01 .container.container-cus {
      max-width: 1200px; }
    .productDetail-information.productDetail_style__01 .row.row-cus {
      column-gap: 30px; }
      .productDetail-information.productDetail_style__01 .row.row-cus > div {
        padding: 0; }
      .productDetail-information.productDetail_style__01 .row.row-cus > .product-gallery,
      .productDetail-information.productDetail_style__01 .row.row-cus > .product-wrap-left,
      .productDetail-information.productDetail_style__01 .row.row-cus > .product-tabs {
        width: calc(66.66% - 30px);
        padding: 0; }
      .productDetail-information.productDetail_style__01 .row.row-cus > .product-info {
        width: 33.33%;
        padding: 20px 12px; } }
  .productDetail-information.productDetail_style__01 .product-gallery .product-gallery__inner {
    border: 1px solid #e3e5e5; }
  .productDetail-information.productDetail_style__01 .product-gallery .product-gallery__thumb {
    padding-bottom: 10px; }
    .productDetail-information.productDetail_style__01 .product-gallery .product-gallery__thumb .swiper-wrapper {
      justify-content: center; }
  @media (max-width: 992px) {
    .productDetail-information.productDetail_style__01 .product-gallery__thumb {
      padding: 0 10px; } }

.productDetail-information .product-app-sale {
  margin-top: 15px;
  padding: 10px;
  background: white;
  border: 1px solid #f2f2f2; }
  @media (max-width: 992px) {
    .productDetail-information .product-app-sale {
      border: unset;
      padding: 0;
      padding-bottom: 10px;
      margin-top: 0px; } }

.productDetail-information .product-tabs {
  margin-top: 20px;
  padding: 20px 10px !important; }
  @media (max-width: 992px) {
    .productDetail-information .product-tabs {
      margin-top: 0; } }

.productDetail-information .description-btn.is-show {
  margin-top: 20px; }

@media (min-width: 992px) {
  .productDetail-information .sticky-info {
    top: 30px;
    position: sticky;
    -webkit-transition: top 400ms ease;
    -moz-transition: top 400ms ease;
    transition: top 400ms ease; }
  .productDetail-information body.scroll-body-up .sticky-info {
    top: 80px; } }

.productDetail-information .product-wrap-left {
  background: white; }

@media (max-width: 992px) {
  .productDetail-information .product-info .product-actions {
    margin-bottom: 10px; } }

@media (max-width: 992px) {
  .productDetail-information .info-footer {
    padding-top: 10px; } }

.info-wrapper .info-footer .product-subinfo {
  margin-top: 20px; }
