.swiper {
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0px 0px;
  height: 90vh; }

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box; }

.swiper-slide-bg-image {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 0; }

.swiper-gl {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden; }

.swiper-gl .swiper-slide, .swiper-gl swiper-slide {
  position: relative; }

.swiper-gl .swiper-gl-image {
  display: none; }

.swiper-gl > canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.swiper-gl-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  left: 0;
  top: 0; }
