<header class="main-header topbar_ect">
 <div class="container">
  <div class="menu-bar button-menu hidden-md hidden-lg">
   <a href="javascript:;">
    <svg height="20px" viewbox="0 -53 384 384" width="20px" xmlns="http://www.w3.org/2000/svg">
     <path d="m368 154.667969h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0">
     </path>
     <path d="m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0">
     </path>
     <path d="m368 277.332031h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0">
     </path>
    </svg>
   </a>
  </div>
  <a class="logo" href="/" title="THE NOOB">
   <img alt="THE NOOB" src="//bizweb.dktcdn.net/100/045/077/themes/894305/assets/logo.png?1741967380019"/>
  </a>
  <div class="header-menu">
   <ul class="level0 hidden-sm hidden-xs">
    <li class="nav-item has-child">
     <a class="arrow_nav nav-link" href="/ao" title="ÁO">
      ÁO
     </a>
     <i class="fa fa-angle-down hidden-md hidden-lg">
     </i>
     <ul class="level1">
      <li class="nav-item-lv2">
       <a class="nav-link" href="/jackets" title="ÁO KHOÁC">
        ÁO KHOÁC
       </a>
      </li>
      <li class="nav-item-lv2">
       <a class="nav-link" href="/so-mi" title="ÁO SƠ MI">
        ÁO SƠ MI
       </a>
      </li>
      <li class="nav-item-lv2">
       <a class="nav-link" href="/ao-len" title="ÁO LEN">
        ÁO LEN
       </a>
      </li>
      <li class="nav-item-lv2">
       <a class="nav-link" href="/sweater" title="ÁO PHÔNG &amp; HOODIE">
        ÁO PHÔNG &amp; HOODIE
       </a>
      </li>
     </ul>
    </li>
    <li class="nav-item has-child">
     <a class="arrow_nav nav-link" href="/quan" title="QUẦN">
      QUẦN
     </a>
     <i class="fa fa-angle-down hidden-md hidden-lg">
     </i>
     <ul class="level1">
      <li class="nav-item-lv2">
       <a class="nav-link" href="/short" title="QUẦN SHORT">
        QUẦN SHORT
       </a>
      </li>
      <li class="nav-item-lv2">
       <a class="nav-link" href="/trouser" title="QUẦN KAKI &amp; VẢI">
        QUẦN KAKI &amp; VẢI
       </a>
      </li>
      <li class="nav-item-lv2">
       <a class="nav-link" href="/jean" title="QUẦN JEAN">
        QUẦN JEAN
       </a>
      </li>
      <li class="nav-item-lv2">
       <a class="nav-link" href="/jogger" title="QUẦN JOGGER">
        QUẦN JOGGER
       </a>
      </li>
     </ul>
    </li>
    <li class="nav-item has-child">
     <a class="arrow_nav nav-link" href="/phu-kien" title="PHỤ KIỆN">
      PHỤ KIỆN
     </a>
     <i class="fa fa-angle-down hidden-md hidden-lg">
     </i>
     <ul class="level1">
      <li class="nav-item-lv2">
       <a class="nav-link" href="/bag" title="TÚI / VÍ / BA LÔ">
        TÚI / VÍ / BA LÔ
       </a>
      </li>
      <li class="nav-item-lv2">
       <a class="nav-link" href="/other" title="PHỤ KIỆN KHÁC">
        PHỤ KIỆN KHÁC
       </a>
      </li>
     </ul>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="/sale" title="OUTLET">
      OUTLET
     </a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="/women-area" title="ĐỒ NỮ">
      ĐỒ NỮ
     </a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="https://s.shopee.vn/6VA1cLrGVP" title="SHOPEE">
      SHOPEE
     </a>
    </li>
   </ul>
  </div>
  <div class="header-right">
   <div class="top-cart-contain f-right">
    <div class="mini-cart text-xs-center">
     <a class="cart-link" href="/cart" title="Giỏ hàng">
      <img alt="Giỏ hàng" src="//bizweb.dktcdn.net/100/045/077/themes/894305/assets/shopping-cart.svg?1741967380019" width="24"/>
      <i class="cartCount count_item_pr">
      </i>
     </a>
     <div class="top-cart-content">
      <ul class="mini-products-list count_li" id="cart-sidebar">
       <li class="list-item">
        <ul>
        </ul>
       </li>
       <li class="action">
        <ul>
         <li class="li-fix-1">
          <div class="top-subtotal">
           Tổng tiền thanh toán:
           <span class="price">
           </span>
          </div>
         </li>
         <li class="li-fix-2" style="">
          <div class="actions">
           <a class="btn btn-primary" href="/cart" title="Giỏ hàng">
            <span>
             Giỏ hàng
            </span>
           </a>
           <a class="btn btn-checkout btn-gray" href="/checkout" title="Thanh toán">
            <span>
             Thanh toán
            </span>
           </a>
          </div>
         </li>
        </ul>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <div class="user f-right" title="Tài khoản">
    <img alt="Tài khoản" src="//bizweb.dktcdn.net/100/045/077/themes/894305/assets/user.svg?1741967380019" width="24">
     <div class="account">
      <a href="/account/login" title="Đăng nhập">
       Đăng nhập
      </a>
      <a href="/account/register" title="Đăng ký">
       Tạo tài khoản
      </a>
      <script>
       function loginFacebook(){var a={client_id:"947410958642584",redirect_uri:"https://store.mysapo.net/account/facebook_account_callback",state:JSON.stringify({redirect_url:window.location.href}),scope:"email",response_type:"code"},b="https://www.facebook.com/v3.2/dialog/oauth"+encodeURIParams(a,!0);window.location.href=b}function loginGoogle(){var a={client_id:"997675985899-pu3vhvc2rngfcuqgh5ddgt7mpibgrasr.apps.googleusercontent.com",redirect_uri:"https://store.mysapo.net/account/google_account_callback",scope:"email profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile",access_type:"online",state:JSON.stringify({redirect_url:window.location.href}),response_type:"code"},b="https://accounts.google.com/o/oauth2/v2/auth"+encodeURIParams(a,!0);window.location.href=b}function encodeURIParams(a,b){var c=[];for(var d in a)if(a.hasOwnProperty(d)){var e=a[d];null!=e&&c.push(encodeURIComponent(d)+"="+encodeURIComponent(e))}return 0==c.length?"":(b?"?":"")+c.join("&")}
      </script>
      <a class="social-btn-login social-login--facebook" href="javascript:void(0)" onclick="loginFacebook()">
       <i class="fab fa-facebook">
       </i>
       Facebook
      </a>
      <a class="social-btn-login social-login--google" href="javascript:void(0)" onclick="loginGoogle()">
       <i class="fab fa-google-plus">
       </i>
       Google
      </a>
     </div>
    </img>
   </div>
   <div class="search-bar f-right">
    <img alt="Tìm kiếm" src="//bizweb.dktcdn.net/100/045/077/themes/894305/assets/search.svg?1741967380019" title="Tìm kiếm" width="24"/>
    <form action="/search" class="d-none" method="get" role="search">
     <input autocomplete="off" class="auto-search" name="query" placeholder="Tìm kiếm... " type="search" value=""/>
     <button class="btn icon-fallback-text">
      <img alt="Tìm kiếm" src="//bizweb.dktcdn.net/100/045/077/themes/894305/assets/search.svg?1741967380019" width="18"/>
     </button>
    </form>
   </div>
  </div>
 </div>
</header>
