<footer class="ft-index">
 <div class="footer-policy-luxury">
  <div class="container-fluid">
   <div class="policy-luxury-grid">
    <div class="policy-item">
     <div class="policy-icon">
      <img alt="Sản Phẩm Cao Cấp" height="24" loading="lazy" src="https://cdn.hstatic.net/files/200001154613/file/diamond.png" width="24"/>
     </div>
     <div class="policy-text">
      <span>
       Sản Phẩm Cao Cấp
      </span>
     </div>
    </div>
    <div class="policy-item">
     <div class="policy-icon">
      <img alt="100% Chính Hãng" height="24" loading="lazy" src="https://cdn.hstatic.net/files/200001154613/file/verified.png" width="24"/>
     </div>
     <div class="policy-text">
      <span>
       100% Chính Hãng
      </span>
     </div>
    </div>
    <div class="policy-item">
     <div class="policy-icon">
      <img alt="Giao Hàng Miễn Phí" height="24" loading="lazy" src="https://cdn.hstatic.net/files/200001154613/file/free-delivery.png" width="24"/>
     </div>
     <div class="policy-text">
      <span>
       Giao Hàng Miễn Phí
      </span>
     </div>
    </div>
    <div class="policy-item">
     <div class="policy-icon">
      <img alt="Đổi Trả Dễ Dàng" height="24" loading="lazy" src="https://cdn.hstatic.net/files/200001154613/file/return.png" width="24"/>
     </div>
     <div class="policy-text">
      <span>
       Đổi Trả Dễ Dàng
      </span>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="container">
  <div class="top-ft-wanda">
   <div class="d-flex row mg-bottom-30 mg-bottom-10-mb">
    <div class="col-md-2 col-sm-6 col-xs-12 tablink mg-bottom-15 order-mb-2">
     <div class="title-footer">
      <div class="h4 font-title">
       Cần hỗ trợ
      </div>
      <svg class="icon-svg visible-xs" style="--width: 12px;--height: 12px;--fillcolor: var(--wd-color-shop);">
       <use xlink:href="#icon-arrow">
       </use>
      </svg>
     </div>
     <div class="footer-link-wanda">
      <ul>
       <li>
        <a href="/pages/lien-he">
         Liên hệ
        </a>
       </li>
       <li>
        <a href="/pages/uu-dai-thanh-vien">
         Ưu đãi thành viên
        </a>
       </li>
       <li>
        <a href="/pages/chinh-sach-giao-hang">
         Chính sách giao hàng
        </a>
       </li>
       <li>
        <a href="/pages/chinh-sach-doi-tra">
         Chính sách đổi trả
        </a>
       </li>
       <li>
        <a href="/pages/huong-dan-chon-size">
         Hướng dẫn chọn size
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12 tablink mg-bottom-15 order-mb-2">
     <div class="title-footer">
      <div class="h4 font-title">
       Về chúng tôi
      </div>
      <svg class="icon-svg visible-xs" style="--width: 12px;--height: 12px;--fillcolor: var(--wd-color-shop);">
       <use xlink:href="#icon-arrow">
       </use>
      </svg>
     </div>
     <div class="footer-link-wanda">
      <ul>
       <li>
        <a href="/pages/cau-chuyen">
         Câu chuyện
        </a>
       </li>
       <li>
        <a href="/pages/he-thong-cua-hang">
         Hệ thống cửa hàng
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12 tablink mg-bottom-15 order-mb-2">
     <div class="title-footer">
      <div class="h4 font-title">
       Liên kết
      </div>
      <svg class="icon-svg visible-xs" style="--width: 12px;--height: 12px;--fillcolor: var(--wd-color-shop);">
       <use xlink:href="#icon-arrow">
       </use>
      </svg>
     </div>
     <div class="footer-link-wanda">
      <ul>
       <li>
        <a href="/blogs/news">
         Tin tức
        </a>
       </li>
       <li>
        <a href="/">
         Tuyển dụng
        </a>
       </li>
       <li>
        <a href="/pages/mua-hang-theo-phong-cach">
         Mua sắm theo phong cách
        </a>
       </li>
       <li>
        <a href="/">
         Khuyến mãi
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12 tablink mg-bottom-15 order-mb-2">
     <div class="title-footer">
      <div class="h4 font-title">
       Chính sách
      </div>
      <svg class="icon-svg visible-xs" style="--width: 12px;--height: 12px;--fillcolor: var(--wd-color-shop);">
       <use xlink:href="#icon-arrow">
       </use>
      </svg>
     </div>
     <div class="footer-link-wanda">
      <ul>
       <li>
        <a href="/pages/chinh-sach-bao-mat">
         Chính sách bảo mật
        </a>
       </li>
       <li>
        <a href="/pages/dieu-khoan-dich-vu">
         Điều khoản dịch vụ
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 order-mb-1 mg-bottom-15">
     <div class="title-footer">
      <div class="h4 font-title">
       Đăng ký nhận tin thời trang
      </div>
     </div>
     <div class="form-ft-wanda">
      <form accept-charset="UTF-8" action="/account/contact" class="contact-form" method="post">
       <input name="form_type" type="hidden" value="customer"/>
       <input name="utf8" type="hidden" value="✓"/>
       <div class="form-group mb-0 icon-email">
        <input id="contact_tags" name="contact[tags]" type="hidden" value="khách hàng tiềm năng-https://wd-scarlet-witch.myharavan.com/">
         <input autocomplete="on" id="contact_email_ft" name="contact[email]" placeholder="Email" required="required" type="email">
         </input>
        </input>
       </div>
       <button class="btn font-size-0" name="btn-form-ct" type="submit">
        <svg class="icon-svg" style="--fillcolor: var(--wd-color_button)">
         <use xlink:href="#icon-paper-plane">
         </use>
        </svg>
        Đăng ký
       </button>
       <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt_Gb7Flndcx1zCTwZzEDhQZB7zpejCOiyxYys3qQNoF0hfEFSbtCkSzZ6aAHuS_GQk74yOFlzffHodz5QeGEdYu96uD10vaxj4PHSA773zOPJMGSjBKwIZguIJ9O-5Sbp0"/>
       <input id="8087ea42663942a38a8983f0860e9536" name="g-recaptcha-response" type="hidden"/>
       <!--<script src='https://www.google.com/recaptcha/api.js?render=6LchSLkqAAAAABVHBpeFgg8N-WgkYsr5fO6GUF_s'></script>-->
       <!--<script>let recaptchaElm=document.getElementById('8087ea42663942a38a8983f0860e9536');let recaptchaForm=recaptchaElm.parentNode;recaptchaForm.addEventListener("submit",function(formEvent){if(!recaptchaElm.value){formEvent.preventDefault();grecaptcha.ready(function(){grecaptcha.execute('6LchSLkqAAAAABVHBpeFgg8N-WgkYsr5fO6GUF_s',{action:'submit'}).then(function(token){recaptchaElm.value=token;recaptchaForm.requestSubmit(formEvent.submitter)})})}})</script>-->
      </form>
     </div>
     <div class="visible-xs">
      <ul class="social-footer-wd d-flex d-flex-center">
       <li class="zalo">
        <a href="/" rel="nofollow" title="zalo">
         <svg class="icon-svg" style="--width: 30px;--height: 30px;--fillcolor: none">
          <use xlink:href="#icon-zalo">
          </use>
         </svg>
        </a>
       </li>
       <li class="tiktok">
        <a href="/" rel="nofollow" title="tiktok">
         <svg class="icon-svg" style="--width: 16px;--height: 16px;--fillcolor: #fff">
          <use xlink:href="#icon-tiktok">
          </use>
         </svg>
        </a>
       </li>
       <li class="twitter">
        <a href="/" rel="nofollow" title="twitter">
         <svg class="icon-svg" style="--width: 16px;--height: 16px;--fillcolor: #fff">
          <use xlink:href="#icon-twitter">
          </use>
         </svg>
        </a>
       </li>
       <li class="youtube">
        <a href="https://www.youtube.com/@WDTeam-1105/playlists" rel="nofollow" title="youtube">
         <svg class="icon-svg" style="--width: 16px;--height: 16px;--fillcolor: #fff">
          <use xlink:href="#icon-youtube">
          </use>
         </svg>
        </a>
       </li>
       <li class="instagram">
        <a href="/" rel="nofollow" title="instagram">
         <svg class="icon-svg" style="--width: 16px;--height: 16px;--fillcolor: #fff">
          <use xlink:href="#icon-instagram">
          </use>
         </svg>
        </a>
       </li>
       <li class="facebook">
        <a href="/" rel="nofollow" title="facebook">
         <svg class="icon-svg" style="--width: 16px;--height: 16px;--fillcolor: #fff">
          <use xlink:href="#icon-facebook">
          </use>
         </svg>
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <div class="d-flex row">
    <div class="col-md-8 col-sm-6 col-xs-12 infomation mg-bottom-15">
     <div class="title-footer">
      <div class="h4 font-title">
       WD Scarlet Witch
      </div>
     </div>
     <div class="infomation-wanda">
      <ul>
       <li>
        <svg class="icon-svg" style="--width: 14px;--height: 14px;--fillcolor: var(--colorfooter);top: 2px;">
         <use xlink:href="#icon-map">
         </use>
        </svg>
        <span>
         32 Ấp 4, Đường Liên ấp 3-4 Xã An Viễn, Trảng Bom, Đồng Nai
        </span>
       </li>
       <li>
        <svg class="icon-svg" style="--width: 14px;--height: 14px;--fillcolor: var(--colorfooter)">
         <use xlink:href="#icon-phone">
         </use>
        </svg>
        <a href="tel:0385942049" rel="nofollow">
         0385942049
        </a>
       </li>
       <li>
        <svg class="icon-svg" style="--width: 14px;--height: 14px;--fillcolor: var(--colorfooter);top: 3px;">
         <use xlink:href="#icon-email">
         </use>
        </svg>
        <a href="mailto:vuhuuhanh01@gmail.com" rel="nofollow">
         vuhuuhanh01@gmail.com
        </a>
       </li>
       <li class="bocongthuong">
        <a href="/" rel="nofollow">
         <img alt="Bộ công thương" class="lazyload" data-src="https://file.hstatic.net/200000397757/file/dathongbao_48067cd02fae41b68bf0294777c39c94_compact.png" height="45" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="120"/>
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 hidden-xs">
     <div class="title-footer">
      <div class="h4 font-title">
       Theo dõi chúng tôi
      </div>
     </div>
     <ul class="social-footer-wd d-flex d-flex-center">
      <li class="zalo">
       <a href="/" rel="nofollow" title="zalo">
        <svg class="icon-svg" style="--width: 30px;--height: 30px;--fillcolor: none">
         <use xlink:href="#icon-zalo">
         </use>
        </svg>
       </a>
      </li>
      <li class="tiktok">
       <a href="/" rel="nofollow" title="tiktok">
        <svg class="icon-svg" style="--width: 16px;--height: 16px;--fillcolor: #fff">
         <use xlink:href="#icon-tiktok">
         </use>
        </svg>
       </a>
      </li>
      <li class="twitter">
       <a href="/" rel="nofollow" title="twitter">
        <svg class="icon-svg" style="--width: 16px;--height: 16px;--fillcolor: #fff">
         <use xlink:href="#icon-twitter">
         </use>
        </svg>
       </a>
      </li>
      <li class="youtube">
       <a href="https://www.youtube.com/@WDTeam-1105/playlists" rel="nofollow" title="youtube">
        <svg class="icon-svg" style="--width: 16px;--height: 16px;--fillcolor: #fff">
         <use xlink:href="#icon-youtube">
         </use>
        </svg>
       </a>
      </li>
      <li class="instagram">
       <a href="/" rel="nofollow" title="instagram">
        <svg class="icon-svg" style="--width: 16px;--height: 16px;--fillcolor: #fff">
         <use xlink:href="#icon-instagram">
         </use>
        </svg>
       </a>
      </li>
      <li class="facebook">
       <a href="/" rel="nofollow" title="facebook">
        <svg class="icon-svg" style="--width: 16px;--height: 16px;--fillcolor: #fff">
         <use xlink:href="#icon-facebook">
         </use>
        </svg>
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
 <div class="copyright-wanda">
  <div class="container">
   <div class="row">
    <div class="col-md-12 text-center">
     <div class="text-copyright mb-0">
      <span>
       © Copyright 2026 By
       <a class="underline_hover link" href="/" target="_blank">
        WD Scarlet Witch.
       </a>
       <a href="https://www.haravan.com?ref=wanda" rel="nofollow" target="_blank">
        Powered by
        <b>
         Haravan
        </b>
       </a>
      </span>
     </div>
    </div>
   </div>
  </div>
 </div>
</footer>
