<header class="" id="header-new">
 <div class="header-top" id="site-header-top">
  <div class="container-fluid">
   <div class="row d-flex d-flex-center js-between">
    <div class="col-md-4 col-lg-4 group-icon-header col-xs-4 col-sm-4 d-flex d-flex-center">
     <ul class="d-flex d-flex-center">
      <li class="list-inline-item pd-r-15 mr-0 header-menu">
       <div class="list-inline-item-text">
        <button class="icon-item d-flex d-flex-center button-icon js-menu" title="Menu">
         <svg class="icon-svg open" style="--width: 22px;--height: 22px;--fillcolor: #fff">
          <use xlink:href="#icon-menu">
          </use>
         </svg>
        </button>
       </div>
      </li>
     </ul>
    </div>
    <div class="logo col-lg-4 col-md-4 col-xs-4 col-sm-4 text-center logo-store pd-0-mb">
     <a href="/" title="WD Scarlet Witch">
      <img alt="WD Scarlet Witch" class="logo-shop logo-normal" fetchpriority="high" height="50" src="https://cdn.hstatic.net/files/200001154613/file/logo-while_810bd8da17da417aa2dd2f09f485d14d.png" type="image/png" width="200"/>
     </a>
    </div>
    <div class="col-md-4 col-lg-4 group-icon-header col-xs-4 col-sm-4">
     <ul class="group-icon-cart-account d-flex d-flex-center js-end">
      <li class="list-inline-item pd-l-15 mr-0">
       <div class="list-inline-item-text">
        <button class="icon-item search js-toggle-search d-flex d-flex-center button-icon" title="Tìm kiếm">
         <svg class="icon-svg open" style="--width: 22px;--height: 22px;--fillcolor: #fff;">
          <use xlink:href="#icon-search">
          </use>
         </svg>
        </button>
       </div>
      </li>
      <li class="list-inline-item pd-l-15 mr-0 header-location pd-0-mb">
       <div class="list-inline-item-text">
        <a class="icon-item d-flex d-flex-center button-icon" href="/pages/he-thong-cua-hang" title="Hệ thống cửa hàng">
         <span class="box-icon">
          <svg class="icon-svg" style="--width: 22px;--height: 22px;--fillcolor: #fff">
           <use xlink:href="#icon-location">
           </use>
          </svg>
         </span>
        </a>
       </div>
      </li>
      <li class="list-inline-item mr-0 header-wishlish">
       <div class="list-inline-item-text">
        <button class="icon-item d-flex d-flex-center button-icon" onclick="window.location.href= '/pages/san-pham-yeu-thich'" title="Sản phẩm yêu thích" type="button">
         <span class="box-icon">
          <svg class="icon-svg" style="--width: 22px;--height: 22px;--fillcolor: #fff">
           <use xlink:href="#icon-heart-no-fill">
           </use>
          </svg>
          <span class="js-number-like number-like">
           0
          </span>
         </span>
        </button>
       </div>
      </li>
      <li class="list-inline-item pd-l-15 mr-0 header-cart pd-0-mb">
       <div class="list-inline-item-text">
        <button class="icon-item d-flex d-flex-center button-icon js-show-cart" title="Giỏ hàng" type="button">
         <span class="box-icon">
          <svg class="icon-svg" style="--width: 22px;--height: 22px;--fillcolor: #fff">
           <use xlink:href="#icon-cart">
           </use>
          </svg>
          <span class="js-number-cart number-cart">
           0
          </span>
         </span>
        </button>
       </div>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</header>
