<footer class="footer bg-white" style="--footer-overlay: #f6f6f6">
 <div class="mid-footer">
  <div class="container">
   <div class="row">
    <div class="col-xs-12 col-md-6 col-xl-4 footer-click footer-1">
     <h4 class="title-menu clicked">
      Về chúng tôi
     </h4>
     <a class="logo-wrapper mb-3 d-block" href="/">
      <img alt="logo IOMA Shop Việt Nam" height="96" loading="lazy" src="//theme.hstatic.net/200000352123/1000794219/14/logo-footer.png?v=413" width="450"/>
     </a>
     <p>
      Mỹ phẩm công nghệ cao số 01 thế giới
     </p>
     <div class="single-contact">
      <i class="fa fa-map-marker-alt">
      </i>
      <div class="content">
       Địa chỉ:
       <span>
        170 Đê La Thành, phường Ô Chợ Dừa, quận Đống Đa, Hà Nội
       </span>
      </div>
     </div>
     <div class="single-contact">
      <i class="fa fa-mobile-alt">
      </i>
      <div class="content">
       Số điện thoại:
       <a class="link" href="tel:0961918882" title="0961918882">
        0961 918 882
       </a>
      </div>
     </div>
     <div class="single-contact">
      <i class="fa fa-envelope">
      </i>
      <div class="content">
       Email:
       <a class="link" href="mailto:iomaparis.vn@gmail.com" title="iomaparis.vn@gmail.com">
        iomaparis.vn@gmail.com
       </a>
      </div>
     </div>
     <div class="social-footer">
      <!--<h4 class="title-menu">
Theo dõi chúng tôi 
</h4>-->
      <ul class="follow_option d-flex flex-wrap align-items-center p-0 list-unstyled">
       <li>
        <a class="facebook link" href="https://www.facebook.com/iomavietnam.official" target="_blank" title="Theo dõi Facebook IOMA Shop Việt Nam">
         <img alt="facebook" height="24" loading="lazy" src="//theme.hstatic.net/200000352123/1000794219/14/facebook.svg?v=413" width="24">
         </img>
        </a>
       </li>
       <li>
        <a class="zalo link" href="#" target="_blank" title="Theo dõi zalo IOMA Shop Việt Nam">
         <img alt="zalo" height="24" loading="lazy" src="//theme.hstatic.net/200000352123/1000794219/14/zalo.svg?v=413" width="24">
         </img>
        </a>
       </li>
       <li>
        <a class="instgram link" href="https://www.instagram.com/iomaparis.vn/" target="_blank" title="Theo dõi instgram IOMA Shop Việt Nam">
         <img alt="instgram" height="24" loading="lazy" src="//theme.hstatic.net/200000352123/1000794219/14/instagram.svg?v=413" width="24">
         </img>
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-2 footer-click">
     <h4 class="title-menu clicked">
      Về IOMA
      <i class="fa fa-angle-down d-md-none d-inline-block">
      </i>
     </h4>
     <ul class="list-menu toggle-mn">
      <li class="li_menu">
       <a class="link" href="/search" title="Tìm kiếm">
        Tìm kiếm
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/he-thong-cua-hang" title="Showroom IOMA">
        Showroom IOMA
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/blogs/cau-chuyen-thuong-hieu" title="Câu chuyện thương hiệu">
        Câu chuyện thương hiệu
       </a>
      </li>
     </ul>
     <span class="title-menu">
      Mua hàng trên sàn TMĐT
     </span>
     <div class="e-commerce">
      <a href="https://www.lazada.vn/shop/ioma-paris">
       <img src="https://file.hstatic.net/200000352123/file/lazada_icon_9ac6ac687eb7477e82b0e463a0f16bba.png">
       </img>
      </a>
      <a href="https://shopee.vn/ioma_official">
       <img src="https://file.hstatic.net/200000352123/file/shopee_icon_9c2f9b0cc15f4d40affbb12fa7072791.png">
       </img>
      </a>
     </div>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-2 footer-click">
     <h4 class="title-menu clicked">
      Hỗ trợ khách hàng
      <i class="fa fa-angle-down d-md-none d-inline-block">
      </i>
     </h4>
     <ul class="list-menu toggle-mn">
      <li class="li_menu">
       <a class="link" href="/pages/lien-he" title="Liên hệ">
        Liên hệ
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/chinh-sach-bao-mat" title="Chính sách bảo mật">
        Chính sách bảo mật
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/chinh-sach-doi-tra" title="Chính sách đổi trả">
        Chính sách đổi trả
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/dieu-khoan-dich-vu" title="Điều khoản dịch vụ">
        Điều khoản dịch vụ
       </a>
      </li>
     </ul>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-4 footer-click">
     <h4 class="title-menu">
      Đăng ký nhận tin
     </h4>
     <div class="form_register">
      <form accept-charset="UTF-8" action="/account/contact" class="contact-form" method="post">
       <input name="form_type" type="hidden" value="customer"/>
       <input name="utf8" type="hidden" value="✓"/>
       <div class="custom-input-group mb-3 form_newsletter form_newsletter_customer">
        <div class="input-group">
         <input id="newsletter-tags" name="contact[tags]" type="hidden" value="khách hàng tiềm năng, bản tin">
          <input aria-label="Địa chỉ Email" autocomplete="off" class="form-control input-group-field" id="newsletter-email" name="contact[email]" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Nhập địa chỉ email" required="" type="email"/>
          <div class="input-group-btn btn-action">
           <button aria-label="Đăng ký nhận tin" class="h-100 btn text-white button_subscribe subscribe" name="subscribe" type="submit">
            Đăng ký
           </button>
          </div>
         </input>
        </div>
       </div>
       <div class="sitebox-recaptcha hidden">
        This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy" rel="noreferrer" target="_blank">
         Privacy Policy
        </a>
        and
        <a href="https://policies.google.com/terms" rel="noreferrer" target="_blank">
         Terms of Service
        </a>
        apply.
       </div>
       <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt-U3yGZh47MXAArS5kCUQJWgAoEDVgsGqFCHp9tORUVFD2AIh21n0wTj-xSBrMixnWc4thXpSTaf-0De1e-jtPVZEebHg0PHAJyCw_WHJtkGF6-o6wzdqC36qjAAQCdzLs"/>
       <input id="014005382c134b43ba4826a9d2d760e1" name="g-recaptcha-response" type="hidden"/>
       <noscript src="https://www.google.com/recaptcha/api.js?render=6LchSLkqAAAAABVHBpeFgg8N-WgkYsr5fO6GUF_s">
       </noscript>
       <noscript>
        let recaptchaElm=document.getElementById('014005382c134b43ba4826a9d2d760e1');let recaptchaForm=recaptchaElm.parentNode;recaptchaForm.addEventListener("submit",function(formEvent){if(!recaptchaElm.value){formEvent.preventDefault();grecaptcha.ready(function(){grecaptcha.execute('6LchSLkqAAAAABVHBpeFgg8N-WgkYsr5fO6GUF_s',{action:'submit'}).then(function(token){recaptchaElm.value=token;recaptchaForm.requestSubmit(formEvent.submitter)})})}})
       </noscript>
      </form>
     </div>
     <span class="title-menu">
      Phương thức thanh toán
     </span>
     <div class="product-trustbadge my-3">
      <a href="/collections/all" target="_blank" title="Phương thức thanh toán">
       <img alt="Phương thức thanh toán" class="img-fluid" height="53" loading="lazy" src="//theme.hstatic.net/200000352123/1000794219/14/footer_trustbadge.jpg?v=413" width="246"/>
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="bg-footer-bottom copyright clearfix py-2">
  <div class="container">
   <div class="row">
    <div class="col-xl-4 col-lg-12 col-md-12 col-xs-12 fot_copyright" id="copyright">
     <span class="wsp">
      © Bản quyền thuộc về
      <a href="https://egany.com" rel="nofollow" target="_blank">
       EGANY
      </a>
      | Cung cấp bởi
      <a href="https://www.haravan.com/?utm_campaign=poweredby&amp;utm_medium=haravan&amp;utm_source=onlinestore" rel="nofollow" target="_blank" title="Haravan">
       Haravan
      </a>
     </span>
    </div>
   </div>
  </div>
 </div>
</footer>
