<div class="topbar">
 <div class="container">
  <div class="topbar-wrap">
   <div class="topbar-left">
    <div class="topbar-left__text">
     <a href="/">
      Nhãn hàng của chúng tôi
     </a>
    </div>
    <div class="topbar-left__logo">
     <div class="wrap-logo">
      <a href="https://flyfeet.myharavan.com">
       FlyFeet
      </a>
     </div>
    </div>
   </div>
   <div class="topbar-right">
    <ul class="topbar-right__list">
     <li>
      <a href="/pages/lien-he">
       Liên hệ
      </a>
     </li>
     <li>
      <a href="/pages/danh-sach-cua-hang">
       Danh sách cửa hàng
      </a>
     </li>
     <li class="header-action-item header-action_account">
      <div class="header-action_text">
       <button aria-label="Tài khoản" class="header-action__link header-action_clicked" id="site-account-handle" title="Tài khoản">
        Tài khoản
       </button>
       <span class="box-triangle">
         <svg role="presentation" viewbox="0 0 20 9">
          <path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z" fill="#ffffff">
          </path>
         </svg>
        </span>
      </div>
      <div class="header-action_dropdown">
       <div class="header-dropdown_content">
        <div class="site_account sitenav-account" id="siteNav-account">
         <div class="site_account_panel_list">
          <div class="site_account_panel site_account_default is-selected" id="header-login-panel">
           <div class="sitenav-content__title">
            <p class="txt-title">
             Đăng nhập tài khoản
            </p>
            <p class="txt-subtitle">
             Nhập email và mật khẩu của bạn:
            </p>
           </div>
           <div class="sitenav-content__block">
            <form accept-charset="UTF-8" action="/account/login" id="customer_login" method="post">
             <input name="form_type" type="hidden" value="customer_login"/>
             <input name="utf8" type="hidden" value="✓"/>
             <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt-epPhvAMxaT4lEhS70b0BisS4dFcuDBuQwlmiv_3GTblpnHzkvApVMvXmo3s6yJEWG2QvnU4NYc5ZH9QXubhOHAvQ38nrec8GrvIuaeGHRlh6hU57edYsdjmX27or8Few"/>
             <div class="form__input-wrapper form__input-wrapper--labelled">
              <input class="form__field form__field--text" id="login-customer[email]" name="customer[email]" required="required" type="email"/>
              <label class="form__floating-label" for="login-customer[email]">
               Email
              </label>
             </div>
             <div class="form__input-wrapper form__input-wrapper--labelled">
              <input autocomplete="current-password" class="form__field form__field--text" id="login-customer[password]" name="customer[password]" required="required" type="password"/>
              <label class="form__floating-label" for="login-customer[password]">
               Mật khẩu
              </label>
              <div class="sitebox-recaptcha">
               This site is protected by reCAPTCHA and the Google
               <a href="https://policies.google.com/privacy" rel="noreferrer" target="_blank">
                Privacy Policy
               </a>
               and
               <a href="https://policies.google.com/terms" rel="noreferrer" target="_blank">
                Terms of Service
               </a>
               apply.
              </div>
             </div>
             <button class="form__submit button dark" id="form_submit-login" type="submit">
              Đăng nhập
             </button>
            </form>
            <div class="site_account_secondary-action">
             <p>
              Khách hàng mới?
              <a class="link" href="/account/register">
               Tạo tài khoản
              </a>
             </p>
             <p>
              Quên mật khẩu?
              <button aria-controls="header-recover-panel" class="js-link link">
               Khôi phục mật khẩu
              </button>
             </p>
            </div>
           </div>
          </div>
          <div class="site_account_panel site_account_sliding" id="header-recover-panel">
           <div class="sitenav-content__title">
            <p class="txt-title">
             Khôi phục mật khẩu
            </p>
            <p class="txt-subtitle">
             Nhập email của bạn:
            </p>
           </div>
           <div class="sitenav-content__block">
            <form accept-charset="UTF-8" action="/account/recover" method="post">
             <input name="form_type" type="hidden" value="recover_customer_password"/>
             <input name="utf8" type="hidden" value="✓"/>
             <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt-epPhvAMxaT4lEhS70b0BisS4dFcuDBuQwlmiv_3GTblpnHzkvApVMvXmo3s6yJEWG2QvnU4NYc5ZH9QXubhOHAvQ38nrec8GrvIuaeGHRlh6hU57edYsdjmX27or8Few"/>
             <div class="form__input-wrapper form__input-wrapper--labelled">
              <input class="form__field form__field--text" id="recover-customer[recover_email]" name="email" required="required" type="email"/>
              <label class="form__floating-label" for="recover-customer[recover_email]">
               Email
              </label>
              <div class="sitebox-recaptcha">
               This site is protected by reCAPTCHA and the Google
               <a href="https://policies.google.com/privacy" rel="noreferrer" target="_blank">
                Privacy Policy
               </a>
               and
               <a href="https://policies.google.com/terms" rel="noreferrer" target="_blank">
                Terms of Service
               </a>
               apply.
              </div>
             </div>
             <button class="form__submit button" id="form_submit-recover" type="submit">
              Khôi phục
             </button>
            </form>
            <div class="site_account_secondary-action">
             <p>
              Bạn đã nhớ mật khẩu?
              <button aria-controls="header-login-panel" class="js-link link">
               Trở về đăng nhập
              </button>
             </p>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </li>
    </ul>
   </div>
  </div>
 </div>
</div>
<header class="mainHeader--height">
 <div class="mainHeader mainHeader_temp01" id="main-header">
  <div class="mainHeader-middle">
   <div class="container">
    <div class="flex-container-header">
     <div class="header-wrap-iconav header-wrap-actions">
      <div class="header-action">
       <div class="header-action-item header-action_menu js-act-sitenav" data-id="#js-sitenav-menu">
        <div class="header-action_text">
         <button aria-label="Menu" class="header-action__link" id="site-menu-handle" title="Menu">
          <svg fill="currentColor" height="20px" stroke="currentColor" viewbox="0 0 448 512" width="20px" xmlns="http://www.w3.org/2000/svg">
           <path d="M442 114H6a6 6 0 0 1-6-6V84a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6z">
           </path>
          </svg>
         </button>
        </div>
       </div>
      </div>
     </div>
     <div class="header-wrap-left">
      <div class="header-wrap-logo">
       <div class="wrap-logo" itemscope="" itemtype="http://schema.org/Organization">
        <h1>
         <a href="https://flyfeet.myharavan.com" itemprop="url">
          FlyFeet
         </a>
        </h1>
       </div>
      </div>
      <div class="header-wrap-menu">
       <nav class="navbar-mainmenu styleMega">
        {% if(menuIsExisted({'type': 'header' })) %}
            {% include 'other/menu_custom' %}
        {% else %}
            {% include 'other/menu' %}
        {% endif %}
       </nav>
      </div>
     </div>
     <div class="header-wrap-right">
      <div class="header-wrap-actions">
       <div class="header-action">
        <div class="header-action-item header-action_search search-desktop activeSearchChecked d-none d-lg-block">
         <div class="search-form wpo-wrapper-search">
          <form action="/search" class="searchform searchform-categoris ultimate-search">
           <div class="wpo-search-inner">
            <input name="type" type="hidden" value="product"/>
            <input autocomplete="off" class="input-search" id="inputSearchAuto" maxlength="40" name="q" placeholder="Tìm kiếm sản phẩm..." required="" size="20" type="text">
            </input>
           </div>
           <button aria-label="button search" class="btn-search btn" type="submit">
            <svg class="svg search" style="enable-background:new 0 0 24 27;" version="1.1" viewbox="0 0 24 27" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
             <path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z">
             </path>
             <rect height="8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" x="17" y="17">
             </rect>
            </svg>
           </button>
          </form>
          <div class="smart-search-wrapper ajaxSearchResults" id="ajaxSearchResults">
           <div class="resultsContent">
           </div>
          </div>
         </div>
        </div>
        <div class="header-action-item header-action_cart js-sitenav-cart js-act-sitenav show-mb" data-id="#js-sitenav-cart">
         <div class="header-action_text">
          <button aria-label="Giỏ hàng" class="header-action__link" id="site-cart-handle" title="Giỏ hàng">
           <span class="box-icon">
            <svg height="22" viewbox="0 0 22 22" width="22" xmlns="http://www.w3.org/2000/svg">
             <path d="M15.95 6H19.7V17.875C19.7 18.7344 19.3875 19.4635 18.7625 20.0625C18.1635 20.6875 17.4344 21 16.575 21H5.325C4.46563 21 3.72344 20.6875 3.09844 20.0625C2.49948 19.4635 2.2 18.7344 2.2 17.875V6H5.95C5.95 4.61979 6.43177 3.44792 7.39531 2.48438C8.3849 1.49479 9.56979 1 10.95 1C12.3302 1 13.5021 1.49479 14.4656 2.48438C15.4552 3.44792 15.95 4.61979 15.95 6ZM13.1375 3.8125C12.5385 3.1875 11.8094 2.875 10.95 2.875C10.0906 2.875 9.34844 3.1875 8.72344 3.8125C8.12448 4.41146 7.825 5.14062 7.825 6H14.075C14.075 5.14062 13.7625 4.41146 13.1375 3.8125ZM17.825 17.875V7.875H15.95V9.4375C15.95 9.69792 15.8589 9.91927 15.6766 10.1016C15.4943 10.2839 15.2729 10.375 15.0125 10.375C14.7521 10.375 14.5307 10.2839 14.3484 10.1016C14.1661 9.91927 14.075 9.69792 14.075 9.4375V7.875H7.825V9.4375C7.825 9.69792 7.73385 9.91927 7.55156 10.1016C7.36927 10.2839 7.14792 10.375 6.8875 10.375C6.62708 10.375 6.40573 10.2839 6.22344 10.1016C6.04115 9.91927 5.95 9.69792 5.95 9.4375V7.875H4.075V17.875C4.075 18.2135 4.19219 18.5 4.42656 18.7344C4.68698 18.9948 4.98646 19.125 5.325 19.125H16.575C16.9135 19.125 17.2 18.9948 17.4344 18.7344C17.6948 18.5 17.825 18.2135 17.825 17.875Z">
             </path>
            </svg>
            <span class="box-icon--close">
             <svg role="presentation" viewbox="0 0 19 19">
              <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd">
              </path>
             </svg>
            </span>
            <span class="count-holder">
             <span class="count">
              0
             </span>
            </span>
           </span>
          </button>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="header-action-item header-action_search search-mobile d-block d-lg-none">
     <div class="search-form wpo-wrapper-search">
      <form action="/search" class="searchform searchform-categoris ultimate-search">
       <div class="wpo-search-inner">
        <input name="type" type="hidden" value="product"/>
        <input autocomplete="off" class="input-search" id="inputSearchAuto" maxlength="40" name="q" placeholder="Tìm kiếm sản phẩm..." required="" size="20" type="text">
        </input>
       </div>
       <button aria-label="button search" class="btn-search btn" type="submit">
        <svg class="svg search" style="enable-background:new 0 0 24 27;" version="1.1" viewbox="0 0 24 27" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
         <path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z">
         </path>
         <rect height="8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" x="17" y="17">
         </rect>
        </svg>
       </button>
      </form>
      <div class="smart-search-wrapper ajaxSearchResults" id="ajaxSearchResults">
       <div class="resultsContent">
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</header>
