<header class="mainHeader--height">
 <div class="mainHeader mainHeader_temp01" id="main-header">
  <div class="mainHeader-middle">
   <div class="container">
    <div class="flex-container-header">
     <div class="header-wrap-iconav header-wrap-actions">
      <div class="header-action">
       <div class="header-action-item header-action_menu js-act-sitenav" data-id="#js-sitenav-menu">
        <div class="header-action_text">
         <button aria-label="Menu" class="header-action__link" id="site-menu-handle" title="Menu">
          <svg fill="currentColor" height="20px" stroke="currentColor" viewbox="0 0 448 512" width="20px" xmlns="http://www.w3.org/2000/svg">
           <path d="M442 114H6a6 6 0 0 1-6-6V84a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6zm0 160H6a6 6 0 0 1-6-6v-24a6 6 0 0 1 6-6h436a6 6 0 0 1 6 6v24a6 6 0 0 1-6 6z">
           </path>
          </svg>
         </button>
        </div>
       </div>
      </div>
     </div>
     <div class="header-wrap-left">
      <div class="header-wrap-logo">
       <div class="wrap-logo" itemscope="" itemtype="http://schema.org/Organization">
        <h1>
         <a href="https://flyfeet.myharavan.com" itemprop="url">
          FlyFeet
         </a>
        </h1>
       </div>
      </div>
      <div class="header-wrap-menu">
       <nav class="navbar-mainmenu styleMega">
        <ul class="menuList-main">
         <li class="active">
          <a href="/" title="Trang chủ">
           Trang chủ
          </a>
         </li>
         <li class="has-submenu">
          <a href="/collections/all" title="Nam">
           Nam
           <span>
            <svg height="22" viewbox="0 0 128 128" width="22" xmlns="http://www.w3.org/2000/svg">
             <g>
              <path d="m44 108c-1.023 0-2.047-.391-2.828-1.172-1.563-1.563-1.563-4.094 0-5.656l37.172-37.172-37.172-37.172c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l40 40c1.563 1.563 1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z" data-original="currentColor" fill="currentColor">
              </path>
             </g>
            </svg>
           </span>
          </a>
          <ul class="menuList-submain">
           <div class="container">
            <li class="has-submenu active">
             <a href="/" title="Giày nam">
              Giày nam
             </a>
             <ul class="menuList-submain">
              <li class="active">
               <a href="/" title="Giày chạy bộ">
                Giày chạy bộ
               </a>
              </li>
              <li class="active">
               <a href="/" title="Giày bóng rổ">
                Giày bóng rổ
               </a>
              </li>
              <li class="active">
               <a href="/" title="Giày cầu lông">
                Giày cầu lông
               </a>
              </li>
              <li class="active">
               <a href="/" title="Giày dạo phố">
                Giày dạo phố
               </a>
              </li>
             </ul>
            </li>
            <li class="has-submenu active">
             <a href="/" title="Áo nam">
              Áo nam
             </a>
             <ul class="menuList-submain">
              <li class="">
               <a href="/collections/all" title="Áo chạy bộ">
                Áo chạy bộ
               </a>
              </li>
              <li class="active">
               <a href="/" title="Áo khoác">
                Áo khoác
               </a>
              </li>
             </ul>
            </li>
            <li class="has-submenu">
             <a href="/collections/all" title="Quần nam">
              Quần nam
             </a>
             <ul class="menuList-submain">
              <li class="">
               <a href="/collections/all" title="Quần short">
                Quần short
               </a>
              </li>
              <li class="">
               <a href="/collections/all" title="Quần dài">
                Quần dài
               </a>
              </li>
             </ul>
            </li>
           </div>
          </ul>
         </li>
         <li class="has-submenu">
          <a href="/collections/all" title="Nữ">
           Nữ
           <span>
            <svg height="22" viewbox="0 0 128 128" width="22" xmlns="http://www.w3.org/2000/svg">
             <g>
              <path d="m44 108c-1.023 0-2.047-.391-2.828-1.172-1.563-1.563-1.563-4.094 0-5.656l37.172-37.172-37.172-37.172c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l40 40c1.563 1.563 1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z" data-original="currentColor" fill="currentColor">
              </path>
             </g>
            </svg>
           </span>
          </a>
          <ul class="menuList-submain">
           <div class="container">
            <li class="has-submenu active">
             <a href="/" title="Giày nữ">
              Giày nữ
             </a>
             <ul class="menuList-submain">
              <li class="">
               <a href="/collections/all" title="Giày chạy bộ">
                Giày chạy bộ
               </a>
              </li>
              <li class="">
               <a href="/collections/all" title="Giày công sở">
                Giày công sở
               </a>
              </li>
              <li class="">
               <a href="/collections/all" title="Giày dạo phố">
                Giày dạo phố
               </a>
              </li>
             </ul>
            </li>
            <li class="has-submenu">
             <a href="/collections/all" title="Áo nữ">
              Áo nữ
             </a>
             <ul class="menuList-submain">
              <li class="">
               <a href="/collections/all" title="Áo thể thao">
                Áo thể thao
               </a>
              </li>
              <li class="">
               <a href="/collections/all" title="Áo khoác">
                Áo khoác
               </a>
              </li>
             </ul>
            </li>
            <li class="has-submenu">
             <a href="/collections/all" title="Quần nữ">
              Quần nữ
             </a>
             <ul class="menuList-submain">
              <li class="">
               <a href="/collections/all" title="Quần short">
                Quần short
               </a>
              </li>
              <li class="">
               <a href="/collections/all" title="Quần dài">
                Quần dài
               </a>
              </li>
             </ul>
            </li>
            <li class="">
             <a href="/collections/all" title="Phụ kiện nữ">
              Phụ kiện nữ
             </a>
            </li>
           </div>
          </ul>
         </li>
         <li class="">
          <a href="/collections/all" title="Phụ kiện">
           Phụ kiện
          </a>
         </li>
         <li class="has-submenu">
          <a href="/collections/all" title="Sản phẩm">
           Sản phẩm
           <span>
            <svg height="22" viewbox="0 0 128 128" width="22" xmlns="http://www.w3.org/2000/svg">
             <g>
              <path d="m44 108c-1.023 0-2.047-.391-2.828-1.172-1.563-1.563-1.563-4.094 0-5.656l37.172-37.172-37.172-37.172c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l40 40c1.563 1.563 1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z" data-original="currentColor" fill="currentColor">
              </path>
             </g>
            </svg>
           </span>
          </a>
          <ul class="menuList-submain">
           <div class="container">
            <li class="">
             <a href="https://flyfeet.myharavan.com/products/adidas-eqt-cushion-adv-north-america?view=style-01" title="Kiểu hiển thị 1">
              Kiểu hiển thị 1
             </a>
            </li>
            <li class="">
             <a href="https://flyfeet.myharavan.com/products/adidas-eqt-cushion-adv-north-america?view=style-02" title="Kiểu hiển thị 2">
              Kiểu hiển thị 2
             </a>
            </li>
            <li class="">
             <a href="https://flyfeet.myharavan.com/products/adidas-eqt-cushion-adv-north-america?view=style-03" title="Kiểu hiển thị 3">
              Kiểu hiển thị 3
             </a>
            </li>
           </div>
          </ul>
         </li>
         <li class="">
          <a href="/pages/san-pham-khuyen-mai" title="Khuyến mãi">
           Khuyến mãi
          </a>
         </li>
         <li class="has-submenu">
          <a href="/blogs/news" title="Blog">
           Blog
           <span>
            <svg height="22" viewbox="0 0 128 128" width="22" xmlns="http://www.w3.org/2000/svg">
             <g>
              <path d="m44 108c-1.023 0-2.047-.391-2.828-1.172-1.563-1.563-1.563-4.094 0-5.656l37.172-37.172-37.172-37.172c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l40 40c1.563 1.563 1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z" data-original="currentColor" fill="currentColor">
              </path>
             </g>
            </svg>
           </span>
          </a>
          <ul class="menuList-submain menuList-submain-banner">
           <div class="container">
            <li>
             <a class="ratio-image" href="/" title="Blog banner 1">
              <img alt="Blog banner 1" src="//theme.hstatic.net/200000758017/1001229453/14/mega_menu_1_img.jpg?v=22"/>
             </a>
             <a href="/" title="Blog banner 1">
              Blog banner 1
             </a>
            </li>
            <li>
             <a class="ratio-image" href="/" title="Blog banner 2">
              <img alt="Blog banner 2" src="//theme.hstatic.net/200000758017/1001229453/14/mega_menu_2_img.jpg?v=22"/>
             </a>
             <a href="/" title="Blog banner 2">
              Blog banner 2
             </a>
            </li>
            <li>
             <a class="ratio-image" href="/" title="Blog banner 3">
              <img alt="Blog banner 3" src="//theme.hstatic.net/200000758017/1001229453/14/mega_menu_3_img.jpg?v=22"/>
             </a>
             <a href="/" title="Blog banner 3">
              Blog banner 3
             </a>
            </li>
            <li>
             <a class="ratio-image" href="/" title="Blog banner 4">
              <img alt="Blog banner 4" src="//theme.hstatic.net/200000758017/1001229453/14/mega_menu_4_img.jpg?v=22"/>
             </a>
             <a href="/" title="Blog banner 4">
              Blog banner 4
             </a>
            </li>
            <li>
             <a class="ratio-image" href="/" title="Blog banner 5">
              <img alt="Blog banner 5" src="//theme.hstatic.net/200000758017/1001229453/14/mega_menu_5_img.jpg?v=22"/>
             </a>
             <a href="/" title="Blog banner 5">
              Blog banner 5
             </a>
            </li>
            <li>
             <a class="ratio-image" href="/" title="Blog banner 6">
              <img alt="Blog banner 6" src="//theme.hstatic.net/200000758017/1001229453/14/mega_menu_6_img.jpg?v=22"/>
             </a>
             <a href="/" title="Blog banner 6">
              Blog banner 6
             </a>
            </li>
           </div>
          </ul>
         </li>
         <li class="">
          <a href="/pages/about-us" title="Giới thiệu">
           Giới thiệu
          </a>
         </li>
         <li class="">
          <a href="/pages/lien-he" title="Liên hệ">
           Liên hệ
          </a>
         </li>
        </ul>
       </nav>
      </div>
     </div>
     <div class="header-wrap-right">
      <div class="header-wrap-actions">
       <div class="header-action">
        <div class="header-action-item header-action_search search-desktop activeSearchChecked d-none d-lg-block">
         <div class="search-form wpo-wrapper-search">
          <form action="/search" class="searchform searchform-categoris ultimate-search">
           <div class="wpo-search-inner">
            <input name="type" type="hidden" value="product">
             <input autocomplete="off" class="input-search" id="inputSearchAuto" maxlength="40" name="q" placeholder="Tìm kiếm sản phẩm..." required="" size="20" type="text"/>
            </input>
           </div>
           <button aria-label="button search" class="btn-search btn" type="submit">
            <svg class="svg search" style="enable-background:new 0 0 24 27;" version="1.1" viewbox="0 0 24 27" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
             <path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z">
             </path>
             <rect height="8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" x="17" y="17">
             </rect>
            </svg>
           </button>
          </form>
          <div class="smart-search-wrapper ajaxSearchResults" id="ajaxSearchResults">
           <div class="resultsContent">
           </div>
          </div>
         </div>
        </div>
        <div class="header-action-item header-action_cart js-sitenav-cart js-act-sitenav show-mb" data-id="#js-sitenav-cart">
         <div class="header-action_text">
          <button aria-label="Giỏ hàng" class="header-action__link" id="site-cart-handle" title="Giỏ hàng">
           <span class="box-icon">
            <svg height="22" viewbox="0 0 22 22" width="22" xmlns="http://www.w3.org/2000/svg">
             <path d="M15.95 6H19.7V17.875C19.7 18.7344 19.3875 19.4635 18.7625 20.0625C18.1635 20.6875 17.4344 21 16.575 21H5.325C4.46563 21 3.72344 20.6875 3.09844 20.0625C2.49948 19.4635 2.2 18.7344 2.2 17.875V6H5.95C5.95 4.61979 6.43177 3.44792 7.39531 2.48438C8.3849 1.49479 9.56979 1 10.95 1C12.3302 1 13.5021 1.49479 14.4656 2.48438C15.4552 3.44792 15.95 4.61979 15.95 6ZM13.1375 3.8125C12.5385 3.1875 11.8094 2.875 10.95 2.875C10.0906 2.875 9.34844 3.1875 8.72344 3.8125C8.12448 4.41146 7.825 5.14062 7.825 6H14.075C14.075 5.14062 13.7625 4.41146 13.1375 3.8125ZM17.825 17.875V7.875H15.95V9.4375C15.95 9.69792 15.8589 9.91927 15.6766 10.1016C15.4943 10.2839 15.2729 10.375 15.0125 10.375C14.7521 10.375 14.5307 10.2839 14.3484 10.1016C14.1661 9.91927 14.075 9.69792 14.075 9.4375V7.875H7.825V9.4375C7.825 9.69792 7.73385 9.91927 7.55156 10.1016C7.36927 10.2839 7.14792 10.375 6.8875 10.375C6.62708 10.375 6.40573 10.2839 6.22344 10.1016C6.04115 9.91927 5.95 9.69792 5.95 9.4375V7.875H4.075V17.875C4.075 18.2135 4.19219 18.5 4.42656 18.7344C4.68698 18.9948 4.98646 19.125 5.325 19.125H16.575C16.9135 19.125 17.2 18.9948 17.4344 18.7344C17.6948 18.5 17.825 18.2135 17.825 17.875Z">
             </path>
            </svg>
            <span class="box-icon--close">
             <svg role="presentation" viewbox="0 0 19 19">
              <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd">
              </path>
             </svg>
            </span>
            <span class="count-holder">
             <span class="count">
              0
             </span>
            </span>
           </span>
          </button>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="header-action-item header-action_search search-mobile d-block d-lg-none">
     <div class="search-form wpo-wrapper-search">
      <form action="/search" class="searchform searchform-categoris ultimate-search">
       <div class="wpo-search-inner">
        <input name="type" type="hidden" value="product">
         <input autocomplete="off" class="input-search" id="inputSearchAuto" maxlength="40" name="q" placeholder="Tìm kiếm sản phẩm..." required="" size="20" type="text"/>
        </input>
       </div>
       <button aria-label="button search" class="btn-search btn" type="submit">
        <svg class="svg search" style="enable-background:new 0 0 24 27;" version="1.1" viewbox="0 0 24 27" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
         <path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z">
         </path>
         <rect height="8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" x="17" y="17">
         </rect>
        </svg>
       </button>
      </form>
      <div class="smart-search-wrapper ajaxSearchResults" id="ajaxSearchResults">
       <div class="resultsContent">
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</header>
