<footer class="footer-main">
 <div class="container">
  <div class="footer-top">
   <div class="footer-top--wrap">
    <div class="row">
     <div class="col-12 col-md-6 col-lg-9">
      <div class="detail">
       <h3>
        <svg aria-label="Pandora" viewbox="0 0 429 115" xmlns="http://www.w3.org/2000/svg">
         <path d="M269.435 25.509c18.17 0 31.976 14.012 31.976 32.246 0 18.323-13.806 32.245-31.976 32.245-17.993 0-31.977-13.922-31.977-32.245 0-18.234 13.984-32.246 31.977-32.246zm-73.166.898c19.24 0 32.51 13.114 32.51 31.527 0 18.234-13.538 31.886-32.688 31.886-5.01 0-9.448-.473-13.456-.533l-.796-.006h-6.413l-.089-.09s.43-4.242.445-11.622V38.533c0-7.496-.429-11.875-.444-12.032v-.004l.088-.09h20.843zm-178.01 0c12.203 0 22.803 7.006 22.803 19.401 0 12.755-10.51 20.3-22.802 20.3-1.19 0-4.572-.164-6.272-.335l-.23-.024-.09.09v11.73c.016 7.243.43 11.464.445 11.618v.005l-.088.09H.089L0 89.191s.43-4.243.445-11.623V38.533C.445 31.037.016 26.658 0 26.5v-.004l.089-.09h18.17zm55.025 0l.089.09s.418 1.77 1.658 4.739l.123.29 22.179 51.019c1.91 4.203 3.482 6.529 3.56 6.642l.003.005v.09H88.604l-.09-.09-.007-.02c-.086-.212-.824-2.053-2.013-5.319l-.117-.32-4.097-9.61H55.202l-3.83 9.61c-1.47 3.665-1.765 5.21-1.78 5.625l-.001.034-.09.09H37.21v-.09s1.693-2.22 3.43-6.327l.133-.32 21.02-51.018c1.295-3.045 1.67-4.91 1.692-5.025v-.005l.09-.09h9.709zm44.781 0l33.669 43.743h.089V38.12c-.016-7.38-.446-11.623-.446-11.623l.09-.09h10.866l.09.09s-.446 4.401-.446 12.036v39.036c.016 7.38.445 11.623.445 11.623l-.089.09H152.18L118.332 44.91h-.089v32.246c0 7.634.446 12.036.446 12.036l-.09.09h-10.866l-.09-.09s.446-4.402.446-12.036V32.695c0-1.348-.713-3.324-2.049-6.198l.09-.09h11.935zm214.08 0c12.203 0 20.13 9.162 20.13 19.581 0 7.52-5.877 15.042-12.268 16.638l-.291.069v.09c2.223.603 4.446 2.448 5.96 4.82l.186.3 6.057 10.06c3.955 6.59 7.413 10.92 7.647 11.211l.013.016v.09h-14.252l-.089-.09s-1.72-4.249-5.75-10.87l-.217-.358-5.077-8.263c-2.093-3.341-4.356-4.53-10.046-4.58l-.376-.001v12.036c0 7.496.43 11.874.445 12.031v.005l-.089.09h-11.935l-.09-.09s.43-4.243.446-11.623v-39.45c-.015-7.243-.43-11.464-.445-11.618v-.004l.089-.09h19.952zm69.653 0l.089.09s.445 1.886 1.781 5.03l22.179 51.018c1.96 4.311 3.563 6.647 3.563 6.647v.09h-12.292l-.09-.09s-.8-1.976-2.137-5.66l-4.097-9.61h-27.078l-3.83 9.61c-1.514 3.773-1.781 5.3-1.781 5.66l-.09.09h-12.291v-.09s1.781-2.336 3.563-6.647l21.02-51.018c1.337-3.144 1.693-5.03 1.693-5.03l.089-.09h9.709zm-132.363 9.431c-11.58 0-20.576 9.521-20.576 21.917 0 12.395 8.996 21.916 20.576 21.916 11.668 0 20.664-9.521 20.664-21.916 0-12.396-8.996-21.917-20.664-21.917zm-74.146.809h-8.284v39.97c0 1.706.179 2.066 1.158 2.335 1.604.45 4.365.539 7.393.539 13.183 0 21.823-9.341 21.823-21.467 0-12.216-8.64-21.377-22.09-21.377zm-126.993 4.76h-.09L59.39 63.593h18.437l-9.53-22.186zm328.514 0h-.09l-8.818 22.186h18.438l-9.53-22.186zm-378.194-4.67h-6.948v18.592c1.425.27 4.632.45 6.057.45 7.66 0 11.936-3.593 11.936-9.97 0-6.557-4.9-9.073-11.045-9.073zm312.015-.09h-6.859V54.79c1.693.36 4.186.36 5.612.36 7.838 0 11.49-4.312 11.49-9.072 0-5.03-3.563-9.431-10.243-9.431zm-55.228-18.324c1.068 0 2.048.899 2.048 2.066 0 1.258-.98 2.156-2.048 2.156a2.119 2.119 0 01-2.139-2.156c0-1.167.98-2.066 2.139-2.066zm-11.936 0c1.069 0 2.049.899 2.049 2.066 0 1.258-.98 2.156-2.05 2.156a2.119 2.119 0 01-2.137-2.156c0-1.167.98-2.066 2.138-2.066zm5.968-.628c1.068 0 2.048.898 2.048 2.066 0 1.257-.98 2.155-2.048 2.155a2.119 2.119 0 01-2.138-2.155c0-1.168.98-2.066 2.138-2.066zm10.777-15.18l.445.09.09.09-2.583 13.832-.09.09-3.562-.809-.09-.09 5.701-13.113.09-.09zm-21.555 0l.09.09 5.7 13.114-.09.09-3.562.808-.09-.09-2.582-13.832.089-.09.445-.09zM269.702 0l.089.09 1.514 15.449-.089.09h-3.563l-.09-.09 1.604-15.45.09-.089h.445z" fill="#27251F" fill-rule="evenodd">
         </path>
        </svg>
       </h3>
       <p>
        Nhận ưu đãi 10% cho khách hàng mới
       </p>
      </div>
     </div>
     <div class="col-12 col-md-6 col-lg-3">
      <div class="action">
       <a class="btn btn-secondary btn-full" href="https://pandora.norbreeze.vn/account/login">
        Đăng ký ngay
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="footer-bottom">
   <div class="d-flex flex-wrap">
    <div class="footer-item col-lg collapsible-md">
     <div class="content-asset">
      <div class="title">
       <h4>
        Khám phá
       </h4>
      </div>
      <div class="content">
       <ul class="menu-footer">
        <li>
         <a href="/collections/charms">
          Charms
         </a>
        </li>
        <li>
         <a href="/collections/vongtaypandora">
          Vòng tay
         </a>
        </li>
        <li>
         <a href="/collections/day-chuyen-1">
          Dây chuyền
         </a>
        </li>
        <li>
         <a href="/collections/hoataipandora">
          Hoa tai
         </a>
        </li>
        <li>
         <a href="/collections/nhan-pandora">
          Nhẫn
         </a>
        </li>
        <li>
         <a href="https://pandora.norbreeze.vn/collections/khuyen-mai">
          Combo
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <div class="footer-item col-lg collapsible-md">
     <div class="content-asset">
      <div class="title">
       <h4>
        Chăm sóc khách hàng
       </h4>
      </div>
      <div class="content">
       <ul class="menu-footer">
        <li>
         <a href="/pages/cau-hoi-thuong-gap">
          Câu hỏi thường gặp
         </a>
        </li>
        <li>
         <a href="/pages/chinh-sach-bao-mat">
          Chính sách bảo mật
         </a>
        </li>
        <li>
         <a href="/pages/hinhthucthanhtoan">
          Chính sách thanh toán
         </a>
        </li>
        <li>
         <a href="/pages/chinh-sach-giao-nhan">
          Chính sách giao nhận
         </a>
        </li>
        <li>
         <a href="/pages/chinh-sach-doi-hang-1">
          Chính sách đổi hàng
         </a>
        </li>
        <li>
         <a href="https://pandora.norbreeze.vn/pages/chuong-trinh-thanh-vien">
          Chính sách thành viên
         </a>
        </li>
        <li>
         <a href="https://pandora.norbreeze.vn/pages/dich-vu-ve-sinh-lam-sach-trang-suc-pandora">
          Quy trình làm sạch trang sức
         </a>
        </li>
        <li>
         <a href="https://pandora.norbreeze.vn/pages/huong-dan-dang-ky-tai-khoan-tren-website-pandora">
          Hướng dẫn tạo tài khoản login
         </a>
        </li>
        <li>
         <a href="/pages/huong-dan-bao-duong-trang-suc">
          Hướng dẫn bảo dưỡng trang sức
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <div class="footer-item col-lg collapsible-md">
     <div class="content-asset">
      <div class="title">
       <h4>
        Dịch vụ giao hàng
       </h4>
      </div>
      <div class="content">
       <ul class="menu-footer">
        <li>
         <a href="https://i.ghtk.vn/">
          Giao hàng tiết kiệm
         </a>
        </li>
        <li>
         <a href="https://www.ahamove.com/">
          Ahamove
         </a>
        </li>
        <li>
         <a href="https://onapp.haravan.com/orderstrackingphone/shop/cocomivn?sid=im9CN2NdBB8SokS3LCZT1hBQR9Ufx7rD">
          Kiểm tra đơn hàng
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <div class="footer-item col-lg collapsible-md">
     <div class="content-asset">
      <div class="title">
       <h4>
        Hệ thống cửa hàng
       </h4>
      </div>
      <div class="content">
       <ul class="menu-footer">
        <li>
         <a href="https://pandora.norbreeze.vn/pages/he-thong-cua-hang">
          Cửa hàng toàn quốc
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <div class="footer-item col-lg collapsible-md">
     <div class="content-asset">
      <div class="title">
       <h4>
        Về chúng tôi
       </h4>
      </div>
      <div class="content">
       <ul class="menu-footer">
        <li>
         <a href="/pages/ve-pandora">
          Về Pandora
         </a>
        </li>
        <li>
         <a href="/pages/cau-chuyen-ve-pandora">
          Câu chuyện Pandora
         </a>
        </li>
        <li>
         <a href="/pages/ve-tap-doan-norbreeze">
          Về Tập Đoàn Norbreeze
         </a>
        </li>
        <li>
         <a href="https://nca.com.vn/cate-jobs/nhan-vien-ban-hang-hcm-hanoi/">
          Tuyển dụng
         </a>
        </li>
        <li>
         <a href="/pages/lien-he">
          Liên hệ
         </a>
        </li>
        <li>
         <a href="https://pandora.norbreeze.vn/pages/he-thong-cua-hang">
          Cửa hàng toàn quốc
         </a>
        </li>
        <li>
         <a href="https://pandora.norbreeze.vn/blogs/all">
          Blogs
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="copyright">
   <div class="d-flex flex-wrap">
    <div class="col-sm-4 order-sm-2 py-3 px-0 py-sm-0">
     <div class="footer-social">
      <ul class="justify-content-sm-end">
       <li>
        <a href="https://www.facebook.com/pandoravn" target="_blank">
         <svg style="enable-background:new 0 0 19.8 19.6;" version="1.1" viewbox="0 0 19.8 19.6" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
          <path d="M9.9,0C4.4,0,0,4.4,0,9.9c0,4.9,3.6,9,8.4,9.7v-6.9H5.8V9.9h2.5V7.7c0-2.5,1.5-3.8,3.7-3.8c1.1,0,2.2,0.2,2.2,0.2v2.4H13
														 c-1.2,0-1.6,0.7-1.6,1.5v1.9h2.7l-0.4,2.8h-2.3v6.9c4.8-0.7,8.4-4.8,8.4-9.7C19.8,4.4,15.4,0,9.9,0z">
          </path>
         </svg>
        </a>
       </li>
       <li>
        <a href="https://www.instagram.com/theofficialpandora" target="_blank">
         <svg viewbox="0 0 11.81 11.81" xmlns="http://www.w3.org/2000/svg">
          <path d="M6,3a2.92,2.92,0,0,1,1.52.41,3.05,3.05,0,0,1,1.1,1.1,3,3,0,0,1,0,3,3.05,3.05,0,0,1-1.1,1.1,3,3,0,0,1-3,0,3.05,3.05,0,0,1-1.1-1.1,3,3,0,0,1,0-3,3.05,3.05,0,0,1,1.1-1.1A2.92,2.92,0,0,1,6,3ZM6,8A2,2,0,1,0,4.6,7.4,2,2,0,0,0,6,8ZM9.88,2.84a.86.86,0,0,1-.23.5.64.64,0,0,1-.49.21.72.72,0,0,1-.71-.71.71.71,0,0,1,.21-.51.69.69,0,0,1,.5-.21.72.72,0,0,1,.72.72Zm2,.71c0,.49,0,1.31,0,2.45s0,2,0,2.47a4.8,4.8,0,0,1-.23,1.3,3,3,0,0,1-1.87,1.87,4.8,4.8,0,0,1-1.3.23c-.51,0-1.33,0-2.47,0s-2,0-2.47,0a4.42,4.42,0,0,1-1.3-.25,2.9,2.9,0,0,1-1.15-.7A3.2,3.2,0,0,1,.36,9.77a4.8,4.8,0,0,1-.23-1.3C.11,8,.09,7.14.09,6s0-2,0-2.47a4.8,4.8,0,0,1,.23-1.3,3.2,3.2,0,0,1,.72-1.15A3.2,3.2,0,0,1,2.23.36,4.8,4.8,0,0,1,3.53.13C4,.11,4.86.09,6,.09s2,0,2.47,0a4.8,4.8,0,0,1,1.3.23,3.2,3.2,0,0,1,1.15.72,3.2,3.2,0,0,1,.72,1.15A5.28,5.28,0,0,1,11.88,3.55ZM10.61,9.48a5.46,5.46,0,0,0,.22-1.42c0-.39,0-.94,0-1.64V5.58c0-.72,0-1.27,0-1.64a5.23,5.23,0,0,0-.22-1.42A1.86,1.86,0,0,0,9.48,1.39a5.23,5.23,0,0,0-1.42-.22l-1.64,0H5.58l-1.64,0a5.46,5.46,0,0,0-1.42.22A1.86,1.86,0,0,0,1.39,2.52a5.23,5.23,0,0,0-.22,1.42c0,.39,0,.94,0,1.64v.84c0,.7,0,1.25,0,1.64a5.46,5.46,0,0,0,.22,1.42,1.94,1.94,0,0,0,1.13,1.13,5.46,5.46,0,0,0,1.42.22l1.64,0h.84l1.64,0a5.23,5.23,0,0,0,1.42-.22A1.94,1.94,0,0,0,10.61,9.48Z" style="fill:#000;fill-rule:evenodd" transform="translate(-0.09 -0.09)">
          </path>
         </svg>
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div class="col-sm-8 order-sm-1 pt-3 pl-0 pt-sm-0">
     <div class="footer-copyright">
      <span style="display: block;">
       © Pandora Jewelry, LLC. All rights reserved.
      </span>
      <a href="http://online.gov.vn/Home/WebDetails/89400" style="display: block;" target="_blank">
       <img height="45" src="//theme.hstatic.net/200000103143/1000942575/14/new_footer_bct.png?v=5377" style="width: 118px;"/>
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
</footer>
<div class="social-contact">
 <div class="button-social-contact">
  <button class="btn">
   Liên hệ
  </button>
 </div>
 <div class="list-social-chat active">
  <div class="fb-icon">
   <a aria-label="fb social" href="https://www.messenger.com/t/450846288276998/?utm_source=FB&amp;utm_medium=Mess&amp;utm_campaign=click_messenger_HRV" target="_blank">
    <svg fill="none" viewbox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
     <circle cx="22" cy="22" fill="url(#paint3_linear)" r="22">
     </circle>
     <path clip-rule="evenodd" d="M22.0026 7.70215C14.1041 7.70215 7.70117 13.6308 7.70117 20.9442C7.70117 25.1115 9.78083 28.8286 13.0309 31.256V36.305L17.9004 33.6325C19.2 33.9922 20.5767 34.1863 22.0026 34.1863C29.9011 34.1863 36.304 28.2576 36.304 20.9442C36.304 13.6308 29.9011 7.70215 22.0026 7.70215ZM23.4221 25.5314L19.7801 21.6471L12.6738 25.5314L20.4908 17.2331L24.2216 21.1174L31.239 17.2331L23.4221 25.5314Z" fill="white" fill-rule="evenodd">
     </path>
     <defs>
      <lineargradient gradientunits="userSpaceOnUse" id="paint3_linear" x1="21.6426" x2="21.6426" y1="43.3555" y2="0.428639">
       <stop stop-color="#ffcad4">
       </stop>
       <stop offset="1" stop-color="#ffcad4">
       </stop>
      </lineargradient>
     </defs>
    </svg>
   </a>
  </div>
  <div class="zalo-icon">
   <a alt="zalo" href="https://zalo.me/752168566862100952?utm_source=ZALO&amp;utm_medium=Zalo&amp;utm_campaign=click_zalobutton_HRV" target="_blank">
    <svg id="Layer_2_00000063599641603698683780000005733330940780045713_" style="enable-background:new 0 0 1080 1080;" version="1.1" viewbox="0 0 1080 1080" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
      <style type="text/css">
       .st0{fill:#FFFFFF;stroke:#FFA0C8;stroke-width:14.74;stroke-miterlimit:10;}
       .st1{fill-rule:evenodd;clip-rule:evenodd;fill:#FFA0C8;}
       .st2{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
      </style>
     <circle class="st0" cx="540.5" cy="540.5" r="428">
     </circle>
     <path class="st1" d="M540.5,240.5c-178.2,0-322.7,131.6-322.7,294c0,89.6,44,169.8,113.4,223.8l-6.5,87l83.8-42.5  c40.3,16.5,85,25.7,132.1,25.7c178.2,0,322.7-131.6,322.7-294S718.7,240.5,540.5,240.5L540.5,240.5z">
     </path>
     <path class="st2" d="M557.9,490.3v-8.6h25.6v120.3h-14.7c-6,0-10.9-4.9-11-10.9c0,0,0,0,0,0c-10.3,7.5-23.1,12-36.9,12  c-34.5,0-62.5-28-62.5-62.5s28-62.5,62.5-62.5C534.8,478.3,547.6,482.7,557.9,490.3C557.9,490.3,557.9,490.3,557.9,490.3  L557.9,490.3z M451.9,443v3.9c0,7.3-1,13.2-5.7,20.2l-0.6,0.6c-1,1.2-3.5,3.9-4.6,5.4l-82.3,103.3h93.2v14.6c0,6.1-4.9,11-11,11  H320.1v-6.9c0-8.5,2.1-12.2,4.8-16.1l87.7-108.6h-88.8V443L451.9,443L451.9,443z M614.6,602.1c-5,0-9.1-4.1-9.1-9.1V443.1h27.4v159  H614.6z M714.1,477.5c34.8,0,62.9,28.2,62.9,62.9s-28.2,62.9-62.9,62.9s-62.9-28.2-62.9-62.9S679.3,477.5,714.1,477.5L714.1,477.5z   M521,577.5c20.3,0,36.8-16.5,36.8-36.8S541.3,504,521,504s-36.8,16.5-36.8,36.7S500.7,577.5,521,577.5z M714.1,577.4  c20.4,0,37-16.6,37-37s-16.6-37-37-37s-37,16.6-37,37S693.6,577.4,714.1,577.4L714.1,577.4z">
     </path>
     </svg>
   </a>
  </div>
 </div>
</div>
<div class="modal fade modal-contact modalBanner" id="contactModal" role="dialog" tabindex="-1">
 <div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
   <div class="modal-wrapper-contact">
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
     <svg aria-label="icon cross" role="img" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd" d="M9.222 9.922a.1.1 0 010 .142L.08 19.206a.1.1 0 000 .14l.56.572a.1.1 0 00.141 0l9.148-9.147a.1.1 0 01.142 0l9.142 9.142a.1.1 0 00.14 0l.572-.56a.1.1 0 000-.142l-9.147-9.147a.1.1 0 010-.142L19.92.78a.1.1 0 000-.14l-.56-.572a.1.1 0 00-.142 0l-9.147 9.147a.1.1 0 01-.142 0L.787.073a.1.1 0 00-.14 0l-.572.56a.1.1 0 000 .141l9.147 9.148z" fill="#27251F" fill-rule="evenodd">
      </path>
     </svg>
    </button>
    <a class="linkbanner-modal-contact" href="https://pandora.norbreeze.vn/collections/national-holiday" title="SUMMER SALE PANDORA 50% ƯU ĐÃI HOÀN TIỀN 2.500.000Đ">
     <img alt="SUMMER SALE PANDORA 50% ƯU ĐÃI HOÀN TIỀN 2.500.000Đ" src="https://file.hstatic.net/200000103143/file/main_banner__3_.jpg"/>
    </a>
   </div>
  </div>
 </div>
</div>
<div aria-labelledby="removeProductLineItemModal" aria-modal="true" class="modal fade" data-auto="divCartRemoveProductModal" id="removeProductModal" role="dialog" tabindex="-1">
 <div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
   <div class="modal-header delete-confirmation-header">
    <h4 class="modal-title" data-auto="lblCartRemoveProductHeader">
     Xoá sản phẩm
    </h4>
    <button aria-label="Close" class="close" data-auto="btnCartRemoveProductClose" data-dismiss="modal" type="button">
     <svg aria-label="icon cross" role="img" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd" d="M9.222 9.922a.1.1 0 010 .142L.08 19.206a.1.1 0 000 .14l.56.572a.1.1 0 00.141 0l9.148-9.147a.1.1 0 01.142 0l9.142 9.142a.1.1 0 00.14 0l.572-.56a.1.1 0 000-.142l-9.147-9.147a.1.1 0 010-.142L19.92.78a.1.1 0 000-.14l-.56-.572a.1.1 0 00-.142 0l-9.147 9.147a.1.1 0 01-.142 0L.787.073a.1.1 0 00-.14 0l-.572.56a.1.1 0 000 .141l9.147 9.148z" fill="#27251F" fill-rule="evenodd">
      </path>
     </svg>
    </button>
   </div>
   <div class="modal-body delete-confirmation-body" data-auto="lblCartRemoveProductBody">
    Bạn muốn xoá sản phẩm từ giỏ hàng?
    <p class="product-to-remove highlight">
    </p>
   </div>
   <div class="modal-footer">
    <button class="btn btn-secondary order-md-2" data-dismiss="modal" id="btn-delete-confirm" type="button">
     CÓ, XOÁ
    </button>
    <button class="btn btn-outline order-md-1" data-dismiss="modal" id="btn-cancel-confirm" type="button">
     KHÔNG
    </button>
   </div>
  </div>
 </div>
</div>
<div aria-hidden="false" aria-labelledby="myLargeModalLabel" class="modal fade modal-quickview" id="quickviewProductModal" role="dialog" style="display: none!important;" tabindex="-1">
 <div class="modal-dialog modal-dialog-centered modal-lg modal-xl">
  <div class="modal-content">
   <div class="modal-header">
    <h4>
     <a href="/">
      Xem chi tiết sản phẩm
     </a>
    </h4>
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
     <svg aria-label="icon cross" role="img" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd" d="M9.222 9.922a.1.1 0 010 .142L.08 19.206a.1.1 0 000 .14l.56.572a.1.1 0 00.141 0l9.148-9.147a.1.1 0 01.142 0l9.142 9.142a.1.1 0 00.14 0l.572-.56a.1.1 0 000-.142l-9.147-9.147a.1.1 0 010-.142L19.92.78a.1.1 0 000-.14l-.56-.572a.1.1 0 00-.142 0l-9.147 9.147a.1.1 0 01-.142 0L.787.073a.1.1 0 00-.14 0l-.572.56a.1.1 0 000 .141l9.147 9.148z" fill="#27251F" fill-rule="evenodd">
      </path>
     </svg>
    </button>
   </div>
   <div class="modal-body">
   </div>
   <div class="modal-footer">
    <div class="quickviewdetail-footer">
     <button class="btn btn-secondary add-cart" id="qv-btn-addtocart" type="button">
       <span>
        Thêm vào giỏ
       </span>
     </button>
    </div>
   </div>
  </div>
 </div>
</div>

<div class="mask-overlay-engraving">
</div>
<div id="sidebar-engraving-review">
 <div class="wrap-engraving">
  <div class="head-sidebar">
   <div class="title-sidebar">
    Xem lại bản khắc của bạn
   </div>
   <div class="close-sidebar">
    <svg  height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 64 64" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
      <g>
       <path d="M4.59 59.41a2 2 0 0 0 2.83 0L32 34.83l24.59 24.58a2 2 0 0 0 2.83-2.83L34.83 32 59.41 7.41a2 2 0 0 0-2.83-2.83L32 29.17 7.41 4.59a2 2 0 0 0-2.82 2.82L29.17 32 4.59 56.59a2 2 0 0 0 0 2.82z" data-original="#000000" fill="#000000" opacity="1">
       </path>
      </g>
     </svg>
   </div>
  </div>
  <div class="content-sidebar">
   <div class="item-review-engraving" data-review="front">
    <div class="head-review">
     Mặt trước
    </div>
    <div class="style-img-review img-front-review">
    </div>
    <div class="style-review-added review-added-front">
    </div>
   </div>
   <div class="item-review-engraving" data-review="back">
    <div class="head-review">
     Mặt sau
    </div>
    <div class="style-img-review img-back-review">
    </div>
    <div class="style-review-added review-added-back">
    </div>
   </div>
  </div>
  <div class="box-note-preview">
   <div class="wrap-note-preview">
    <div class="notify-choose-size">
      <span class="notification__content">
       Vui lòng chọn
      </span>
    </div>
    <input name="acept-engraving" required="" type="checkbox" value="true"/>
    <p>
     Bằng việc chọn dịch vụ khắc chữ, khách hàng đồng ý không sử dụng bất kỳ ngôn ngữ hoặc hình ảnh nào mang tính xúc phạm,
     khiếm nhã hoặc vi phạm quyền sở hữu trí tuệ của bên thứ ba. Chúng tôi có quyền từ chối bất kỳ yêu cầu khắc nào.
     Tất cả sản phẩm có khắc chữ là giá bán cuối cùng và không chấp nhận đổi trả.
    </p>
   </div>
   <a href="/pages/chinh-sach-dich-vu-khac-ten-tren-san-pham-trang-suc">
    Q&amp;A
   </a>
  </div>
  <div class="action-print">
   <button id="addtocart-engraving">
    Lưu và thêm vào giỏ hàng
   </button>
   <button class="back-engraving">
    Quay lại
   </button>
  </div>
 </div>
</div>
<div id="sidebar-engraving">
 <div id="show-design">
 </div>
 <div class="wrap-engraving">
  <div class="head-sidebar">
   <div class="title-sidebar">
    Khắc thông điệp của bạn
   </div>
   <div class="close-sidebar">
    <svg  height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 64 64" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
      <g>
       <path d="M4.59 59.41a2 2 0 0 0 2.83 0L32 34.83l24.59 24.58a2 2 0 0 0 2.83-2.83L34.83 32 59.41 7.41a2 2 0 0 0-2.83-2.83L32 29.17 7.41 4.59a2 2 0 0 0-2.82 2.82L29.17 32 4.59 56.59a2 2 0 0 0 0 2.82z" data-original="#000000" fill="#000000" opacity="1">
       </path>
      </g>
     </svg>
   </div>
  </div>
  <div class="tab-front-back">
   <div class="item-tab active" data-tab="front">
    Mặt trước
   </div>
   <div class="item-tab" data-tab="back">
    Mặt sau
   </div>
  </div>
  <div class="alert-danger engraving-one-side-note d-none">
   <svg  height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 512 512" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
     <g>
      <path  d="M256 0C114.497 0 0 114.507 0 256c0 141.503 114.507 256 256 256 141.503 0 256-114.507 256-256C512 114.497 397.493 0 256 0zm0 472c-119.393 0-216-96.615-216-216 0-119.393 96.615-216 216-216 119.393 0 216 96.615 216 216 0 119.393-96.615 216-216 216z" data-original="#000000" fill="#000000" opacity="1">
      </path>
      <path  d="M256 128.877c-11.046 0-20 8.954-20 20V277.67c0 11.046 8.954 20 20 20s20-8.954 20-20V148.877c0-11.046-8.954-20-20-20z" data-original="#000000" fill="#000000" opacity="1">
      </path>
      <circle  cx="256" cy="349.16" data-original="#000000" fill="#000000" opacity="1" r="27">
      </circle>
     </g>
    </svg>
   <div class="content-asset">
    Thật không may, mặt được chọn không cho phép khắc. Một số thiết kế không cho phép khắc ở cả hai mặt.
   </div>
  </div>
  <div class="type-engraving">
   <div class="item-type active" data-tab="text">
    <img alt="Text &amp; Icons" src="https://file.hstatic.net/200000103143/file/textandsymbol.png"/>
    <span>
      Thông điệp
     </span>
   </div>
   <div class="item-type" data-tab="image">
    <img alt="Zodiac" src="https://file.hstatic.net/200000103143/file/constellations.png"/>
    <span>
      Biểu tượng
     </span>
   </div>
  </div>
  <input id="hidden-input" style="position: absolute; opacity: 0; pointer-events: none;" type="text"/>
  <div class="face-print active" data-face="front" id="canvas-capture-front">
   <img alt="" id="image-front" src="https://product.hstatic.net/200000103143/product/pngtrpnt_793439c00_v2_rgb_aa6d66b9db664812b1dc9d2b346eaad4_50525c9e0dbd4e1a83f96e0e5f273101_master.png"/>
   <div class="slider-ranger-size-front">
     <span>
      65px
     </span>
    <input max="65" min="10" type="range" value="65"/>
   </div>
   <div class="draw-icon-text">
    <div id="canvasContainer-front">
     <div id="myCanvas-front">
     </div>
    </div>
   </div>
   <div class="draw-image">
   </div>
  </div>
  <div class="face-print" data-face="back" id="canvas-capture-back">
   <img alt="" id="image-back" src="https://product.hstatic.net/200000103143/product/pngtrpnt_793439c00_v2_rgb_aa6d66b9db664812b1dc9d2b346eaad4_50525c9e0dbd4e1a83f96e0e5f273101_master.png"/>
   <div class="slider-ranger-size-back">
     <span>
      65px
     </span>
    <input max="65" min="10" type="range" value="65"/>
   </div>
   <div class="draw-icon-text">
    <div id="canvasContainer-back">
     <div id="myCanvas-back">
     </div>
    </div>
   </div>
   <div class="draw-image">
   </div>
  </div>
  <div id="warningMessage">
  </div>
  <div class="group-optional">
   <div class="group-type group-icon active" data-tab="text">
    <div class="wrap-small-tab">
     <button class="btn-tab-type active" data-tab-type="fonts">
      Phông chữ
     </button>
     <button class="btn-tab-type" data-tab-type="icon">
      Icons
     </button>
    </div>
    <div class="content-small-tab">
     <div class="item-content-tab active" data-tab-type="fonts">
      <div class="wrap-input-text d-none">
       <input class="input-text-front" placeholder="Your text..." type="text"/>
      </div>
      <div class="inner-scroll-wrapper js-font-content">
       <button class="js-font-change active" data-attr-value="OptimaLTProRoman" default-font="true">
         <span>
          Aa
         </span>
       </button>
       <button class="js-font-change" data-attr-value="Casual_JennaSuePro" default-font="true">
         <span>
          Aa
         </span>
       </button>
       <button class="js-font-change" data-attr-value="TypewriterEliteMTStd" default-font="true">
         <span>
          Aa
         </span>
       </button>
       <button class="js-font-change" data-attr-value="Gothic_FRAKTUR" default-font="true">
         <span>
          Aa
         </span>
       </button>
       <button class="js-font-change" data-attr-value="Magazine_ROMAN" default-font="true">
         <span>
          Aa
         </span>
       </button>
       <button class="js-font-change" data-attr-value="Script_VANESSA" default-font="true">
         <span>
          Aa
         </span>
       </button>
      </div>
     </div>
     <div class="item-content-tab" data-tab-type="icon">
      <div class="inner-scroll-symbols js-icons-tabs-carousel">
       <button class="engraving-symbols-nav trai_tim selected" data-category="trai_tim">
         <span class="trai_tim">
          Trái tim
         </span>
       </button>
       <button class="engraving-symbols-nav dip_dac_biet" data-category="dip_dac_biet">
         <span class="dip_dac_biet">
          Dịp đặc biệt
         </span>
       </button>
       <button class="engraving-symbols-nav bieu_tuong" data-category="bieu_tuong">
         <span class="bieu_tuong">
          Biểu tượng
         </span>
       </button>
       <button class="engraving-symbols-nav dong_vat" data-category="dong_vat">
         <span class="dong_vat">
          Động vật
         </span>
       </button>
       <button class="engraving-symbols-nav thien_nhien" data-category="thien_nhien">
         <span class="thien_nhien">
          Thiên nhiên
         </span>
       </button>
       <button class="engraving-symbols-nav phong_cach" data-category="phong_cach">
         <span class="phong_cach">
          Phong cách
         </span>
       </button>
      </div>
      <div class="js-icons-vertical-carousel">
       <div class="engraving-symbols-content-title section-trai_tim">
        Trái tim
       </div>
       <div class="engraving-symbols-content-icons">
        <button class="btn js-btn-engraving-symbol" data-name="Trái tim" data-svgurl="https://file.hstatic.net/200000103143/file/heart1.png">
          <span>
           <img alt="Trái tim" src="https://file.hstatic.net/200000103143/file/heart1.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="Trái tim" data-svgurl="https://file.hstatic.net/200000103143/file/0xea73.png">
          <span>
           <img alt="Trái tim" src="https://file.hstatic.net/200000103143/file/0xea73.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="Hoa hồng" data-svgurl="https://file.hstatic.net/200000103143/file/0xea11.png">
          <span>
           <img alt="Hoa hồng" src="https://file.hstatic.net/200000103143/file/0xea11.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="XO" data-svgurl="https://file.hstatic.net/200000103143/file/0xea77.png">
          <span>
           <img alt="XO" src="https://file.hstatic.net/200000103143/file/0xea77.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="Trái tim" data-svgurl="https://file.hstatic.net/200000103143/file/0xea08.png">
          <span>
           <img alt="Trái tim" src="https://file.hstatic.net/200000103143/file/0xea08.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="Trái tim" data-svgurl="https://file.hstatic.net/200000103143/file/0xea07.png">
          <span>
           <img alt="Trái tim" src="https://file.hstatic.net/200000103143/file/0xea07.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="Vô cực" data-svgurl="https://file.hstatic.net/200000103143/file/0xea04.png">
          <span>
           <img alt="Vô cực" src="https://file.hstatic.net/200000103143/file/0xea04.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="Trái tim lửa" data-svgurl="https://file.hstatic.net/200000103143/file/0xea13.png">
          <span>
           <img alt="Trái tim lửa" src="https://file.hstatic.net/200000103143/file/0xea13.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="Đôi môi" data-svgurl="https://file.hstatic.net/200000103143/file/0xea76.png">
          <span>
           <img alt="Đôi môi" src="https://file.hstatic.net/200000103143/file/0xea76.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="MOM" data-svgurl="https://file.hstatic.net/200000103143/file/0xea85.png">
          <span>
           <img alt="MOM" src="https://file.hstatic.net/200000103143/file/0xea85.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="Bắn tim" data-svgurl="https://file.hstatic.net/200000103143/file/0xea12.png">
          <span>
           <img alt="Bắn tim" src="https://file.hstatic.net/200000103143/file/0xea12.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="Trái tim" data-svgurl="https://file.hstatic.net/200000103143/file/0xea75.png">
          <span>
           <img alt="Trái tim" src="https://file.hstatic.net/200000103143/file/0xea75.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea78.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea78.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea78.png" src="https://file.hstatic.net/200000103143/file/0xea78.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea74.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea74.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea74.png" src="https://file.hstatic.net/200000103143/file/0xea74.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea03.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea03.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea03.png" src="https://file.hstatic.net/200000103143/file/0xea03.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea09.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea09.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea09.png" src="https://file.hstatic.net/200000103143/file/0xea09.png"/>
          </span>
        </button>
       </div>
       <div class="engraving-symbols-content-title section-dip_dac_biet">
        Dịp đặc biệt
       </div>
       <div class="engraving-symbols-content-icons">
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea10.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea10.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea10.png" src="https://file.hstatic.net/200000103143/file/0xea10.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea01.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea01.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea01.png" src="https://file.hstatic.net/200000103143/file/0xea01.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea83.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea83.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea83.png" src="https://file.hstatic.net/200000103143/file/0xea83.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea28.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea28.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea28.png" src="https://file.hstatic.net/200000103143/file/0xea28.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea06.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea06.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea06.png" src="https://file.hstatic.net/200000103143/file/0xea06.png"/>
          </span>
        </button>
       </div>
       <div class="engraving-symbols-content-title section-bieu_tuong">
        Biểu tượng
       </div>
       <div class="engraving-symbols-content-icons">
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea56.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea56.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea56.png" src="https://file.hstatic.net/200000103143/file/0xea56.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea53.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea53.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea53.png" src="https://file.hstatic.net/200000103143/file/0xea53.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea54.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea54.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea54.png" src="https://file.hstatic.net/200000103143/file/0xea54.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea82.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea82.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea82.png" src="https://file.hstatic.net/200000103143/file/0xea82.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb04.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb04.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb04.png" src="https://file.hstatic.net/200000103143/file/0xeb04.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea37.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea37.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea37.png" src="https://file.hstatic.net/200000103143/file/0xea37.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea55.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea55.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea55.png" src="https://file.hstatic.net/200000103143/file/0xea55.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea33.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea33.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea33.png" src="https://file.hstatic.net/200000103143/file/0xea33.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea57.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea57.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea57.png" src="https://file.hstatic.net/200000103143/file/0xea57.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea02.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea02.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea02.png" src="https://file.hstatic.net/200000103143/file/0xea02.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea86.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea86.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea86.png" src="https://file.hstatic.net/200000103143/file/0xea86.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea58.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea58.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea58.png" src="https://file.hstatic.net/200000103143/file/0xea58.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea80.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea80.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea80.png" src="https://file.hstatic.net/200000103143/file/0xea80.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea80.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea80.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea80.png" src="https://file.hstatic.net/200000103143/file/0xea80.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea87.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea87.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea87.png" src="https://file.hstatic.net/200000103143/file/0xea87.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea81.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea81.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea81.png" src="https://file.hstatic.net/200000103143/file/0xea81.png"/>
          </span>
        </button>
       </div>
       <div class="engraving-symbols-content-title section-dong_vat">
        Động vật
       </div>
       <div class="engraving-symbols-content-icons">
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb32.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb32.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb32.png" src="https://file.hstatic.net/200000103143/file/0xeb32.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea16.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea16.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea16.png" src="https://file.hstatic.net/200000103143/file/0xea16.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea15.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea15.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea15.png" src="https://file.hstatic.net/200000103143/file/0xea15.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea14.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea14.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea14.png" src="https://file.hstatic.net/200000103143/file/0xea14.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb16.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb16.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb16.png" src="https://file.hstatic.net/200000103143/file/0xeb16.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea17.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea17.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea17.png" src="https://file.hstatic.net/200000103143/file/0xea17.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea97.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea97.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea97.png" src="https://file.hstatic.net/200000103143/file/0xea97.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb33.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb33.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb33.png" src="https://file.hstatic.net/200000103143/file/0xeb33.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb02.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb02.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb02.png" src="https://file.hstatic.net/200000103143/file/0xeb02.png"/>
          </span>
        </button>
       </div>
       <div class="engraving-symbols-content-title section-thien_nhien">
        Thiên nhiên
       </div>
       <div class="engraving-symbols-content-icons">
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb03.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb03.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb03.png" src="https://file.hstatic.net/200000103143/file/0xeb03.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea23.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea23.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea23.png" src="https://file.hstatic.net/200000103143/file/0xea23.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb31.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb31.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb31.png" src="https://file.hstatic.net/200000103143/file/0xeb31.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea24.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea24.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea24.png" src="https://file.hstatic.net/200000103143/file/0xea24.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea19.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea19.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea19.png" src="https://file.hstatic.net/200000103143/file/0xea19.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea27.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea27.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea27.png" src="https://file.hstatic.net/200000103143/file/0xea27.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea22.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea22.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea22.png" src="https://file.hstatic.net/200000103143/file/0xea22.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea26.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea26.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea26.png" src="https://file.hstatic.net/200000103143/file/0xea26.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea21.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea21.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea21.png" src="https://file.hstatic.net/200000103143/file/0xea21.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xea20.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xea20.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xea20.png" src="https://file.hstatic.net/200000103143/file/0xea20.png"/>
          </span>
        </button>
        <button class="btn js-btn-engraving-symbol" data-name="https://file.hstatic.net/200000103143/file/0xeb17.png" data-svgurl="https://file.hstatic.net/200000103143/file/0xeb17.png">
          <span>
           <img alt="https://file.hstatic.net/200000103143/file/0xeb17.png" src="https://file.hstatic.net/200000103143/file/0xeb17.png"/>
          </span>
        </button>
       </div>
       <div class="engraving-symbols-content-title section-phong_cach">
        Phong cách
       </div>
       <div class="engraving-symbols-content-icons">
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="group-type group-image" data-tab="image">
    <div class="swiper swiper-engraving">
     <div class="swiper-wrapper">
      <div class="swiper-slide">
       <div class="item-type-image">
        <div class="head-type">
         Cung hoàng đạo
        </div>
        <div class="list-icon">
         <div class="item-icon">
          <button>
           <img alt="Kim Ngưu" src="https://file.hstatic.net/200000103143/file/0xea62.svg"/>
          </button>
          <label>
           Kim Ngưu
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Song Tử" src="https://file.hstatic.net/200000103143/file/0xea63.svg"/>
          </button>
          <label>
           Song Tử
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Song Ngư" src="https://file.hstatic.net/200000103143/file/0xea72.svg"/>
          </button>
          <label>
           Song Ngư
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Nhân Mã" src="https://file.hstatic.net/200000103143/file/0xea69.svg"/>
          </button>
          <label>
           Nhân Mã
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Sư Tử" src="https://file.hstatic.net/200000103143/file/0xea65.svg"/>
          </button>
          <label>
           Sư Tử
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Cự Giải" src="https://file.hstatic.net/200000103143/file/0xea64.svg"/>
          </button>
          <label>
           Cự Giải
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Thiên Bình" src="https://file.hstatic.net/200000103143/file/0xea67.svg"/>
          </button>
          <label>
           Thiên Bình
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Ma Kết" src="https://file.hstatic.net/200000103143/file/0xea70.svg"/>
          </button>
          <label>
           Ma Kết
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Xử Nữ" src="https://file.hstatic.net/200000103143/file/0xea66.svg"/>
          </button>
          <label>
           Xử Nữ
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Bọ Cạp" src="https://file.hstatic.net/200000103143/file/0xea68.svg"/>
          </button>
          <label>
           Bọ Cạp
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Bảo Bình" src="https://file.hstatic.net/200000103143/file/0xea71.svg"/>
          </button>
          <label>
           Bảo Bình
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Bạch Dương" src="https://file.hstatic.net/200000103143/file/0xea61.svg"/>
          </button>
          <label>
           Bạch Dương
          </label>
         </div>
        </div>
       </div>
      </div>
      <div class="swiper-slide">
       <div class="item-type-image">
        <div class="head-type">
         Zodiac Signs
        </div>
        <div class="list-icon">
         <div class="item-icon">
          <button>
           <img alt="Kim Ngưu" src="https://file.hstatic.net/200000103143/file/taurus.svg"/>
          </button>
          <label>
           Kim Ngưu
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Song Tử" src="https://file.hstatic.net/200000103143/file/gemini.svg"/>
          </button>
          <label>
           Song Tử
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Sư Tử" src="https://file.hstatic.net/200000103143/file/leo.svg"/>
          </button>
          <label>
           Sư Tử
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Cự Giải" src="https://file.hstatic.net/200000103143/file/cancer.svg"/>
          </button>
          <label>
           Cự Giải
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Song Ngư" src="https://file.hstatic.net/200000103143/file/pisces.svg"/>
          </button>
          <label>
           Song Ngư
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Bọ Cạp" src="https://file.hstatic.net/200000103143/file/scorpio.svg"/>
          </button>
          <label>
           Bọ Cạp
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Bạch Dương" src="https://file.hstatic.net/200000103143/file/aries.svg"/>
          </button>
          <label>
           Bạch Dương
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Ma Kết" src="https://file.hstatic.net/200000103143/file/capricorn.svg"/>
          </button>
          <label>
           Ma Kết
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Thiên Bình" src="https://file.hstatic.net/200000103143/file/libra.svg"/>
          </button>
          <label>
           Thiên Bình
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Nhân Mã" src="https://file.hstatic.net/200000103143/file/sagi.svg"/>
          </button>
          <label>
           Nhân Mã
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Xử Nữ" src="https://file.hstatic.net/200000103143/file/virgo.svg"/>
          </button>
          <label>
           Xử Nữ
          </label>
         </div>
         <div class="item-icon">
          <button>
           <img alt="Bảo Bình" src="https://file.hstatic.net/200000103143/file/virgo.svg"/>
          </button>
          <label>
           Bảo Bình
          </label>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="swiper-style-btn swiper-prev">
      <svg  height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 100 100" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
        <g>
         <switch>
          <g>
           <path d="M34.5 83c-.5 0-1-.2-1.4-.6-.8-.8-.8-2 0-2.8L62.7 50 33.1 20.4c-.8-.8-.8-2 0-2.8s2-.8 2.8 0l31 31c.8.8.8 2 0 2.8l-31 31c-.4.4-.9.6-1.4.6z" data-original="#000000" fill="#000000" opacity="1">
           </path>
          </g>
         </switch>
        </g>
       </svg>
     </div>
     <div class="swiper-style-btn swiper-next">
      <svg  height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 100 100" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
        <g>
         <switch>
          <g>
           <path d="M34.5 83c-.5 0-1-.2-1.4-.6-.8-.8-.8-2 0-2.8L62.7 50 33.1 20.4c-.8-.8-.8-2 0-2.8s2-.8 2.8 0l31 31c.8.8.8 2 0 2.8l-31 31c-.4.4-.9.6-1.4.6z" data-original="#000000" fill="#000000" opacity="1">
           </path>
          </g>
         </switch>
        </g>
       </svg>
     </div>
    </div>
    <div class="swiper-pagination">
    </div>
   </div>
  </div>
  <div class="action-print">
   <div class="wrap-at-print">
    <button id="capture-btn-save">
     Lưu và xem mẫu
    </button>
    <button class="d-none" id="capture-btn-review">
     Xem mẫu
    </button>
   </div>
   <button class="close-engraving">
    Huỷ
   </button>
  </div>
 </div>
</div>
