<header class="header-main" id="header-main">
 <div class="header-top">
  <div class="topbar-notify" id="topbar-notify">
   <div class="container">
    <a class="btn-close" href="#">
     <svg height="16" viewbox="0 0 17.979 17.979" width="16">
      <path d="M0 .637L.637 0l8.352 8.353L17.342 0l.637.637-8.353 8.352 8.353 8.353-.637.637-8.353-8.353L.637 17.98 0 17.342l8.353-8.353z" xmlns="http://www.w3.org/2000/svg">
      </path>
     </svg>
    </a>
    <div class="topbar-inner swiper">
     <div class="swiper-wrapper">
      <div class="swiper-slide">
       <div class="topbar-wrapper">
        <p class="topbar-content">
         <a href="https://pandora.norbreeze.vn/account/register">
          [ONLINE] Ưu đãi 10% khách hàng thành viên đăng ký mới
         </a>
        </p>
       </div>
      </div>
      <div class="swiper-slide">
       <div class="topbar-wrapper">
        <p class="topbar-content">
         <a href="https://pandora.norbreeze.vn/collections/khuyen-mai">
          [ONLINE] Bộ trang sức ưu đãi đến 22%
         </a>
        </p>
        <a class="btn btn-secondary" href="https://pandora.norbreeze.vn/collections/khuyen-mai">
         MUA NGAY
        </a>
       </div>
      </div>
      <div class="swiper-slide">
       <div class="topbar-wrapper">
        <p class="topbar-content">
         <a href="https://pandora.norbreeze.vn/collections/national-holiday">
          [ONLINE] Giảm 700K Đơn 4 Triệu
         </a>
        </p>
        <a class="btn btn-secondary" href="https://pandora.norbreeze.vn/collections/national-holiday">
         MUA NGAY
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="header-top-wrap">
    <div class="header-top-icons">
     <ul>
      <li class="header-icon-menu">
       <a href="#" id="js-click-menu">
        <svg height="20" viewbox="0 0 17.08 10.787" width="20">
         <path d="M17.08.899H0V0h17.08v.899zm0 9.888H0v-.899h17.08v.9zm0-4.944H0v-.899h17.08v.899z" xmlns="http://www.w3.org/2000/svg">
         </path>
        </svg>
       </a>
      </li>
      <li class="header-icon-search">
       <a href="/" id="js-click-search">
        <svg height="20" viewbox="0 0 19.8 19.8" width="20" xmlns="http://www.w3.org/2000/svg">
         <path d="M13.4 12.8c1.2-1.4 1.9-3.1 1.9-5.1 0-4.2-3.4-7.7-7.7-7.7S0 3.4 0 7.7s3.4 7.7 7.7 7.7c2 0 3.7-.7 5.1-1.9l6.4 6.4.6-.6-6.4-6.5zm-5.7 1.7C4 14.5.9 11.5.9 7.7S3.9.9 7.7.9s6.8 3 6.8 6.8-3.1 6.8-6.8 6.8z">
         </path>
        </svg>
       </a>
      </li>
     </ul>
    </div>
    <div class="header-top-logo" itemscope="" itemtype="http://schema.org/Organization">
     <a href="https://pandora.norbreeze.vn" itemprop="url">
      <svg id="Layer_1" style="enable-background:new 0 0 1200 252.8;" version="1.1" viewbox="0 0 1200 252.8" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
       <style type="text/css">
        .st0new{opacity:0.882;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
	.st1new{opacity:0.89;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
	.st2new{opacity:0.888;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
	.st3new{opacity:0.892;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
	.st4new{opacity:0.896;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
	.st5new{opacity:0.976;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
	.st6new{opacity:0.986;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
	.st7new{opacity:0.977;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
	.st8new{opacity:0.974;fill-rule:evenodd;clip-rule:evenodd;enable-background:new    ;}
       </style>
       <switch>
        <g i:extraneous="self">
         <g>
          <g>
           <path class="st0new" d="M729.2,5.4c1,0,2.1,0,3.1,0c5.4,12.4,10.8,24.7,16.2,37.1c-2.1,0.3-4.1,0.5-6.2,0.8c-2.4,0-4.6-0.6-6.6-1.5      C733.7,29.6,731.5,17.4,729.2,5.4z">
           </path>
          </g>
          <g>
           <path class="st1new" d="M760.1,5.4c1,0,2.1,0,3.1,0c1.4,12.6,3,25.3,4.6,37.9c-4.1,0-8.2,0-12.4,0C757.1,30.7,758.7,18,760.1,5.4z">
           </path>
          </g>
          <g>
           <path class="st0new" d="M790.2,5.4c1,0,2.1,0,3.1,0c-1.8,12.7-3.9,25.3-6.2,37.9c-4.2,0.3-8.3,0-12.4-0.8      C780.4,30.3,785.5,17.9,790.2,5.4z">
           </path>
          </g>
          <g>
           <path class="st2new" d="M740.8,49.5c7.1-1.3,10.3,1.5,9.7,8.5c-3,5.1-6.9,5.9-11.6,2.3C736.8,56.1,737.5,52.5,740.8,49.5z">
           </path>
          </g>
          <g>
           <path class="st3new" d="M758.5,49.5c7.7-0.9,10.7,2.4,8.9,10.1c-3.9,4.1-7.7,4.1-11.6,0C754,55.4,754.9,52,758.5,49.5z">
           </path>
          </g>
          <g>
           <path class="st4new" d="M776.3,49.5c8.4-0.3,11,3.5,7.7,11.2c-4.4,2.9-8.1,2.3-11.2-1.9C771.7,54.7,772.8,51.6,776.3,49.5z">
           </path>
          </g>
          <g>
           <path class="st5new" d="M767,247.4c-3.6,0-7.2,0-10.8,0c-37.8-3-64.2-21.8-79.3-56.5c-11-32.7-6.3-62.8,13.9-90.5      c24.9-26.8,55.5-36.7,91.6-29.8c44.5,11.9,67.7,40.9,69.6,87c-1.8,45.5-24.5,74.5-68.1,87C778.3,245.9,772.6,246.8,767,247.4z       M753.9,97.4c32.6-1.8,54.2,12.6,64.6,43.3c6,25.7-0.5,47.5-19.7,65.3c-24.7,17-49.5,17-74.2,0c-21.4-20.9-27-45.5-16.6-73.9      C717,112.3,732.3,100.7,753.9,97.4z">
           </path>
          </g>
          <g>
           <path class="st6new" d="M7.6,72.7c24.7-0.1,49.5,0,74.2,0.4c27,2.7,44.4,17,52.2,42.9c5,29.3-5.4,51.1-31.3,65.3      c-5.7,2.3-11.7,3.9-17.8,4.6c-16,1-31.9,1.4-47.9,1.2c0,18.8,0,37.6,0,56.5c-9.8,0-19.6,0-29.4,0C7.6,186.6,7.6,129.6,7.6,72.7z       M37,100.5c12.9-0.1,25.8,0,38.7,0.4c18,1.4,27.5,11,28.6,29c-1.1,16.1-9.6,25.6-25.5,28.2c-13.9,0.4-27.8,0.5-41.8,0.4      C37,139.2,37,119.8,37,100.5z">
           </path>
          </g>
          <g>
           <path class="st7new" d="M192.4,72.7c10.8,0,21.7,0,32.5,0c22.6,56.9,45.1,113.9,67.3,170.9c-11.1,0-22.2,0-33.3,0      c-4.1-11.6-8.2-23.2-12.4-34.8c-25.5-0.1-51,0-76.6,0.4c-4.5,11.2-8.8,22.4-13.1,33.6c-10.8,0.8-21.6,1-32.5,0.8      C146.8,186.5,169.5,129.6,192.4,72.7z M207.1,109.8c0.7-0.1,1.2,0.2,1.5,0.8c9.1,23.4,17.8,46.8,26.3,70.4      c-18.1,0.3-36.1,0-54.1-0.8C189.8,156.8,198.6,133.3,207.1,109.8z">
           </path>
          </g>
          <g>
           <path class="st7new" d="M314.6,72.7c10.3-0.3,20.6,0,30.9,0.8c29.4,40.1,58.9,80,88.6,119.9c0.4-40.2,0.5-80.4,0.4-120.6      c10.1,0,20.1,0,30.2,0c0,57,0,113.9,0,170.9c-10.1,0.1-20.1,0-30.2-0.4c-29.8-40.1-59.5-80.2-89.3-120.3      c-0.4,40.2-0.5,80.4-0.4,120.6c-10.1,0-20.1,0-30.2,0C314.6,186.6,314.6,129.6,314.6,72.7z">
           </path>
          </g>
          <g>
           <path class="st5new" d="M500.2,72.7c22.9-0.1,45.9,0,68.8,0.4c32,1.2,56.4,15.3,73.1,42.1c14.2,29.6,13.7,59-1.5,88.2      c-16,24-38.5,37.1-67.7,39.1c-24.2,1.1-48.5,1.4-72.7,1.2C500.2,186.6,500.2,129.6,500.2,72.7z M530.4,101.3      c14.2-0.3,28.4,0.1,42.5,1.2c25.7,3.3,41.3,17.6,46.8,42.9c4.1,44.9-16.4,67.9-61.5,69.2c-9.3,0.4-18.6,0.5-27.8,0.4      C530.4,177.1,530.4,139.2,530.4,101.3z">
           </path>
          </g>
          <g>
           <path class="st8new" d="M876.9,72.7c26.3-0.1,52.6,0,78.9,0.4c33.2,4.3,51,23.1,53.4,56.5c-0.6,23.2-11.2,40.1-31.7,50.7      c11.9,21,24,41.9,36.3,62.6c-11.8,0.9-23.7,1-35.6,0.4c-10.7-18.4-21.2-36.8-31.7-55.3c-13.1-0.8-26.3-1-39.4-0.8      c0,18.8,0,37.6,0,56.5c-10.1,0-20.1,0-30.2,0C876.9,186.6,876.9,129.6,876.9,72.7z M907,100.5c13.9-0.1,27.8,0,41.8,0.4      c18.4,1,28.2,10.7,29.4,29c-1.1,16.2-9.6,25.6-25.5,28.2c-15.2,0.4-30.4,0.5-45.6,0.4C907,139.2,907,119.8,907,100.5z">
           </path>
          </g>
          <g>
           <path class="st7new" d="M1192.4,241.3c0,0.8,0,1.5,0,2.3c-11.1,0.1-22.2,0-33.3-0.4c-4.5-11.3-8.9-22.6-13.1-34      c-25.5-0.6-51.1-0.5-76.6,0.4c-4.3,11.3-8.7,22.5-13.1,33.6c-10.6,0.4-21.1,0.5-31.7,0.4c22.3-57,44.7-114,67.3-170.9      c10.8-0.3,21.7,0,32.5,0.8C1146.9,129.5,1169.5,185.5,1192.4,241.3z M1107.3,109c9.7,23.5,18.9,47.2,27.8,71.2      c-18.3,0.9-36.6,1-54.9,0.4C1089.5,156.8,1098.5,132.9,1107.3,109z">
           </path>
          </g>
         </g>
        </g>
       </switch>
      </svg>
     </a>
     <h1 style="display:none">
      <a href="https://pandora.norbreeze.vn" itemprop="url">
       Pandora Việt Nam
      </a>
     </h1>
    </div>
    <div class="header-top-actions">
     <div class="header-search">
      <a class="searchform-close" href="#">
       <svg height="16" viewbox="0 0 17.979 17.979" width="16">
        <path d="M0 .637L.637 0l8.352 8.353L17.342 0l.637.637-8.353 8.352 8.353 8.353-.637.637-8.353-8.353L.637 17.98 0 17.342l8.353-8.353z" xmlns="http://www.w3.org/2000/svg">
        </path>
       </svg>
      </a>
      <form action="/search" class="searchform ultimate-search" id="searchform">
       <div class="searchform-inner">
        <input autocomplete="off" class="form-control searchform-input" id="inputSearchAuto" maxlength="40" name="q" placeholder="Bạn cần tìm gì?" required="" size="20" type="text"/>
       </div>
       <button aria-label="search keywords" class="btn-search btn" id="js-btn-search" type="submit">
        <i class="fa-light fa-magnifying-glass"></i>
       </button>
       <button aria-label="Clear search keywords" class="btn-reset btn d-none" id="js-btn-search" type="reset">
        <i class="fa-light fa-xmark"></i>
       </button>
      </form>
      <div class="searchform-wrapper" id="searchform-wrapper" style="display: none">
       <div class="box-wrapper results-pr-wrapper d-none">
        <h4 class="title">
         Sản phẩm
        </h4>
        <div class="content resultsContent" id="ajaxSearchPrResults">
        </div>
       </div>
       <div class="box-wrapper suggestions-wrapper">
        <h4 class="title">
         Được tìm kiếm nhiều
        </h4>
        <div class="content suggestions">
         <div class="list">
          <div class="item">
           <a href="/collections/hoataipandora">
            <span>
             hoa tai
            </span>
            <svg aria-label="icon arrow-right" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
             <g>
              <path clip-rule="evenodd" d="M17.96 10.67a.1.1 0 00-.07-.17H.1a.1.1 0 01-.1-.1v-.8a.1.1 0 01.1-.1h17.74a.1.1 0 00.071-.17L9.514.822a.1.1 0 01.001-.141l.57-.562a.1.1 0 01.141 0l9.707 9.836a.1.1 0 010 .14l-9.707 9.835a.1.1 0 01-.141.001l-.57-.562a.1.1 0 010-.141l8.446-8.558z" fill="#27251F" fill-rule="evenodd">
              </path>
             </g>
            </svg>
           </a>
          </div>
          <div class="item">
           <a href="/collections/vong-mem">
            <span>
             vòng charm
            </span>
            <svg aria-label="icon arrow-right" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
             <g>
              <path clip-rule="evenodd" d="M17.96 10.67a.1.1 0 00-.07-.17H.1a.1.1 0 01-.1-.1v-.8a.1.1 0 01.1-.1h17.74a.1.1 0 00.071-.17L9.514.822a.1.1 0 01.001-.141l.57-.562a.1.1 0 01.141 0l9.707 9.836a.1.1 0 010 .14l-9.707 9.835a.1.1 0 01-.141.001l-.57-.562a.1.1 0 010-.141l8.446-8.558z" fill="#27251F" fill-rule="evenodd">
              </path>
             </g>
            </svg>
           </a>
          </div>
          <div class="item">
           <a href="/collections/vongtaypandora">
            <span>
             vòng tay bạc
            </span>
            <svg aria-label="icon arrow-right" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
             <g>
              <path clip-rule="evenodd" d="M17.96 10.67a.1.1 0 00-.07-.17H.1a.1.1 0 01-.1-.1v-.8a.1.1 0 01.1-.1h17.74a.1.1 0 00.071-.17L9.514.822a.1.1 0 01.001-.141l.57-.562a.1.1 0 01.141 0l9.707 9.836a.1.1 0 010 .14l-9.707 9.835a.1.1 0 01-.141.001l-.57-.562a.1.1 0 010-.141l8.446-8.558z" fill="#27251F" fill-rule="evenodd">
              </path>
             </g>
            </svg>
           </a>
          </div>
          <div class="item">
           <a href="/collections/vong-dac-biet">
            <span>
             lắc tay
            </span>
            <svg aria-label="icon arrow-right" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
             <g>
              <path clip-rule="evenodd" d="M17.96 10.67a.1.1 0 00-.07-.17H.1a.1.1 0 01-.1-.1v-.8a.1.1 0 01.1-.1h17.74a.1.1 0 00.071-.17L9.514.822a.1.1 0 01.001-.141l.57-.562a.1.1 0 01.141 0l9.707 9.836a.1.1 0 010 .14l-9.707 9.835a.1.1 0 01-.141.001l-.57-.562a.1.1 0 010-.141l8.446-8.558z" fill="#27251F" fill-rule="evenodd">
              </path>
             </g>
            </svg>
           </a>
          </div>
          <div class="item">
           <a href="/collections/charms">
            <span>
             charm bạc
            </span>
            <svg aria-label="icon arrow-right" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
             <g>
              <path clip-rule="evenodd" d="M17.96 10.67a.1.1 0 00-.07-.17H.1a.1.1 0 01-.1-.1v-.8a.1.1 0 01.1-.1h17.74a.1.1 0 00.071-.17L9.514.822a.1.1 0 01.001-.141l.57-.562a.1.1 0 01.141 0l9.707 9.836a.1.1 0 010 .14l-9.707 9.835a.1.1 0 01-.141.001l-.57-.562a.1.1 0 010-.141l8.446-8.558z" fill="#27251F" fill-rule="evenodd">
              </path>
             </g>
            </svg>
           </a>
          </div>
          <div class="item">
           <a href="/collections/giftset-1">
            <span>
             quà tặng
            </span>
            <svg aria-label="icon arrow-right" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
             <g>
              <path clip-rule="evenodd" d="M17.96 10.67a.1.1 0 00-.07-.17H.1a.1.1 0 01-.1-.1v-.8a.1.1 0 01.1-.1h17.74a.1.1 0 00.071-.17L9.514.822a.1.1 0 01.001-.141l.57-.562a.1.1 0 01.141 0l9.707 9.836a.1.1 0 010 .14l-9.707 9.835a.1.1 0 01-.141.001l-.57-.562a.1.1 0 010-.141l8.446-8.558z" fill="#27251F" fill-rule="evenodd">
              </path>
             </g>
            </svg>
           </a>
          </div>
         </div>
        </div>
       </div>
       <div class="box-wrapper results-article-wrapper d-none">
        <h4 class="title">
         Bài viết
        </h4>
        <div class="content resultsContent" id="ajaxSearchArticleResults">
        </div>
       </div>
      </div>
      <a class="header-search-ovl" href="#">
      </a>
     </div>
     <div class="header-actions-list">
      <ul>
       <li class="action-wishlist">
        <a href="/wishlist">
         <i class="fa-light fa-heart"></i>
        </a>
       </li>
       <li class="action-store">
        <a href="/he-thong-cua-hang">
         <i class="fa-light fa-location-dot"></i>
        </a>
       </li>
       <li class="action-account">
        <a href="#">
         <i class="fa-light fa-user-large"></i>
        </a>
        <div class="header-action-dropdown account-dropdown">
         <div class="action-dropdown--wrapper">
          <div class="body">
           <a class="btn btn-secondary" href="/user/signin">
            ĐĂNG NHẬP
           </a>
           <a class="btn" href="/user/signup">
            ĐĂNG KÝ
           </a>
          </div>
          <div class="foot">
           <a class="aspect-ratio" href="/user/signup">
            <img src="https://file.hstatic.net/200000103143/file/hinh_log_in.png"/>
           </a>
           <div class="notify">
            Đăng ký thành viên ngay để tận hưởng ưu đãi độc quyền online.
           </div>
          </div>
         </div>
        </div>
       </li>
       <li class="action-cart">
        <a href="/cart">
         <i class="fa-light fa-cart-shopping"></i>
         <span></span>
        </a>
        <div class="header-action-dropdown minicart-dropdown" id="minicart">
         <div class="action-dropdown--wrapper">
          <div class="minicart-box box-freeshipping">
           <div class="freeshipping-note">
            <span>
             FREE Ship với mọi đơn hàng!
            </span>
           </div>
           <div class="freeshipping-progress d-none">
            <div class="progress-bar" style="width:0%">
            </div>
           </div>
          </div>
          <div class="minicart-box box-viewcart">
           <div class="minicart-list ajaxMinicart">
           </div>
          </div>
          <div class="minicart-box box-total">
           <div class="row estimated-total">
            <div class="col-8">
             <div class="sub-total-label">
              Giỏ hàng của tôi
              <span class="count">
               (0 sản phẩm)
              </span>
             </div>
            </div>
            <div class="col-4">
             <div class="text-right grand-total" id="total-minicart">
              0₫
             </div>
            </div>
           </div>
           <div class="minicart-action">
            <div class="review-bag">
             <a class="btn btn-primary btn-block review-bag-btn" data-auto="btnReviewBag" href="/cart" role="button" title="View Bag">
              Xem giỏ hàng
             </a>
            </div>
            <div class="checkout-continue">
             <a class="btn btn-secondary btn-block checkout-btn" href="/checkout">
              Thanh toán
             </a>
            </div>
           </div>
          </div>
         </div>
        </div>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="header-bottom">
  <div class="container">
   <div class="header-menu">
    <div class="header-menu-btn">
     <div class="back-button d-none">
      <button aria-label="Back to previous menu" name="Back to previous menu" role="button">
       <i class="fa-light fa-angle-left"></i>
       <span class="pl-2">
        Quay lại
       </span>
      </button>
     </div>
     <div class="close-button">
      <button aria-label="Close Menu" name="Close Menu" role="button">
       <span class="pr-2">
       </span>
       <svg aria-label="icon cross" class="icon__cross" role="img" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" d="M9.222 9.922a.1.1 0 010 .142L.08 19.206a.1.1 0 000 .14l.56.572a.1.1 0 00.141 0l9.148-9.147a.1.1 0 01.142 0l9.142 9.142a.1.1 0 00.14 0l.572-.56a.1.1 0 000-.142l-9.147-9.147a.1.1 0 010-.142L19.92.78a.1.1 0 000-.14l-.56-.572a.1.1 0 00-.142 0l-9.147 9.147a.1.1 0 01-.142 0L.787.073a.1.1 0 00-.14 0l-.572.56a.1.1 0 000 .141l9.147 9.148z" fill="#27251F" fill-rule="evenodd">
        </path>
       </svg>
      </button>
     </div>
    </div>
    <div class="header-menu-nav">
     {% if(menuIsExisted({'type': 'header' })) %}
            {% include 'other/menu' %}
        {% else %}
            {% include 'other/menu' %}
        {% endif %}
    </div>
   </div>
  </div>
 </div>
</header>
