<footer class="bg-white">
 <div class="container">
  <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-x-gutter gap-y-6 pt-6 pb-3 md:pt-[var(--spacing-10)] md:pb-[var(--spacing-12)]">
   <div class="footer-col">
    <a class="footer-logo mb-3 block" href="/" title="logo EGA Mini Mart">
     <img alt="logo EGA Mini Mart" class="object-contain" height="48" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/logo-footer.png?v=26" width="115"/>
    </a>
    <div class="contact-group mb-5">
     <div class="flex gap-1 items-start mb-3">
      <i class="icon icon-location text-neutral-200">
      </i>
      <div class="">
       <p class="text-forground">
        Địa chỉ
       </p>
       <p class="font-semibold">
        <span>
         150/8 Nguyễn Duy Cung, Phường 12, Tp.HCM
        </span>
       </p>
      </div>
     </div>
     <div class="xl:flex grid gap-2" style="column-gap: var(--spacing-8);">
      <div class="flex gap-1 items-start">
       <i class="icon icon-call text-neutral-200">
       </i>
       <div class="">
        <p class="text-forground">
         Hotline
        </p>
        <a class="font-semibold text-primary link" href="tel:0999999999" title="0999999999">
         0999999999
        </a>
       </div>
      </div>
      <div class="flex gap-1 items-start">
       <i class="icon icon-sms text-neutral-200">
       </i>
       <div class="">
        <p class="text-forground">
         Email
        </p>
        <a class="font-semibold link" href="mailto:support@egany.com" title="support@egany.com">
         support@egany.com
        </a>
       </div>
      </div>
     </div>
    </div>
    <div class="social-icons">
     <p class="font-semibold mb-3">
      Mạng xã hội
     </p>
     <div class="flex gap-3">
      <div class="facebook border border-neutral-50 rounded-sm flex items-center justify-center w-[3.6rem] h-[3.6rem] hover:bg-neutral-50">
       <a aria-label="Facebook" href="https://www.facebook.com/egany.tech" target="_blank" title="Facebook">
        <img alt="facebook footer" height="20" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/facebook.png?v=26" width="20"/>
       </a>
      </div>
      <div class="youtube border border-neutral-50 rounded-sm flex items-center justify-center w-[3.6rem] h-[3.6rem] hover:bg-neutral-50">
       <a aria-label="Youtube" href="https://www.youtube.com/channel/UCh5jj4Q-vqQMdEhwRZAeZMA" target="_blank" title="Youtube">
        <img alt="youtube footer" height="20" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/youtube.png?v=26" width="20"/>
       </a>
      </div>
      <div class="tiktok border border-neutral-50 rounded-sm flex items-center justify-center w-[3.6rem] h-[3.6rem] hover:bg-neutral-50">
       <a aria-label="Tiktok" href="https://www.tiktok.com/" target="_blank" title="Tiktok">
        <img alt="tiktok footer" height="20" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/tiktok.png?v=26" width="20"/>
       </a>
      </div>
      <div class="instgram border border-neutral-50 rounded-sm flex items-center justify-center w-[3.6rem] h-[3.6rem] hover:bg-neutral-50">
       <a aria-label="Instgram" href="https://www.instagram.com/" target="_blank" title="Instgram">
        <img alt="instgram footer" height="20" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/instagram.png?v=26" width="20"/>
       </a>
      </div>
      <div class="instgram border border-neutral-50 rounded-sm flex items-center justify-center w-[3.6rem] h-[3.6rem] hover:bg-neutral-50">
       <a aria-label="Zalo" href="https://zalo.me/" target="_blank" title="Zalo">
        <img alt="zalo footer" height="20" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/zalo.png?v=26" width="20"/>
       </a>
      </div>
     </div>
    </div>
   </div>
   <div class="footer-col">
    <details class="footer-details" open="">
     <summary class="text-base font-semibold mb-2 flex items-center justify-between">
      Hỗ trợ khách hàng
      <i class="icon icon-carret-right inline-block md:hidden">
      </i>
     </summary>
     <ul class="list-menu space-y-4 list-disc pl-5">
      <li class="li_menu">
       <a class="link" href="/pages/lien-he" title="Liên hệ">
        Liên hệ
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/he-thong-cua-hang" title="Hệ thống cửa hàng">
        Hệ thống cửa hàng
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/cau-hoi-thuong-gap" title="Câu hỏi thường gặp">
        Câu hỏi thường gặp
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/flash-sale-1-khung-gio" title="Khuyến mãi hot">
        Khuyến mãi hot
       </a>
      </li>
     </ul>
    </details>
   </div>
   <div class="footer-col">
    <details class="footer-details" open="">
     <summary class="text-base font-semibold mb-2 flex items-center justify-between">
      Chính sách
      <i class="icon icon-carret-right inline-block md:hidden">
      </i>
     </summary>
     <ul class="list-menu space-y-4 list-disc pl-5">
      <li class="li_menu">
       <a class="link" href="/pages/chinh-sach-bao-hanh" title="Chính sách bảo hành">
        Chính sách bảo hành
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/chinh-sach-doi-tra" title="Chính sách đổi trả">
        Chính sách đổi trả
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/chinh-sach-bao-mat" title="Chính sách bảo mật">
        Chính sách bảo mật
       </a>
      </li>
      <li class="li_menu">
       <a class="link" href="/pages/dieu-khoan-dich-vu" title="Điều khoản dịch vụ">
        Điều khoản dịch vụ
       </a>
      </li>
     </ul>
    </details>
    <div class="mt-6">
     <p class="text-base font-semibold mb-2">
      Tổng đài hỗ trợ
     </p>
     <ul class="list-menu space-y-4 list-disc pl-5">
      <li>
       <a class="link" href="tel:0999999999" title="Gọi mua hàng: 0999999999 (8h-20h)">
        Gọi mua hàng: 0999999999 (8h-20h)
       </a>
      </li>
      <li>
       <a class="link" href="tel:0868686868" title="Gọi bảo hành: 0868686868 (8h-20h)">
        Gọi bảo hành: 0868686868 (8h-20h)
       </a>
      </li>
     </ul>
    </div>
   </div>
   <div class="footer-col">
    <div class="email-subscribe flex flex-col gap-2">
     <p class="font-semibold">
      Đăng ký nhận ưu đãi
     </p>
     <p class="mb-1">
      Bạn muốn nhận khuyến mãi đặc biệt? Đăng kí tham gia ngay cộng động hơn 68.000+ người theo dõi của chúng tôi để cập nhật khuyến mãi ngay lập tức
     </p>
     <form accept-charset="UTF-8" action="/account/contact" class="contact-form" method="post">
      <input name="form_type" type="hidden" value="customer"/>
      <input name="utf8" type="hidden" value="✓"/>
      <div class="newsletter-form flex gap-1 items-center w-full" id="mc-form">
       <div class="flex gap-1 w-full">
        <input class="form-input rounded-full" id="subscribe-email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email của bạn..." required="" style="--rounded-input: 9999px" type="email"/>
        <button class="button_subscribe subscribe btn bg-primary text-white rounded-full shrink-0" type="submit">
         Đăng ký
        </button>
       </div>
      </div>
      <div class="mailchimp-alerts mt-2">
       <div class="mailchimp-submitting">
       </div>
       <!-- mailchimp-submitting end -->
       <!-- mailchimp-success end -->
       <!-- mailchimp-error end -->
      </div>
      <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt_bW9TXAnRea8cCuTg8R8DvQxzwnJyzoyDmRcpiHKLmU0rjP0qx5GGei5y9F4SqsMWak-Zh7UA1OpKMRYq0mfI7940-sFIs2dl6D5FPQjaLbK33jO4jmSS4SAD_l1nJOv0"/>
      <input id="fd4c7cf365ab4704bdad23c119e4ec74" name="g-recaptcha-response" type="hidden"/>
      <noscript src="https://www.google.com/recaptcha/api.js?render=6LchSLkqAAAAABVHBpeFgg8N-WgkYsr5fO6GUF_s">
      </noscript>
      <noscript>
       let recaptchaElm=document.getElementById('fd4c7cf365ab4704bdad23c119e4ec74');let recaptchaForm=recaptchaElm.parentNode;recaptchaForm.addEventListener("submit",function(formEvent){if(!recaptchaElm.value){formEvent.preventDefault();grecaptcha.ready(function(){grecaptcha.execute('6LchSLkqAAAAABVHBpeFgg8N-WgkYsr5fO6GUF_s',{action:'submit'}).then(function(token){recaptchaElm.value=token;recaptchaForm.requestSubmit(formEvent.submitter)})})}})
      </noscript>
     </form>
    </div>
    <div class="trust-badges mt-6">
     <p class="font-semibold mb-3">
      PHƯƠNG THỨC THANH TOÁN
     </p>
     <a href="/" target="_blank" title="PHƯƠNG THỨC THANH TOÁN">
      <img alt="" class="h-auto" height="53" loading="lazy" src="//theme.hstatic.net/200000888549/1001374142/14/footer-trustbadge.png?v=26" width="246"/>
     </a>
    </div>
   </div>
  </div>
  <div class="footer-copyright border-t border-neutral-50 py-3 text-center gap-2 grid gird-cols-1 md:grid-cols-[1fr_auto] items-center">
   <span class="wsp">
    © Bản quyền thuộc về
    <a class="font-semibold link" href="https://egany.com" rel="nofollow" target="_blank" title="EGANY">
     EGANY
    </a>
    | Cung cấp bởi
    <a class="font-semibold link" href="https://www.haravan.com/?utm_campaign=poweredby&amp;utm_medium=haravan&amp;utm_source=onlineshop" rel="nofollow" target="_blank" title="Haravan">
     Haravan
    </a>
   </span>
  </div>
 </div>
</footer>
