<header class="header relative flex items-center justify-center top-0 py-4-5 h-max">
 <div class="container">
  <div class="header-wrapper items-center flex justify-between gap-3 lg:grid lg:gap-2 lg:grid-cols-[3fr_auto_3fr] flex-wrap">
   <div class="menu-opener">
    <portal-opener>
     <div class="hamburger-button cursor-pointer link group inline-flex items-center justify-center gap-3 active:scale-95 transition-all duration-150" data-portal="#menu-drawer" id="toggle-menu-mobile">
      <div class="w-[3.6rem] h-[3.6rem] gap-[3px] inline-flex flex-col justify-center items-center rounded-full border border-[rgba(0,0,0,0.1)]">
       <span class="h-[2px] w-4 bg-neutral-200 block group-hover:bg-[var(--color-link)]">
       </span>
       <span class="h-[2px] w-4 bg-neutral-200 block group-hover:bg-[var(--color-link)]">
       </span>
       <span class="h-[2px] w-4 bg-neutral-200 block group-hover:bg-[var(--color-link)]">
       </span>
      </div>
      <span class="font-semibold hidden xl:block">
       Danh mục sản phẩm
      </span>
     </div>
    </portal-opener>
   </div>
   <div class="flex gap-2 items-center transition-all duration-150 mx-auto">
    <a class="logo-wrapper mx-auto" href="/" title="EGA Mini Mart">
     <img alt="logo EGA Mini Mart" height="48" src="//theme.hstatic.net/200000888549/1001374142/14/logo.png?v=26" width="115"/>
    </a>
   </div>
   <div class="header-icon-wrapper flex items-center justify-end gap-2 xl:gap-5.5">
    <portal-opener class="search-opener">
     <a class="header-icon-group flex gap-2 items-center cart-group hover:bg-neutral-50 active:scale-95 transition-all duration-150 md:px-2 pl-2 py-1 rounded-sm" data-portal="#search-drawer" href="/search" title="tìm kiếm">
      <div class="header-icon w-[3.6rem] h-[3.6rem] p-2 rounded-full flex items-center justify-center relative border border-neutral-50">
       <i class="icon icon-search text-5">
       </i>
      </div>
     </a>
    </portal-opener>
    <a class="header-icon-group hidden md:flex gap-2 items-center cart-group hover:bg-neutral-50 active:scale-95 transition-all duration-150 md:px-2 pl-2 py-1 rounded-sm" href="/account/login" title="Đăng nhập">
     <div class="header-icon w-[3.6rem] h-[3.6rem] p-2 rounded-full flex items-center justify-center relative border border-neutral-50">
      <i class="icon icon-user">
      </i>
     </div>
    </a>
    <portal-opener>
     <a class="mini-cart header-icon-group flex gap-2 items-center cart-group hover:bg-neutral-50 active:scale-95 transition-all duration-150 md:px-2 pl-2 py-1 rounded-sm" data-portal="#cart-drawer" href="/cart" title="Giỏ hàng">
      <div class="header-icon w-[3.6rem] h-[3.6rem] p-2 rounded-full flex items-center justify-center relative border border-neutral-50">
       <i class="icon icon-cart">
       </i>
       <span class="cart-count flex items-center count_item count_item_pr justify-center rounded-full absolute font-semibold">
        0
       </span>
      </div>
      <div class="block hidden md:block">
       <span class="text-xs">
        Giỏ hàng
       </span>
       <span class="font-semibold hidden block price count_item">
        0
       </span>
      </div>
     </a>
    </portal-opener>
   </div>
  </div>
 </div>
</header>
