<header class="greenweave-mainHeader">
 <div class="greenweave-mainHeader-middle">
  <div class="container-fluid">
   <div class="greenweave-flex-header">
    <div class="greenweave-header-left">
     <div class="greenweave-header-wrap-iconav greenweave-header-wrap-action d-sm-block d-lg-none">
      <div class="greenweave-header-action">
       <div class="greenweave-header-action-item greenweave-header-action_menu greenweave-activeMenuChecked">
        <div class="greenweave-header-action_text">
         <a aria-label="Menu" class="greenweave-header-action__link" href="javascript:void(0)" name="icon-menu-mobile" title="Menu">
          <span class="greenweave-box-icon">
           <span aria-hidden="true" class="greenweave-hamburger-menu">
            <span class="greenweave-bar">
            </span>
           </span>
           <span class="greenweave-box-icon--close">
            <svg role="presentation" viewbox="0 0 19 19">
             <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd">
             </path>
            </svg>
           </span>
          </span>
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="greenweave-header-wrap-logo">
      <div class="greenweave-wrap-logo" itemscope="" itemtype="http://schema.org/Organization">
       <h1>
        <a href="https://green-weave.myharavan.com" itemprop="url">
         <span class="notranslate">
          Green Weave
         </span>
        </a>
       </h1>
      </div>
     </div>
    </div>
    <div class="greenweave-header-center">
     <div class="greenweave-header-wrap-menu d-none d-md-none d-lg-block">
      <nav class="greenweave-navbar-mainmenu">
       <ul class="greenweave-menuList-main">
        <li class="active">
         <a href="/" title="Trang chủ">
          Trang chủ
         </a>
        </li>
        <li class="greenweave-has-submenu">
         <a href="/pages/about-us" title="Giới thiệu">
          Giới thiệu
          <svg height="12" viewbox="0 0 128 128" width="12" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
           <g>
            <path d="m64 88c-1.023 0-2.047-.391-2.828-1.172l-40-40c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l37.172 37.172 37.172-37.172c1.563-1.563 4.094-1.563 5.656 0s1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z">
            </path>
           </g>
          </svg>
         </a>
         <ul class="greenweave-menuList-submain">
          <li class="">
           <a href="/pages/about-us" title="Về chúng tôi">
            Về chúng tôi
           </a>
          </li>
          <li class="">
           <a href="/pages/dich-vu" title="Dịch vụ">
            Dịch vụ
           </a>
          </li>
          <li class="">
           <a href="/pages/quy-trinh" title="Quy trình">
            Quy trình
           </a>
          </li>
         </ul>
        </li>
        <li class="">
         <a href="/pages/dich-vu" title="Dịch vụ">
          Dịch vụ
         </a>
        </li>
        <li class="">
         <a href="/collections/project" title="Dự án">
          Dự án
         </a>
        </li>
        <li class="">
         <a href="/collections/all" title="Sản phẩm">
          Sản phẩm
         </a>
        </li>
        <li class="greenweave-has-submenu">
         <a href="/pages/dieu-khoan-dich-vu" title="Chính sách">
          Chính sách
          <svg height="12" viewbox="0 0 128 128" width="12" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
           <g>
            <path d="m64 88c-1.023 0-2.047-.391-2.828-1.172l-40-40c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l37.172 37.172 37.172-37.172c1.563-1.563 4.094-1.563 5.656 0s1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z">
            </path>
           </g>
          </svg>
         </a>
         <ul class="greenweave-menuList-submain">
          <li class="">
           <a href="/pages/dieu-khoan-dich-vu" title="Điều khoản dịch vụ">
            Điều khoản dịch vụ
           </a>
          </li>
          <li class="">
           <a href="/pages/chinh-sach-bao-mat" title="Chính sách bảo mật">
            Chính sách bảo mật
           </a>
          </li>
          <li class="">
           <a href="/pages/chinh-sach-doi-tra" title="Chính sách đổi trả">
            Chính sách đổi trả
           </a>
          </li>
         </ul>
        </li>
        <li class="">
         <a href="/blogs/news" title="Tin tức">
          Tin tức
         </a>
        </li>
        <li class="">
         <a href="/pages/lien-he" title="Liên hệ">
          Liên hệ
         </a>
        </li>
        <li class="greenweave-item-live">
         <div class="greenweave-header-box-live">
          <button class="greenweave-btn-live" type="button">
           Live stream
          </button>
         </div>
        </li>
       </ul>
      </nav>
     </div>
    </div>
    <div class="greenweave-header-right">
     <div class="greenweave-header-wrap-action">
      <div class="greenweave-header-action">
       <div class="greenweave-header-action-item greenweave-header-action_translate">
        <div class="greenweave-translate-wrapper">
         <span class="js-translate">
          <span class="svg-flag">
           <svg aria-hidden="true" class="iconify iconify--twemoji" fill="#000000" height="22" preserveaspectratio="xMidYMid meet" role="img" viewbox="0 0 36 36" width="22" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="SVGRepo_bgCarrier" stroke-width="0">
            </g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
            </g>
            <g id="SVGRepo_iconCarrier">
             <path d="M32 5H4a4 4 0 0 0-4 4v18a4 4 0 0 0 4 4h28a4 4 0 0 0 4-4V9a4 4 0 0 0-4-4z" fill="#DA251D">
             </path>
             <path d="M19.753 16.037L18 10.642l-1.753 5.395h-5.672l4.589 3.333l-1.753 5.395L18 21.431l4.589 3.334l-1.753-5.395l4.589-3.333z" fill="#FF0">
             </path>
            </g>
           </svg>
          </span>
          <span class="language-text notranslate link">
           Vietnamese
          </span>
          <svg class="icon-svg" fill="currentColor" height="8" viewbox="0 0 16 16" width="8" xmlns="http://www.w3.org/2000/svg">
           <path d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" fill-rule="evenodd">
           </path>
          </svg>
         </span>
         <div class="greenweave-translate-dropdown-wrapper">
          <ul class="greenweave-translate-dropdown">
           <li class="js-language-select d-none" data-lang="vi" data-title="Vietnamese">
            <a class="notranslate" href="javascript:void(0)">
             <span class="flag">
              <svg aria-hidden="true" class="iconify iconify--twemoji" fill="#000000" height="22" preserveaspectratio="xMidYMid meet" role="img" viewbox="0 0 36 36" width="22" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
               <g id="SVGRepo_bgCarrier" stroke-width="0">
               </g>
               <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
               </g>
               <g id="SVGRepo_iconCarrier">
                <path d="M32 5H4a4 4 0 0 0-4 4v18a4 4 0 0 0 4 4h28a4 4 0 0 0 4-4V9a4 4 0 0 0-4-4z" fill="#DA251D">
                </path>
                <path d="M19.753 16.037L18 10.642l-1.753 5.395h-5.672l4.589 3.333l-1.753 5.395L18 21.431l4.589 3.334l-1.753-5.395l4.589-3.333z" fill="#FF0">
                </path>
               </g>
              </svg>
             </span>
             Vietnamese
            </a>
           </li>
           <li class="js-language-select" data-lang="en" data-title="English">
            <a class="notranslate" href="javascript:void(0)">
             <span class="flag">
              <svg aria-hidden="true" class="iconify iconify--twemoji" fill="#000000" height="22" preserveaspectratio="xMidYMid meet" role="img" viewbox="0 0 36 36" width="22" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
               <g id="SVGRepo_bgCarrier" stroke-width="0">
               </g>
               <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
               </g>
               <g id="SVGRepo_iconCarrier">
                <path d="M35.445 7C34.752 5.809 33.477 5 32 5H18v2h17.445zM0 25h36v2H0zm18-8h18v2H18zm0-4h18v2H18zM0 21h36v2H0zm4 10h28c1.477 0 2.752-.809 3.445-2H.555c.693 1.191 1.968 2 3.445 2zM18 9h18v2H18z" fill="#B22334">
                </path>
                <path d="M.068 27.679c.017.093.036.186.059.277c.026.101.058.198.092.296c.089.259.197.509.333.743L.555 29h34.89l.002-.004a4.22 4.22 0 0 0 .332-.741a3.75 3.75 0 0 0 .152-.576c.041-.22.069-.446.069-.679H0c0 .233.028.458.068.679zM0 23h36v2H0zm0-4v2h36v-2H18zm18-4h18v2H18zm0-4h18v2H18zM0 9zm.555-2l-.003.005L.555 7zM.128 8.044c.025-.102.06-.199.092-.297a3.78 3.78 0 0 0-.092.297zM18 9h18c0-.233-.028-.459-.069-.68a3.606 3.606 0 0 0-.153-.576A4.21 4.21 0 0 0 35.445 7H18v2z" fill="#EEE">
                </path>
                <path d="M18 5H4a4 4 0 0 0-4 4v10h18V5z" fill="#3C3B6E">
                </path>
                <path d="M2.001 7.726l.618.449l-.236.725L3 8.452l.618.448l-.236-.725L4 7.726h-.764L3 7l-.235.726zm2 2l.618.449l-.236.725l.617-.448l.618.448l-.236-.725L6 9.726h-.764L5 9l-.235.726zm4 0l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L9 9l-.235.726zm4 0l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L13 9l-.235.726zm-8 4l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L5 13l-.235.726zm4 0l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L9 13l-.235.726zm4 0l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L13 13l-.235.726zm-6-6l.618.449l-.236.725L7 8.452l.618.448l-.236-.725L8 7.726h-.764L7 7l-.235.726zm4 0l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L11 7l-.235.726zm4 0l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L15 7l-.235.726zm-12 4l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L3 11l-.235.726zM6.383 12.9L7 12.452l.618.448l-.236-.725l.618-.449h-.764L7 11l-.235.726h-.764l.618.449zm3.618-1.174l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L11 11l-.235.726zm4 0l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L15 11l-.235.726zm-12 4l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L3 15l-.235.726zM6.383 16.9L7 16.452l.618.448l-.236-.725l.618-.449h-.764L7 15l-.235.726h-.764l.618.449zm3.618-1.174l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L11 15l-.235.726zm4 0l.618.449l-.236.725l.617-.448l.618.448l-.236-.725l.618-.449h-.764L15 15l-.235.726z" fill="#FFF">
                </path>
               </g>
              </svg>
             </span>
             English
            </a>
           </li>
           <li class="js-language-select" data-lang="ja" data-title="Japanese">
            <a class="notranslate" href="javascript:void(0)">
             <span class="flag">
              <svg aria-hidden="true" class="iconify iconify--twemoji" fill="#000000" height="22" preserveaspectratio="xMidYMid meet" role="img" viewbox="0 0 36 36" width="22" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
               <g id="SVGRepo_bgCarrier" stroke-width="0">
               </g>
               <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
               </g>
               <g id="SVGRepo_iconCarrier">
                <path d="M36 27a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V9a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4v18z" fill="#EEE">
                </path>
                <circle cx="18" cy="18" fill="#ED1B2F" r="7">
                </circle>
               </g>
              </svg>
             </span>
             Japanese
            </a>
           </li>
           <li class="js-language-select" data-lang="ko" data-title="Korean">
            <a class="notranslate" href="javascript:void(0)">
             <span class="flag">
              <svg aria-hidden="true" class="iconify iconify--twemoji" fill="#000000" height="22" preserveaspectratio="xMidYMid meet" role="img" viewbox="0 0 36 36" width="22" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
               <g id="SVGRepo_bgCarrier" stroke-width="0">
               </g>
               <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
               </g>
               <g id="SVGRepo_iconCarrier">
                <path d="M36 27a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V9a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4v18z" fill="#EEE">
                </path>
                <path d="M21.441 13.085a6 6 0 0 0-8.356 1.474A3.001 3.001 0 0 0 18 18a3 3 0 0 1 4.915 3.442a6 6 0 0 0-1.474-8.357z" fill="#C60C30">
                </path>
                <path d="M22.178 17.264A3 3 0 0 0 18 18a3.001 3.001 0 0 1-4.915-3.442a6 6 0 1 0 9.829 6.882a2.997 2.997 0 0 0-.736-4.176z" fill="#003478">
                </path>
                <path d="M24.334 25.572l1.928-2.298l.766.643l-1.928 2.298zm2.57-3.063l1.928-2.297l.766.643l-1.928 2.297zm-1.038 4.351l1.928-2.297l.766.643l-1.928 2.297zm2.572-3.066l1.93-2.297l.766.644l-1.93 2.296zm-1.041 4.352l1.93-2.297l.765.643l-1.929 2.297zm2.571-3.065l1.927-2.3l.767.643l-1.927 2.3zm.004-14.162l.766-.643l1.93 2.299l-.767.643zM27.4 7.853l.766-.643l1.928 2.299l-.767.642zm-1.533 1.288l.766-.643l4.5 5.362l-.766.643zm-1.532 1.284l.767-.643l1.927 2.298l-.766.642zm2.57 3.065l.766-.643l1.93 2.297l-.765.643zM6.4 20.854l.766-.643l4.499 5.363l-.767.643zM4.87 22.14l.765-.642l1.929 2.298l-.767.643zm2.567 3.066l.766-.643l1.93 2.297l-.766.643zm-4.101-1.781l.766-.643l4.5 5.362l-.767.643zm-.001-10.852l4.498-5.362l.767.642l-4.5 5.363zm1.532 1.287l4.5-5.363l.766.643l-4.5 5.362zM6.4 15.145l4.5-5.363l.766.643l-4.5 5.363z" fill="#292F33">
                </path>
               </g>
              </svg>
             </span>
             Korean
            </a>
           </li>
           <li class="js-language-select" data-lang="zh-CN" data-title="Chinese">
            <a class="notranslate" href="javascript:void(0)">
             <span class="flag">
              <svg aria-hidden="true" class="iconify iconify--twemoji" fill="#000000" height="22" preserveaspectratio="xMidYMid meet" role="img" viewbox="0 0 36 36" width="22" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
               <g id="SVGRepo_bgCarrier" stroke-width="0">
               </g>
               <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
               </g>
               <g id="SVGRepo_iconCarrier">
                <path d="M36 27a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V9a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4v18z" fill="#DE2910">
                </path>
                <path d="M11.136 8.977l.736.356l.589-.566l-.111.81l.72.386l-.804.144l-.144.804l-.386-.72l-.81.111l.566-.589zm4.665 2.941l-.356.735l.566.59l-.809-.112l-.386.721l-.144-.805l-.805-.144l.721-.386l-.112-.809l.59.566zm-.957 3.779l.268.772l.817.017l-.651.493l.237.783l-.671-.467l-.671.467l.236-.783l-.651-.493l.817-.017zm-3.708 3.28l.736.356l.589-.566l-.111.81l.72.386l-.804.144l-.144.804l-.386-.72l-.81.111l.566-.589zM7 10.951l.929 2.671l2.826.058l-2.253 1.708l.819 2.706L7 16.479l-2.321 1.615l.819-2.706l-2.253-1.708l2.826-.058z" fill="#FFDE02">
                </path>
               </g>
              </svg>
             </span>
             Chinese
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
       <div class="greenweave-header-action-item greenweave-header-action_search">
        <div class="greenweave-header-action_text">
         <a aria-label="Tìm kiếm" class="greenweave-header-action__link greenweave-header-action_clicked" href="#" id="site-search-handle" title="Tìm kiếm">
          <span class="greenweave-box-icon">
           <svg class="greenweave-svg-ico-search" id="Capa_1" style="enable-background:new 0 0 451 451;" version="1.1" viewbox="0 0 451 451" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
            <g>
             <path d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3   s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4   C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3   s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z">
             </path>
            </g>
           </svg>
           <span class="greenweave-box-icon--close">
            <svg role="presentation" viewbox="0 0 19 19">
             <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd">
             </path>
            </svg>
           </span>
          </span>
         </a>
         <span class="greenweave-box-triangle">
          <svg role="presentation" viewbox="0 0 20 9">
           <path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z">
           </path>
          </svg>
         </span>
        </div>
        <div class="greenweave-header-action_dropdown">
         <div class="greenweave-header-dropdown_content">
          <div class="greenweave-sitenav-content greenweave-sitenav-search">
           <p class="greenweave-boxtitle">
            Tìm kiếm
           </p>
           <div class="greenweave-wpo-wrapper-search">
            <form action="/search" class="greenweave-searchform greenweave-ultimate-search">
             <div class="greenweave-wpo-search-inner">
              <input name="type" type="hidden" value="product"/>
              <input autocomplete="off" class="greenweave-input-search" id="greenweave-inputSearchAuto" maxlength="40" name="q" placeholder="Tìm kiếm sản phẩm..." required="" size="20" type="text"/>
             </div>
             <button aria-label="button search" class="greenweave-btn-search btn" id="greenweave-search-header-btn" type="submit">
              <svg class="svg search" style="enable-background:new 0 0 24 27;" version="1.1" viewbox="0 0 24 27" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
               <path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z">
               </path>
               <rect height="8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" x="17" y="17">
               </rect>
              </svg>
             </button>
            </form>
            <div class="greenweave-smart-search-wrapper greenweave-ajaxSearchResults" id="greenweave-ajaxSearchResults" style="display: none">
             <div class="greenweave-resultsContent">
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div class="greenweave-header-action-item greenweave-header-action_account">
        <div class="greenweave-header-action_text">
         <a aria-label="Tài khoản" class="greenweave-header-action__link" href="/account/login" title="Tài khoản">
          <span class="greenweave-box-icon">
           <svg class="greenweave-svg-ico-account" viewbox="0 0 1024 1024">
            <path class="path1" d="M486.4 563.2c-155.275 0-281.6-126.325-281.6-281.6s126.325-281.6 281.6-281.6 281.6 126.325 281.6 281.6-126.325 281.6-281.6 281.6zM486.4 51.2c-127.043 0-230.4 103.357-230.4 230.4s103.357 230.4 230.4 230.4c127.042 0 230.4-103.357 230.4-230.4s-103.358-230.4-230.4-230.4z">
            </path>
            <path class="path2" d="M896 1024h-819.2c-42.347 0-76.8-34.451-76.8-76.8 0-3.485 0.712-86.285 62.72-168.96 36.094-48.126 85.514-86.36 146.883-113.634 74.957-33.314 168.085-50.206 276.797-50.206 108.71 0 201.838 16.893 276.797 50.206 61.37 27.275 110.789 65.507 146.883 113.634 62.008 82.675 62.72 165.475 62.72 168.96 0 42.349-34.451 76.8-76.8 76.8zM486.4 665.6c-178.52 0-310.267 48.789-381 141.093-53.011 69.174-54.195 139.904-54.2 140.61 0 14.013 11.485 25.498 25.6 25.498h819.2c14.115 0 25.6-11.485 25.6-25.6-0.006-0.603-1.189-71.333-54.198-140.507-70.734-92.304-202.483-141.093-381.002-141.093z">
            </path>
           </svg>
          </span>
         </a>
        </div>
       </div>
       <div class="greenweave-header-action-item greenweave-header-action_cart greenweave-activeCartChecked greenweave-show-mb">
        <div class="greenweave-header-action_text">
         <a aria-label="Giỏ hàng" class="greenweave-header-action__link greenweave-header-action_clicked" href="#" title="Giỏ hàng">
          <span class="greenweave-box-icon">
           <svg viewbox="0 -13 456.75885 456" width="456pt" xmlns="http://www.w3.org/2000/svg">
            <path d="m150.355469 322.332031c-30.046875 0-54.402344 24.355469-54.402344 54.402344 0 30.042969 24.355469 54.398437 54.402344 54.398437 30.042969 0 54.398437-24.355468 54.398437-54.398437-.03125-30.03125-24.367187-54.371094-54.398437-54.402344zm0 88.800781c-19 0-34.402344-15.402343-34.402344-34.398437 0-19 15.402344-34.402344 34.402344-34.402344 18.996093 0 34.398437 15.402344 34.398437 34.402344 0 18.996094-15.402344 34.398437-34.398437 34.398437zm0 0">
            </path>
            <path d="m446.855469 94.035156h-353.101563l-7.199218-40.300781c-4.4375-24.808594-23.882813-44.214844-48.699219-48.601563l-26.101563-4.597656c-5.441406-.96875-10.632812 2.660156-11.601562 8.097656-.964844 5.441407 2.660156 10.632813 8.101562 11.601563l26.199219 4.597656c16.53125 2.929688 29.472656 15.871094 32.402344 32.402344l35.398437 199.699219c4.179688 23.894531 24.941406 41.324218 49.199219 41.300781h210c22.0625.066406 41.546875-14.375 47.902344-35.5l47-155.800781c.871093-3.039063.320312-6.3125-1.5-8.898438-1.902344-2.503906-4.859375-3.980468-8-4zm-56.601563 162.796875c-3.773437 12.6875-15.464844 21.367188-28.699218 21.300781h-210c-14.566407.039063-27.035157-10.441406-29.5-24.800781l-24.699219-139.398437h336.097656zm0 0">
            </path>
            <path d="m360.355469 322.332031c-30.046875 0-54.402344 24.355469-54.402344 54.402344 0 30.042969 24.355469 54.398437 54.402344 54.398437 30.042969 0 54.398437-24.355468 54.398437-54.398437-.03125-30.03125-24.367187-54.371094-54.398437-54.402344zm0 88.800781c-19 0-34.402344-15.402343-34.402344-34.398437 0-19 15.402344-34.402344 34.402344-34.402344 18.996093 0 34.398437 15.402344 34.398437 34.402344 0 18.996094-15.402344 34.398437-34.398437 34.398437zm0 0">
            </path>
           </svg>
           <span class="greenweave-box-icon--close">
            <svg role="presentation" viewbox="0 0 19 19">
             <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd">
             </path>
            </svg>
           </span>
           <span class="greenweave-count-holder">
            <span class="greenweave-count">
             0
            </span>
           </span>
          </span>
         </a>
         <span class="greenweave-box-triangle">
          <svg role="presentation" viewbox="0 0 20 9">
           <path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z" fill="#ffffff">
           </path>
          </svg>
         </span>
        </div>
       </div>
       <div class="greenweave-header-action-item greenweave-header-action_info greenweave-activeInfoChecked">
        <div class="greenweave-header-action_text">
         <a aria-label="info" class="greenweave-header-action__link" href="javascript:void(0)" title="info">
          <span class="greenweave-box-icon">
           <span aria-hidden="true" class="greenweave-hamburger-menu">
           </span>
          </span>
         </a>
         <span class="greenweave-box-triangle">
          <svg role="presentation" viewbox="0 0 20 9">
           <path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z" fill="#ffffff">
           </path>
          </svg>
         </span>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</header>
