<footer>
 <div class="mid-footer">
  <div class="container">
   <div class="row">
    <div class="col-lg-3">
     <div class="footer-block footer-click">
      <a class="logo-wrapper mb-3 d-block" href="/">
       <img alt="logo EGA Furniture" height="50" loading="lazy" src="//bizweb.dktcdn.net/100/491/756/themes/956460/assets/logo-footer.png?1746582633520" width="164"/>
      </a>
      <div class="text-base font-semibold mb-2 h4">
       Siêu thị nội thất EGA
      </div>
      <div class="mb-3">
       Thương hiệu nội thất uy tín và chất lượng, cam kết mang đến những trải nghiệm mua sắm tiện lợi, hiện đại và phong phú
      </div>
      <div class="mb-3">
       Mã số thuế: 12345678999
      </div>
      <div class="single-contact">
       <i class="fa fa-map-marker-alt">
       </i>
       <div class="content">
        Địa chỉ:
        <span>
         70 Lu Gia, District 11, Ho Chi Minh City
        </span>
       </div>
      </div>
      <div class="single-contact">
       <i class="fa fa-mobile-alt">
       </i>
       <div class="content">
        Số điện thoại:
        <a class="link" href="tel:19006750" title="19006750">
         19006750
        </a>
       </div>
      </div>
      <div class="single-contact">
       <i class="fa fa-envelope">
       </i>
       <div class="content">
        Email:
        <a class="link" href="mailto:support@sapo.vn" title="support@sapo.vn">
         support@sapo.vn
        </a>
       </div>
      </div>
      <div class="fot_copyright mt-3" id="copyright">
       <span class="wsp">
        © Bản quyền thuộc về
        <a class="link" href="https://egany.com" rel="nofollow" target="_blank">
         EGANY
        </a>
        | Cung cấp bởi
        <a class="link" href="https://www.sapo.vn/?utm_campaign=cpn:kho_theme-plm:footer&amp;utm_source=Tu_nhien&amp;utm_medium=referral&amp;utm_content=fm:text_link-km:-sz:&amp;utm_term=&amp;campaign=kho_theme-sapo" rel="nofollow" target="_blank" title="Sapo">
         Sapo
        </a>
       </span>
      </div>
     </div>
    </div>
    <div class="col-lg-9">
     <div class="row">
      <div class="col-lg-4">
       <div class="footer-block footer-click">
        <h3 class="footer-title title-menu clicked">
         HỖ TRỢ KHÁCH HÀNG
         <i class="fa fa-angle-down d-md-none d-inline-block">
         </i>
        </h3>
        <ul class="list-menu toggle-mn">
         <li class="li_menu">
          <a class="link" href="/gioi-thieu" title="Giới thiệu">
           Giới thiệu
          </a>
         </li>
         <li class="li_menu">
          <a class="link" href="/lien-he" title="Thông tin liên hệ">
           Thông tin liên hệ
          </a>
         </li>
         <li class="li_menu">
          <a class="link" href="/he-thong-cua-hang" title="Tra cứu cửa hàng">
           Tra cứu cửa hàng
          </a>
         </li>
         <li class="li_menu">
          <a class="link" href="/tu-van-noi-that-theo-phong-thuy" title="Tư vấn nội thất theo phong thủy">
           Tư vấn nội thất theo phong thủy
          </a>
         </li>
        </ul>
       </div>
      </div>
      <div class="col-lg-4">
       <div class="footer-block footer-click">
        <h3 class="footer-title title-menu clicked">
         CHÍNH SÁCH
         <i class="fa fa-angle-down d-md-none d-inline-block">
         </i>
        </h3>
        <ul class="list-menu toggle-mn">
         <li class="li_menu">
          <a class="link" href="/huong-dan-mua-hang-online" title="Điều khoản dịch vụ">
           Điều khoản dịch vụ
          </a>
         </li>
         <li class="li_menu">
          <a class="link" href="/chinh-sach-bao-mat" title="Chính sách bảo mật">
           Chính sách bảo mật
          </a>
         </li>
         <li class="li_menu">
          <a class="link" href="/chinh-sach-doi-tra" title="Chính sách đổi trả">
           Chính sách đổi trả
          </a>
         </li>
         <li class="li_menu">
          <a class="link" href="/chinh-sach-giao-hang" title="Chính sách giao hàng">
           Chính sách giao hàng
          </a>
         </li>
         <li class="li_menu">
          <a class="link" href="https://ega-furniture.mysapo.net/apps/affiliate-v2" title="Chương trình cộng tác viên">
           Chương trình cộng tác viên
          </a>
         </li>
        </ul>
       </div>
      </div>
      <div class="col-lg-4">
       <div class="footer-block footer-click">
        <h3 class="footer-title title-menu">
         ĐĂNG KÝ NHẬN TIN
        </h3>
        <p class="mailchimp-title">
         Bạn muốn nhận khuyến mãi đặc biệt? Đăng ký ngay.
        </p>
        <div class="form_register">
         <form class="newsletter-form custom-input-group mb-3" data-toggle="validator" id="mc-form">
          <input aria-label="Địa chỉ Email" autocomplete="off" class="form-control input-group-field" name="EMAIL" placeholder="Nhập địa chỉ email" required="" type="email"/>
          <div class="input-group-btn btn-action">
           <button aria-label="Đăng ký nhận tin" class="h-100 btn text-white button_subscribe subscribe" name="subscribe" type="submit">
            Đăng ký
           </button>
          </div>
         </form>
         <div class="mailchimp-alerts">
          <div class="mailchimp-submitting">
          </div>
          <!-- mailchimp-submitting end -->
          <div class="mailchimp-success mb-2">
          </div>
          <!-- mailchimp-success end -->
          <div class="mailchimp-error mb-2">
          </div>
          <!-- mailchimp-error end -->
         </div>
        </div>
        <ul class="follow_option d-flex flex-wrap align-items-center list-unstyled mt-2">
         <li>
          <a class="facebook link" href="https://www.facebook.com/" target="_blank" title="Theo dõi Facebook EGA Furniture">
           <img alt="facebook" height="32" loading="lazy" src="//bizweb.dktcdn.net/100/491/756/themes/956460/assets/facebook.png?1746582633520" width="32">
           </img>
          </a>
         </li>
         <li>
          <a class="zalo link" href="https://zalo.me/834141234794359440" target="_blank" title="Theo dõi zalo EGA Furniture">
           <img alt="zalo" height="32" loading="lazy" src="//bizweb.dktcdn.net/100/491/756/themes/956460/assets/zalo.png?1746582633520" width="32">
           </img>
          </a>
         </li>
         <li>
          <a class="instgram link" href="https://www.instagram.com/" target="_blank" title="Theo dõi instgram EGA Furniture">
           <img alt="instgram" height="32" loading="lazy" src="//bizweb.dktcdn.net/100/491/756/themes/956460/assets/instagram.png?1746582633520" width="32">
           </img>
          </a>
         </li>
         <li>
          <a class="youtube link" href="https://www.youtube.com/" target="_blank" title="Theo dõi youtube EGA Furniture">
           <img alt="youtube" height="36" loading="lazy" src="//bizweb.dktcdn.net/100/491/756/themes/956460/assets/youtube.png?1746582633520" width="36">
           </img>
          </a>
         </li>
         <li>
          <a class="tiktok link" href="https://www.tiktok.com/" target="_blank" title="Theo dõi tiktok EGA Furniture">
           <img alt="tiktok" height="36" loading="lazy" src="//bizweb.dktcdn.net/100/491/756/themes/956460/assets/tiktok.png?1746582633520" width="36">
           </img>
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
     <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
       <div class="trustbadge-wrap mt-4">
        <div class="product-trustbadge d-flex flex-wrap align-items-center">
         <a href="/collections/all" target="_blank" title="Phương thức thanh toán">
          <img alt="Phương thức thanh toán" class="img-fluid" height="36" loading="lazy" src="//bizweb.dktcdn.net/100/491/756/themes/956460/assets/footer_trustbadge.png?1746582633520" width="301"/>
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</footer>
