<header class="ega-header ega-pos--relative">
 <div class="header-wrap container">
  <div class="toggle-nav btn menu-bar mr-4 ml-0 p-0 d-lg-none d-flex text-white">
   <span class="bar">
   </span>
   <span class="bar">
   </span>
   <span class="bar">
   </span>
  </div>
  <div id="logo">
   <a class="logo-wrapper" href="/">
    <img alt="logo EGA Furniture" class="img-fluid" height="45" src="//bizweb.dktcdn.net/100/491/756/themes/956460/assets/logo.png?1746582633520" width="134"/>
   </a>
  </div>
  <div class="navigation--horizontal d-lg-flex align-items-center d-none">
   <div class="navigation-wrapper navigation-horizontal-wrapper">
    <nav>
     <ul class="navigation navigation-horizontal list-group list-group-flush scroll">
      <li class="menu-item list-group-item">
       <a class="menu-item__link" href="/collections/all" title="Sản phẩm">
        <span>
         Sản phẩm
        </span>
        <i class="float-right" data-toggle-submenu="">
         <svg class="icon">
          <use xlink:href="#icon-arrow">
          </use>
         </svg>
        </i>
       </a>
       <div class="submenu scroll mega-menu">
        <div class="toggle-submenu d-lg-none d-xl-none">
         <i class="mr-3">
          <svg class="icon" style="transform: rotate(180deg)">
           <use xlink:href="#icon-arrow">
           </use>
          </svg>
         </i>
         <span>
          Sản phẩm
         </span>
        </div>
        <ul class="submenu__list container">
         <li class="submenu__col">
          <span class="submenu__item submenu__item--main">
           <a class="link" href="/san-pham-moi" title="Nội thất">
            Nội thất
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="Sofa phòng khách">
            Sofa phòng khách
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="Bàn ăn">
            Bàn ăn
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="Ghế ăn">
            Ghế ăn
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="Tủ và giá đỡ">
            Tủ và giá đỡ
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="Nội thất sân vưởn">
            Nội thất sân vưởn
           </a>
          </span>
         </li>
         <li class="submenu__col">
          <span class="submenu__item submenu__item--main">
           <a class="link" href="/den-trang-tri" title="Đèn trang trí">
            Đèn trang trí
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="Đèn ngoài trời">
            Đèn ngoài trời
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="Đèn tường">
            Đèn tường
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="Đèn bàn">
            Đèn bàn
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="Đèn trần">
            Đèn trần
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="Phụ kiện chống sét">
            Phụ kiện chống sét
           </a>
          </span>
         </li>
         <li class="submenu__col">
          <span class="submenu__item submenu__item--main">
           <a class="link" href="/tu-giay-tu-trang-tri" title="Vật dụng trong nhà">
            Vật dụng trong nhà
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="Gương">
            Gương
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="Móc và giá treo áo">
            Móc và giá treo áo
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="Phụ kiện nhà bếp">
            Phụ kiện nhà bếp
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="Chân nến và đèn lồng">
            Chân nến và đèn lồng
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="Bình hoa">
            Bình hoa
           </a>
          </span>
         </li>
         <li class="submenu__col">
          <span class="submenu__item submenu__item--main">
           <a class="link" href="/ban-ghe-an" title="Bộ sưu tập">
            Bộ sưu tập
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="MỚI! Nâng cao nỗi nhớ">
            MỚI! Nâng cao nỗi nhớ
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="BST Nỗi nhớ">
            BST Nỗi nhớ
           </a>
          </span>
          <span class="submenu__item submenu__item">
           <a class="link" href="/" title="BST Bước ngoặc">
            BST Bước ngoặc
           </a>
          </span>
         </li>
        </ul>
       </div>
      </li>
      <li class="menu-item list-group-item">
       <a class="menu-item__link" href="/collections/all" title="Phòng">
        <span>
         Phòng
        </span>
        <i class="float-right" data-toggle-submenu="">
         <svg class="icon">
          <use xlink:href="#icon-arrow">
          </use>
         </svg>
        </i>
       </a>
       <div class="submenu scroll default">
        <div class="toggle-submenu d-lg-none d-xl-none">
         <i class="mr-3">
          <svg class="icon" style="transform: rotate(180deg)">
           <use xlink:href="#icon-arrow">
           </use>
          </svg>
         </i>
         <span>
          Phòng
         </span>
        </div>
        <ul class="submenu__list container">
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/phong-khach" title="Phòng khách">
           Phòng khách
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/giuong-ngu-hien-dai" title="Phòng ngủ">
           Phòng ngủ
          </a>
         </li>
         <li class="submenu__item submenu__item--main">
          <a class="link" href="/nha-bep" title="Phòng bếp">
           Phòng bếp
          </a>
         </li>
        </ul>
       </div>
      </li>
      <li class="menu-item list-group-item">
       <a class="menu-item__link" href="/flashsale" title="Khuyến mãi">
        <span>
         Khuyến mãi
        </span>
       </a>
      </li>
      <li class="menu-item list-group-item">
       <a class="menu-item__link" href="/tin-tuc" title="Góc cảm hứng">
        <span>
         Góc cảm hứng
        </span>
       </a>
      </li>
      <li class="menu-item list-group-item">
       <a class="menu-item__link" href="https://wiki.egany.com/s/ega-furniture-sapo" target="_blank" title="Hướng dẫn thiết lập">
        <span>
         Hướng dẫn thiết lập
        </span>
       </a>
      </li>
     </ul>
    </nav>
   </div>
   <div class="navigation-arrows">
    <i class="fas fa-chevron-left prev disabled">
    </i>
    <i class="fas fa-chevron-right next">
    </i>
   </div>
  </div>
  <div class="header-right ega-d--flex">
   <div id="desktop-lang">
   </div>
   <div class="icon-action header-right__icons" style="--header-grid-template: repeat(3, 1fr);">
    <span class="header-icon icon-action__search icon-action__search--desktop toggle_form_search">
     <img alt="icon-search" src="//bizweb.dktcdn.net/100/491/756/themes/956460/assets/icon-search.png?1746582633520">
     </img>
    </span>
    <div class="ega-color--inherit header-icon icon-account d-none d-lg-block" id="icon-account">
     <img alt="icon-account" src="//bizweb.dktcdn.net/100/491/756/themes/956460/assets/icon-account.png?1746582633520"/>
     <div class="account-action">
      <a href="/account/login" title="Đăng nhập">
       Đăng nhập
      </a>
      <a href="/account/register" title="Đăng ký">
       Đăng ký
      </a>
     </div>
    </div>
    <div class="mini-cart text-xs-center">
     <a class="header-icon cart-count ega-color--inherit" href="/cart" title="Giỏ hàng">
      <img alt="icon-cart" src="//bizweb.dktcdn.net/100/491/756/themes/956460/assets/icon-cart.png?1746582633520"/>
      <span class="count_item count_item_pr">
       0
      </span>
     </a>
     <div class="top-cart-content card">
      <ul class="mini-products-list count_li list-unstyled" id="cart-sidebar">
       <li class="list-item">
        <ul>
        </ul>
       </li>
       <li class="action">
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
 </div>
</header>
