
.red-500{
    color: #D53C00;
}

.section-item{
    border-radius: 4px;
}

.section-header{
    border-bottom: 1px solid #EBEBEB;
    .login-title{
        color: #757575;
    }
    .freeship-title{
        padding: 10px;
        background: #FFF7F0;
        border-radius: 4px;
        font-size: 12px;
    }
}

.section-title{
    font-size: 18px;
    padding: 10px;
}

.btn-no-cart{
    padding: 8px 30px;
    border-radius: 4px;
    color: #fff;
    background: #D53C00;
    &:hover{
        color: #fff;
        background: #C23700;
    }
}

.cart-item{
    display: grid;
    grid-template-columns: 88px 2.5fr 1fr;
    line-height: normal;
    .price-origin{
        text-decoration: line-through;
        color: #949494;
    }
    .price-public{
        color: #D53C00;
    }
    img{
        width: 88px;
        height: 88px;
        object-fit: contain;
        border-radius: 4px;
    }
    .sub-name{
        color: #949494;
    }
    .cart-quantity{
        .form-control{
            width: 64px;
            height: 32px;
            box-shadow: none;
            border-radius: 0;
            font-weight: 500;
            text-align: center;
            color: #3B3B3B;
            -moz-appearance: textfield;
            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
                -webkit-appearance: none;
            }
            &:focus{
                border-color: #D53C00;
            }
        }
        a{
            border: 1px solid #DEDEDE;
            width: 32px;
            height: 32px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            &:first-child{
                border-radius: 2px 0 0 2px;
                border-right: 0;
            }
            &:last-child{
                border-radius: 0 2px 2px 0;
                border-left: 0;
            }
            rect{
                transition: 0.15s ease-in-out;
            }
            &:hover{
                border-color: #D53C00;
                background: #D53C00;
                rect{
                    fill: #fff;
                }
            }
        }
    }
}

.cart-item-gift{
// grid-template-columns: 88px auto;
    img{
        width: 60px;
        height: 60px;
        margin-left: auto;
        display: block;
    }
    .text-gift{
        padding: 0 4px;
        border-radius: 2px;
        line-height: normal;
        display: inline-flex;
        width: fit-content;
        height: 20px;
        align-items: center;
        color: #fff;
        font-size: 12px;
        background: linear-gradient(45deg, #2d388a 0%, #00aeef 100%);
    }
    .select-gift{
        padding: 6px 16px;
        border-radius: 4px;
        border-color: #EBEBEB;
        color: inherit;
        font-size: inherit;
        box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0);
        appearance: auto;
        &:focus{
            border-color: #D53C00;
            box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0.6);
        }
    }
}

.section-discount-code{
    border-top: 1px solid #EBEBEB;
    .discount-box{
        display: grid;
        grid-template-columns: 4fr 1fr;
        height: 40px;
        border-radius: 4px;
        background: #EBEBEB;
        border: 1px solid #EBEBEB;
        transition: 0.15s ease-in-out;
        .form-control{
            border: none;
            padding: 8px 16px;
            height: 100%;
            border-radius: 4px;
            box-shadow: none;
            font-size: inherit;
            color: inherit;
            &::placeholder{
                color: #A3A3A3;
            }
        }
        .add-discount{
            color: #A3A3A3;
            transition: 0.15s ease-in-out;
        }
        &:hover{
            background: #D53C00;
            border-color: #D53C00;
            .add-discount{
                color: #fff;
            }
        }
    }
}

.section-price-item{
    border-top: 1px solid #EBEBEB;
    .price-item-title{
        color: #757575;
    }
}

.section-price{
    border-top: 1px solid #EBEBEB;
}

.section-form{
    gap: 10px;
    .col-4 {
        width: calc((100% - 20px) / 3);
    }
    .form-control{
        padding: 8px 16px;
        height: 40px;
        border-radius: 4px;
        border-color: #EBEBEB;
        color: inherit;
        font-size: inherit;
        box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0);
        &::placeholder{
            color: #A3A3A3;
        }
        &:focus{
            border-color: #D53C00;
            box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0.6);
        }
    }
    .select2{
        .select2-selection{
            height: 40px;
            border-color: #EBEBEB;
            box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0);
            transition: 0.15s ease-in-out;
            .select2-selection__rendered{
                line-height: 40px;
                padding: 0 16px;
            }
            .select2-selection__arrow{
                height: 40px;
            }
        }
        &.select2-container--open{
            .select2-selection{
                border-color: #D53C00;
                box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0.6);
            }
        }
    }
}

.section-transport{
    color: #949494;
}

.section-payment{
    .form-check{
        cursor: pointer;
    }
    label{
        cursor: pointer;
    }
    .form-check-input{
        cursor: pointer;
        width: 20px;
        height: 20px;
        box-shadow: none;
        opacity: 0.5;
        &:checked{
            opacity: 1;
            background-color: #D53C00;
            border-color: #D53C00;
        }
    }
}

.submit-cart{
    background: #D53C00;
    border-radius: 4px;
    &:hover{
        background: #C23700;
    }
}

.user-level{
    width: fit-content;
    height: 24px;
    font-size: 11px;
    border-radius: 2px;
    gap: 6px;
    color: #fff;
    padding: 0 8px;
    line-height: normal;
    &.level-0{
        background: linear-gradient(253deg, #917866 -19.37%, #D8D6BC 10.01%, #7C6455 38.29%, #987F6B 65.07%, #7C6455 81.43%, #7B6353 113.8%);
    }
    &.level-1{
        background: linear-gradient(254deg, #ABB3C0 -12.91%, #DCDFE5 16.41%, #97A1AE 44.62%, #B3BAC6 71.34%, #97A1AE 87.66%, #959FAC 119.95%);
    }
    &.level-2{
        background: linear-gradient(254deg, #C59F43 -27.67%, #FCF4B6 3.83%, #B68828 34.15%, #D7BA6F 62.86%, #B2931F 80.41%, #AD7A1F 115.11%);
    }
    &.level-3{
        background: linear-gradient(254deg, #1CAFB7 -21.74%, #3DD5E1 6.11%, #139697 32.91%, #1EB7C3 58.29%, #139697 73.8%, #139294 104.47%);
    }
}

.modal-address{
    .modal-dialog{
        max-width: 620px;
    }
    .modal-content{
        border-radius: 4px;
    }
    .btn-close{
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
    }
    .modal-form{
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        .col{
            flex: 1 0 calc((100% - 12px) / 2);
        }
        .col-12{
            flex: 1 0 100%;
        }
    }
    .form-check{
        cursor: pointer;
        padding-left: 2rem;
        padding-top: 1rem;
        margin-bottom: 0;
        label{
            cursor: pointer;
        }
        .form-check-input{
            cursor: pointer;
            width: 20px;
            height: 20px;
            box-shadow: none;
            margin-top: 0;
            margin-left: -2rem;
            &:checked{
                background-color: #D53C00;
                border-color: #D53C00;
            }
        }
    }
    .form-control{
        padding: 8px 16px;
        height: 40px;
        border-radius: 4px;
        border-color: #EBEBEB;
        color: inherit;
        font-size: inherit;
        box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0);
        &::placeholder{
            color: #A3A3A3;
        }
        &:focus{
            border-color: #D53C00;
            box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0.6);
        }
    }
    .select2{
        width: 100% !important;
        .select2-selection{
            height: 40px;
            border-color: #EBEBEB;
            box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0);
            transition: 0.15s ease-in-out;
            .select2-selection__rendered{
                line-height: 40px;
                padding: 0 16px;
            }
            .select2-selection__arrow{
                height: 40px;
            }
        }
        &.select2-container--open{
            .select2-selection{
                border-color: #D53C00;
                box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0.6);
            }
        }
    }
    .btn-form{
        width: 100px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        &.btn-cancel-add-more-address:hover{
            color: #fff;
            background: #D53C00;
        }
        &.btn-cancel:hover{
            color: #fff;
            background: #D53C00;
        }
        &.btn-save-address{
            color: #fff;
            background: #D53C00;
            &:hover{
                color: #fff;
                background: #C23700;
            }
        }
        &.btn-add-more-address{
            color: #fff;
            background: #D53C00;
            margin: auto;
            width: 130px;
            &:hover{
                color: #fff;
                background: #C23700;
            }
        }
    }
    .card-body{
        border: none;
        background: #F5F5F5;
        border-radius: 0 0 4px 4px;
    }
}

.user-address{
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background: #F5F5F5;
    transition: 0.1s ease-in-out;
    &.user-address-default{
        background: #fff;
        border-color: #3B3B3B;
    }
    .item-address{
        border-radius: 4px;
        background: #fff;
        transition: 0.1s ease-in-out;
        cursor: pointer;
        .is-default{
            top: 1rem;
            right: 1rem;
        }
    }
    .btn-show-form{
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        color: #2476FF;
        opacity: 0;
        visibility: hidden;
        transition: 0.1s ease-in-out;
    }

    &:hover{
        background: #FBECE6;
        border-color: #FBECE6;
        .item-address{
            background: inherit;
        }
        .btn-show-form{
            opacity: 1;
            visibility: visible;
        }
    }
}
.section-payment ul{
    padding: 1rem;
}
.section-payment ul li{
    list-style: none;
    padding: 10px 0 0 0;
}
.section-payment ul li input{
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    box-shadow: none;
    border-radius: 50%;
    opacity: 0.5;
}
.section-payment ul li input:checked{
    opacity: 1;
    background-color: #D53C00;
    border-color: #D53C00;
}
#tableShipFee > div{
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 10px;
}
#progressbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9c9c9cc7;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    display: none;
    z-index: 999;
}
div#progressbar.active{
    opacity: 1;
    display: flex;
    visibility: visible;
}
#progressbar img {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}