.form-address {
    background-color: #fff;
    display: block;
    width: 100%;
    padding: 25px;
    margin-bottom: 44px;
}
h4.title_address {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 35px;
}
#form-search select{
    background: #F4F4F4;
    border: 1px solid #f4f4f4;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    margin-bottom: 30px;
}
button.search-maps {
    background: #FFD4D8;
    border: 1px solid #FFD4D8;
    border-radius: 11px;
    width: 100%;
    height: 40px;
    font-weight: 400;
}
#store-list{
    padding: 0;
    margin: 0;
}
#store-list li{
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid#4c4c4c4f;
}
.stores{
    background: #fff;
}
#store-list li p,#store-list li a{
    color: #4C4C4C;
}
#store-list li .locationTitle{
    font-weight: 700;
}
.address-map {
    max-height: 605px;
    overflow-y: auto;
}
#store-list li a{
    color: #FB4C4E;
}
#store-list li a svg{
    margin-left: 5px;
}
.address-map::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
.fix-breadcrumb {
    margin-bottom: 50px;
}
.address-map::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.address-map::-webkit-scrollbar-thumb
{
    background-color: #000000;
}