.order-status {
    gap: 4px;
    a {
        width: 100%;
        padding: 12px 8px;
        text-align: center;
        border-bottom: 2px solid transparent;
        &:hover {
            border-color: #d53c00;
        }
        &.active {
            border-color: #d53c00;
        }
    }
}

.item-order {
    .page-border-radius {
        border-radius: 8px;
    }
    .item-order-detail {
        display: grid;
        grid-template-columns: 88px auto 150px;
        grid-gap: 1rem;
        padding: 16px 0;
        border-bottom: 1px solid #ebebeb;
        img {
            width: 88px;
            height: 88px;
            object-fit: contain;
            border-radius: 4px;
        }
        .text-grey {
            color: #949494;
        }
        &:last-child {
            border: none;
        }
    }
    .item-header {
        padding: 16px 24px;
        margin-bottom: 1px;
    }
    .item-body {
        padding: 0 24px;
        margin-bottom: 1px;
    }
    .item-footer {
        background: #fafafa;
        padding: 16px 24px;
        border: 2px solid #fff;
        .title {
            width: 88px;
        }
    }
    .btn-detail {
        padding: 10px 40px;
        color: #a3a3a3;
        border-radius: 4px;
        border: 1px solid #a3a3a3;
        &:hover {
            background: #d53c00;
            border-color: #d53c00;
            color: #fff;
        }
    }
    .btn-detail-complete {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
        color: #d53c00;
        background: #fdf5f2;
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            color: #fff;
            background: #d53c00;
        }
    }
}

.section-padding {
    padding: 16px 24px;
}

.section-grid {
    grid-template-columns: 1fr 1fr 1fr;
    .text-success {
        font-style: italic;
        color: #3ba500 !important;
    }
    .text-error {
        font-style: italic;
        color: #ff8100 !important;
    }
}

.section-total {
    border: 2px solid #fff;
    background: #fafafa;
    border-radius: 0 0 4px 4px;
}

.table-detail {
    margin-bottom: 0;
    color: inherit;
    th {
        padding: 16px 24px;
        color: #b0b0b0;
        &:first-child {
            border-radius: 4px 0 0 0;
        }
        &:last-child {
            border-radius: 0 4px 0 0;
        }
    }
    td {
        padding: 16px 24px;
        vertical-align: middle;
        color: inherit;
    }
    a {
        display: grid;
        grid-template-columns: 88px auto;
        grid-gap: 1rem;
        img {
            height: 88px;
            width: 88px;
            object-fit: contain;
            border-radius: 4px;
        }
    }
    thead{
        position: sticky;
        top: 70px;
    }
    .img-gift{
        width: 60px;
        height: 60px;
        margin-left: auto;
    }
    .text-gift{
        padding: 0 4px;
        border-radius: 2px;
        line-height: normal;
        display: inline-flex;
        width: fit-content;
        height: 20px;
        align-items: center;
        color: #fff;
        font-size: 12px;
        background: linear-gradient(45deg, #2d388a 0%, #00aeef 100%);
    }
}

.modal-order-complete {
    .modal-dialog {
        max-width: 500px;
    }
    .modal-content {
        border-radius: 4px;
    }
    .modal-body {
        padding: 48px;
    }
    .btn-close {
        position: absolute;
        width: 40px;
        height: 40px;
        right: -20px;
        top: -20px;
        opacity: 1;
        background-color: #fff;
        border-radius: 100%;
        color: inherit;
        padding: 0;
        transition: 0.15s ease-in-out;
        &:hover {
            background-color: #d53c00;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
        }
    }
    .form-submit {
        padding: 8px 16px;
        height: 48px;
        border-radius: 4px;
        color: #fff;
        background: rgba(214, 61, 0, 0.4);
        &:hover {
            background: rgba(214, 61, 0, 1);
        }
    }
    .form-control {
        padding: 8px 16px;
        border-radius: 4px;
        border-color: #f5f5f5;
        color: inherit;
        font-size: inherit;
        background: #f5f5f5;
        box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0);
        &::placeholder {
            color: #a3a3a3;
        }
        &:focus {
            border-color: #d53c00;
            background: #fff;
            box-shadow: 0px 0px 6px 0px rgba(214, 61, 0, 0.6);
        }
    }
    .modal-product {
        padding: 12px;
        border-radius: 4px;
        background: #f5f5f5;
        display: grid;
        grid-template-columns: 40px auto;
        grid-gap: 12px;
        color: #757575;
        img {
            width: 40px;
            height: 40px;
            object-fit: contain;
            border-radius: 4px;
        }
        div:nth-child(1) {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            color: #383338;
        }
    }
}

.modal-check-coverage {
    .table {
        border: 1px solid #ebebeb;
        td {
            padding: 14px;
            border: 1px solid #ebebeb;
        }
        tr:nth-child(1) {
            td {
                color: #b0b0b0;
                background: #f5f5f5;
            }
        }
    }
}

.modal-rate {
    .text-red {
        color: #d53c00;
    }
    .review-rate {
        p {
            position: absolute;
            right: 0;
            top: 100%;
        }
    }
    .review-rating-item {
        cursor: pointer;
        color: #dedede;
        transition: 0.1s ease-in-out;
        &.active,
        &.select {
            color: #f7a928;
        }
    }
    .list-image-review {
        img {
            width: 72px;
            height: 72px;
            object-fit: cover;
            border-radius: 4px;
        }
    }
    .submit-image {
        width: 100%;
        color: #d53c00;
        background: #fdf5f2;
        width: 100%;
        height: 48px;
        border-radius: 4px;
        &.active {
            color: #b0b0b0;
            border: 2px dashed #b0b0b0;
            flex-direction: column;
            width: 72px;
            height: 72px;
            background-color: #fff;
        }
        &:hover {
            background: #d53c00;
            color: #fff;
            border-color: #d53c00;
        }
    }
}

.star-rating {
    --percent: calc(var(--rating) / 5 * 100%);
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: relative;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    &::before {
        content: "\f005 \f005 \f005 \f005 \f005";
        background: linear-gradient(90deg, #f7a928 var(--percent), #dedede var(--percent));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@media (max-width: 500px) {
    .item-order-detail{
        grid-template-columns: 88px 1fr 100px !important;
    }
    .section-grid{
        display: flex !important;
        flex-direction: column;
    }
    .table-detail{
        td{
            padding: 16px 10px;
        }
        a{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
    .item-order{
        .btn-detail{
            padding: 10px;
        }
    }
}
#frmIndexOrder {
    margin: 0 auto;
}
#frmIndexOrder {
    width: 33%;
    display: block;
    margin-left: auto;
    margin-bottom: 3rem;
    position: relative;
}
#frmIndexOrder input {
    border: none;
    border-bottom: 1px solid rgba(112, 112, 112, .75);
    border-radius: 0;
}
#frmIndexOrder button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 1rem;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
}