.sign-form {
    width: 50%;
}

.sign-img {
    width: 50%;
    padding-left: 5rem;
}

.main {
    margin: 2rem 0;
}

.sign-desc {
    padding: 1rem 2rem;
    text-align: center;
}

#frmIndexOrder input {
    border-radius: 25px;
    border: 1px solid rgba(112,112,112,.75);
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-indent: 15px;
    font-size: .875rem;
}

#btnsignin, #btnsignup, #signupMb, #signinMb {
    border-radius: 25px;
    border: 1px solid rgba(112,112,112,.75);
    width: 100%;
    height: 40px;
    font-size: .8rem;
    background: #ee5a8a;
    border-color: #ee5a8a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.social-btn {
    border-radius: 25px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-indent: 15px;
    font-size: .75rem;
    color: #fff;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.05rem;
}

.social-fb {
    background: #1877F2;
    border-color: #1877F2;
}

.social-gg {
    background: #DD4B39;
    border-color: #DD4B39;
}

.social-btn i {
    display: inline;
    margin-right: 10px;
}

.top-info {
    padding: 2rem;
    background: rgba(245, 140, 169, 1);
    text-align: center;
}

.top-info i {
    font-size: 2.5rem;
}

.top-info {
    color: #fff;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.03);
}

.pay-point {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.85);
    color: rgba(112, 112, 112, 1);
}

.pay-point p {
    margin: 0.5rem 0;
}

.bottom-nav {
    background: #fff;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.03);
}

.bottom-nav img {
    width: 28px;
    margin-right: 10px;
}

.bottom-nav i {
    font-size: 21px;
    margin-left: 4px;
    margin-right: 14px;
    color: rgba(112, 112, 112, 1);
}

.bottom-nav li {
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    position: relative;
}

.bottom-nav li:after {
    content: ">";
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 1.125rem;
    color: rgba(112, 112, 112, 1);
}

.bottom-nav li.active {
    background: rgba(248, 246, 247, 1);
}

.final {
    margin-top: 3rem;
    padding: 1rem 0;
    background: #fff;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.03);
}

.final img {
    width: 28px;
    margin-right: 10px;
}

.userIndex {
    padding: 1rem;
    background: #fff;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.03);
}

.info-item {
    padding: 10px 0;
}

.info-item>span:first-child {
    width: 100px;
    display: inline-block;
}
.content-main{
    padding: 0;
}
.content-main .hot-slider .product-item .product-img {
    width: 20%;
}

.content-main .hot-slider .product-item .product-info {
    width: 73%;
    padding: 0;
}

.content-main .hot-slider-order .product-item .product-info {
    width: 77%;
}

.content-main .hot-slider .product-item {
    align-items: flex-start;
    position: relative;
}

.content-main .quickview {
    width: fit-content;
    padding: 0 25px;
    height: 32px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ee5a8a;
    background: transparent;
    bottom: 1rem;
    left: 23%;
    right: auto;
    font-size: 0.75rem;
    font-weight: 500;
}

.content-main .hot-slider .product-item {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(233, 233, 233, 1);
}

.content-main .hot-slider .product-item:last-child {
    border: none;
}

.content-main .product-info {
    align-items: stretch;
}

.content-main .product-name {
    margin: 0 0 0.25rem;
    font-weight: 700;
}

.content-main .product-price--origin {
    margin-left: 15px;
}

.content-main .product-color {
    margin-top: 0.5rem;
}

.remove-wishlist {
    font-size: 1rem;
    cursor: pointer;
}

.wishlist-search, #frmIndexOrder {
    width: 33%;
    display: block;
    margin-left: auto;
    margin-bottom: 3rem;
    position: relative;
}

#frmIndexOrder {
    margin: 0 auto;
}

#frmIndexOrder input {
    border: none;
    border-bottom: 1px solid rgba(112,112,112,.75);
    border-radius: 0;
}

.wishlist-search i, #frmIndexOrder button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 1rem;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
}

.time-status {
    padding: 15px;
    background: #f4f4f4;
}

.time-status img {
    width: 20px;
    margin-right: 5px;
}

.content-main .hot-slider-order .product-item {
    border: none;
    padding-top: 0;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
}

.hot-slider-order {
    padding-bottom: 0.75rem;
    border-bottom: 1px solid rgba(233, 233, 233, 1);
}

.btn-user-vote {
    height: 38px;
    border-radius: 25px;
    background: linear-gradient(90deg,#fb7fa2 2.33%,#ee5a8a 96.91%);
    box-shadow: 0px 0px 50px rgb(238 90 138 / 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: fit-content;
    border: none;
    padding: 0 25px;
}

.select-wrap {
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    border: 1px solid #969696;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    transition: all .4s;
}

.active .select-wrap {
    display: flex;
}

.active.select-wrap {
    background: #ee5a8a;
    color: #fff;
    border-color: #ee5a8a;
}

.ord-search .hot-slider .product-item .product-info {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.ord-search .content-main .hot-slider .product-item {
    align-items: center;
}

.ord-search .content-main .hot-slider .product-item .product-img {
    width: 13%;
}

.ord-search .content-main .hot-slider-order .product-item .product-info {
    width: 85%;
}

@media (max-width: 768px) {
    .sign-form, .sign-img {
        width: 100%;
        padding: 0;
    }
    #signupMb, #signinMb {
        background: transparent;
        color: inherit;
    }
    .wishlist-search, #frmIndexOrder {
        width: 100%;
    }
    .content-main .hot-slider .product-item {
        display: flex;
        justify-content: space-between;
    }
    .content-main .hot-slider .product-item .product-img {
        width: 30%;
    }
    .content-main .hot-slider .product-item .product-info {
        width: 60%;
    }
    .content-main .quickview {
        left: 33%;
    }
    .main {
        margin: 0;
    }
    .content-main .hot-slider-order .product-item {
        padding-bottom: 1rem;
    }
    .ord-search .content-main .hot-slider .product-item .product-img {
        width: 30%;
    }
    .ord-search .content-main .hot-slider-order .product-item .product-info {
        width: 65%;
    }
    .ord-search .content-main .hot-slider .product-item {
        position: relative;
        margin-bottom: 4.5rem;
    }
    .ord-search .product-price, .ord-search .btn-user-vote {
        position: absolute;
        top: calc(100% + 1.25rem);
        left: 0;
    }
    .ord-search .btn-user-vote {
        right: 0;
        left: auto;
    }
    #LoginMember {
        display: flex;
        flex-direction: column;
    }
    #LoginMember>.row {
        order: 1
    }
    #LoginMember>.row:nth-child(3), #LoginMember>.row:last-child, #LoginMember>p {
        order: 2;
    }
    #LoginMember>.row:nth-child(4)>div {
        text-align: center !important;
    }
}

