.section-item{
    border-radius: 4px;
}

.text-grey{
    color: #757575;
}

.section-header{
    a{
        border-radius: 4px;
        display: inline-block;
        padding: 12px 24px;
        background: #D53C00;
        color: #fff;
        &:hover{
            color: #fff;
            background: #C23700;
        }
    }
}

.order-id{
    padding:  10px 16px;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid #3B3B3B;
}

.table-order{
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    img{
        width: 88px;
        height: 88px;
        object-fit: contain;
        border-radius: 4px;
    }
    td, th{
        vertical-align: middle;
        padding: 16px;
        &.text-grey{
            color: #757575;
        }
    }
}

.table-container{
    border-radius: 4px;
}

.text-gift{
    padding: 0 4px;
    border-radius: 2px;
    line-height: normal;
    display: inline-flex;
    width: fit-content;
    height: 20px;
    align-items: center;
    color: #fff;
    font-size: 12px;
    background: linear-gradient(45deg, #2d388a 0%, #00aeef 100%);
}

.img-gift{
    padding-left: 28px;
    img{
        height: 60px;
        width: 60px;
    }
}

@media (max-width: 768px) {
    .section-item{
        padding: 15px 10px !important;
    }
    tbody{
        tr{
            td{
                padding: 10px 5px;
                .gap-3{
                    flex-direction: column !important;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .table-order{
        td{
            padding: 16px 8px !important;
        }
    }
}