.section-categories > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 45px;
    background: transparent;
}
.section-categories button.slick-prev{
    left: 0;
}
.section-categories button.slick-next{
    right: 0;
}
.section-categories .item-sug-album{
    margin: 0 10px;
}
.section-categories button.slick-prev,
.section-categories button.slick-next {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 0;
    color: #fff;
    transition: 0.1s ease-in-out;
    z-index: 1;
    font-size: 13px;
}
.section-categories button.slick-prev:hover,
.section-categories button.slick-next:hover {
    background: rgba(0, 0, 0, 0.24);
}
.section-categories .slick-dots {
    left: 0;
    position: absolute;
    right: 0;
    list-style: none;
    bottom: 0.75rem;
    text-align: center;
    padding: 0;
    margin: 0;
}
.section-categories .slick-dots li{
    display: inline-block;
    width: auto;
}
.section-categories .slick-dots li button {
    background: rgba(0, 0, 0, 0.24);
    width: 8px;
    height: 8px;
    margin: 0 0.25rem;
    border-radius: 50%;
    text-indent: -9999px;
    overflow: hidden;
    border: none;
    padding: 0;
}
.section-categories{
    justify-content: center;
    border: none;
    background: #fff;
    border-radius: 4px;
    flex-wrap: nowrap;
    li{
        width: 100%;
    }
    .nav-link{
        width: 100%;
        border: none;
        border-bottom: 2px solid transparent;
        font-weight: 600;
        color: #3B3B3B;
        padding: 16px 8px;
        &.active{
            border-color: #D53C00;
            color: #D53C00;
        }
        &:hover{
            border-color: #D53C00;
            color: #D53C00;
        }
    }
}

.list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.layout-product-item{
    width: calc((100% - 60px) / 5);
}

@media (max-width: 960px) {
    .section-categories {
        flex-wrap: nowrap;
        text-wrap: nowrap;
        overflow: auto;
        justify-content: unset;
        border-radius: 0;
        .nav-link{
            padding: 16px 20px;
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .layout-product-item{
        width: calc((100% - 15px)/2);
        .layout-img{
            height: calc((100vw - 30px - 15px - 4px)/2);
        }
    }
}