<footer class="footer">
 <div class="mid-footer">
  <div class="box_social">
   <div class="container">
    <div class="row">
     <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="box_social_top">
       <div class="logo-footer">
        <a href="/" title="Sudes Box - Quà tặng ý nghĩa">
         <img alt="Sudes Box" class="lazyload" data-src="//bizweb.dktcdn.net/100/502/775/themes/950095/assets/logo.png?1750407550635" height="150" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="275"/>
        </a>
       </div>
       <span>
        Theo dõi chúng tôi trên
       </span>
       <div class="social-footer">
        <div class="social">
         <a aria-label="Facebook" href="https://facebook.com/" target="_blank" title="Theo dõi Sudes Box trên Facebook">
          <img alt="Facebook" class="lazyload" data-src="//bizweb.dktcdn.net/100/502/775/themes/950095/assets/facebook_foo.svg?1750407550635" height="31" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="32">
          </img>
         </a>
         <a aria-label="Instagram" href="https://www.instagram.com/" target="_blank" title="Theo dõi Sudes Box trên Instagram">
          <img alt="Instagram" class="lazyload" data-src="//bizweb.dktcdn.net/100/502/775/themes/950095/assets/insta_foo.svg?1750407550635" height="31" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="32"/>
         </a>
         <a aria-label="Twitter" href="#" target="_blank" title="Theo dõi Sudes Box trên Twitter">
          <img alt="Shopee" class="lazyload" data-src="//bizweb.dktcdn.net/100/502/775/themes/950095/assets/twiter_foo.svg?1750407550635" height="31" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="32"/>
         </a>
         <a aria-label="Youtube" href="#" target="_blank" title="Theo dõi Sudes Box trên Youtube">
          <img alt="Lazada" class="lazyload" data-src="//bizweb.dktcdn.net/100/502/775/themes/950095/assets/youtube_foo.svg?1750407550635" height="31" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="32"/>
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-cus-35 footer-info">
     <div class="list-menu toggle-mn">
      <div class="content-contact clearfix">
       <span class="list_footer">
        <svg class="bi bi-geo-alt-fill" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
         <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z">
         </path>
        </svg>
        SUDES BOX HÀ NỘI
       </span>
      </div>
      <div class="content_address_foo">
       <b>
        Địa chỉ:
       </b>
       Tòa Ladeco, 266 Đội Cấn - Ba Đình - Hà Nội
       <div class="d-block">
       </div>
       <b>
        Hotline:
       </b>
       <a href="tel:19006750" title="1900 6750">
        1900 6750
       </a>
      </div>
      <div class="content-contact clearfix">
       <span class="list_footer">
        <svg class="bi bi-geo-alt-fill" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
         <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z">
         </path>
        </svg>
        SUDES BOX SÀI GÒN
       </span>
      </div>
      <div class="content_address_foo content_foo_2">
       <b>
        Địa chỉ:
       </b>
       70 Lữ Gia - Quận 11 - TP. HCM
       <div class="d-block">
       </div>
       <b>
        Hotline:
       </b>
       <a href="tel:19006750" title="1900 6750">
        1900 6750
       </a>
      </div>
     </div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-cus-20 footer-click foomrtop">
     <h4 class="title-menu clicked">
      <span>
       Chính sách
      </span>
     </h4>
     <ul class="list-menu toggle-mn hidden-mob">
      <li class="li_menu">
       <a href="/chinh-sach-mua-hang" title="Chính sách mua hàng">
        Chính sách mua hàng
       </a>
      </li>
      <li class="li_menu">
       <a href="/chinh-sach-thanh-toan" title="Chính sách thanh toán">
        Chính sách thanh toán
       </a>
      </li>
      <li class="li_menu">
       <a href="/chinh-sach-van-chuyen" title="Chính sách vận chuyển">
        Chính sách vận chuyển
       </a>
      </li>
      <li class="li_menu">
       <a href="/cam-ket-cua-hang" title="Cam kết cửa hàng">
        Cam kết cửa hàng
       </a>
      </li>
      <li class="li_menu">
       <a href="/chinh-sach-bao-mat" title="Chính sách bảo mật">
        Chính sách bảo mật
       </a>
      </li>
      <li class="li_menu">
       <a href="/chinh-sach-thanh-vien" title="Chính sách thành viên">
        Chính sách thành viên
       </a>
      </li>
     </ul>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-cus-20 footer-click foomrtop">
     <h4 class="title-menu clicked">
      <span>
       Hướng dẫn
      </span>
     </h4>
     <ul class="list-menu toggle-mn hidden-mob footer-click">
      <li class="li_menu">
       <a href="/huong-dan-mua-hang" title="Hướng dẫn mua hàng">
        Hướng dẫn mua hàng
       </a>
      </li>
      <li class="li_menu">
       <a href="/huong-dan-doi-tra" title="Hướng dẫn đổi trả">
        Hướng dẫn đổi trả
       </a>
      </li>
      <li class="li_menu">
       <a href="/huong-dan-thanh-toan" title="Hướng dẫn thanh toán">
        Hướng dẫn thanh toán
       </a>
      </li>
      <li class="li_menu">
       <a href="/quy-dinh-bao-hanh" title="Quy định bảo hành">
        Quy định bảo hành
       </a>
      </li>
      <li class="li_menu">
       <a href="/huong-dan-chuyen-khoan" title="Hướng dẫn chuyển khoản">
        Hướng dẫn chuyển khoản
       </a>
      </li>
      <li class="li_menu">
       <a href="/huong-dan-hoan-hang" title="Hướng dẫn hoàn hàng">
        Hướng dẫn hoàn hàng
       </a>
      </li>
     </ul>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-cus-25 foomrtop">
     <div class="block-payment">
      <h4 class="title-menu">
       <span>
        Hỗ trợ thanh toán
       </span>
      </h4>
      <div class="payment-footer list-menu">
       <div class="payment-item">
        <img alt="MoMo" class="lazyload" data-src="//bizweb.dktcdn.net/100/502/775/themes/950095/assets/payment_1.png?1750407550635" height="58" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="126"/>
       </div>
       <div class="payment-item">
        <img alt="Zalo Pay" class="lazyload" data-src="//bizweb.dktcdn.net/100/502/775/themes/950095/assets/payment_2.png?1750407550635" height="58" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="126"/>
       </div>
       <div class="payment-item">
        <img alt="VnPay" class="lazyload" data-src="//bizweb.dktcdn.net/100/502/775/themes/950095/assets/payment_3.png?1750407550635" height="58" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="126"/>
       </div>
       <div class="payment-item">
        <img alt="Moca" class="lazyload" data-src="//bizweb.dktcdn.net/100/502/775/themes/950095/assets/payment_4.png?1750407550635" height="58" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="126"/>
       </div>
       <div class="payment-item">
        <img alt="Visa" class="lazyload" data-src="//bizweb.dktcdn.net/100/502/775/themes/950095/assets/payment_5.png?1750407550635" height="58" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="126"/>
       </div>
       <div class="payment-item">
        <img alt="ATM" class="lazyload" data-src="//bizweb.dktcdn.net/100/502/775/themes/950095/assets/payment_6.png?1750407550635" height="58" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="126"/>
       </div>
      </div>
     </div>
     <div class="block-certifi">
      <h4 class="title-menu">
       <span>
        Chứng nhận
       </span>
      </h4>
      <div class="certifi-footer">
       <a href="#" target="_blank" title="Chứng nhận 1">
        <img alt="Chứng nhận 1" class="lazyload" data-src="//bizweb.dktcdn.net/100/502/775/themes/950095/assets/certifi_1.png?1750407550635" height="126" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="258"/>
       </a>
       <a href="#" target="_blank" title="Chứng nhận 2">
        <img alt="Chứng nhận 2" class="lazyload" data-src="//bizweb.dktcdn.net/100/502/775/themes/950095/assets/certifi_2.png?1750407550635" height="138" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="204"/>
       </a>
      </div>
     </div>
     <div class="block-certifi box_social_mob">
      <h4 class="title-menu">
       <span>
        Theo dõi chúng tôi trên
       </span>
      </h4>
      <div class="social-footer">
       <div class="social">
        <a aria-label="Facebook" href="https://facebook.com/" target="_blank" title="Theo dõi Sudes Box trên Facebook">
         <img alt="Facebook" class="lazyload" data-src="//bizweb.dktcdn.net/100/502/775/themes/950095/assets/facebook_foo.svg?1750407550635" height="150" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="150"/>
        </a>
        <a aria-label="Instagram" href="https://www.instagram.com/" target="_blank" title="Theo dõi Sudes Box trên Instagram">
         <img alt="Instagram" class="lazyload" data-src="//bizweb.dktcdn.net/100/502/775/themes/950095/assets/insta_foo.svg?1750407550635" height="150" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="150"/>
        </a>
        <a aria-label="Twitter" href="#" target="_blank" title="Theo dõi Sudes Box trên Twitter">
         <img alt="Shopee" class="lazyload" data-src="//bizweb.dktcdn.net/100/502/775/themes/950095/assets/twiter_foo.svg?1750407550635" height="150" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="150"/>
        </a>
        <a aria-label="Youtube" href="#" target="_blank" title="Theo dõi Sudes Box trên Youtube">
         <img alt="Lazada" class="lazyload" data-src="//bizweb.dktcdn.net/100/502/775/themes/950095/assets/youtube_foo.svg?1750407550635" height="150" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC" width="150"/>
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="box_about_foo">
   <div class="container">
    <p class="title_ab_foo_2">
     Quà Tặng Cao Cấp Sudes Box
    </p>
    <p class="content_ab_foo">
     Với sứ mệnh tôn vinh giá trị của từng món quà, Sudes Box không chỉ là nơi tạo ra những sản phẩm độc đáo, mà còn là biểu tượng của sự quý phái và tinh tế.
     <br/>
     Sudes Box là biểu tượng của sự quý phái và tinh tế trong lĩnh vực quà tặng cao cấp. Mỗi sản phẩm được chăm chút tỉ mỉ từ thiết kế đến chất liệu, tạo nên sự độc đáo và sang trọng. Sự kết hợp tinh tế giữa hương vị, mỹ phẩm và các sản phẩm thủ công nghệ cao tạo nên những bộ quà độc đáo và ý nghĩa.
    </p>
   </div>
  </div>
  <div class="bg-footer-bottom copyright clearfix">
   <div class="container">
    <div class="row tablet">
     <div class="col-lg-12 col-md-12 col-xs-12 fot_copyright" id="copyright">
      <span class="wsp">
       <span class="mobile">
        © Bản quyền thuộc về
        <b>
         Sudes Team
        </b>
        <span class="dash">
         |
        </span>
       </span>
       <span class="opacity1">
        Cung cấp bởi
       </span>
       <a href="https://www.sapo.vn/?utm_campaign=cpn:kho_theme-plm:footer&amp;utm_source=Tu_nhien&amp;utm_medium=referral&amp;utm_content=fm:text_link-km:-sz:&amp;utm_term=&amp;campaign=kho_theme-sapo" rel="nofollow" target="_blank" title="Sapo">
        Sapo
       </a>
      </span>
     </div>
    </div>
   </div>
  </div>
 </div>
 <a class="backtop" href="#" title="Lên đầu trang">
  <svg aria-hidden="true" class="svg-inline--fa fa-angle-up fa-w-10" data-icon="angle-up" data-prefix="far" focusable="false" role="img" viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg">
   <path class="" d="M168.5 164.2l148 146.8c4.7 4.7 4.7 12.3 0 17l-19.8 19.8c-4.7 4.7-12.3 4.7-17 0L160 229.3 40.3 347.8c-4.7 4.7-12.3 4.7-17 0L3.5 328c-4.7-4.7-4.7-12.3 0-17l148-146.8c4.7-4.7 12.3-4.7 17 0z" fill="currentColor">
   </path>
  </svg>
 </a>
</footer>
