<footer class="footer">
 <div class="container">
  <div class="footer-top">
   <div class="footer-top-item">
    <h4>
     Giới thiệu
     <button class="f-button">
      <i class="lni lni-chevron-up">
      </i>
     </button>
    </h4>
    <ul>
     <li>
      <a href="/pages/about-us-2">
       Giới thiệu
      </a>
     </li>
     <li>
      <a href="/pages/chinh-sach-doi-tra">
       Chính sách đổi trả
      </a>
     </li>
     <li>
      <a href="/pages/chinh-sach-bao-mat">
       Chính sách bảo mật
      </a>
     </li>
     <li>
      <a href="/pages/chinh-sach-van-chuyen">
       Chính sách vận chuyển
      </a>
     </li>
     <li>
      <a href="/pages/dieu-khoan-dich-vu">
       Điều khoản dịch vụ
      </a>
     </li>
     <li>
      <a href="/pages/huong-dan-mua-hang">
       Hướng dẫn mua hàng
      </a>
     </li>
     <li>
      <a href="/pages/huong-dan-thanh-toan">
       Hướng dẫn thanh toán
      </a>
     </li>
     <li>
      <a href="/pages/lien-he">
       Liên hệ
      </a>
     </li>
    </ul>
    <ul class="list-social d-lg-flex d-none">
    </ul>
   </div>
   <div class="footer-top-item">
    <h4>
     Thông tin công ty
     <button class="f-button">
      <i class="lni lni-chevron-up">
      </i>
     </button>
    </h4>
    <ul>
     <li>
      CÔNG TY CỔ PHẦN NU VIỆT NAM
     </li>
     <li>
      Mã số thuế: 0107126252
     </li>
     <li>
      Địa chỉ:
      <a href="https://g.co/kgs/1zpU7Sc" target="_blank">
       Số 2, ngách 6/14 phố Đội Nhân, Phường Vĩnh Phúc, Quận Ba Đình, Thành phố Hà Nội, Việt Nam
      </a>
     </li>
     <li>
      Điện thoại bàn:
      <a href="tel:024.66512299">
       024.66512299
      </a>
     </li>
     <li>
      Hotline CSKH:
      <a href="tel:0936233836">
       0936233836
      </a>
     </li>
     <li>
      Hotline kênh Đại lý:
      <a href="0399050818">
       0399050818
      </a>
     </li>
     <li>
      Email:
      <a href="mailto:online@nous.com.vn">
       online@nous.com.vn
      </a>
     </li>
     <li>
      Ngày cấp: 30/03/2007, Nơi cấp : Sở kể hoạch và đầu tư thành phố Hà Nội
     </li>
    </ul>
   </div>
   <div class="footer-top-item">
    <h4>
     Hệ thống cửa hàng
     <button class="f-button">
      <i class="lni lni-chevron-up">
      </i>
     </button>
    </h4>
    <ul>
     <a href="https://goo.gl/maps/VmteWNXrMueXBLXF6">
      <li>
       Nous House HCM: 79 Mạc Thị Bưởi, Quận I, Thành phố Hồ Chí Minh – Hotline: 0988.771.875
      </li>
     </a>
     <a href="https://maps.app.goo.gl/Conza5E2ZPEwcHLJ6">
      <li>
       Nous House HN: 34 Quang Trung, Trần Hưng Đạo, Hoàn Kiếm, TP. Hà Nội – Hotline: 0988.929.465
      </li>
     </a>
     <a href="https://www.google.com/maps/place/422b+%C4%90.+Nguy%E1%BB%85n+Th%E1%BB%8B+Minh+Khai,+Ph%C6%B0%E1%BB%9Dng+5,+Qu%E1%BA%ADn+3,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.7705007,106.6835034,865m/data=!3m2!1e3!4b1!4m6!3m5!1s0x31752f22e47c0f0f:0x898f4461cb040dc!8m2!3d10.7705007!4d106.6860783!16s%2Fg%2F11fnpn1xcj?entry=ttu&amp;g_ep=EgoyMDI0MTExOC4wIKXMDSoASAFQAw%3D%3D">
      <li>
       Nous Store HCM: 422B Nguyễn Thị Minh Khai, Quận 3 – Hotline: 0969.009.035
      </li>
     </a>
     <a href="https://www.google.com/maps/place/170+%C4%90.+C%E1%BA%A7u+Gi%E1%BA%A5y,+Quan+Hoa,+C%E1%BA%A7u+Gi%E1%BA%A5y,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam/@21.033558,105.7953689,822m/data=!3m2!1e3!4b1!4m6!3m5!1s0x3135ab47174f106f:0x1fffa1cae79de3!8m2!3d21.033558!4d105.7979438!16s%2Fg%2F11csdkwdmt?entry=ttu&amp;g_ep=EgoyMDI0MTExOC4wIKXMDSoASAFQAw%3D%3D">
      <li>
       Nous Store HN: 170 Cầu Giấy, Q. Cầu Giấy, TP. Hà Nội – Hotline: 0977.177.493
      </li>
     </a>
     <a href="https://maps.app.goo.gl/Aw1SfzqZRa1G3S9J7">
      <li>
       Nous Store Hà Nội: Tầng 3, AEON Mall Q.Hà Đông - Hotline: 0989.491.875
      </li>
     </a>
     <li>
      Thời gian hoạt động: 9h00 - 21h30 (Thứ hai - Chủ nhật)
     </li>
    </ul>
   </div>
   <div class="footer-top-item">
    <h4>
     FANPAGE
     <button class="f-button">
      <i class="lni lni-chevron-up">
      </i>
     </button>
    </h4>
    <div>
     <iframe allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowfullscreen="true" frameborder="0" scrolling="no" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnousbabywear&amp;tabs=timeline&amp;width=340&amp;height=70&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" style="border:none;overflow:hidden" width="340">
     </iframe>
    </div>
   </div>
  </div>
 </div>
 <div class="footer-bot">
  <div class="container">
   <div class="copyright">
    <div class="row align-items-center">
     <div class="col-md-3 text-md-left text-center">
      <div class="logo-footer">
       <a class="logo" href="https://www.nous.vn">
        <img alt="noûs" class="img-fluid" data-src="//theme.hstatic.net/200000692427/1001117622/14/logo_fbottom.png?v=5689" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
       </a>
      </div>
     </div>
     <div class="col-md-4 text-center">
     </div>
     <div class="col-md-5 text-md-right text-center d-md-flex justify-content-md-end align-items-md-center">
      <p class="text-copyright mb-0">
       © 2025 -
       <a href="https://www.haravan.com?ref=f1genz" target="_blank">
        Powered by Haravan
       </a>
      </p>
      <div class="bct-logo">
       <a href="http://online.gov.vn/Home/WebDetails/76992">
        <img alt="Bộ Công Thương" class="img-fluid" data-src="https://file.hstatic.net/200000692427/file/bct_1a31754a964c4a5497e1e9edb98515a4.png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</footer>
