<header class="header">
 <div class="container">
  <div class="header-mid">
   <div class="header-mid-logo">
    <a href="/">
     <img alt="noûs" src="//theme.hstatic.net/200000692427/1001117622/14/logo.png?v=5689"/>
    </a>
   </div>
   <div class="header-mid-search">
    <form action="/search">
     <input name="type" type="hidden" value="product"/>
     <input autocomplete="off" name="q" placeholder="Tìm kiếm sản phẩm..." required="" type="text"/>
     <button type="submit">
      <i class="lni lni-search-alt">
      </i>
     </button>
    </form>
    <div class="header-mid-search-smart">
    </div>
   </div>
   <div class="header-mid-nav">
    <button class="header-button" data-action="search-mb">
     <svg class="" height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 48 48" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:svgjs="http://svgjs.com/svgjs" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
      <g>
       <path d="m40.9 39.485-7.813-7.812a14.878 14.878 0 0 0 3.72-9.865c0-4.007-1.56-7.774-4.393-10.607s-6.6-4.393-10.606-4.393S14.034 8.368 11.2 11.2s-4.393 6.6-4.393 10.607 1.56 7.773 4.393 10.606 6.6 4.394 10.607 4.394c3.67 0 7.13-1.323 9.865-3.721l7.812 7.812a.997.997 0 0 0 1.414 0 1 1 0 0 0 0-1.414zM12.614 31c-2.455-2.456-3.807-5.72-3.807-9.192s1.352-6.737 3.807-9.193c2.456-2.455 5.72-3.807 9.193-3.807S28.544 10.16 31 12.615c2.455 2.456 3.808 5.72 3.808 9.193S33.455 28.544 31 31c-2.456 2.455-5.72 3.808-9.192 3.808S15.07 33.455 12.615 31z" data-original="#000000" fill="#000000">
       </path>
      </g>
     </svg>
    </button>
    <button class="header-button" data-action="account">
     <strong>
      Tài khoản
     </strong>
     <svg class="" height="64" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 512 512" width="64" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:svgjs="http://svgjs.com/svgjs" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
      <g>
       <path class="" d="m36.169 415.023c3.667 2 90.814 48.977 179.831 48.977 8.815 0 17.829-.409 26.93-1.2l-5.4 23.4a8 8 0 0 0 9.594 9.594l73.539-16.971c.064-.014.124-.037.187-.053.158-.04.316-.084.473-.134.1-.033.2-.07.3-.107.143-.052.284-.108.424-.168.111-.048.219-.1.327-.152s.243-.122.362-.188.236-.136.352-.208.2-.128.3-.2q.188-.13.367-.27c.085-.066.169-.133.252-.2.125-.106.245-.216.362-.328.048-.046.1-.085.147-.132l135.768-135.761 5.657-5.657a48 48 0 0 0 -67.881-67.883l-5.654 5.653-19.045 19.045c-15.182-29.252-36.461-53.654-62-70.917a169.638 169.638 0 0 0 -51.921-23.563 96 96 0 1 0 -86.912-.016c-33.16 8.7-63.155 27.408-87.009 54.772-34.512 39.585-53.519 94.862-53.519 155.644a8 8 0 0 0 4.169 7.023zm219.831 62.304 10.846-47 36.154 36.153zm153.373-198.627a32 32 0 1 1 45.254 45.255zm-11.314 11.31 45.254 45.255-124.45 124.451-45.256-45.255zm-262.059-178.01a80 80 0 1 1 80 80 80.091 80.091 0 0 1 -80-80zm-38.421 150.865c30.843-35.38 72.899-54.865 118.421-54.865 62.08 0 116.184 35.819 145.442 96l-104.8 104.8c-.046.046-.086.1-.131.144-.11.116-.219.234-.323.357-.064.076-.125.154-.186.233-.1.127-.2.256-.289.39-.057.083-.111.167-.165.252-.084.134-.166.268-.243.408-.053.095-.1.193-.151.29-.066.132-.131.265-.19.4-.05.115-.094.232-.138.349s-.094.248-.135.376-.081.276-.118.415c-.022.081-.05.159-.069.242l-7.777 33.7a298.024 298.024 0 0 1 -30.727 1.644c-74.188 0-149.593-35.583-167.957-44.844.971-54.993 18.474-104.656 49.536-140.291z" data-original="#ffffff" fill="#ffffff" style="" xmlns="http://www.w3.org/2000/svg">
       </path>
      </g>
     </svg>
    </button>
    <button class="header-button" data-action="wishlist">
     <strong>
      Yêu thích
     </strong>
     <svg class="" height="64" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 25 25" width="64" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:svgjs="http://svgjs.com/svgjs" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
      <g>
       <g xmlns="http://www.w3.org/2000/svg">
        <path class="" d="m12.5 6.819c.811-1.668 2.522-2.819 4.5-2.819 2.76 0 5 2.24 5 5 0 2.918-1.484 5.594-3.285 7.745-2.646 3.161-5.954 5.182-5.954 5.182-.16.097-.362.097-.522 0 0 0-3.308-2.021-5.954-5.182-1.801-2.151-3.285-4.827-3.285-7.745 0-2.76 2.24-5 5-5 1.978 0 3.689 1.151 4.5 2.819zm8.5 2.181c0-2.208-1.792-4-4-4s-4 1.792-4 4v.019c-.011.267-.231.481-.5.481-.274 0-.496-.22-.5-.493v-.007c0-2.208-1.792-4-4-4s-4 1.792-4 4c0 2.682 1.396 5.126 3.051 7.103 2.103 2.511 4.64 4.273 5.449 4.803.809-.53 3.346-2.292 5.449-4.803 1.655-1.977 3.051-4.421 3.051-7.103zm-4-1.5c.828 0 1.5.672 1.5 1.5 0 .276.224.5.5.5s.5-.224.5-.5c0-1.38-1.12-2.5-2.5-2.5-.276 0-.5.224-.5.5s.224.5.5.5z" data-original="#ffffff" fill="#ffffff" style="">
        </path>
       </g>
      </g>
     </svg>
     <span class="wishlist-count count">
      0
     </span>
    </button>
    <button class="header-button" data-action="cart">
     <strong>
      Giỏ hàng
     </strong>
     <svg class="" height="64" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 512 512" width="64" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:svgjs="http://svgjs.com/svgjs" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
      <g>
       <g xmlns="http://www.w3.org/2000/svg">
        <g>
         <path class="" d="m490.535 170.005h-100.868l-94.33-98.898c-10.349-10.849-27.594-11.258-38.445-.909-.306.292-.602.592-.892.895-.29-.303-.585-.602-.892-.895-10.85-10.348-28.096-9.941-38.445.909l-94.33 98.897h-45.444c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h31.137l-.763.8s0 0-.001 0c-8.127 8.522-9.616 20.988-4.626 30.961-8.654 0-70.969 0-81.171 0-3.564 0-6.465-2.9-6.465-6.465v-18.83c0-3.565 2.9-6.465 6.465-6.465h20.216c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-20.216c-11.836 0-21.465 9.629-21.465 21.465v18.831c0 11.836 9.629 21.465 21.465 21.465h10.905l35.348 182.978c3.869 20.026 21.48 34.562 41.877 34.562h293.197c20.396 0 38.008-14.535 41.878-34.562l2.407-12.463c.785-4.067-1.875-8.001-5.942-8.786-4.064-.786-8 1.875-8.786 5.941l-2.407 12.463c-2.508 12.983-13.927 22.407-27.149 22.407h-293.198c-13.224 0-24.641-9.423-27.148-22.406l-34.8-180.135h417.092l-25.681 132.936c-.785 4.067 1.875 8 5.941 8.786 4.102.792 8.007-1.908 8.787-5.941l26.23-135.781h10.518c11.836 0 21.465-9.629 21.465-21.465v-18.83c.001-11.836-9.628-21.465-21.464-21.465zm-234.535-61.344 58.51 61.344h-117.021zm-137.476 104.734c-4.865-4.64-5.048-12.373-.407-17.238h-.001l109.4-114.697c4.641-4.865 12.374-5.048 17.238-.408 4.75 4.53 5.134 12.283.408 17.238l-109.4 114.697c-4.641 4.866-12.374 5.048-17.238.408zm34.364 3.37 30.294-31.761h145.636l30.294 31.761zm240.588-3.37c-4.865 4.64-12.599 4.456-17.238-.407l-109.401-114.698c-4.731-4.96-4.336-12.713.408-17.238 4.863-4.641 12.597-4.457 17.238.407l109.399 114.697c4.641 4.866 4.459 12.599-.406 17.239zm103.524-3.094c0 3.565-2.9 6.465-6.465 6.465-10.195 0-71.218 0-81.171 0 4.991-9.972 3.502-22.439-4.627-30.961l-.763-.8h86.561c3.564 0 6.465 2.9 6.465 6.465z" data-original="#ffffff" fill="#ffffff" style="">
         </path>
         <path class="" d="m151.595 269.496c-12.254 2.157-20.425 13.817-18.269 26.074l15.771 89.569c2.16 12.269 13.805 20.429 26.074 18.268 12.253-2.157 20.423-13.82 18.267-26.074l-15.77-89.569c-2.155-12.246-13.818-20.425-26.073-18.268zm20.975 119.138c-4.102.723-7.98-1.996-8.7-6.095l-15.77-89.569c-.721-4.087 2.004-7.981 6.095-8.701 4.072-.719 7.981 1.999 8.7 6.095l15.77 89.57c.72 4.086-2.004 7.98-6.095 8.7z" data-original="#ffffff" fill="#ffffff" style="">
         </path>
         <path class="" d="m233.488 291.667v89.569c0 12.413 10.099 22.512 22.512 22.512s22.512-10.099 22.512-22.512v-89.569c0-12.413-10.099-22.512-22.512-22.512s-22.512 10.099-22.512 22.512zm30.024 0v89.569c0 4.142-3.37 7.512-7.512 7.512s-7.512-3.37-7.512-7.512v-89.569c0-4.142 3.37-7.512 7.512-7.512s7.512 3.37 7.512 7.512z" data-original="#ffffff" fill="#ffffff" style="">
         </path>
         <path class="" d="m360.404 269.495c-12.214-2.148-23.921 6.045-26.072 18.268l-15.77 89.57c-2.156 12.251 6.009 23.916 18.27 26.075 12.295 2.162 23.916-6.023 26.071-18.268l15.771-89.569c2.156-12.255-6.011-23.917-18.27-26.076zm3.496 23.475-15.771 89.569c-.719 4.09-4.587 6.818-8.699 6.096-4.088-.72-6.816-4.611-6.095-8.701l15.77-89.57c.714-4.058 4.595-6.813 8.7-6.095 4.089.72 6.817 4.61 6.095 8.701z" data-original="#ffffff" fill="#ffffff" style="">
         </path>
        </g>
       </g>
      </g>
     </svg>
     <span class="cart-count count">
      0
     </span>
    </button>
    <button class="header-button" data-action="menu">
     <svg class="" height="512" style="enable-background:new 0 0 512 512" version="1.1" viewbox="0 0 512 512" width="512" x="0" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:svgjs="http://svgjs.com/svgjs" xmlns:xlink="http://www.w3.org/1999/xlink" y="0">
      <g>
       <script>
       </script>
       <path class="" d="m0 107.081a16 16 0 0 1 16-16h480a16 16 0 0 1 0 32h-480a16 16 0 0 1 -16-16zm496 132.919h-480a16 16 0 0 0 0 32h480a16 16 0 0 0 0-32zm-240 148.919h-240a16 16 0 0 0 0 32h240a16 16 0 0 0 0-32z" data-original="#000000" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
       </path>
      </g>
     </svg>
    </button>
   </div>
  </div>
  <div class="header-bot">
   <ul class="fHeader-menu0">
    <li class="">
     <a href="/pages/about-us-2">
      Giới thiệu Nous
     </a>
    </li>
    <li class="hasChild active bo-suu-tap">
     <a href="/">
      Bộ sưu tập
      <i class="lni lni-chevron-down">
      </i>
     </a>
     <ul class="fHeader-menu1" style="--columnCount:  3">
      <li class="">
       <a href="/collections/bst-giang-sinh">
        Bộ sưu tập Giáng Sinh
       </a>
      </li>
      <li class="">
       <a href="/collections/nous-mom">
        Bộ sưu tập Nous Mom
       </a>
      </li>
      <li class="">
       <a href="/collections/hang-moi">
        Bộ sưu tập mới
       </a>
      </li>
     </ul>
    </li>
    <li class="hasChild thoi-trang-so-sinh">
     <a href="/pages/thoi-trang-so-sinh-cho-be-0-24-thang">
      Thời trang sơ sinh
      <i class="lni lni-chevron-down">
      </i>
     </a>
     <ul class="fHeader-menu1" style="--columnCount: 4;">
      <li class="hasChild">
       <a href="/collections/tre-so-sinh-0-3-thang">
        Sơ sinh 0-3 tháng
        <i class="lni lni-chevron-right">
        </i>
       </a>
       <ul class="fHeader-menu2">
        <li class="">
         <a href="/collections/tre-so-sinh-bo-lien-coc">
          Bộ liền
         </a>
        </li>
        <li class="">
         <a href="/collections/bo-dai-tay">
          Bộ dài tay
         </a>
        </li>
       </ul>
      </li>
      <li class="hasChild">
       <a href="/collections/be-3-24-thang">
        Bé 3-24 tháng
        <i class="lni lni-chevron-right">
        </i>
       </a>
       <ul class="fHeader-menu2">
        <li class="">
         <a href="/collections/be-3-24-thang-ao-khoac-ngoai">
          Áo khoác
         </a>
        </li>
        <li class="">
         <a href="/collections/be-3-24-thang-bo-lien">
          Bộ liền
         </a>
        </li>
        <li class="">
         <a href="/collections/be-3-24-thang-bo-coc-tay">
          Bộ cộc tay
         </a>
        </li>
        <li class="">
         <a href="/collections/be-3-24-thang-bo-dai-tay">
          Bộ dài tay
         </a>
        </li>
        <li class="">
         <a href="/collections/be-3-24-thang-bo-yem">
          Bộ quần yếm
         </a>
        </li>
        <li class="">
         <a href="/collections/be-3-24-thang-vay">
          Váy
         </a>
        </li>
        <li class="">
         <a href="/collections/be-3-24-thang-quan">
          Quần
         </a>
        </li>
        <li class="">
         <a href="/collections/be-3-24-thang-set-qua-tang">
          Set quà tặng
         </a>
        </li>
       </ul>
      </li>
      <li class="hasChild">
       <a href="/collections/phu-kien-cho-tre-so-sinh">
        Phụ kiện
        <i class="lni lni-chevron-right">
        </i>
       </a>
       <ul class="fHeader-menu2">
        <li class="">
         <a href="/collections/phu-kien-cho-be-set-phu-kien">
          Set phụ kiện
         </a>
        </li>
        <li class="">
         <a href="/collections/phu-kien-cho-be-mu">
          Mũ
         </a>
        </li>
        <li class="">
         <a href="/collections/phu-kien-bao-tay-bao-chan">
          Bao tay bao chân
         </a>
        </li>
        <li class="">
         <a href="/collections/phu-kien-cho-be-yem">
          Yếm
         </a>
        </li>
        <li class="">
         <a href="/collections/phu-kien-cho-be-goi">
          Gối
         </a>
        </li>
        <li class="">
         <a href="/collections/phu-kien-khan">
          Khăn sữa
         </a>
        </li>
        <li class="">
         <a href="/collections/phu-kien-cho-be-khan-da-nang-khan-tam">
          Khăn đa năng
         </a>
        </li>
        <li class="">
         <a href="/collections/phu-kien-cho-be-giay">
          Giày
         </a>
        </li>
        <li class="">
         <a href="/collections/chan-u-cho-be">
          Chăn ủ
         </a>
        </li>
       </ul>
      </li>
      <li class="">
       <a href="/collections/tre-so-sinh-set-qua-tang">
        Set quà tặng
       </a>
      </li>
      <li class="">
       <a href="/collections/nous-premium-be-0-24-thang">
        Nous Premium
       </a>
      </li>
      <li class="">
       <a href="/collections/nous-petit-a-petit-be-0-24-thang">
        Nous Petit à Petit
       </a>
      </li>
      <li class="hasChild">
       <a href="/collections/hang-moi">
        Bộ sưu tập
        <i class="lni lni-chevron-right">
        </i>
       </a>
       <ul class="fHeader-menu2">
        <li class="">
         <a href="/collections/hang-moi">
          Hàng mới
         </a>
        </li>
        <li class="">
         <a href="/collections/bo-suu-tap-christmas-wonderland-2023/doituong:baby">
          Christmas wonderland 2023
         </a>
        </li>
       </ul>
      </li>
     </ul>
    </li>
    <li class="hasChild thoi-trang-cho-be-2-6y">
     <a href="/collections/tre-em-2-6-tuoi">
      Thời trang cho bé 2-6Y
      <i class="lni lni-chevron-down">
      </i>
     </a>
     <ul class="fHeader-menu1" style="--columnCount:  4">
      <li class="hasChild">
       <a href="/collections/be-trai">
        Bé trai 2 - 6 tuổi
        <i class="lni lni-chevron-right">
        </i>
       </a>
       <ul class="fHeader-menu2">
        <li class="">
         <a href="/collections/be-trai-ao-khoac-ngoai">
          Áo khoác
         </a>
        </li>
        <li class="">
         <a href="/collections/be-trai-bo-coc">
          Bộ cộc
         </a>
        </li>
        <li class="">
         <a href="/collections/be-trai-bo-dai-tay">
          Bộ dài tay
         </a>
        </li>
       </ul>
      </li>
      <li class="hasChild">
       <a href="/collections/be-gai">
        Bé gái 2 - 6 tuổi
        <i class="lni lni-chevron-right">
        </i>
       </a>
       <ul class="fHeader-menu2">
        <li class="">
         <a href="/collections/be-gai-ao-khoac-ngoai">
          Áo khoác
         </a>
        </li>
        <li class="">
         <a href="/collections/be-gai-bo-coc">
          Bộ cộc
         </a>
        </li>
        <li class="">
         <a href="/collections/be-gai-bo-dai-tay">
          Bộ dài tay
         </a>
        </li>
        <li class="">
         <a href="/collections/vay">
          Váy
         </a>
        </li>
       </ul>
      </li>
      <li class="">
       <a href="/collections/bo-suu-tap-christmas-wonderland-2023/doituong:kid">
        Christmas wonderland 2023
       </a>
      </li>
      <li class="">
       <a href="/collections/hang-moi/doituong:Kid">
        Bộ sưu tập mới
       </a>
      </li>
     </ul>
    </li>
    <li class="hasChild he-thong-dai-ly">
     <a href="https://www.nous.vn/pages/he-thong-cua-hang-dai-ly">
      Hệ thống đại lý
      <i class="lni lni-chevron-down">
      </i>
     </a>
     <ul class="fHeader-menu1" style="--columnCount:  2">
      <li class="">
       <a href="https://www.nous.vn/pages/dang-ky-lam-dai-ly">
        ĐĂNG KÍ ĐẠI LÝ
       </a>
      </li>
      <li class="">
       <a href="/pages/he-thong-cua-hang-dai-ly">
        HỆ THỐNG CỬA HÀNG
       </a>
      </li>
     </ul>
    </li>
    <li class="hasChild lon-cung-nous">
     <a href="https://www.nous.vn/blogs/all">
      Lớn cùng NOUS
      <i class="lni lni-chevron-down">
      </i>
     </a>
     <ul class="fHeader-menu1" style="--columnCount:  4">
      <li class="">
       <a href="/blogs/news">
        Tin tức
       </a>
      </li>
      <li class="">
       <a href="/blogs/nous-san-se">
        Nous san sẻ
       </a>
      </li>
      <li class="">
       <a href="/blogs/be-lon-khon">
        Bé lớn khôn
       </a>
      </li>
      <li class="">
       <a href="/blogs/me-truong-thanh">
        Mẹ trưởng thành
       </a>
      </li>
     </ul>
    </li>
   </ul>
  </div>
 </div>
</header>
