<div class="header-wrap-menu">
    <nav class="navbar-mainmenu styleMega">
        <ul class="menuList-main">
            <li class="active">
                <a href="/" title="Trang chủ">
                    Trang chủ
                </a>
            </li>
            <li class="has-submenu">
                <a href="/collections/all" title="Nam">
                    Nam
                    <span>
            <svg height="22" viewbox="0 0 128 128" width="22" xmlns="http://www.w3.org/2000/svg">
             <g>
              <path d="m44 108c-1.023 0-2.047-.391-2.828-1.172-1.563-1.563-1.563-4.094 0-5.656l37.172-37.172-37.172-37.172c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l40 40c1.563 1.563 1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z" data-original="currentColor" fill="currentColor">
              </path>
             </g>
            </svg>
           </span>
                </a>
                <ul class="menuList-submain">
                    <div class="container">
                        <li class="has-submenu active">
                            <a href="/" title="Giày nam">
                                Giày nam
                            </a>
                            <ul class="menuList-submain">
                                <li class="active">
                                    <a href="/" title="Giày chạy bộ">
                                        Giày chạy bộ
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="/" title="Giày bóng rổ">
                                        Giày bóng rổ
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="/" title="Giày cầu lông">
                                        Giày cầu lông
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="/" title="Giày dạo phố">
                                        Giày dạo phố
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu active">
                            <a href="/" title="Áo nam">
                                Áo nam
                            </a>
                            <ul class="menuList-submain">
                                <li class="">
                                    <a href="/collections/all" title="Áo chạy bộ">
                                        Áo chạy bộ
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="/" title="Áo khoác">
                                        Áo khoác
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="/collections/all" title="Quần nam">
                                Quần nam
                            </a>
                            <ul class="menuList-submain">
                                <li class="">
                                    <a href="/collections/all" title="Quần short">
                                        Quần short
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/collections/all" title="Quần dài">
                                        Quần dài
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="/collections/all" title="Nữ">
                    Nữ
                    <span>
            <svg height="22" viewbox="0 0 128 128" width="22" xmlns="http://www.w3.org/2000/svg">
             <g>
              <path d="m44 108c-1.023 0-2.047-.391-2.828-1.172-1.563-1.563-1.563-4.094 0-5.656l37.172-37.172-37.172-37.172c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l40 40c1.563 1.563 1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z" data-original="currentColor" fill="currentColor">
              </path>
             </g>
            </svg>
           </span>
                </a>
                <ul class="menuList-submain">
                    <div class="container">
                        <li class="has-submenu active">
                            <a href="/" title="Giày nữ">
                                Giày nữ
                            </a>
                            <ul class="menuList-submain">
                                <li class="">
                                    <a href="/collections/all" title="Giày chạy bộ">
                                        Giày chạy bộ
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/collections/all" title="Giày công sở">
                                        Giày công sở
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/collections/all" title="Giày dạo phố">
                                        Giày dạo phố
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="/collections/all" title="Áo nữ">
                                Áo nữ
                            </a>
                            <ul class="menuList-submain">
                                <li class="">
                                    <a href="/collections/all" title="Áo thể thao">
                                        Áo thể thao
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/collections/all" title="Áo khoác">
                                        Áo khoác
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="/collections/all" title="Quần nữ">
                                Quần nữ
                            </a>
                            <ul class="menuList-submain">
                                <li class="">
                                    <a href="/collections/all" title="Quần short">
                                        Quần short
                                    </a>
                                </li>
                                <li class="">
                                    <a href="/collections/all" title="Quần dài">
                                        Quần dài
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="/collections/all" title="Phụ kiện nữ">
                                Phụ kiện nữ
                            </a>
                        </li>
                    </div>
                </ul>
            </li>
            <li class="">
                <a href="/collections/all" title="Phụ kiện">
                    Phụ kiện
                </a>
            </li>
            <li class="has-submenu">
                <a href="/collections/all" title="Sản phẩm">
                    Sản phẩm
                    <span>
            <svg height="22" viewbox="0 0 128 128" width="22" xmlns="http://www.w3.org/2000/svg">
             <g>
              <path d="m44 108c-1.023 0-2.047-.391-2.828-1.172-1.563-1.563-1.563-4.094 0-5.656l37.172-37.172-37.172-37.172c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l40 40c1.563 1.563 1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z" data-original="currentColor" fill="currentColor">
              </path>
             </g>
            </svg>
           </span>
                </a>
                <ul class="menuList-submain">
                    <div class="container">
                        <li class="">
                            <a href="https://flyfeet.myharavan.com/products/adidas-eqt-cushion-adv-north-america?view=style-01" title="Kiểu hiển thị 1">
                                Kiểu hiển thị 1
                            </a>
                        </li>
                        <li class="">
                            <a href="https://flyfeet.myharavan.com/products/adidas-eqt-cushion-adv-north-america?view=style-02" title="Kiểu hiển thị 2">
                                Kiểu hiển thị 2
                            </a>
                        </li>
                        <li class="">
                            <a href="https://flyfeet.myharavan.com/products/adidas-eqt-cushion-adv-north-america?view=style-03" title="Kiểu hiển thị 3">
                                Kiểu hiển thị 3
                            </a>
                        </li>
                    </div>
                </ul>
            </li>
            <li class="">
                <a href="/pages/san-pham-khuyen-mai" title="Khuyến mãi">
                    Khuyến mãi
                </a>
            </li>
            <li class="has-submenu">
                <a href="/blogs/news" title="Blog">
                    Blog
                    <span>
            <svg height="22" viewbox="0 0 128 128" width="22" xmlns="http://www.w3.org/2000/svg">
             <g>
              <path d="m44 108c-1.023 0-2.047-.391-2.828-1.172-1.563-1.563-1.563-4.094 0-5.656l37.172-37.172-37.172-37.172c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l40 40c1.563 1.563 1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z" data-original="currentColor" fill="currentColor">
              </path>
             </g>
            </svg>
           </span>
                </a>
                <ul class="menuList-submain menuList-submain-banner">
                    <div class="container">
                        <li>
                            <a class="ratio-image" href="/" title="Blog banner 1">
                                <img alt="Blog banner 1" src="//theme.hstatic.net/200000758017/1001229453/14/mega_menu_1_img.jpg?v=22"/>
                            </a>
                            <a href="/" title="Blog banner 1">
                                Blog banner 1
                            </a>
                        </li>
                        <li>
                            <a class="ratio-image" href="/" title="Blog banner 2">
                                <img alt="Blog banner 2" src="//theme.hstatic.net/200000758017/1001229453/14/mega_menu_2_img.jpg?v=22"/>
                            </a>
                            <a href="/" title="Blog banner 2">
                                Blog banner 2
                            </a>
                        </li>
                        <li>
                            <a class="ratio-image" href="/" title="Blog banner 3">
                                <img alt="Blog banner 3" src="//theme.hstatic.net/200000758017/1001229453/14/mega_menu_3_img.jpg?v=22"/>
                            </a>
                            <a href="/" title="Blog banner 3">
                                Blog banner 3
                            </a>
                        </li>
                        <li>
                            <a class="ratio-image" href="/" title="Blog banner 4">
                                <img alt="Blog banner 4" src="//theme.hstatic.net/200000758017/1001229453/14/mega_menu_4_img.jpg?v=22"/>
                            </a>
                            <a href="/" title="Blog banner 4">
                                Blog banner 4
                            </a>
                        </li>
                        <li>
                            <a class="ratio-image" href="/" title="Blog banner 5">
                                <img alt="Blog banner 5" src="//theme.hstatic.net/200000758017/1001229453/14/mega_menu_5_img.jpg?v=22"/>
                            </a>
                            <a href="/" title="Blog banner 5">
                                Blog banner 5
                            </a>
                        </li>
                        <li>
                            <a class="ratio-image" href="/" title="Blog banner 6">
                                <img alt="Blog banner 6" src="//theme.hstatic.net/200000758017/1001229453/14/mega_menu_6_img.jpg?v=22"/>
                            </a>
                            <a href="/" title="Blog banner 6">
                                Blog banner 6
                            </a>
                        </li>
                    </div>
                </ul>
            </li>
            <li class="">
                <a href="/pages/about-us" title="Giới thiệu">
                    Giới thiệu
                </a>
            </li>
            <li class="">
                <a href="/pages/lien-he" title="Liên hệ">
                    Liên hệ
                </a>
            </li>
        </ul>
    </nav>
</div>