<footer class="mainFooter has-toolbar">
 <div class="footer-container">
  <div class="footer-expand-collapsed">
   <div class="container">
    <div class="row">
     <div class="col-lg-3 col-md-12 col-12 widget-footer">
      <div class="content-footer block-collapse row">
       <div class="col-lg-12 col-md-12 col-12">
        <div class="ft-logo">
         <h2>
          <a href="https://cozy-stay.myharavan.com" itemprop="url">
           Cozy Stay
          </a>
         </h2>
        </div>
        <div class="address-footer">
         <ul>
          <li class="contact-1">
           <i aria-hidden="true" class="fa fa-map-marker">
           </i>
           1234 Phan Đình Phùng, phường 9, Tp. Đà Lạt
          </li>
          <li class="contact-2">
           <i aria-hidden="true" class="fa fa-phone">
           </i>
           1900.000.XXX
          </li>
          <li class="contact-4">
           <i aria-hidden="true" class="fa fa-envelope">
           </i>
           hi@cozy-stay.info
          </li>
          <li class="contact-4">
           <i aria-hidden="true" class="fa fa-clock-o">
           </i>
           Phản hồi 24/7 qua điện thoại và email.
          </li>
         </ul>
        </div>
        <ul class="footerNav-social">
         <li>
          <a aria-label="Facebook" href="/" rel="noopener" target="_blank" title="Facebook">
           <i class="fa fa-facebook">
           </i>
          </a>
         </li>
         <li>
          <a aria-label="Youtube" href="/" rel="noopener" target="_blank" title="Youtube">
           <i class="fa fa-youtube-play">
           </i>
          </a>
         </li>
         <li>
          <a aria-label="Instagram" href="/" rel="noopener" target="_blank" title="Instagram">
           <i class="fa fa-instagram">
           </i>
          </a>
         </li>
         <li class="social-svg">
          <a aria-label="Tiktok" href="/" rel="noopener" target="_blank" title="Tiktok">
           <svg height="48" viewbox="0 0 48 48" width="48" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
            <path d="M 11.5 6 C 8.4802259 6 6 8.4802259 6 11.5 L 6 36.5 C 6 39.519774 8.4802259 42 11.5 42 L 36.5 42 C 39.519774 42 42 39.519774 42 36.5 L 42 11.5 C 42 8.4802259 39.519774 6 36.5 6 L 11.5 6 z M 11.5 9 L 36.5 9 C 37.898226 9 39 10.101774 39 11.5 L 39 36.5 C 39 37.898226 37.898226 39 36.5 39 L 11.5 39 C 10.101774 39 9 37.898226 9 36.5 L 9 11.5 C 9 10.101774 10.101774 9 11.5 9 z M 26.435547 13.023438 A 1.50015 1.50015 0 0 0 25 14.5 L 25 28 C 25 30.227598 23.227598 32 21 32 C 18.772402 32 17 30.227598 17 28 C 17 25.772402 18.772402 24 21 24 A 1.50015 1.50015 0 1 0 21 21 C 17.151598 21 14 24.151598 14 28 C 14 31.848402 17.151598 35 21 35 C 24.848402 35 28 31.848402 28 28 L 28 20.335938 C 29.268121 21.316987 30.78243 22 32.5 22 A 1.50015 1.50015 0 1 0 32.5 19 C 29.996501 19 28 17.003499 28 14.5 A 1.50015 1.50015 0 0 0 26.435547 13.023438 z">
            </path>
           </svg>
          </a>
         </li>
        </ul>
        <div class="logo-footer">
         <a href="/" rel="noreferrer" target="_blank">
          <img alt="Bộ Công Thương" class="lazyload" data-src="//theme.hstatic.net/200000931339/1001294381/14/footer_logobct_img.png?v=1765" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="/>
         </a>
        </div>
       </div>
      </div>
     </div>
     <div class="col-lg-5 col-md-12 col-12">
      <div class="row">
       <div class="col-lg-6 col-md-12 col-12 widget-footer footer-link">
        <h4 class="title-footer">
         Hỗ trợ
        </h4>
        <div class="content-footer block-collapse">
         <ul class="footerNav-link">
          <li class="item">
           <a href="/collections/onsale" title="Sản phẩm khuyến mãi">
            Sản phẩm khuyến mãi
           </a>
          </li>
          <li class="item">
           <a href="/collections/hot-products" title="Sản phẩm nổi bật">
            Sản phẩm nổi bật
           </a>
          </li>
          <li class="item">
           <a href="/collections/all" title="Tất cả sản phẩm">
            Tất cả sản phẩm
           </a>
          </li>
         </ul>
        </div>
       </div>
       <div class="col-lg-6 col-md-12 col-12 widget-footer footer-link">
        <h4 class="title-footer">
         Liên kết
        </h4>
        <div class="content-footer block-collapse">
         <ul class="footerNav-link">
          <li class="item">
           <a href="/" title="Trang chủ">
            Trang chủ
           </a>
          </li>
          <li class="item">
           <a href="/pages/about-us" title="Về Cozy Stay">
            Về Cozy Stay
           </a>
          </li>
          <li class="item">
           <a href="/pages/category" title="Các loại phòng">
            Các loại phòng
           </a>
          </li>
          <li class="item">
           <a href="/pages/nha-hang" title="Dịch vụ tại Cozy Stay">
            Dịch vụ tại Cozy Stay
           </a>
          </li>
          <li class="item">
           <a href="/blogs/news" title="Tin tức &amp; Bài viết">
            Tin tức &amp; Bài viết
           </a>
          </li>
          <li class="item">
           <a href="/pages/lien-he" title="Liên hệ">
            Liên hệ
           </a>
          </li>
         </ul>
        </div>
       </div>
      </div>
     </div>
     <div class="col-lg-4 col-md-12 col-12 widget-footer">
      <h4 class="title-footer">
       Đăng ký nhận tin
      </h4>
      <div class="content-footer block-collapse">
       <p class="newsletter-desc">
        Để nhận thông tin và cập nhật cũng như khuyến mãi mới nhất từ Cozy Stay
       </p>
       <div class="newsletter-block newsletter-widthAuto">
        <div class="newsletter-content newsletter-form">
         <form accept-charset="UTF-8" action="/account/contact" class="contact-form" method="post">
          <input name="form_type" type="hidden" value="customer"/>
          <input name="utf8" type="hidden" value="✓"/>
          <div class="form-group input-group">
           <input id="newsletter-tags" name="contact[tags]" type="hidden" value="Đăng kí nhận tin">
            <input aria-label="Email Address" class="form-control newsletter-input" id="newsletter-email" name="contact[email]" pattern="^(.)+@[A-Za-z0-9]([A-Za-z0-9.\-]*[A-Za-z0-9])?\.[A-Za-z]{1,13}$" placeholder="Nhập email của bạn" required="" type="email"/>
            <div class="input-group-btn">
             <button class="button dark cta-submitform newsletter-btn" type="submit">
              Đăng ký
             </button>
            </div>
           </input>
          </div>
          <div class="sitebox-recaptcha d-none">
           This site is protected by reCAPTCHA and the Google
           <a href="https://policies.google.com/privacy" rel="noreferrer" target="_blank">
            Privacy Policy
           </a>
           and
           <a href="https://policies.google.com/terms" rel="noreferrer" target="_blank">
            Terms of Service
           </a>
           apply.
          </div>
          <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt949_pDlIvwY02KQw6ycPAkJc1ox0H64pJZQMqEvRGSDdSzrkWPwb5E3t7GLjJVYjCyLFjU33tCvn3wHW61tDQv73sZaJpel9P0Yoa_tR35kP9E2tZ9uiPM6Osq1ZMZj5k"/>
          <input id="da6715ca5fa742649c9d2a06575dbd6c" name="g-recaptcha-response" type="hidden"/>
          <noscript data-src="https://www.google.com/recaptcha/api.js?render=6LchSLkqAAAAABVHBpeFgg8N-WgkYsr5fO6GUF_s">
          </noscript>
          <noscript>
           let recaptchaElm=document.getElementById('da6715ca5fa742649c9d2a06575dbd6c');let recaptchaForm=recaptchaElm.parentNode;recaptchaForm.addEventListener("submit",function(formEvent){if(!recaptchaElm.value){formEvent.preventDefault();grecaptcha.ready(function(){grecaptcha.execute('6LchSLkqAAAAABVHBpeFgg8N-WgkYsr5fO6GUF_s',{action:'submit'}).then(function(token){recaptchaElm.value=token;recaptchaForm.requestSubmit(formEvent.submitter)})})}})
          </noscript>
         </form>
         <p class="newsletter-error">
         </p>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="footer-copyright text-center">
    <div class="container">
     <p>
      Copyright © 2025
      <a href="https://cozy-stay.myharavan.com">
       Cozy Stay
      </a>
      .
      <a href="https://www.haravan.com/?utm_campaign=poweredby&amp;utm_medium=haravan&amp;utm_source=onlinestore" rel="nofollow noopener" target="_blank">
       Powered by Haravan
      </a>
     </p>
    </div>
   </div>
  </div>
 </div>
</footer>
