<header class="mainHeader mainHeader_temp02" id="site-header">
 <div class="mainHeader-middle">
  <div class="container">
   <div class="flex-container-header">
    <div class="header-wrap-iconav header-wrap-action d-sm-block d-lg-none">
     <div class="header-action">
      <div class="header-action-item header-action_menu activeMenuChecked">
       <div class="header-action_text">
        <a aria-label="Menu" class="header-action__link" href="javascript:void(0)" name="icon-menu-mobile" title="Menu">
         <span class="box-icon">
          <span aria-hidden="true" class="hamburger-menu">
           <span class="bar">
           </span>
          </span>
          <span class="box-icon--close">
           <svg role="presentation" viewbox="0 0 19 19">
            <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd">
            </path>
           </svg>
          </span>
         </span>
        </a>
       </div>
      </div>
     </div>
    </div>
    <div class="header-wrap-logo">
     <div class="wrap-logo" itemscope="" itemtype="http://schema.org/Organization">
      <h1>
       <a href="https://cozy-stay.myharavan.com" itemprop="url">
        Cozy Stay
       </a>
      </h1>
     </div>
    </div>
    <div class="header-wrap-menu d-none d-md-none d-lg-block">
     <nav class="navbar-mainmenu">
      <ul class="menuList-main">
       <li class="active">
        <a href="/" title="Trang chủ">
         Trang chủ
        </a>
       </li>
       <li class="">
        <a href="/pages/about-us" title="Về Cozy Stay">
         Về Cozy Stay
        </a>
       </li>
       <li class="">
        <a href="/pages/category" title="Các loại phòng">
         Các loại phòng
        </a>
       </li>
       <li class="has-submenu">
        <a href="/pages/nha-hang" title="Dịch vụ tại Cozy Stay">
         Dịch vụ tại Cozy Stay
         <svg height="12" viewbox="0 0 128 128" width="12" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
          <g>
           <path d="m64 88c-1.023 0-2.047-.391-2.828-1.172l-40-40c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l37.172 37.172 37.172-37.172c1.563-1.563 4.094-1.563 5.656 0s1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z">
           </path>
          </g>
         </svg>
        </a>
        <ul class="menuList-submain">
         <li class="">
          <a href="/pages/nha-hang" title="Nhà hàng">
           Nhà hàng
          </a>
         </li>
         <li class="">
          <a href="/pages/su-kien" title="Sự kiện">
           Sự kiện
          </a>
         </li>
        </ul>
       </li>
       <li class="">
        <a href="/blogs/news" title="Tin tức &amp; Bài viết">
         Tin tức &amp; Bài viết
        </a>
       </li>
       <li class="">
        <a href="/pages/lien-he" title="Liên hệ">
         Liên hệ
        </a>
       </li>
      </ul>
     </nav>
    </div>
    <div class="header-wrap-action">
     <div class="header-action">
      <div class="header-action-item header-action_btn">
       <a class="button" href="#section-home-form">
        ĐẶT PHÒNG
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</header>
