<footer class="footer">
 <div class="site-footer">
  <div class="container">
   <div class="footer-inner padding-top-25 padding-bottom-10">
    <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="footer-widget">
       <h3>
        <span>
         Liên hệ
        </span>
       </h3>
       <p>
        Cung cấp thông tin dịch vụ cưới, khuyến mãi cưới hấp dẫn, ý tưởng cưới và chia sẻ từ cộng đồng cưới lớn nhất Việt Nam. Tất cả vì đám cưới hoàn hảo của bạn!
       </p>
       <ul class="toggle-footer first-child-footer">
        <li>
         <i class="fa fa-map-marker">
         </i>
         70 Lu Gia, Ward 15, District 11, Ho Chi Minh City
        </li>
        <li>
         <i class="fa fa-mobile">
         </i>
         <a href="tel:19006750">
          1900 6750
         </a>
        </li>
        <li>
         <i class="fa fa-envelope">
         </i>
         <a href="mailto:support@sapo.vn">
          support@sapo.vn
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
      <div class="footer-widget">
       <h3>
        <span>
         Thông tin
        </span>
       </h3>
       <ul class="list-menu">
        <li>
         <a href="/">
          Trang chủ
         </a>
        </li>
        <li>
         <a href="/dich-vu-cuoi">
          Dịch vụ cưới
         </a>
        </li>
        <li>
         <a href="/album-cuoi">
          Album
         </a>
        </li>
        <li>
         <a href="/collections/all">
          Áo cưới
         </a>
        </li>
        <li>
         <a href="/tin-tuc">
          Kinh nghiệm cưới
         </a>
        </li>
        <li>
         <a href="/lien-he">
          Liên hệ
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
      <div class="footer-widget">
       <h3>
        <span>
         Làm đẹp
        </span>
       </h3>
       <ul class="list-menu">
        <li>
         <a href="/">
          Trang chủ
         </a>
        </li>
        <li>
         <a href="/dich-vu-cuoi">
          Dịch vụ cưới
         </a>
        </li>
        <li>
         <a href="/album-cuoi">
          Album
         </a>
        </li>
        <li>
         <a href="/collections/all">
          Áo cưới
         </a>
        </li>
        <li>
         <a href="/tin-tuc">
          Kinh nghiệm cưới
         </a>
        </li>
        <li>
         <a href="/lien-he">
          Liên hệ
         </a>
        </li>
       </ul>
      </div>
     </div>
     <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
      <div class="footer-widget no-border">
       <h3>
        <span>
         Ý tưởng cưới
        </span>
       </h3>
       <ul class="list-menu">
        <li>
         <a href="/">
          Trang chủ
         </a>
        </li>
        <li>
         <a href="/dich-vu-cuoi">
          Dịch vụ cưới
         </a>
        </li>
        <li>
         <a href="/album-cuoi">
          Album
         </a>
        </li>
        <li>
         <a href="/collections/all">
          Áo cưới
         </a>
        </li>
        <li>
         <a href="/tin-tuc">
          Kinh nghiệm cưới
         </a>
        </li>
        <li>
         <a href="/lien-he">
          Liên hệ
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="copyright clearfix">
  <div class="container">
   <div class="inner clearfix">
    <div class="row">
     <div class="col-sm-12">
      <span>
       © Bản quyền thuộc về
       <b>
        Kiến Vàng
       </b>
       <span class="footer-space">
        |
       </span>
       Cung cấp bởi
       <a href="https://www.sapo.vn/?utm_campaign=cpn:kho_theme-plm:footer&amp;utm_source=Tu_nhien&amp;utm_medium=referral&amp;utm_content=fm:text_link-km:-sz:&amp;utm_term=&amp;campaign=kho_theme-sapo" rel="nofollow" target="_blank" title="Sapo">
        Sapo
       </a>
      </span>
     </div>
    </div>
   </div>
   <div class="back-to-top">
    <i class="fa fa-arrow-circle-up">
    </i>
   </div>
  </div>
 </div>
</footer>
