/********************  Source Sans Pro font *********************/
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(//hstatic.net/0/global/design/member/fonts/SourceSansPro_woff/toadOcfmlt9b38dHJxOBGOtix4iXcwFNneFLf6l6CAc.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(//hstatic.net/0/global/design/member/fonts/SourceSansPro_woff/toadOcfmlt9b38dHJxOBGPp6i7R5xQdyoqQVVjABmmY.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(//hstatic.net/0/global/design/member/fonts/SourceSansPro_woff/ODelI1aHBYDBqgeIAH2zlDpIEtvHTl23BH_RlN615jc.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(//hstatic.net/0/global/design/member/fonts/SourceSansPro_woff/toadOcfmlt9b38dHJxOBGCbR6iAeULadAInxyXxnYSg.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(//hstatic.net/0/global/design/member/fonts/SourceSansPro_woff/toadOcfmlt9b38dHJxOBGCWFTsQ18CyDszVxE5WJjgs.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(//hstatic.net/0/global/design/member/fonts/SourceSansPro_woff/toadOcfmlt9b38dHJxOBGN_bDRdZieqWPh6vbuDSXVM.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight Italic'), local('SourceSansPro-ExtraLightIt'), url(//hstatic.net/0/global/design/member/fonts/SourceSansPro_woff/fpTVHK8qsXbIeTHTrnQH6L8MS4c8F2SeW72aWGk7gLc.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'), url(//hstatic.net/0/global/design/member/fonts/SourceSansPro_woff/fpTVHK8qsXbIeTHTrnQH6MEJz_ambkIFylb2URvY9Hg.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(//hstatic.net/0/global/design/member/fonts/SourceSansPro_woff/M2Jd71oPJhLKp0zdtTvoM3jHCZT4U-JDUMcWHiy5s7U.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'), url(//hstatic.net/0/global/design/member/fonts/SourceSansPro_woff/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6HOXucB3gF1_2MRd_-hiLtY.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldIt'), url(//hstatic.net/0/global/design/member/fonts/SourceSansPro_woff/fpTVHK8qsXbIeTHTrnQH6CEqcvn03X3ReFbYJvcDn7w.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 900;
  src: local('Source Sans Pro Black Italic'), local('SourceSansPro-BlackIt'), url(//hstatic.net/0/global/design/member/fonts/SourceSansPro_woff/fpTVHK8qsXbIeTHTrnQH6P3vaMGkKp8qmH73QwYI2n4.woff) format('woff');
}
