<footer class="footer">
 <div class="top-footer">
  <div class="container-fluid">
   <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
     <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5 area_phone_contact">
       <p class="number_phone">
        <span>
         Theo dõi Lata trên:
        </span>
        <a href="https://www.facebook.com/latashop.vn/" target="_blank">
         <svg viewbox="0 0 18.2 35" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.8,35V19h5.4l0.8-6.2h-6.2v-4c0-1.8,0.5-3,3.1-3h3.3V0.2c-0.6,0-2.5-0.2-4.8-0.2c-4.8,0-8,2.9-8,8.2v4.6H0V19h5.4v16 H11.8z">
          </path>
         </svg>
        </a>
        <a href="https://www.instagram.com/lata.official/" target="_blank">
         <svg viewbox="0 0 35 35" xmlns="http://www.w3.org/2000/svg">
          <circle cx="17.5" cy="17.5" r="5.8">
          </circle>
          <path d="M34.9,10.3c-0.1-1.9-0.4-3.1-0.8-4.2c-0.4-1.2-1-2.1-2-3.1c-1-1-1.9-1.6-3.1-2 c-1.1-0.4-2.4-0.7-4.2-0.8C22.8,0,22.3,0,17.5,0c-4.8,0-5.3,0-7.2,0.1C8.4,0.2,7.2,0.5,6,0.9c-1.2,0.4-2.1,1-3.1,2 c-1,1-1.6,1.9-2,3.1c-0.4,1.1-0.7,2.4-0.8,4.2C0,12.2,0,12.7,0,17.5c0,4.8,0,5.3,0.1,7.2c0.1,1.9,0.4,3.1,0.8,4.2 c0.4,1.2,1,2.1,2,3.1c1,1,1.9,1.6,3.1,2c1.1,0.4,2.4,0.7,4.2,0.8c1.9,0.1,2.5,0.1,7.2,0.1c4.8,0,5.3,0,7.2-0.1 c1.9-0.1,3.1-0.4,4.2-0.8c1.2-0.4,2.1-1,3.1-2c1-1,1.6-1.9,2-3.1c0.4-1.1,0.7-2.4,0.8-4.2c0.1-1.9,0.1-2.5,0.1-7.2 C35,12.7,35,12.2,34.9,10.3z M17.5,26.5c-5,0-9-4-9-9c0-5,4-9,9-9s9,4,9,9C26.5,22.5,22.5,26.5,17.5,26.5z M26.8,10.3 c-1.2,0-2.1-0.9-2.1-2.1c0-1.2,0.9-2.1,2.1-2.1c1.2,0,2.1,0.9,2.1,2.1C28.9,9.3,28,10.3,26.8,10.3z">
          </path>
         </svg>
        </a>
        <a href="https://www.youtube.com/channel/UC7UjO9UfyEqCqEqCqsiuD6A" target="_blank">
         <svg viewbox="0 0 35 35" xmlns="http://www.w3.org/2000/svg">
          <path d="M34.6,10.5c0,0-0.3-2.4-1.4-3.5c-1.3-1.4-2.8-1.4-3.5-1.5c-4.9-0.4-12.2-0.4-12.2-0.4h0c0,0-7.3,0-12.2,0.4 C4.6,5.6,3.1,5.6,1.7,7c-1,1.1-1.4,3.5-1.4,3.5S0,13.3,0,16.2v2.7c0,2.8,0.3,5.7,0.3,5.7s0.3,2.4,1.4,3.5c1.3,1.4,3.1,1.3,3.9,1.5 c2.8,0.3,11.9,0.4,11.9,0.4s7.3,0,12.2-0.4c0.7-0.1,2.2-0.1,3.5-1.5c1-1.1,1.4-3.5,1.4-3.5s0.3-2.8,0.3-5.7v-2.7 C35,13.3,34.6,10.5,34.6,10.5z M13.9,22l0-9.8l9.5,4.9L13.9,22z">
          </path>
         </svg>
        </a>
       </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 area_phone_contact">
       <p class="number_phone">
        <i class="fa fa-paper-plane">
        </i>
        <span>
         Đăng ký nhận tin
        </span>
       </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 area_newsletter">
       <div class="form_newsletter">
        <form accept-charset="UTF-8" action="/account/contact" class="contact-form" method="post">
         <input name="form_type" type="hidden" value="customer"/>
         <input name="utf8" type="hidden" value="✓"/>
         <div class="input-group">
          <input id="contact_tags" name="contact[tags]" type="hidden" value="khách hàng tiềm năng, bản tin"/>
          <input aria-label="Email Address" name="contact[email]" placeholder="Nhập email của bạn" required="" type="email" value=""/>
          <button class="button dark" type="submit">
           Đăng kí
          </button>
         </div>
        </form>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="/">
  <!--<a class="btn-fter" data-toggle="collapse" href="#fter-content" role="button" aria-expanded="true" aria-controls="fter-content">
			Thông tin khác<span class="fa fa-angle-down"> </span>
		</a>-->
 </div>
 <div class="main-footer" id="fter-content">
  <div class="container-fluid">
   <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg">
     <div class="footer-col footer-content1">
      <h4 class="footer-title">
       Hotline | Góp ý &amp; Khiếu nại
      </h4>
      <div class="footer-content" style="display: block;">
       <div class="footer-hotline">
        <a <="" a="" href="tel:0906 564 798">
         <p>
          0906 564 798
         </p>
        </a>
       </div>
       <div class="footer-mota">
        <p>
         Từ 08h30 - 22h00 T2 - T7 trừ Chủ Nhật và Lễ, Tết.
        </p>
       </div>
       <div class="footer-title-b2b">
        <a href="https://latashop.com/pages/qua-tang-doanh-nghiep" title="Khách Hàng Doanh Nghiệp - B2B">
         Khách Hàng Doanh Nghiệp - B2B
        </a>
       </div>
       <div class="footer-contact">
        <ul>
         <li class="contact-1">
         </li>
         <li class="contact-2">
          0906 564 798
         </li>
         <li class="contact-4">
          b2b@latashop.vn
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg">
     <div class="footer-col footer-block">
      <h4 class="footer-title">
       Thông tin
      </h4>
      <div class="footer-content toggle-footer">
       <ul>
        <li class="item">
         <a href="/pages/chinh-sach-thanh-toan" title="Chính sách thanh toán">
          Chính sách thanh toán
         </a>
        </li>
        <li class="item">
         <a href="/pages/chinh-sach-doi-tra-hang" title="Chính sách đổi/trả">
          Chính sách đổi/trả
         </a>
        </li>
        <li class="item">
         <a href="/pages/chinh-sach-bao-hanh" title="Chính sách bảo hành">
          Chính sách bảo hành
         </a>
        </li>
        <li class="item">
         <a href="/pages/chinh-sach-giao-hang" title="Chính sách giao hàng">
          Chính sách giao hàng
         </a>
        </li>
        <li class="item">
         <a href="/pages/chinh-sach-bao-mat" title="Chính sách bảo mật">
          Chính sách bảo mật
         </a>
        </li>
        <li class="item">
         <a href="/pages/kiem-tra-don-hang" title="Kiểm tra đơn hàng">
          Kiểm tra đơn hàng
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg">
     <div class="footer-col footer-block">
      <h4 class="footer-title">
       Liên kết
      </h4>
      <div class="footer-content toggle-footer">
       <ul>
        <li class="item">
         <a href="/pages/gioi-thieu" title="Giới thiệu">
          Giới thiệu
         </a>
        </li>
        <li class="item">
         <a href="/pages/huong-dan-mua-hang" title="Hướng dẫn mua hàng">
          Hướng dẫn mua hàng
         </a>
        </li>
        <li class="item">
         <a href="/pages/he-thong-cua-hang" title="Hệ thống cửa hàng">
          Hệ thống cửa hàng
         </a>
        </li>
        <li class="item">
         <a href="/pages/lata-catalogue-brochure" title="Brochure &amp; Catalogue">
          Brochure &amp; Catalogue
         </a>
        </li>
        <li class="item">
         <a href="/pages/cau-hoi-thuong-gap" title="Câu hỏi thường gặp">
          Câu hỏi thường gặp
         </a>
        </li>
        <li class="item">
         <a href="http://latashop.com/pages/qua-tang-doanh-nghiep" title="Khách hàng Doanh nghiệp B2B">
          Khách hàng Doanh nghiệp B2B
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg">
     <div class="footer-col footer-block">
      <h4 class="footer-title">
       Sản phẩm nam
      </h4>
      <div class="footer-content toggle-footer">
       <ul>
        <li class="item">
         <a href="/collections/cap-da-cong-so" title="Cặp da nam công sở">
          Cặp da nam công sở
         </a>
        </li>
        <li class="item">
         <a href="/collections/vi-da-nam" title="Ví da nam">
          Ví da nam
         </a>
        </li>
        <li class="item">
         <a href="/collections/balo-da-nam" title="Balo da nam">
          Balo da nam
         </a>
        </li>
        <li class="item">
         <a href="/collections/tui-deo-cheo-nam" title="Túi đeo chéo da nam">
          Túi đeo chéo da nam
         </a>
        </li>
        <li class="item">
         <a href="/collections/that-lung-nam" title="Thắt lưng nam">
          Thắt lưng nam
         </a>
        </li>
        <li class="item">
         <a href="/collections/tui-du-lich" title="Túi da du lịch">
          Túi da du lịch
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg">
     <div class="footer-col footer-block">
      <h4 class="footer-title">
       Sản phẩm nữ
      </h4>
      <div class="footer-content toggle-footer">
       <ul>
        <li class="item">
         <a href="/collections/balo-da-nu" title="Balo da nữ">
          Balo da nữ
         </a>
        </li>
        <li class="item">
         <a href="/collections/tui-deo-cheo-da-nu" title="Túi đeo chéo nữ">
          Túi đeo chéo nữ
         </a>
        </li>
        <li class="item">
         <a href="/collections/tui-xach-da-nu" title="Túi xách da">
          Túi xách da
         </a>
        </li>
        <li class="item">
         <a href="/collections/vi-da-nu" title="Ví da nữ">
          Ví da nữ
         </a>
        </li>
        <li class="item">
         <a href="/collections/cap-da-cong-so" title="Túi xách công sở">
          Túi xách công sở
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="container-fluid footerx">
  <div class="row">
   <div class="col-xs-12 col-sm-6 col-md-6 col-lg">
    <div class="footer-col">
     <div class="footer-content">
      <p>
       <b>
        Địa chỉ văn phòng:
       </b>
       38/4 Đường Liên Xã, Bắc Lân 1, Xã Bà Điểm, Huyện Hóc Môn, TP. Hồ Chí Minh
      </p>
     </div>
    </div>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-6 col-lg">
    <div class="footer-col">
     <div class="footer-content">
      <p>
       <b>
        Địa chỉ gửi hàng đổi/bảo hành:
       </b>
       38/4 Đường Liên Xã, Bắc Lân 1, Xã Bà Điểm, Huyện Hóc Môn, TP. Hồ Chí Minh
      </p>
     </div>
    </div>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg">
    <p>
     <b>
      HỆ THỐNG CỬA HÀNG LATA TOÀN QUỐC
     </b>
    </p>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-6 col-lg">
    <div class="footer-col">
     <div class="footer-content">
      <p>
       <b>
        Lata TP.HCM:
       </b>
      </p>
      <p>
       - 670 Quang Trung, Phường 11, Quận Gò Vấp
      </p>
      <p>
       - 1032 Âu Cơ, Phường 14, Quận Tân Bình
      </p>
     </div>
    </div>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-6 col-lg">
    <div class="footer-col">
     <div class="footer-content">
      <p>
       <b>
        Lata Đăk Lăk:
       </b>
       44 Trần Phú, Phường Thằng Lợi, TP. Buôn Ma Thuột
      </p>
      <p>
       <b>
        Lata Đà Nẵng:
       </b>
       182 Lê Duẩn, Phường Thạch Thang, Quận Hải Châu, TP. Đà Nẵng
      </p>
      <p>
       <b>
        Lata Hà Nội:
       </b>
       365 Trương Định, Phường Tân Mai, Quận Hoàng Mai
      </p>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="container-fluid bottom-footer">
  <div class="col-xs-12 col-sm-6 col-md-8 col-lg">
   <p>
    Copyright © 2025
    <a href="https://latashop.com">
     Bản quyền thuộc về Lata Việt Nam
    </a>
    .
    <a href="https://www.haravan.com/?utm_campaign=poweredby&amp;utm_medium=haravan&amp;utm_source=onlinestore" target="_blank">
     Powered by Haravan
    </a>
   </p>
   <p>
    <b>
     HKD Túi xách Lata
    </b>
    - Số ĐKKD 41S8032562 do Phòng Tài Chính - Kế Hoạch, UBND Huyện Hóc Môn cấp ngày 16/08/2023. Người đại diện: Phạm Thị Tĩnh.
   </p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg text-right">
   <a href="http://online.gov.vn/Home/WebDetails/115026">
    <img alt="Bộ Công Thương" src="//theme.hstatic.net/1000084161/1000816069/14/logo-bct_medium.png?v=925" style="max-width:150px"/>
   </a>
  </div>
 </div>
</footer>
