<header class="main-header" id="site-header">
 <div class="header-mid wrap-flex-align">
  <div class="wrap-logo">
   <a href="https://latashop.com">
    <img alt="Lata Việt Nam" class="img-responsive logoimg" src="//theme.hstatic.net/1000084161/1000816069/14/logo.svg?v=925"/>
   </a>
  </div>
  <div class="menu-desktop hidden-sm hidden-xs">
   <div class="wrap-logo wrap-logp-mb">
    <a href="https://latashop.com">
     <img alt="Lata Việt Nam" class="img-responsive logoimg" src="//theme.hstatic.net/1000084161/1000816069/14/logo.svg?v=925"/>
    </a>
   </div>
   <div id="nav">
    <nav class="main-nav text-center">
     <ul class="clearfix">
      <li class="">
       <a href="https://www.latashop.com/pages/san-pham-nam" title="NAM">
        NAM
        <i aria-hidden="true" class="fa fa-chevron-down">
        </i>
       </a>
       <ul class="sub_menu">
        <li class="">
         <a href="/collections/tui-deo-cheo-nam" title="Túi đeo chéo da">
          Túi đeo chéo da
         </a>
        </li>
        <li class="">
         <a href="/collections/balo-da-nam" title="Balo da">
          Balo da
         </a>
        </li>
        <li class="">
         <a href="/collections/cap-da-cong-so" title="Cặp da công sở">
          Cặp da công sở
         </a>
        </li>
        <li class="">
         <a href="/collections/tui-du-lich" title="Túi du lịch">
          Túi du lịch
         </a>
        </li>
        <li class="">
         <a href="/collections/vi-da-nam" title="Ví da nam">
          Ví da nam
         </a>
        </li>
        <li class="">
         <a href="/collections/that-lung-nam" title="Thắt lưng">
          Thắt lưng
         </a>
        </li>
       </ul>
      </li>
      <li class="">
       <a href="https://www.latashop.com/pages/san-pham-nu" title="NỮ">
        NỮ
        <i aria-hidden="true" class="fa fa-chevron-down">
        </i>
       </a>
       <ul class="sub_menu">
        <li class="">
         <a href="/collections/tui-deo-cheo-da-nu" title="Túi đeo chéo da">
          Túi đeo chéo da
         </a>
        </li>
        <li class="">
         <a href="/collections/tui-xach-da-nu" title="Túi xách da">
          Túi xách da
         </a>
        </li>
        <li class="">
         <a href="/collections/balo-da-nu" title="Balo da">
          Balo da
         </a>
        </li>
        <li class="">
         <a href="/collections/cap-da-cong-so" title="Cặp da công sở">
          Cặp da công sở
         </a>
        </li>
        <li class="">
         <a href="/collections/vi-da-nu" title="Ví da nữ">
          Ví da nữ
         </a>
        </li>
        <li class="">
         <a href="/collections/tui-du-lich" title="Túi du lịch">
          Túi du lịch
         </a>
        </li>
       </ul>
      </li>
      <li class="">
       <a href="/collections/phu-kien" title="PHỤ KIỆN">
        PHỤ KIỆN
       </a>
      </li>
      <li class="">
       <a href="/blogs/news" title="BLOG">
        BLOG
       </a>
      </li>
      <li class="">
       <a href="/pages/he-thong-cua-hang" title="HỆ THỐNG CỬA HÀNG">
        HỆ THỐNG CỬA HÀNG
       </a>
      </li>
      <li class="">
       <a href="/pages/gioi-thieu" title="GIỚI THIỆU">
        GIỚI THIỆU
       </a>
      </li>
      <li class="">
       <a href="/pages/lien-he" title="LIÊN HỆ">
        LIÊN HỆ
       </a>
      </li>
      <li class="">
       <a href="/collections/sale-up-to-40" title="SALE">
        SALE
       </a>
      </li>
     </ul>
    </nav>
   </div>
  </div>
  <div class="header-wrap-icon">
   <span aria-label="Tài khoản" class="icon-account" title="Tài khoản">
    <a href="/account/login">
     <span aria-hidden="true" class="account-menu hidden-xs">
      <svg viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
       <g data-name="Layer 3" id="Layer_3">
        <path d="M63,51.73a27.5,27.5,0,1,0-26,0A50,50,0,0,0,.19,95.66a4,4,0,0,0,8,.74,42,42,0,0,1,83.7,0,4,4,0,0,0,8-.74A50,50,0,0,0,63,51.73ZM30.5,27.5A19.5,19.5,0,1,1,50,47,19.5,19.5,0,0,1,30.5,27.5Z">
        </path>
       </g>
      </svg>
     </span>
    </a>
   </span>
   <span aria-label="Tìm kiếm" class="icon-search" id="site-search-handle" title="Tìm kiếm">
    <a href="/search">
     <span aria-hidden="true" class="search-menu">
      <svg data-name="Layer 1" id="Layer_1" viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
       <path d="M98.41,91.34,80.15,73.08a45,45,0,1,0-7.07,7.07L91.34,98.41a5,5,0,0,0,7.07-7.07ZM45,82A37,37,0,1,1,82,45,37,37,0,0,1,45,82Z">
       </path>
      </svg>
     </span>
    </a>
   </span>
   <span aria-label="Open cart" class="icon-cart" id="site-cart-handle" title="Giỏ hàng">
    <a href="/cart">
     <span aria-hidden="true" class="cart-menu">
      <svg viewbox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
       <g data-name="Layer 2" id="Layer_2">
        <path d="M98.4,86.67H97.35l1.05-.06L96.33,32.08A12.72,12.72,0,0,0,83.61,20H73.53a23.84,23.84,0,0,0-47.06,0h-10A12.72,12.72,0,0,0,3.73,32.1L1.66,86.63c0,.21,0,.41,0,.64A12.74,12.74,0,0,0,14.38,100h71.3A12.75,12.75,0,0,0,98.42,87.27C98.42,87.06,98.41,86.87,98.4,86.67ZM11.88,32.29A4.58,4.58,0,0,1,16.47,28H83.6a4.58,4.58,0,0,1,4.59,4.29l2.18,53.47A6.34,6.34,0,0,1,84,92.05H16a6.34,6.34,0,0,1-6.34-6.3ZM34.46,20a16,16,0,0,1,31.08,0Z">
        </path>
       </g>
      </svg>
      <span class="count-holder">
       <span class="count">
        0
       </span>
      </span>
     </span>
    </a>
   </span>
   <span aria-hidden="true" class="hamburger-menu visible-sm visible-xs" id="site-menu-handle">
    <span class="bar">
    </span>
   </span>
  </div>
 </div>
</header>
