<footer class="footer">
 <div class="mid-footer">
  <div class="container">
   <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-5">
     <div class="widget-ft-top">
      <h4 class="title-menu-top">
       CÔNG TY CỔ PHẦN DỊCH VỤ
       <br/>
       CHUYỂN PHÁT THÔNG MINH
      </h4>
      <div class="hotline_footer">
       <ul>
        <li>
         VP Hà Nội: Tầng 5, Tòa Viglacera, số 1 Đại Lộ Thăng Long, Nam Từ Liêm, TP Hà Nội
         <br/>
         VP Hồ Chí Minh: Tòa VELA HUB, số 175 Phan Chu Trinh, Phường 13, Quận Bình Thạnh, TP Hồ Chí Minh
        </li>
        <li>
         Hotline:
         <a class="hai01" href="tel:02471018686-0932196686">
          0247 101 8686 - 0932 19 6686
         </a>
        </li>
        <li>
         Email:
         <a href="mailto:cskhshippo.vn@gmail.com">
          cskhshippo.vn@gmail.com
         </a>
        </li>
        <li>
         Facebook:
         <a class="hai01" href="https://www.facebook.com/shippo.vn/">
          Shippo.vn
         </a>
        </li>
       </ul>
      </div>
     </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
     <div class="widget-ft-top">
      <h4 class="title-menu-top">
       THÔNG TIN DỊCH VỤ
      </h4>
     </div>
     <div class="footer-menu">
      <ul>
       <li>
        <a href="/quy-dinh-chinh-sach">
         Quy định chính sách
        </a>
       </li>
       <li>
        <a href="https://www.shippo.vn/hang-hoa-khong-van-chuyen-trung-viet">
         Hàng hóa không nhận vận chuyển
        </a>
       </li>
       <li>
        <a href="/tin-tuc">
         Tin tức Shippo
        </a>
       </li>
       <li>
        <a href="/tuyen-dung">
         Tuyển dụng
        </a>
       </li>
       <li>
        <a href="/kho-thong-tin">
         Cẩm nang nhập hàng
        </a>
       </li>
       <li>
        <a href="https://snappy.vn/">
         Đối tác giao hàng nội địa
        </a>
       </li>
       <li>
        <a href="/hop-tac-truyen-thong">
         Hợp tác truyền thông
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
     <div class="widget-ft-top">
      <h4 class="title-menu-top">
       THEO DÕI CHÚNG TÔI
      </h4>
     </div>
     <div class="footer-social">
      <a class="facebook" href="https://www.facebook.com/shippo.vn/">
       <i class="fab fa-facebook-f">
       </i>
      </a>
      <a class="instagram" href="https://www.instagram.com/shippovn">
       <i class="fab fa-instagram">
       </i>
      </a>
      <a class="youtube" href="https://www.youtube.com/channel/UCvaJGxRjm1hGH-O29VHuWYA">
       <i class="fab fa-youtube">
       </i>
      </a>
      <a class="linkedin" href="">
       <i class="fab fa-linkedin-in">
       </i>
      </a>
     </div>
     <div class="widget-ft-top">
      <h4 class="title-menu-top">
       TẢI ỨNG DỤNG
      </h4>
     </div>
     <div class="footer-download">
      <a href="">
       <img alt="Android" src="//bizweb.dktcdn.net/100/378/502/themes/756692/assets/app1.png?1741235076651"/>
      </a>
      <a href="">
       <img alt="iOS" src="//bizweb.dktcdn.net/100/378/502/themes/756692/assets/app2.png?1741235076651"/>
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="bg-footer-bottom copyright clearfix">
  <div class="container">
   <div class="inner clearfix">
    <div class="row tablet">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 a-center fot_copyright" id="copyright">
      <div class="">
      </div>
      <span class="wsp">
       <span class="mobile">
        © Bản quyền thuộc về Shippo
        <span class="hidden-xs">
        </span>
       </span>
      </span>
     </div>
    </div>
   </div>
   <a class="backtop" href="#" id="back-to-top" title="Lên đầu trang">
    <div class="border_btt">
     <i class="fas fa-arrow-up">
     </i>
    </div>
   </a>
  </div>
 </div>
</footer>
