<header class="header">
 <div class="mid-header wid_100">
  <div class="container">
   <div class="row">
    <div class="content_header">
     <div class="header-main">
      <div class="menu-bar-h nav-mobile-button hidden-md hidden-lg">
       <i class="fas fa-bars">
       </i>
      </div>
      <div class="col-lg-2 col-md-3">
       <div class="logo flex_100">
        <a class="logo-wrapper" href="/">
         <img alt="Shippo" src="//bizweb.dktcdn.net/100/378/502/themes/756692/assets/logo.png?1741235076651"/>
        </a>
       </div>
      </div>
      <div class="col-lg-10 col-md-9 hidden-sm hidden-xs">
       <div class="flex_100">
        <div class="wrap_main hidden-xs hidden-sm">
         <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <div class="content_r_header">
            <div class="cartgroup">
             <div class="searchion inline-b hidden-sm hidden-xs">
              <span class="nn">
               <i class="fas fa-search">
               </i>
              </span>
              <div class="searchmini">
               <form action="/search" class="input-group search-bar" method="get" role="search">
                <input autocomplete="off" class="input-group-field auto-search" name="query" placeholder="Tìm kiếm..." type="text" value=""/>
                <input class="form-control" name="type" type="hidden" value="article"/>
                <button class="btn icon-fallback-text" type="submit">
                 <span class="fas fa-search">
                 </span>
                </button>
               </form>
              </div>
             </div>
            </div>
           </div>
           <div class="bg-header-nav hidden-xs hidden-sm">
            <div>
             <div class="row row-noGutter-2">
              <nav class="header-nav">
               <ul class="item_big">
                <li class="nav-item">
                 <a class="a-img" href="https://www.shippo.vn/bang-gia-ky-gui-1-buoc-hang-tmdt">
                  <span>
                   BIỂU PHÍ
                  </span>
                  <i class="fa fa-caret-down">
                  </i>
                 </a>
                 <ul class="item_small hidden-sm hidden-xs">
                  <li>
                   <a href="https://www.shippo.vn/bieu-phi" title="">
                    Phí vận chuyển hàng thương mại điện tử
                   </a>
                  </li>
                  <li>
                   <a href="https://www.shippo.vn/bieu-phi-th" title="">
                    Phí vận chuyển hàng Tổng hợp
                   </a>
                  </li>
                  <li>
                   <a href="https://www.shippo.vn/bang-gia-hang-theo-lo-san-pham" title="">
                    Phí vận chuyển hàng theo lô sản phẩm
                   </a>
                  </li>
                 </ul>
                </li>
                <li class="nav-item">
                 <a class="a-img" href="/quy-dinh-chinh-sach">
                  <span>
                   CHÍNH SÁCH
                  </span>
                 </a>
                </li>
                <li class="nav-item">
                 <a class="a-img" href="/huong-dan-2">
                  <span>
                   HƯỚNG DẪN
                  </span>
                 </a>
                </li>
                <li class="nav-item">
                 <a class="a-img" href="/tin-tuc">
                  <span>
                   THÔNG BÁO
                  </span>
                 </a>
                </li>
                <li class="nav-item">
                 <a class="a-img" href="https://chrome.google.com/webstore/detail/gobiz-assistant-tr%E1%BB%A3-l%C3%BD-mu/jgaegppalmpgekgpdmlhjjoncfaceocg?hl=vi">
                  <span>
                   CÔNG CỤ
                  </span>
                 </a>
                </li>
                <li class="nav-item">
                 <a class="a-img" href="https://cb.shippo.vn/#/register">
                  <span>
                   ĐĂNG KÝ
                  </span>
                 </a>
                </li>
                <li class="nav-item">
                 <a class="a-img" href="https://cb.shippo.vn/">
                  <span>
                   ĐĂNG NHẬP
                  </span>
                 </a>
                </li>
               </ul>
              </nav>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="menu_search_mobi search_mobile showsearchfromtop hidden-md hidden-lg">
  <div class="search_button_mobile">
   <button class="btn icon-fallback-text">
    <span class="fas fa-search">
    </span>
   </button>
  </div>
 </div>
 <div class="searchboxlager hidden-lg">
  <div class="searchfromtop">
   <form action="/search" autocomplete="off" method="get">
    <input autocomplete="off" class="hidden-md input-group-field st-default-search-input search-text" name="query" placeholder="Tìm kiếm tin tức..." type="search" value=""/>
    <input class="form-control" name="type" type="hidden" value="article"/>
   </form>
  </div>
 </div>
</header>
