<footer class="footer">
 <div class="footer-policy">
  <div class="container">
   <div class="title-block-mb d-md-none">
    Chính sách
   </div>
   <div class="ft-mb-content">
    <div class="row">
     <div class="col-12 col-md-6 col-lg-3">
      <div class="fp-item">
       <div class="icon">
        <img alt="Mua hàng đảm bảo" src="//theme.hstatic.net/200000317851/1000697347/14/fp_icon_1.jpg?v=1174"/>
       </div>
       <div class="info">
        <h3 class="title">
         Mua hàng đảm bảo
        </h3>
        <p>
         Cung cấp dịch vụ &amp; sản phẩm chính hãng
        </p>
        <ul class="">
         <li>
          <span>
           100% sản phẩm chính hãng
          </span>
         </li>
         <li>
          <span>
           Giao hàng tận nơi
          </span>
         </li>
         <li>
          <span>
           Đổi trả sản phẩm miễn phí
          </span>
         </li>
        </ul>
       </div>
      </div>
     </div>
     <div class="col-12 col-md-6 col-lg-3">
      <div class="fp-item">
       <div class="icon">
        <img alt="Dễ dàng mua và trả lại" src="//theme.hstatic.net/200000317851/1000697347/14/fp_icon_2.jpg?v=1174"/>
       </div>
       <div class="info">
        <h3 class="title">
         Dễ dàng mua và trả lại
        </h3>
        <p>
         Một cú nhấp chuột để mua và trả lại sản phẩm
        </p>
        <ul class="">
         <li>
          <span>
           Có giao hàng trong ngày
          </span>
         </li>
         <li>
          <span>
           Bấm để trả lại sản phẩm
          </span>
         </li>
         <li>
          <span>
           Liên kết hỗ trợ nhanh
          </span>
         </li>
        </ul>
       </div>
      </div>
     </div>
     <div class="col-12 col-md-6 col-lg-3">
      <div class="fp-item">
       <div class="icon">
        <img alt="Thanh toán an toàn" src="//theme.hstatic.net/200000317851/1000697347/14/fp_icon_3.jpg?v=1174"/>
       </div>
       <div class="info">
        <h3 class="title">
         Thanh toán an toàn
        </h3>
        <p>
         Chấp nhận tất cả thẻ tín dụng và thẻ ghi nợ
        </p>
        <ul class="">
         <li>
          <span>
           100% bảo mật thanh toán
          </span>
         </li>
         <li>
          <span>
           Xác nhận xác thực
          </span>
         </li>
         <li>
          <span>
           Giao hàng tận nơi
          </span>
         </li>
        </ul>
       </div>
      </div>
     </div>
     <div class="col-12 col-md-6 col-lg-3">
      <div class="fp-item">
       <div class="icon">
        <img alt="Chính sách" src="//theme.hstatic.net/200000317851/1000697347/14/fp_icon_4.jpg?v=1174"/>
       </div>
       <div class="info">
        <h3 class="title">
         Chính sách
        </h3>
        <p>
         Mọi thứ bạn cần biết
        </p>
        <ul class="">
         <li>
          <span>
           Chính sách bảo mật
          </span>
         </li>
         <li>
          <span>
           Điều khoản sử dụng
          </span>
         </li>
         <li>
          <span>
           Câu hỏi thường gặp
          </span>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="footer-top">
  <div class="container">
   <div class="inner">
    <div class="row">
     <div class="col-12 col-md-6 col-lg-4">
      <div class="footer-logo">
       <a href="/">
        <img alt="logo" src="//theme.hstatic.net/200000317851/1000697347/14/footer_logo.png?v=1174"/>
       </a>
      </div>
      <div class="footer-contact">
       <p>
        <i class="fal fa-map-marker-alt">
        </i>
        <span>
         Tầng 4, tòa nhà Flemington, số 182, đường Lê Đại Hành, phường 15, quận 11, Tp. Hồ Chí Minh.
        </span>
       </p>
       <p>
        <i class="fal fa-phone">
        </i>
        <span>
         0936342986
        </span>
       </p>
       <p>
        <i class="fal fa-envelope">
        </i>
        <span>
         theme.hogwarts@gmail.com
        </span>
       </p>
      </div>
     </div>
     <div class="col-12 col-md-6 col-lg-2">
      <h3 class="footer-title title-block-mb">
       Thông tin
      </h3>
      <ul class="footer-menu ft-mb-content">
       <li class="item">
        <a href="/search" title="Tìm kiếm">
         Tìm kiếm
        </a>
       </li>
       <li class="item">
        <a href="/pages/about-us" title="Giới thiệu">
         Giới thiệu
        </a>
       </li>
       <li class="item">
        <a href="/pages/chinh-sach-doi-tra" title="Chính sách đổi trả">
         Chính sách đổi trả
        </a>
       </li>
       <li class="item">
        <a href="/pages/chinh-sach-bao-mat" title="Chính sách bảo mật">
         Chính sách bảo mật
        </a>
       </li>
       <li class="item">
        <a href="/pages/dieu-khoan-dich-vu" title="Điều khoản dịch vụ">
         Điều khoản dịch vụ
        </a>
       </li>
      </ul>
     </div>
     <div class="col-12 col-md-6 col-lg-2">
      <h3 class="footer-title title-block-mb">
       Liên kết
      </h3>
      <ul class="footer-menu ft-mb-content">
       <li class="item">
        <a href="/collections/all">
         Sản phẩm
        </a>
       </li>
       <li class="item">
        <a href="/blogs/news">
         Tin tức
        </a>
       </li>
       <li class="item">
        <a href="/pages/about-us">
         Giới thiệu
        </a>
       </li>
       <li class="item">
        <a href="/pages/he-thong-cua-hang">
         Hệ thống cửa hàng
        </a>
       </li>
       <li class="item">
        <a href="/pages/lien-he">
         Liên hệ
        </a>
       </li>
      </ul>
     </div>
     <div class="col-12 col-md-6 col-lg-4">
      <div class="footer-col">
       <div class="footer-newsletter">
        <h3 class="footer-title title-block-mb">
         <span>
          Đăng ký nhận tin
         </span>
        </h3>
        <div class="footer-newsletter-form ft-mb-content">
         <div class="mb-15">
          Hãy nhập email của bạn vào đây để nhận tin mới nhất!
         </div>
         <form accept-charset="UTF-8" action="/account/contact" class="contact-form" method="post">
          <input name="form_type" type="hidden" value="customer"/>
          <input name="utf8" type="hidden" value="✓"/>
          <div class="input-group d-flex justify-content-center flex-nowrap">
           <input id="newsletter-tags" name="contact[tags]" type="hidden" value="khách hàng tiềm năng, bản tin">
            <input aria-label="Email Address" id="newsletter-email" name="contact[email]" placeholder="Nhập email" required="" type="email" value=""/>
            <button class="btn btn-dark" type="submit">
             Đăng ký
            </button>
           </input>
          </div>
          <div class="sitebox-recaptcha hidden">
           This site is protected by reCAPTCHA and the Google
           <a href="https://policies.google.com/privacy" rel="noreferrer" target="_blank">
            Privacy Policy
           </a>
           and
           <a href="https://policies.google.com/terms" rel="noreferrer" target="_blank">
            Terms of Service
           </a>
           apply.
          </div>
          <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt894L_jv61lHAenqISlxNTdMjhGT1_0PbvziYIZHf_NwWqnwneYw39WrbbxGTTg0id620lJxZCFlUNQetnphvEZdkSJ_mn4d0QbHySy9teEj9lYprUrF1KwIcKIbk-J32U"/>
          <input id="25eeb108f4bc4d16903c3e9bcc9fd1db" name="g-recaptcha-response" type="hidden"/>
          <noscript src="https://www.google.com/recaptcha/api.js?render=6LchSLkqAAAAABVHBpeFgg8N-WgkYsr5fO6GUF_s">
          </noscript>
          <noscript>
           let recaptchaElm=document.getElementById('25eeb108f4bc4d16903c3e9bcc9fd1db');let recaptchaForm=recaptchaElm.parentNode;recaptchaForm.addEventListener("submit",function(formEvent){if(!recaptchaElm.value){formEvent.preventDefault();grecaptcha.ready(function(){grecaptcha.execute('6LchSLkqAAAAABVHBpeFgg8N-WgkYsr5fO6GUF_s',{action:'submit'}).then(function(token){recaptchaElm.value=token;recaptchaForm.requestSubmit(formEvent.submitter)})})}})
          </noscript>
         </form>
        </div>
       </div>
       <div class="footer-social">
        <a class="popup-social-network" href="#" target="_blank">
         <i class="fab fa-facebook-f">
         </i>
        </a>
        <a class="popup-social-network" href="#" target="_blank">
         <i class="fab fa-google-plus-g">
         </i>
        </a>
        <a class="popup-social-network" href="#" target="_blank">
         <i class="fab fa-instagram">
         </i>
        </a>
        <a class="popup-social-network" href="#" target="_blank">
         <i class="fab fa-twitter">
         </i>
        </a>
        <a class="popup-social-network" href="#" target="_blank">
         <i class="fab fa-youtube">
         </i>
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="footer-bottom text-center">
  <div class="container">
   <p>
    Copyright © 2025
    <a href="https://hogwarts-book.myharavan.com">
     Hogwarts Book
    </a>
    .
    <a href="https://www.haravan.com/?utm_campaign=poweredby&amp;utm_medium=haravan&amp;utm_source=onlinestore" target="_blank">
     Powered by Haravan
    </a>
   </p>
  </div>
 </div>
</footer>
