<header id="header">
 <div class="container">
  <div class="d-flex align-items-center justify-content-between">
   <div class="header-logo">
    <div class="header-logo wrap-logo" itemscope="" itemtype="http://schema.org/Organization">
     <a aria-label="Hogwarts Book" href="https://hogwarts-book.myharavan.com" itemprop="url">
      <img alt="Hogwarts Book" class="img-responsive logoimg" itemprop="logo" src="//theme.hstatic.net/200000317851/1000697347/14/logo.png?v=1174"/>
     </a>
    </div>
   </div>
   <div class="header-search">
    <div class="main-search d-flex align-items-center justify-content-center">
     <a class="close-search" href="javascript:void(0);" onclick="initSearch('close')">
      <img alt="close" src="//theme.hstatic.net/200000317851/1000697347/14/icon-close.png?v=1174"/>
     </a>
     <div class="search-box wpo-wrapper-search">
      <form action="/search" class="searchform-product ultimate-search">
       <div class="wpo-search-inner">
        <input name="type" type="hidden" value="product"/>
        <input aria-label="input search" autocomplete="off" class="input-search" id="inputSearchAuto-3" maxlength="40" name="q" placeholder="Tìm kiếm sản phẩm..." required="" size="20" type="text"/>
        <span class="close-search">
         <svg height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
          </path>
         </svg>
        </span>
       </div>
       <button aria-label="Tìm kiếm" class="btn-search" id="btnSearchAuto-3" type="submit">
        Tìm kiếm
       </button>
      </form>
      <div class="smart-search-wrapper ajaxSearchResults" id="ajaxSearchResults-3" style="display: none">
       <div class="resultsContent">
       </div>
      </div>
      <div class="searchform-backdrop">
      </div>
     </div>
    </div>
   </div>
   <div class="header-support d-none d-md-flex align-items-center">
    <div class="header-support__icon">
     <img alt="phone" src="//theme.hstatic.net/200000317851/1000697347/14/phone-call.png?v=1174"/>
    </div>
    <div class="header-support__detail">
     <p>
      Tư vấn bán hàng
     </p>
     <span>
      0987 654 321
     </span>
    </div>
   </div>
   <div class="header-upper-icon d-lg-none">
    <div class="header-wrap-icon d-flex justify-content-end">
     <div class="header-search ml-5 d-md-none">
      <a href="javascript:void(0);" onclick="initSearch('open')">
       <i class="fal fa-search fz-20">
       </i>
      </a>
     </div>
     <div class="header-action_menu ml-5 d-lg-none">
      <a class="close-nav" href="#menu-mobile" id="site-menu-handle">
       <i class="fal fa-bars fz-20">
       </i>
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
</header>
