<footer class="pt-5 mt-4">
 <div class="container pb-4">
  <div class="row align-items-stretch">
   <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-left mb-2">
    <h3 class="footer-title mb-3 position-relative font-weight-bold">
     Giới thiệu về M Figure
    </h3>
    <ul class="links">
     <li>
      <a href="/gioi-thieu" title="Giới thiệu">
       Giới thiệu
      </a>
     </li>
     <li>
      <a href="/lien-he" title="Liên hệ hợp tác">
       Liên hệ hợp tác
      </a>
     </li>
     <li>
      <a href="/tin-tuc" title="Tin tức">
       Tin tức
      </a>
     </li>
     <li>
      <a href="/tin-tuc" title="Tin tuyển dụng">
       Tin tuyển dụng
      </a>
     </li>
    </ul>
   </div>
   <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 footer-left mb-2">
    <h3 class="footer-title mb-3 position-relative font-weight-bold">
     Hỗ trợ khách hàng
    </h3>
    <ul class="links">
     <li>
      <a href="https://mfigure.com/apps/kiem-tra-don-hang" title="Tra cứu đơn hàng">
       Tra cứu đơn hàng
      </a>
     </li>
     <li>
      <a href="/huong-dan" title="Hướng dẫn mua hàng trực tuyến">
       Hướng dẫn mua hàng trực tuyến
      </a>
     </li>
     <li>
      <a href="/huong-dan" title="Hướng dẫn thanh toán">
       Hướng dẫn thanh toán
      </a>
     </li>
     <li>
      <a href="https://mfigurehn.web.app/calculator" title="Bảng tính giá Order">
       Bảng tính giá Order
      </a>
     </li>
    </ul>
   </div>
   <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 footer-left mb-2">
    <h3 class="footer-title mb-3 position-relative font-weight-bold">
     Chính sách
    </h3>
    <ul class="links">
     <li>
      <a href="/chinh-sach" title="Quy định chung">
       Quy định chung
      </a>
     </li>
     <li>
      <a href="/phan-dinh-trach-nhiem" title="Phân định trách nhiệm">
       Phân định trách nhiệm
      </a>
     </li>
     <li>
      <a href="/chinh-sach-van-chuyen" title="Chính sách vận chuyển">
       Chính sách vận chuyển
      </a>
     </li>
     <li>
      <a href="/chinh-sach-bao-mat" title="Chính sách bảo mật">
       Chính sách bảo mật
      </a>
     </li>
     <li>
      <a href="/chinh-sach-kiem-hang" title="Chính sách kiểm hàng">
       Chính sách kiểm hàng
      </a>
     </li>
     <li>
      <a href="/chinh-sach-doi-tra" title="Chính sách đổi trả">
       Chính sách đổi trả
      </a>
     </li>
     <li>
      <a href="/chinh-sach-thanh-toan" title="Chính sách thanh toán">
       Chính sách thanh toán
      </a>
     </li>
    </ul>
   </div>
   <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 footer-left mb-2">
    <h3 class="footer-title mb-3 position-relative font-weight-bold">
     Thông tin khuyến mãi
    </h3>
    <ul class="links">
     <li>
      <a href="/" title="Thông tin khuyến mại">
       Thông tin khuyến mại
      </a>
     </li>
     <li>
      <a href="/khuyen-mai" title="Sản phẩm khuyến mại">
       Sản phẩm khuyến mại
      </a>
     </li>
     <li>
      <a href="/san-pham-moi" title="Sản phẩm mới">
       Sản phẩm mới
      </a>
     </li>
    </ul>
   </div>
  </div>
 </div>
 <div class="foo_mid mb-4">
  <div class="container">
   <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-left">
     <h3 class="footer-title mb-3 position-relative font-weight-bold">
      Thông tin liên hệ
     </h3>
     <address class="vcard mb-4">
      <p class="adr">
       <b>
        CƠ SỞ 1:
       </b>
       Số 50 Ngõ 83 Ngọc Hồi - Hoàng Mai - Hà Nội
      </p>
      <p class="adr">
       <b>
        CƠ SỞ 2:
       </b>
       Số 392 Nguyễn Trãi - Hà Đông - Hà Nội
      </p>
      <p>
       <b>
        Email:
       </b>
       <a href="mailto:mfigure.vn@gmail.com" title="mfigure.vn@gmail.com">
        mfigure.vn@gmail.com
       </a>
      </p>
      <p>
       <b>
        Hotline 1:
       </b>
       <a href="tel:0987770035" title="098.777.0035">
        098.777.0035
       </a>
      </p>
      <p>
       <b>
        Hotline 2:
       </b>
       <a href="tel:0903452816" title="090.345.2816">
        090.345.2816
       </a>
      </p>
     </address>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-left">
     <h3 class="footer-title mb-3 position-relative font-weight-bold">
      Kết nối với chúng tôi
     </h3>
     <div class="social position-relative">
      <div class="onut pb-2">
       <a class="position-relative iso sitdown modal-open d-inline-block facebook mr-1" href="https://www.facebook.com/m.figurevn" target="_blank" title="Facebook">
        <img alt="facebook" class="lazy" data-src="//bizweb.dktcdn.net/100/477/898/themes/896755/assets/facebook.png?1750408546692" height="32" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="32"/>
       </a>
       <a class="position-relative iso sitdown modal-open d-inline-block twitter mr-1" href="#" target="_blank" title="Twitter">
        <img alt="twitter" class="lazy" data-src="//bizweb.dktcdn.net/100/477/898/themes/896755/assets/twitter.png?1750408546692" height="32" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="32"/>
       </a>
       <a class="position-relative iso sitdown modal-open d-inline-block instagram mr-1" href="https://www.instagram.com/mfigure.vn/" target="_blank" title="Instagram+">
        <img alt="instagram" class="lazy" data-src="//bizweb.dktcdn.net/100/477/898/themes/896755/assets/instagram.png?1750408546692" height="32" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="32"/>
       </a>
       <a class="position-relative iso sitdown modal-open d-inline-block youtube mr-1" href="https://www.youtube.com/channel/UCYSmzjXyY0Nl0JruEWZLNzw" target="_blank" title="Youtube">
        <img alt="youtube" class="lazy" data-src="//bizweb.dktcdn.net/100/477/898/themes/896755/assets/youtube.png?1750408546692" height="32" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="32"/>
       </a>
       <a class="position-relative iso sitdown modal-open d-inline-block shopee mr-1" href="https://shope.ee/3KrVXwCPPk" target="_blank" title="Shopee">
        <img alt="Shopee" class="lazy" data-src="//bizweb.dktcdn.net/100/477/898/themes/896755/assets/shopee.png?1750408546692" height="32" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="32"/>
       </a>
       <a class="position-relative iso sitdown modal-open d-inline-block lazada mr-1" href="https://s.lazada.vn/s.2bLBY" target="_blank" title="Lazada">
        <img alt="Lazada" class="lazy" data-src="//bizweb.dktcdn.net/100/477/898/themes/896755/assets/lazada.jpg?1750408546692" height="32" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="32"/>
       </a>
      </div>
     </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-left">
     <p>
      <b>
       Người đại diện:
      </b>
      Nguyễn Như Ngọc
     </p>
     <p>
      <b>
       MST:
      </b>
      8404086889-001
     </p>
     <p>
      <b>
       Ngày cấp:
      </b>
      15/05/2023
     </p>
     <p>
      <b>
       Nơi cấp:
      </b>
      Chi cục thuế Quận Hoàng Mai
     </p>
    </div>
   </div>
  </div>
 </div>
 <div class="foo_bot pt-2 pb-2 border-top">
  <div class="container">
   <div class="row bgk align-items-center">
    <div class="col-12">
     <div class="coppyright">
      Bản quyền thuộc về M Figure. Cung cấp bởi
      <a href="https://www.sapo.vn/?utm_campaign=cpn:kho_theme-plm:footer&amp;utm_source=Tu_nhien&amp;utm_medium=referral&amp;utm_content=fm:text_link-km:-sz:&amp;utm_term=&amp;campaign=kho_theme-sapo" rel="nofollow noopener" target="_blank" title="Sapo">
       Sapo
      </a>
      .
     </div>
    </div>
   </div>
  </div>
 </div>
</footer>
