<div class="filter-container__selected-filter-header d-flex clearfix">
 <span class="filter-container__selected-filter-header-title">
  LỌC THEO:
 </span>
 <a class="filter-container__clear-all text-danger ml-auto" href="javascript:void(0)" onclick="clearAllFiltered()" title="Xóa tất cả">
  Xóa tất cả
 </a>
</div>
