<footer>
 <svg class="waves position-relative w-100" preserveaspectratio="none" shape-rendering="auto" viewbox="0 24 150 28">
  <defs>
   <path d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" id="gentle-wave">
   </path>
  </defs>
  <g class="parallax">
   <use fill="var(--footerBg)" x="48" xlink:href="#gentle-wave" y="0">
   </use>
   <use fill="var(--footerBg)" x="48" xlink:href="#gentle-wave" y="3">
   </use>
   <use fill="var(--footerBg)" x="48" xlink:href="#gentle-wave" y="5">
   </use>
   <use fill="var(--footerBg)" x="48" xlink:href="#gentle-wave" y="7">
   </use>
  </g>
 </svg>
 <div class="main-footer">
  <div class="foo_mid py-4">
   <div class="container">
    <div class="row">
     <div class="col-xl-6 col-lg-6 col-md-7 col-sm-12 col-12 footer-left mb-3 mb-md-0">
      <a class="logo_foo d-block mb-3" href="/" title="Mỹ Phẩm Xanh C'CHOI">
       <img alt="Mỹ Phẩm Xanh C'CHOI" class="img-fluid lazy d-block" data-src="https://file.hstatic.net/1000254052/file/cchoi-logo_trng_31b25844ba1545c6aaecea5e291b74ca.png" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
      </a>
      <address class="vcard mb-2">
       <p class="adr">
        <b>
        </b>
        672A27 Phan Văn Trị, P.10, Q. Gò Vấp, Tp. Hồ Chí Minh
       </p>
       <p>
        <b>
         Hotline:
        </b>
        <a href="tel:0964185618" title="0964185618">
         0964185618
        </a>
       </p>
       <p>
        <b>
         Hotline:
        </b>
        <a href="tel:0906840846" title="0906840846">
         0906840846
        </a>
       </p>
       <p>
        <b>
         Email:
        </b>
        <a href="mailto:cchoi.info@gmail.com" title="cchoi.info@gmail.com">
         cchoi.info@gmail.com
        </a>
       </p>
      </address>
      <div class="row">
       <div class="align-items-center col-8 col-sm-5 col-md-8 col-lg-4 d-flex gap_10">
       </div>
      </div>
     </div>
     <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-left">
      <h3 class="footer-title mb-2 position-relative font-weight-bold">
       Hỗ trợ
      </h3>
      <ul class="links">
       <li>
        <a href="https://cchoi.com.vn/blogs/gioi-thieu-ve-c-choi/cau-chuyen-thuong-hieu-cua-c-choi-loi-nguoc-dong-tim-lai-gia-tri-viet" title="Giới thiệu">
         Giới thiệu
        </a>
       </li>
       <li>
        <a href="http://cchoi.com.vn/blogs/chinh-sach/chinh-sach-bao-hanh-doi-tra-hang-va-hoan-tien" title="Chính sách đổi - trả hàng và hoàn tiền">
         Chính sách đổi - trả hàng và hoàn tiền
        </a>
       </li>
       <li>
        <a href="http://cchoi.com.vn/blogs/chinh-sach/quy-dinh-va-hinh-thuc-thanh-toan" title="Quy định và hình thức thanh toán">
         Quy định và hình thức thanh toán
        </a>
       </li>
       <li>
        <a href="http://cchoi.com.vn/blogs/chinh-sach/chinh-sach-van-chuyen-giao-nhan" title="Chính sách vận chuyển - giao nhận">
         Chính sách vận chuyển - giao nhận
        </a>
       </li>
       <li>
        <a href="http://cchoi.com.vn/blogs/chinh-sach/chinh-sach-bao-mat-thong-tin" title="Chính sách bảo mật thông tin">
         Chính sách bảo mật thông tin
        </a>
       </li>
       <li>
        <a href="https://cchoi.com.vn/pages/huong-dan-thanh-toan-vnpay-tren-website" title="Hướng dẫn thanh toán VNPAY">
         Hướng dẫn thanh toán VNPAY
        </a>
       </li>
      </ul>
     </div>
     <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-left">
      <h3 class="footer-title mb-2 position-relative font-weight-bold">
       Chính sách
      </h3>
      <ul class="links">
       <li>
        <a href="https://cchoi.com.vn/blogs/gioi-thieu-ve-c-choi/cau-chuyen-thuong-hieu-cua-c-choi-loi-nguoc-dong-tim-lai-gia-tri-viet" title="Giới thiệu">
         Giới thiệu
        </a>
       </li>
       <li>
        <a href="http://cchoi.com.vn/blogs/chinh-sach/chinh-sach-bao-hanh-doi-tra-hang-va-hoan-tien" title="Chính sách đổi - trả hàng và hoàn tiền">
         Chính sách đổi - trả hàng và hoàn tiền
        </a>
       </li>
       <li>
        <a href="http://cchoi.com.vn/blogs/chinh-sach/quy-dinh-va-hinh-thuc-thanh-toan" title="Quy định và hình thức thanh toán">
         Quy định và hình thức thanh toán
        </a>
       </li>
       <li>
        <a href="http://cchoi.com.vn/blogs/chinh-sach/chinh-sach-van-chuyen-giao-nhan" title="Chính sách vận chuyển - giao nhận">
         Chính sách vận chuyển - giao nhận
        </a>
       </li>
       <li>
        <a href="http://cchoi.com.vn/blogs/chinh-sach/chinh-sach-bao-mat-thong-tin" title="Chính sách bảo mật thông tin">
         Chính sách bảo mật thông tin
        </a>
       </li>
       <li>
        <a href="https://cchoi.com.vn/pages/huong-dan-thanh-toan-vnpay-tren-website" title="Hướng dẫn thanh toán VNPAY">
         Hướng dẫn thanh toán VNPAY
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
  <div class="container">
   <div class="foo_mid border-top pt-4 pb-4 footer-left">
    <h3 class="footer-title mb-2 position-relative font-weight-bold">
     Top tìm kiếm
    </h3>
    <ul class="links_sm list-unstyled row mb-0">
     <li class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
      <a class="rounded-pill bg-foo py-1 px-2 d-inline-block" href="/blogs/cau-chuyen-ve-c-choi" title="Giới thiệu">
       Giới thiệu
      </a>
     </li>
     <li class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
      <a class="rounded-pill bg-foo py-1 px-2 d-inline-block" href="/collections/all" title="Sản phẩm">
       Sản phẩm
      </a>
     </li>
     <li class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
      <a class="rounded-pill bg-foo py-1 px-2 d-inline-block" href="/blogs/hoat-dong-cong-ty" title="Hoạt động">
       Hoạt động
      </a>
     </li>
     <li class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
      <a class="rounded-pill bg-foo py-1 px-2 d-inline-block" href="/blogs/bi-quyet-lam-dep" title="Tư vấn">
       Tư vấn
      </a>
     </li>
     <li class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
      <a class="rounded-pill bg-foo py-1 px-2 d-inline-block" href="/blogs/c-choi-tuyen-dung" title="C'Choi Tuyển Dụng">
       C'Choi Tuyển Dụng
      </a>
     </li>
     <li class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
      <a class="rounded-pill bg-foo py-1 px-2 d-inline-block" href="/blogs/cha-me-thong-thai" title="Cha mẹ thông thái">
       Cha mẹ thông thái
      </a>
     </li>
     <li class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
      <a class="rounded-pill bg-foo py-1 px-2 d-inline-block" href="/blogs/feedback-khach-hang" title="Khách hàng">
       Khách hàng
      </a>
     </li>
     <li class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
      <a class="rounded-pill bg-foo py-1 px-2 d-inline-block" href="/pages/http-cchoi-com-vn-blogs-co-hoi-hop-tac-cung-c-choi" title="Đại lý">
       Đại lý
      </a>
     </li>
     <li class="col-6 col-sm-4 col-md-3 col-lg-2 mb-1">
      <a class="rounded-pill bg-foo py-1 px-2 d-inline-block" href="/blogs/khuyen-mai" title="Khuyến mãi">
       Khuyến mãi
      </a>
     </li>
    </ul>
   </div>
   <div class="foo_mid border-top pt-4 pb-4 pb-lg-2">
    <div class="row">
     <div class="col-12 col-lg-6">
      <p class="mb-3 position-relative">
       Kết nối mạng xã hội
      </p>
      <div class="d-flex position-relative social mb-3">
       <a class="position-relative iso sitdown modal-open d-inline-block facebook mr-1" href="" target="_blank" title="Facebook">
        <img alt="facebook" class="lazy" data-src="https://file.hstatic.net/200000785527/file/facebook_ce742afdcdea4026a633915bdfdce6f5.png" height="32" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202" width="32"/>
       </a>
       <a class="position-relative iso sitdown modal-open d-inline-block twitter mr-1" href="" target="_blank" title="Twitter">
        <img alt="twitter" class="lazy" data-src="https://file.hstatic.net/200000785527/file/twitter_b15cb1006ec04c63855aef2dec8fac47.png" height="32" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202" width="32"/>
       </a>
       <a class="position-relative iso sitdown modal-open d-inline-block instagram mr-1" href="" target="_blank" title="Instagram+">
        <img alt="instagram" class="lazy" data-src="https://file.hstatic.net/200000785527/file/instagram_45effdfd0d0e47d986a7c8b1a8e2ab01.png" height="32" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202" width="32"/>
       </a>
       <a class="position-relative iso sitdown modal-open d-inline-block youtube mr-1" href="" target="_blank" title="Youtube">
        <img alt="youtube" class="lazy" data-src="https://file.hstatic.net/200000785527/file/youtube_749d73527fb94f2c8d005d2ffdb1ca10.png" height="32" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202" width="32"/>
       </a>
       <a class="position-relative iso sitdown modal-open d-inline-block shopee mr-1" href="" target="_blank" title="Shopee">
        <img alt="Shopee" class="lazy" data-src="https://file.hstatic.net/200000785527/file/shopee_efcb449798c24dd4a4a312f1ad9e3e8d.png" height="32" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202" width="32"/>
       </a>
       <a class="position-relative iso sitdown modal-open d-inline-block lazada mr-1" href="" target="_blank" title="Lazada">
        <img alt="Lazada" class="lazy" data-src="https://file.hstatic.net/200000785527/file/lazada_0080ef48005044af8ba3f720097866f7.jpg" height="32" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202" width="32"/>
       </a>
      </div>
     </div>
     <div class="col-12 col-lg-6">
      <p class="mb-3 position-relative">
       Phương thức thanh toán
      </p>
      <div class="footer-column-1">
       <div class="payment-accept">
        <img alt="payment-1" class="first lazy" data-src="https://file.hstatic.net/200000823693/file/payment-1_2c94a9495fa04f4ab8b11be786441266.png" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
        <img alt="payment-2" class="lazy" data-src="https://file.hstatic.net/200000823693/file/payment-2_bdbf0ab7d5d24e138faa24e497b38a9b.png" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
        <img alt="payment-3" class="lazy" data-src="https://file.hstatic.net/200000823693/file/payment-3_3a8dba86bfd74a85be3db17837d4c9c6.png" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
        <img alt="payment-4" class="lazy" data-src="https://file.hstatic.net/200000823693/file/payment-4_f03f301a303c448db851de3e9e91ade2.png" src="//theme.hstatic.net/1000254052/1001360555/14/placeholder_1x1.png?v=202"/>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="foo_bot">
   <div class="container">
    <div class="row bgk align-items-center">
     <div class="col-12 text-center border-top border-main py-2">
      <div class="coppyright">
       Bản quyền thuộc về
       <a href="https://www.facebook.com/mewtheme/" rel="nofollow noopener" target="_blank" title="MewTheme">
        MewTheme
       </a>
       .
       <a href="https://www.haravan.com/?utm_campaign=poweredby&amp;utm_medium=haravan&amp;utm_source=onlinestore" target="_blank">
        Powered by Haravan
       </a>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</footer>
