@media (min-width: 992px) {
  .greenweave-mainFooter .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 1200px) {
  .greenweave-mainFooter .container {
    max-width: 1170px; } }

@media (min-width: 1366px) {
  .greenweave-mainFooter .container {
    max-width: 1290px; } }

@media (min-width: 1600px) {
  .greenweave-mainFooter .container {
    max-width: 1410px; }
  .greenweave-mainFooter .container-fluid {
    max-width: 1800px; } }

.greenweave-mainFooter {
  background-color: #191a1c;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 80px; }
  .greenweave-mainFooter a {
    color: #ffffff; }
  .greenweave-mainFooter h2 a {
    color: #ffffff; }
  .greenweave-mainFooter .ft-logo img {
    max-height: 60px;
    margin-bottom: 20px; }
  .greenweave-mainFooter .greenweave-footer-about .title {
    font-size: 46px;
    margin-bottom: 15px;
    color: #ffffff; }
  .greenweave-mainFooter .ft-phone li {
    font-size: 20px;
    font-weight: 600; }
  .greenweave-mainFooter .ft-email {
    margin-bottom: 20px; }
    .greenweave-mainFooter .ft-email a {
      color: rgba(255, 255, 255, 0.8);
      position: relative; }
      .greenweave-mainFooter .ft-email a:before {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.6);
        transition: all 0.3s; }
      .greenweave-mainFooter .ft-email a:hover {
        color: #ffffff; }
        .greenweave-mainFooter .ft-email a:hover:before {
          width: 0; }
  .greenweave-mainFooter .greenweave-widget-footer .greenweave-title-footer, .greenweave-mainFooter .greenweave-widget-footer .greenweave-fter-title {
    position: relative;
    margin-bottom: 30px;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1px; }
    @media (max-width: 991px) {
      .greenweave-mainFooter .greenweave-widget-footer .greenweave-title-footer, .greenweave-mainFooter .greenweave-widget-footer .greenweave-fter-title {
        border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
        margin: 0px;
        padding: 15px 0; }
        .greenweave-mainFooter .greenweave-widget-footer .greenweave-title-footer:not(.greenweave-fter-title, .greenweave-fter-title):before, .greenweave-mainFooter .greenweave-widget-footer .greenweave-fter-title:not(.greenweave-fter-title, .greenweave-fter-title):before {
          content: "\f107";
          font-family: "FontAwesome";
          position: absolute;
          top: 12px;
          right: 10px;
          text-align: center;
          font-size: 22px;
          transition: all 0.4s ease-in-out 0s;
          -moz-transition: all 0.4s ease-in-out 0s;
          -o-transition: all 0.4s ease-in-out 0s;
          -webkit-transition: all 0.4s ease-in-out 0s;
          -ms-transition: all 0.4s ease-in-out 0s; }
        .greenweave-mainFooter .greenweave-widget-footer .greenweave-title-footer.opened, .greenweave-mainFooter .greenweave-widget-footer .greenweave-fter-title.opened {
          font-weight: 700; }
        .greenweave-mainFooter .greenweave-widget-footer .greenweave-title-footer.opened:before, .greenweave-mainFooter .greenweave-widget-footer .greenweave-fter-title.opened:before {
          -moz-transform: rotate(-180deg);
          -webkit-transform: rotate(-180deg);
          -o-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          transform: rotate(-180deg); } }
    @media (max-width: 767px) {
      .greenweave-mainFooter .greenweave-widget-footer .greenweave-title-footer, .greenweave-mainFooter .greenweave-widget-footer .greenweave-fter-title {
        font-size: 15px; } }
  .greenweave-mainFooter .greenweave-widget-footer .desc {
    margin: 0; }
  .greenweave-mainFooter .greenweave-logo-footer {
    margin-top: 20px; }
  .greenweave-mainFooter .greenweave-footerNav-social {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    gap: 8px;
    margin-top: 20px; }
    .greenweave-mainFooter .greenweave-footerNav-social i, .greenweave-mainFooter .greenweave-footerNav-social svg {
      width: 36px;
      height: 36px;
      line-height: 34px;
      font-size: 19px;
      text-align: center;
      border: 1px solid;
      border-radius: 50%;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    .greenweave-mainFooter .greenweave-footerNav-social .social-svg svg {
      padding: 6px;
      fill: currentColor; }
    .greenweave-mainFooter .greenweave-footerNav-social .social-svg.svg-lazada svg path {
      stroke: currentColor; }
  .greenweave-mainFooter .greenweave-footer-info {
    margin: 40px 0 0;
    padding-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .greenweave-mainFooter .greenweave-address-footer li {
    margin-bottom: 10px; }
    .greenweave-mainFooter .greenweave-address-footer li i {
      width: 20px; }
  .greenweave-mainFooter .greenweave-footer-copyright {
    margin-top: 40px;
    padding: 25px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: right; }
    .greenweave-mainFooter .greenweave-footer-copyright p {
      margin: 0; }
    .greenweave-mainFooter .greenweave-footer-copyright .greenweave-footer-link {
      display: flex;
      flex-flow: wrap;
      gap: 10px 20px;
      /*.item{
				&:not(:first-child){
					position: relative;
					&:before{
						content: '/';
						margin-right: 10px;
					}
				}

			}*/ }
      .greenweave-mainFooter .greenweave-footer-copyright .greenweave-footer-link a {
        color: rgba(255, 255, 255, 0.8); }
  @media (min-width: 992px) {
    .greenweave-mainFooter .greenweave-footer-about {
      padding-right: 40px; }
    .greenweave-mainFooter .greenweave-footer-info > div {
      padding-left: 20px; }
      .greenweave-mainFooter .greenweave-footer-info > div:first-child {
        padding-left: 0; }
      .greenweave-mainFooter .greenweave-footer-info > div:not(:last-child) {
        border-right: 1px solid rgba(255, 255, 255, 0.1); } }
  @media (max-width: 991px) {
    .greenweave-mainFooter.has-toolbar {
      padding-bottom: 45px; }
    .greenweave-mainFooter .greenweave-widget-footer:last-child .greenweave-title-footer {
      border: none; }
    .greenweave-mainFooter .greenweave-widget-footer:last-child .greenweave-content-footer {
      border-top: 1px dashed rgba(255, 255, 255, 0.3); }
    .greenweave-mainFooter .greenweave-widget-footer .greenweave-block-collapse {
      display: none;
      padding: 15px 0; }
    .greenweave-mainFooter .greenweave-footer-about {
      margin-bottom: 20px; }
    .greenweave-mainFooter .greenweave-footer-info {
      margin-top: 0;
      padding-top: 0;
      border-top: 1px dashed rgba(255, 255, 255, 0.3); }
      .greenweave-mainFooter .greenweave-footer-info > div {
        padding: 0; }
    .greenweave-mainFooter .greenweave-footer-copyright {
      margin-top: 25px;
      padding: 25px 0;
      text-align: center; }
      .greenweave-mainFooter .greenweave-footer-copyright > .row {
        gap: 15px; }
      .greenweave-mainFooter .greenweave-footer-copyright .greenweave-footer-link {
        justify-content: center; } }
  @media (max-width: 767px) {
    .greenweave-mainFooter {
      padding-top: 50px; }
      .greenweave-mainFooter .greenweave-footer-about .title {
        font-size: 26px; }
        .greenweave-mainFooter .greenweave-footer-about .title br {
          content: ''; }
          .greenweave-mainFooter .greenweave-footer-about .title br:after {
            content: ' '; } }
