@media (min-width: 992px) {
  .greenweave-index-collection .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 1200px) {
  .greenweave-index-collection .container {
    max-width: 1170px; } }

@media (min-width: 1366px) {
  .greenweave-index-collection .container {
    max-width: 1290px; } }

@media (min-width: 1600px) {
  .greenweave-index-collection .container {
    max-width: 1410px; }
  .greenweave-index-collection .container-fluid {
    max-width: 1800px; } }

.greenweave-index-collection .heading-title {
  color: var(--color-col);
  text-align: center; }

.greenweave-index-collection .button {
  color: var(--color-btn);
  background-color: var(--bg-btn); }

.greenweave-index-collection {
  padding: 80px 0;
  background: var(--bg-col); }
  .greenweave-index-collection .listProduct-row {
    gap: 30px 0; }
  .greenweave-index-collection .greenweave-product-loop .greenweave-proloop-detail h3 a, .greenweave-index-collection .greenweave-product-loop .greenweave-proloop-detail .greenweave-proloop--price:not(.on-sale) .greenweave-price, .greenweave-index-collection .greenweave-product-loop .greenweave-proloop-detail .greenweave-proloop--price .greenweave-price-del {
    color: var(--color-col); }
  .greenweave-index-collection .collection-alert-no, .greenweave-index-collection .btn-more {
    text-align: center; }
  .greenweave-index-collection .btn-more {
    margin-top: 40px; }
  @media (max-width: 767px) {
    .greenweave-index-collection {
      padding: 40px 0; }
      .greenweave-index-collection .btn-more {
        margin-top: 30px; }
      .greenweave-index-collection .listProduct-row {
        gap: 20px 0;
        margin: 0; }
        .greenweave-index-collection .listProduct-row .product-item {
          padding: 0 2px; } }
