@media (min-width: 992px) {
  .greenweave-index-about-2 .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 1200px) {
  .greenweave-index-about-2 .container {
    max-width: 1170px; } }

@media (min-width: 1366px) {
  .greenweave-index-about-2 .container {
    max-width: 1290px; } }

@media (min-width: 1600px) {
  .greenweave-index-about-2 .container {
    max-width: 1410px; }
  .greenweave-index-about-2 .container-fluid {
    max-width: 1800px; } }

.greenweave-index-about-2 .heading-title {
  color: #fff; }

.greenweave-index-about-2 {
  padding: 80px 0;
  background-image: url("//cdn.hstatic.net/themes/200001079142/1001411659/14/greenweave_index_about_2_bg.jpg?v=3824");
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff; }
  .greenweave-index-about-2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); }
  .greenweave-index-about-2 .heading-title .desc {
    color: #fff; }
  .greenweave-index-about-2 .btn-more {
    text-align: right; }
    .greenweave-index-about-2 .btn-more .btn-icon {
      color: #fff;
      font-weight: 600px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 20px; }
      .greenweave-index-about-2 .btn-more .btn-icon span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border: 1px solid #fff;
        border-radius: 50%; }
        .greenweave-index-about-2 .btn-more .btn-icon span svg {
          width: 20px;
          height: 20px;
          fill: #fff; }
          .greenweave-index-about-2 .btn-more .btn-icon span svg polyline,
          .greenweave-index-about-2 .btn-more .btn-icon span svg line {
            stroke: #fff; }
  @media (min-width: 1200px) {
    .greenweave-index-about-2 {
      min-height: 100vh;
      display: flex; }
      .greenweave-index-about-2 .row {
        height: 100%; } }
  @media (max-width: 991px) {
    .greenweave-index-about-2 .btn-more {
      text-align: left; } }
  @media (max-width: 767px) {
    .greenweave-index-about-2 {
      padding: 40px 0; }
      .greenweave-index-about-2 .btn-more .btn-icon span {
        width: 36px;
        height: 36px; }
        .greenweave-index-about-2 .btn-more .btn-icon span svg {
          width: 15px;
          height: 15px; } }
