@media (min-width: 992px) {
  .greenweave-index-about-3 .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 1200px) {
  .greenweave-index-about-3 .container {
    max-width: 1170px; } }

@media (min-width: 1366px) {
  .greenweave-index-about-3 .container {
    max-width: 1290px; } }

@media (min-width: 1600px) {
  .greenweave-index-about-3 .container {
    max-width: 1410px; }
  .greenweave-index-about-3 .container-fluid {
    max-width: 1800px; } }

.greenweave-index-about-3 .heading-title {
  color: #111915; }

.greenweave-index-about-3 {
  padding: 80px 0;
  background-image: url("//cdn.hstatic.net/themes/200001079142/1001411659/14/greenweave_index_about_3_bg.jpg?v=3824");
  background-size: cover;
  background-position: center; }
  .greenweave-index-about-3 .banner img {
    border-radius: 14px; }
  @media (min-width: 1200px) {
    .greenweave-index-about-3 .banner .img--1 {
      padding-right: 100px; } }
  @media (max-width: 991px) {
    .greenweave-index-about-3 .heading-title {
      margin: 30px 0; } }
  @media (max-width: 767px) {
    .greenweave-index-about-3 {
      padding: 40px 0; } }
