.hidden {
  display: none !important; }

@media (min-width: 992px) {
  .greenweave-index-review .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px; } }

@media (min-width: 1200px) {
  .greenweave-index-review .container {
    max-width: 1170px; } }

@media (min-width: 1366px) {
  .greenweave-index-review .container {
    max-width: 1290px; } }

@media (min-width: 1600px) {
  .greenweave-index-review .container {
    max-width: 1410px; }
  .greenweave-index-review .container-fluid {
    max-width: 1800px; } }

.greenweave-index-review {
  padding: 80px 0;
  background: #ffffff;
  color: #111915; }
  .greenweave-index-review .review-info {
    display: flex;
    flex-flow: wrap;
    gap: 30px; }
    .greenweave-index-review .review-info .info-item {
      -ms-flex: 0 0 calc(100% / 3 - 20px);
      flex: 0 0 calc(100% / 3 - 20px);
      max-width: calc(100% / 3 - 20px); }
      .greenweave-index-review .review-info .info-item .item-img {
        position: relative;
        cursor: pointer; }
        .greenweave-index-review .review-info .info-item .item-img img {
          max-width: 100px;
          border-radius: 50%;
          opacity: 0.3;
          transition: all 0.3s; }
        .greenweave-index-review .review-info .info-item .item-img .item-quote {
          position: absolute;
          bottom: 0;
          left: 60px;
          width: 30px;
          height: 30px;
          line-height: 28px;
          background: #6464bc;
          color: #ffffff;
          text-align: center;
          border-radius: 50%;
          opacity: 0;
          transition: all 0.3s; }
          .greenweave-index-review .review-info .info-item .item-img .item-quote svg {
            width: 15px;
            height: 15px;
            fill: currentColor; }
        .greenweave-index-review .review-info .info-item .item-img:hover img,
        .greenweave-index-review .review-info .info-item .item-img:hover .item-quote {
          opacity: 1; }
      .greenweave-index-review .review-info .info-item .item-detail {
        opacity: 0;
        transition: all 0.3s; }
        .greenweave-index-review .review-info .info-item .item-detail .name {
          margin: 20px 0 5px;
          font-size: 18px;
          font-weight: 600;
          line-height: 1.3; }
        .greenweave-index-review .review-info .info-item .item-detail .position {
          font-size: 14px;
          margin: 0;
          color: rgba(17, 25, 21, 0.6); }
      .greenweave-index-review .review-info .info-item.active .item-img img,
      .greenweave-index-review .review-info .info-item.active .item-img .item-quote,
      .greenweave-index-review .review-info .info-item.active .item-detail {
        opacity: 1; }
  .greenweave-index-review .review-desc .desc-item .desc {
    font-size: 22px;
    margin: 0; }
  .greenweave-index-review .review-nav {
    margin-top: 60px; }
    .greenweave-index-review .review-nav button {
      width: 55px;
      height: 55px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      border-radius: 50%;
      border: 1px solid rgba(17, 25, 21, 0.3);
      outline: none;
      color: #111915;
      transition: all 0.3s; }
      .greenweave-index-review .review-nav button svg {
        width: 20px;
        height: 20px;
        fill: #111915;
        transition: all 0.3s; }
        .greenweave-index-review .review-nav button svg polyline,
        .greenweave-index-review .review-nav button svg line {
          stroke: #111915;
          transition: all 0.3s; }
      .greenweave-index-review .review-nav button.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none; }
  @media (max-width: 991px) {
    .greenweave-index-review .review-desc {
      margin-top: 30px; } }
  @media (max-width: 767px) {
    .greenweave-index-review {
      padding: 40px 0; }
      .greenweave-index-review .review-info {
        gap: 15px;
        justify-content: center;
        text-align: center; }
        .greenweave-index-review .review-info .info-item {
          -ms-flex: 0 0 calc(100% / 3 - 10px);
          flex: 0 0 calc(100% / 3 - 10px);
          max-width: calc(100% / 3 - 10px); }
          .greenweave-index-review .review-info .info-item .item-img {
            max-width: 90px;
            margin: 0 auto; }
            .greenweave-index-review .review-info .info-item .item-img img {
              max-width: 80px; }
            .greenweave-index-review .review-info .info-item .item-img .item-quote {
              left: calc(100% - 35px);
              width: 24px;
              height: 24px;
              line-height: 22px; }
              .greenweave-index-review .review-info .info-item .item-img .item-quote svg {
                width: 12px;
                height: 12px; }
          .greenweave-index-review .review-info .info-item .item-detail .name {
            margin: 15px 0 5px;
            font-size: 16px; }
      .greenweave-index-review .review-desc .desc-item .desc {
        font-size: 16px;
        text-align: center; }
      .greenweave-index-review .review-nav {
        margin-top: 30px;
        text-align: center; }
        .greenweave-index-review .review-nav button {
          width: 40px;
          height: 40px; } }
