<footer class="footers2" style="background-image: url(//theme.hstatic.net/200000689391/1001102398/14/footers2_background.png?v=217)">
 <div class="container-fluid">
  <div class="footers2-wrap">
   <div class="footers2-letter">
    <div class="footers2-letter-title">
     <h2>
      Đăng ký nhận tin
     </h2>
     <p>
      Để nhận những ưu đãi đặc biệt
     </p>
    </div>
    <div class="footers2-letter-form">
     <form accept-charset="UTF-8" action="/account/contact" class="contact-form" method="post">
      <input name="form_type" type="hidden" value="customer"/>
      <input name="utf8" type="hidden" value="✓"/>
      <input name="form_type" type="hidden" value="customer"/>
      <input name="utf8" type="hidden" value="✓"/>
      <input name="contact[tags]" type="hidden" value="Khách hàng đăng ký nhận tin"/>
      <input name="contact[first_name]" type="hidden" value="Người đăng ký"/>
      <input name="contact[last_name]" type="hidden" value=""/>
      <input name="contact[email]" placeholder="Nhập địa chỉ email của bạn..." required="" type="email"/>
      <button type="submit">
       <span>
        Đăng ký
       </span>
      </button>
      <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt8R0jYuI-4sJy_C2X-2UUIfl7rxkm6sB7HByGxDDMQdWQjpxfcndozbN3CHWE_RralUbWUp5FK78gx6ROJXU0pObnrR8GoqboTw7hUPa_LsMnGCtVzUZTLprtkgmFocx5o"/>
      <input id="6d97f60358424f1b81b1ea12d76995df" name="g-recaptcha-response" type="hidden"/>
      <noscript data-src="https://www.google.com/recaptcha/api.js?render=6LchSLkqAAAAABVHBpeFgg8N-WgkYsr5fO6GUF_s">
      </noscript>
      <noscript>
       let recaptchaElm=document.getElementById('6d97f60358424f1b81b1ea12d76995df');let recaptchaForm=recaptchaElm.parentNode;recaptchaForm.addEventListener("submit",function(formEvent){if(!recaptchaElm.value){formEvent.preventDefault();grecaptcha.ready(function(){grecaptcha.execute('6LchSLkqAAAAABVHBpeFgg8N-WgkYsr5fO6GUF_s',{action:'submit'}).then(function(token){recaptchaElm.value=token;recaptchaForm.requestSubmit(formEvent.submitter)})})}})
      </noscript>
     </form>
    </div>
   </div>
   <div class="footers2-top">
    <div class="footers2-top-item footers2-top-one">
     <a aria-label="F1GENZ BABIE" href="/">
      <img alt="F1GENZ BABIE" height="85" loading="lazy" src="//theme.hstatic.net/200000689391/1001102398/14/footers2_one_logo.png?v=217" width="240"/>
     </a>
     <p>
      F1GENZ BABIES luôn cam kết, đảm bảo đưa sản phẩm trực tiếp từ nhà sản xuất đến tay người dùng và kiểm soát được chất lượng để đáp ứng được nhu cầu ngày càng cao của khách hàng. Tất cả các sản phẩm tại F1GENZ BABIES đều có nguồn gốc xuất xứ rõ ràng, chất lượng.
     </p>
    </div>
    <div class="footers2-top-item footers2-top-two">
     <h4>
      Liên hệ
      <i class="fa fa-chevron-down">
      </i>
     </h4>
     <div class="footers2-top-item-content">
      <p>
       support@haravan.com
       <br/>
       1900.63.60.99
       <br/>
       Lầu 6, 182 Lê Đại Hành, P.15, Quận 11, Tp.HCM
      </p>
     </div>
    </div>
    <div class="footers2-top-item footers2-top-three">
     <h4>
      Thông tin
      <i class="fa fa-chevron-down">
      </i>
     </h4>
     <div class="footers2-top-item-content">
      <ul>
       <li>
        <a href="/pages/about-us">
         Jack &amp; Jones
        </a>
       </li>
       <li>
        <a href="/pages/chinh-sach-doi-tra">
         Calvin Kelin
        </a>
       </li>
       <li>
        <a href="/pages/chinh-sach-bao-mat">
         Ray Ban
        </a>
       </li>
       <li>
        <a href="/pages/chinh-sach-bao-mat">
         River Island
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div class="footers2-top-item footers2-top-four">
     <h4>
      Về chúng tôi
      <i class="fa fa-chevron-down">
      </i>
     </h4>
     <div class="footers2-top-item-content">
      <ul>
       <li>
        <a href="/pages/lien-he">
         Top
        </a>
       </li>
       <li>
        <a href="/pages/huong-dan-thiet-lap">
         Bottoms
        </a>
       </li>
       <li>
        <a href="/pages/about-us">
         Accessories
        </a>
       </li>
       <li>
        <a href="/pages/dieu-khoan-dich-vu">
         Shoes
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div class="footers2-top-item footers2-top-five">
     <h4>
      Liên hệ với chúng tôi
      <i class="fa fa-chevron-down">
      </i>
     </h4>
     <div class="footers2-top-item-content">
      <p>
       Luôn cập nhật tất cả các hành động mà chúng tôi đã lưu cho tất cả khách hàng của mình.
      </p>
      <ul class="shop-social">
       <li>
        <a aria-label="F1GENZ BABIE - Facebook" href="/collections/all" target="_blank">
         <img alt="F1GENZ BABIE - Facebook" height="30" loading="lazy" src="https://file.hstatic.net/200000588277/file/facebook__6__53aaa8d352524d3eb025af5203eaa437_icon.png" width="30"/>
        </a>
       </li>
       <li>
        <a aria-label="F1GENZ BABIE - Youtube" href="/collections/all" target="_blank">
         <img alt="F1GENZ BABIE - Youtube" height="30" loading="lazy" src="https://file.hstatic.net/200000588277/file/youtube__5__4f04522e10494557a651f53a33ad4d76_icon.png" width="30"/>
        </a>
       </li>
       <li>
        <a aria-label="F1GENZ BABIE - Pinterest" href="/collections/all" target="_blank">
         <img alt="F1GENZ BABIE - Youtube" height="30" loading="lazy" src="https://file.hstatic.net/200000588277/file/pinterest_a1a15995132a4275845412deba5f1193_icon.png" width="30"/>
        </a>
       </li>
       <li>
        <a aria-label="F1GENZ BABIE - TikTok" href="/collections/all" target="_blank">
         <img alt="F1GENZ BABIE - TikTok" height="30" loading="lazy" src="https://file.hstatic.net/200000588277/file/tik-tok_d85bb4e7468c43ac9ed5437649b7405c_icon.png" width="30"/>
        </a>
       </li>
       <li>
        <a aria-label="F1GENZ BABIE - Instagram" href="/collections/all" target="_blank">
         <img alt="F1GENZ BABIE - Instagram" height="30" loading="lazy" src="https://file.hstatic.net/200000588277/file/instagram__3__7de3ebbce1f24003b516ca6c1d7c24d5_icon.png" width="30"/>
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <div class="footers2-bot">
    <p class="footers2-bot-copyright">
     © 2025 - All rights reserved by
     <a href="https://f1genz.com/" target="_blank">
      F1GENZ TECHNOLOGY CO., LTD.
     </a>
     <a href="https://www.haravan.com?ref=f1genz" target="_blank">
      Powered by Haravan
     </a>
    </p>
    <ul class="shop-payment">
     <li class="shop-payment-item">
      <a aria-label="/ - Payment" href="/">
       <img alt="/ - Payment" height="48" loading="lazy" src="//theme.hstatic.net/200000689391/1001102398/14/shop_payment_item_image_1.png?v=217" width="76"/>
      </a>
     </li>
     <li class="shop-payment-item">
      <a aria-label="/ - Payment" href="/">
       <img alt="/ - Payment" height="48" loading="lazy" src="//theme.hstatic.net/200000689391/1001102398/14/shop_payment_item_image_2.png?v=217" width="76"/>
      </a>
     </li>
     <li class="shop-payment-item">
      <a aria-label="/ - Payment" href="/">
       <img alt="/ - Payment" height="48" loading="lazy" src="//theme.hstatic.net/200000689391/1001102398/14/shop_payment_item_image_3.png?v=217" width="76"/>
      </a>
     </li>
     <li class="shop-payment-item">
      <a aria-label="/ - Payment" href="/">
       <img alt="/ - Payment" height="48" loading="lazy" src="//theme.hstatic.net/200000689391/1001102398/14/shop_payment_item_image_4.png?v=217" width="76"/>
      </a>
     </li>
     <li class="shop-payment-item">
      <a aria-label="/ - Payment" href="/">
       <img alt="/ - Payment" height="48" loading="lazy" src="//theme.hstatic.net/200000689391/1001102398/14/shop_payment_item_image_5.png?v=217" width="76"/>
      </a>
     </li>
    </ul>
   </div>
  </div>
 </div>
</footer>
