<header class="headers2">
 <div class="container-fluid">
  <div class="headers2-wrap">
   <div class="headers2-left">
    <a aria-label="F1GENZ BABIE" href="https://f1genz-babie.myharavan.com">
     <img alt="F1GENZ BABIE" height="50" src="//theme.hstatic.net/200000689391/1001102398/14/shop_logo_image_medium.png?v=217" title="F1GENZ BABIE" width="200"/>
    </a>
   </div>
   <div class="headers2-center">
    <nav class="headers2-center-menu">
     <ul class="menu0">
      <li class="active">
       <a aria-label="Trang chủ" href="/">
        Trang chủ
       </a>
      </li>
      <li class="hasChild">
       <a aria-label="Tất cả sản phẩm" href="/collections/all">
        Tất cả sản phẩm
        <span>
         ›
        </span>
       </a>
       <ul class="menu1">
        <li class="hasChild">
         <a aria-label="Áo trẻ em" href="/collections/gloves">
          Áo trẻ em
          <span>
           ›
          </span>
         </a>
         <ul class="menu2">
          <li class="">
           <a aria-label="Áo Polo" href="/collections/anchor">
            Áo Polo
           </a>
          </li>
          <li class="">
           <a aria-label="Áo Thun" href="/collections/gloves">
            Áo Thun
           </a>
          </li>
          <li class="">
           <a aria-label="Áo Khoác" href="/collections/anchor">
            Áo Khoác
           </a>
          </li>
          <li class="">
           <a aria-label="Áo Sơ Mi" href="/collections/bag">
            Áo Sơ Mi
           </a>
          </li>
          <li class="">
           <a aria-label="Áo Len" href="/collections/anchor">
            Áo Len
           </a>
          </li>
          <li class="">
           <a aria-label="Áo Nỉ" href="/collections/gloves">
            Áo Nỉ
           </a>
          </li>
         </ul>
        </li>
        <li class="hasChild">
         <a aria-label="Quần trẻ em" href="/collections/anchor">
          Quần trẻ em
          <span>
           ›
          </span>
         </a>
         <ul class="menu2">
          <li class="">
           <a aria-label="Quần Jeans" href="/collections/gloves">
            Quần Jeans
           </a>
          </li>
          <li class="">
           <a aria-label="Quần Kaki" href="/collections/bag">
            Quần Kaki
           </a>
          </li>
          <li class="">
           <a aria-label="Quần Short" href="/collections/anchor">
            Quần Short
           </a>
          </li>
          <li class="">
           <a aria-label="Quần Nỉ" href="/collections/anchor">
            Quần Nỉ
           </a>
          </li>
          <li class="">
           <a aria-label="Quần Legging" href="/collections/baby-seats">
            Quần Legging
           </a>
          </li>
         </ul>
        </li>
        <li class="">
         <a aria-label="Đồ Bộ Trẻ Em" href="/collections/bag">
          Đồ Bộ Trẻ Em
         </a>
        </li>
        <li class="">
         <a aria-label="Đồ Thể Thao Trẻ Em" href="/collections/bag">
          Đồ Thể Thao Trẻ Em
         </a>
        </li>
        <li class="">
         <a aria-label="Nổi bật" href="/collections/baby-seats">
          Nổi bật
         </a>
        </li>
        <li class="">
         <a aria-label="Phụ kiện trẻ em" href="/collections/baby-seats">
          Phụ kiện trẻ em
         </a>
        </li>
       </ul>
      </li>
      <li class="">
       <a aria-label="Tin tức" href="/blogs/news">
        Tin tức
       </a>
      </li>
      <li class="hasChild">
       <a aria-label="Nhóm sản phẩm" href="/collections/anchor">
        Nhóm sản phẩm
        <span>
         ›
        </span>
       </a>
       <ul class="menu1">
        <li class="">
         <a aria-label="Nhóm sản phẩm style 1" href="/collections/all?view=horizontal">
          Nhóm sản phẩm style 1
         </a>
        </li>
        <li class="">
         <a aria-label="Nhóm sản phẩm style 2" href="/collections/all?view=vertical">
          Nhóm sản phẩm style 2
         </a>
        </li>
       </ul>
      </li>
      <li class="hasChild">
       <a aria-label="Chi tiết sản phẩm" href="/products/baby-grow-party-hat?variant=1106081506&amp;view=style1">
        Chi tiết sản phẩm
        <span>
         ›
        </span>
       </a>
       <ul class="menu1">
        <li class="">
         <a aria-label="Chi tiết sản phẩm style 1" href="/products/baby-grow-party-hat?variant=1106081506&amp;view=style1">
          Chi tiết sản phẩm style 1
         </a>
        </li>
        <li class="">
         <a aria-label="Chi tiết sản phẩm style 2" href="/products/baby-grow-party-hat?variant=1106081506&amp;view=style2">
          Chi tiết sản phẩm style 2
         </a>
        </li>
        <li class="">
         <a aria-label="Chi tiết sản phẩm style 3" href="/products/baby-grow-party-hat?variant=1106081506&amp;view=style3">
          Chi tiết sản phẩm style 3
         </a>
        </li>
       </ul>
      </li>
      <li class="">
       <a aria-label="Liên hệ" href="/pages/lien-he">
        Liên hệ
       </a>
      </li>
     </ul>
    </nav>
   </div>
   <div class="headers2-right">
    <form action="/search" class="tool-search">
     <input name="type" type="hidden" value="product"/>
     <input autocomplete="off" name="q" placeholder="Tìm kiếm sản phẩm..." required="" type="text"/>
     <button title="Tìm kiếm" type="submit">
      <i class="fal fa-search">
      </i>
     </button>
     <button class="tool-search-overplay" title="Đóng">
     </button>
     <div class="tool-search-smart">
     </div>
    </form>
    <button class="shop-tool" data-target="#accountLogin" data-toggle="modal" data-type="shop-customer-header" data-whatever="@accountLogin" title="Tài khoản" type="button">
     <i class="fal fa-user">
     </i>
    </button>
    <button class="shop-tool" data-type="shop-menu-mobile-header" title="Menu" type="button">
     <i class="fal fa-bars">
     </i>
    </button>
    <button class="shop-tool has-count" data-type="shop-wishlist-header" title="Yêu thích" type="button">
     <i class="fal fa-heart">
     </i>
     <span class="shop-wishlist-count">
      0
     </span>
    </button>
    <button class="shop-tool has-count" data-type="shop-cart-header" title="Giỏ hàng" type="button">
     <i class="fal fa-shopping-bag">
     </i>
     <span class="shop-cart-count">
      0
     </span>
    </button>
   </div>
  </div>
 </div>
</header>
