{% set nav = "" %}
{% set menus = getMenus({'type':'header'}) %}
{% if(menus is not empty) %}
    {% for m in menus %}
        {% set arrTypeCate =  m.typeCates %}
        {% if m.type in arrTypeCate %}
            {% set categoryCustom = getCategoryTypeMenu(m.type) %}
            {% if(categoryCustom is not empty) %}
                {% for c in categoryCustom %}
                    {% set nav = nav ~ '<a href="'~ c.viewLink ~'" title="' ~ c.name ~ '"
                               class="ps-3 pe-3 d-flex align-items-center w-100 gap-2 position-relative">' %}
                    {% if(c.iconUri) %}
                        {% set nav = nav ~ '<img width="20" height="20" src="'~c.iconUri~'"
                                     alt="' ~ c.name ~ '" class="img-fluid img-icon">' %}
                    {% endif %}
                    {% set nav = nav ~ c.name %}
                    {% set nav = nav ~ '</a>' %}
                {% endfor %}
            {% endif %}
        {% else %}
            {% set nav = nav ~ '<a href="'~ m.viewLink ~'" title="' ~ m.name ~ '"
                               class="ps-3 pe-3 d-flex align-items-center w-100 gap-2 position-relative">' %}
            {% if(m.iconUri) %}
                {% set nav = nav ~ '<img width="20" height="20" src="'~m.iconUri~'"
                                     alt="' ~ m.name ~ '" class="img-fluid img-icon">' %}
            {% else %}
                {% set nav = nav ~ '<img width="20" height="20" src="https://dummyimage.com/16x16/163645/fff"
                                     alt="' ~ m.name ~ '" class="img-fluid img-icon">' %}
            {% endif %}
            {% set nav = nav ~ m.name %}
            {% set nav = nav ~ '</a>' %}
        {% endif %}
    {% endfor %}
{% endif %}
{{ nav | raw }}