<div class="thb-localization-forms-modal__content-header">
 <span class="h5 body-font">
  Select your language
 </span>
 <button aria-label="Close" class="thb-localization-forms-modal__toggle" id="ModalClose-LocalizationModal--locale" type="button">
  <svg fill="none" height="14" viewbox="0 0 14 14" width="14" xmlns="http://www.w3.org/2000/svg">
   <path d="M13 1L1 13M13 13L1 1" stroke="var(--color-body)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
   </path>
  </svg>
 </button>
</div>
