<header class="mainHeader mainHeader_temp02" id="site-header">
 <div class="mainHeader-middle">
  <div class="container">
   <div class="flex-container-header">
    <div class="header-wrap-iconav header-wrap-action d-sm-block d-lg-none">
     <div class="header-action">
      <div class="header-action-item header-action_menu activeMenuChecked">
       <div class="header-action_text">
        <a aria-label="Menu" class="header-action__link" href="javascript:void(0)" name="icon-menu-mobile" title="Menu">
         <span class="box-icon">
          <span aria-hidden="true" class="hamburger-menu">
           <span class="bar">
           </span>
          </span>
          <span class="box-icon--close">
           <svg role="presentation" viewbox="0 0 19 19">
            <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd">
            </path>
           </svg>
          </span>
         </span>
        </a>
       </div>
      </div>
     </div>
    </div>
    <div class="header-wrap-logo">
     <div class="wrap-logo" itemscope="" itemtype="http://schema.org/Organization">
      <h1>
       <a href="https://epic-travels.myharavan.com" itemprop="url">
        Epic Travels
       </a>
      </h1>
     </div>
    </div>
    <div class="header-wrap-menu d-none d-md-none d-lg-block">
     <nav class="navbar-mainmenu">
      <ul class="menuList-main">
       <li class="active">
        <a href="/" title="Trang chủ">
         Trang chủ
        </a>
       </li>
       <li class="has-submenu">
        <a href="/pages/about-us" title="Giới thiệu">
         Giới thiệu
         <svg height="12" viewbox="0 0 128 128" width="12" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
          <g>
           <path d="m64 88c-1.023 0-2.047-.391-2.828-1.172l-40-40c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l37.172 37.172 37.172-37.172c1.563-1.563 4.094-1.563 5.656 0s1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z">
           </path>
          </g>
         </svg>
        </a>
        <ul class="menuList-submain">
         <li class="">
          <a href="/pages/about-us?view=about-01" title="Kiểu hiển thị 1">
           Kiểu hiển thị 1
          </a>
         </li>
         <li class="">
          <a href="/pages/about-us?view=about-02" title="Kiểu hiển thị 2">
           Kiểu hiển thị 2
          </a>
         </li>
         <li class="">
          <a href="/pages/about-us?view=about-03" title="Kiểu hiển thị 3">
           Kiểu hiển thị 3
          </a>
         </li>
         <li class="">
          <a href="/pages/cua-hang" title="Cửa hàng">
           Cửa hàng
          </a>
         </li>
        </ul>
       </li>
       <li class="has-submenu fullwidth">
        <a href="/collections/tour" title="Du lịch trong nước">
         Du lịch trong nước
         <svg height="12" viewbox="0 0 128 128" width="12" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
          <g>
           <path d="m64 88c-1.023 0-2.047-.391-2.828-1.172l-40-40c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l37.172 37.172 37.172-37.172c1.563-1.563 4.094-1.563 5.656 0s1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z">
           </path>
          </g>
         </svg>
        </a>
        <ul class="menuList-submain">
         <li class="">
          <a href="/collections/nha-trang" title="Nha Trang">
           Nha Trang
          </a>
         </li>
         <li class="">
          <a href="/collections/da-nang" title="Đà Nẵng">
           Đà Nẵng
          </a>
         </li>
         <li class="">
          <a href="/collections/phu-quoc" title="Phú Quốc">
           Phú Quốc
          </a>
         </li>
         <li class="">
          <a href="/collections/tour" title="Hồ Chí Minh">
           Hồ Chí Minh
          </a>
         </li>
         <li class="">
          <a href="/collections/tour" title="Hà Nội">
           Hà Nội
          </a>
         </li>
        </ul>
       </li>
       <li class="has-submenu">
        <a href="/collections/chau-au" title="Du lịch nước ngoài">
         Du lịch nước ngoài
         <svg height="12" viewbox="0 0 128 128" width="12" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
          <g>
           <path d="m64 88c-1.023 0-2.047-.391-2.828-1.172l-40-40c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l37.172 37.172 37.172-37.172c1.563-1.563 4.094-1.563 5.656 0s1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z">
           </path>
          </g>
         </svg>
        </a>
        <ul class="menuList-submain">
         <li class="has-submenu active">
          <a href="/" title="Châu Á">
           Châu Á
           <svg height="22" viewbox="0 0 128 128" width="22" xmlns="http://www.w3.org/2000/svg">
            <g>
             <path d="m44 108c-1.023 0-2.047-.391-2.828-1.172-1.563-1.563-1.563-4.094 0-5.656l37.172-37.172-37.172-37.172c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l40 40c1.563 1.563 1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z" data-original="currentColor" fill="currentColor">
             </path>
            </g>
           </svg>
          </a>
          <ul class="menuList-submain">
           <li class="active">
            <a href="/" title="Hàn Quốc">
             Hàn Quốc
            </a>
           </li>
           <li class="">
            <a href="/collections/all" title="Thái Lan">
             Thái Lan
            </a>
           </li>
           <li class="">
            <a href="/collections/all" title="Trung Quốc">
             Trung Quốc
            </a>
           </li>
           <li class="active">
            <a href="/" title="Nhật Bản">
             Nhật Bản
            </a>
           </li>
           <li class="active">
            <a href="/" title="Đài Loan">
             Đài Loan
            </a>
           </li>
          </ul>
         </li>
         <li class="has-submenu">
          <a href="/collections/all" title="Châu Âu">
           Châu Âu
           <svg height="22" viewbox="0 0 128 128" width="22" xmlns="http://www.w3.org/2000/svg">
            <g>
             <path d="m44 108c-1.023 0-2.047-.391-2.828-1.172-1.563-1.563-1.563-4.094 0-5.656l37.172-37.172-37.172-37.172c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l40 40c1.563 1.563 1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z" data-original="currentColor" fill="currentColor">
             </path>
            </g>
           </svg>
          </a>
          <ul class="menuList-submain">
           <li class="">
            <a href="/collections/all" title="Anh">
             Anh
            </a>
           </li>
           <li class="">
            <a href="/collections/phap" title="Pháp">
             Pháp
            </a>
           </li>
           <li class="">
            <a href="/collections/all" title="Thuỵ Điển">
             Thuỵ Điển
            </a>
           </li>
           <li class="">
            <a href="/collections/all" title="Đan Mạch">
             Đan Mạch
            </a>
           </li>
           <li class="active">
            <a href="/" title="Đức">
             Đức
            </a>
           </li>
          </ul>
         </li>
        </ul>
       </li>
       <li class="">
        <a href="/blogs/news" title="Cẩm nang du lịch">
         Cẩm nang du lịch
        </a>
       </li>
       <li class="">
        <a href="/pages/lien-he" title="Liên hệ">
         Liên hệ
        </a>
       </li>
      </ul>
     </nav>
    </div>
    <div class="header-wrap-action">
     <div class="header-action">
      <div class="header-action-item header-action_cart activeCartChecked">
       <div class="header-action_text">
        <a aria-label="Giỏ hàng" class="header-action__link header-action_clicked" href="#" id="site-cart-handle" title="Giỏ hàng">
         <span class="box-icon">
          <svg class="svg-ico-cart" viewbox="0 -13 456.75885 456" width="456pt" xmlns="http://www.w3.org/2000/svg">
           <path d="m150.355469 322.332031c-30.046875 0-54.402344 24.355469-54.402344 54.402344 0 30.042969 24.355469 54.398437 54.402344 54.398437 30.042969 0 54.398437-24.355468 54.398437-54.398437-.03125-30.03125-24.367187-54.371094-54.398437-54.402344zm0 88.800781c-19 0-34.402344-15.402343-34.402344-34.398437 0-19 15.402344-34.402344 34.402344-34.402344 18.996093 0 34.398437 15.402344 34.398437 34.402344 0 18.996094-15.402344 34.398437-34.398437 34.398437zm0 0">
           </path>
           <path d="m446.855469 94.035156h-353.101563l-7.199218-40.300781c-4.4375-24.808594-23.882813-44.214844-48.699219-48.601563l-26.101563-4.597656c-5.441406-.96875-10.632812 2.660156-11.601562 8.097656-.964844 5.441407 2.660156 10.632813 8.101562 11.601563l26.199219 4.597656c16.53125 2.929688 29.472656 15.871094 32.402344 32.402344l35.398437 199.699219c4.179688 23.894531 24.941406 41.324218 49.199219 41.300781h210c22.0625.066406 41.546875-14.375 47.902344-35.5l47-155.800781c.871093-3.039063.320312-6.3125-1.5-8.898438-1.902344-2.503906-4.859375-3.980468-8-4zm-56.601563 162.796875c-3.773437 12.6875-15.464844 21.367188-28.699218 21.300781h-210c-14.566407.039063-27.035157-10.441406-29.5-24.800781l-24.699219-139.398437h336.097656zm0 0">
           </path>
           <path d="m360.355469 322.332031c-30.046875 0-54.402344 24.355469-54.402344 54.402344 0 30.042969 24.355469 54.398437 54.402344 54.398437 30.042969 0 54.398437-24.355468 54.398437-54.398437-.03125-30.03125-24.367187-54.371094-54.398437-54.402344zm0 88.800781c-19 0-34.402344-15.402343-34.402344-34.398437 0-19 15.402344-34.402344 34.402344-34.402344 18.996093 0 34.398437 15.402344 34.398437 34.402344 0 18.996094-15.402344 34.398437-34.398437 34.398437zm0 0">
           </path>
          </svg>
          <span class="box-icon--close">
           <svg role="presentation" viewbox="0 0 19 19">
            <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd">
            </path>
           </svg>
          </span>
          <span class="count-holder">
           <span class="count">
            0
           </span>
          </span>
         </span>
        </a>
        <span class="box-triangle">
         <svg role="presentation" viewbox="0 0 20 9">
          <path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z" fill="#ffffff">
          </path>
         </svg>
        </span>
       </div>
      </div>
      <div class="header-action-item header-action_account">
       <div class="header-action_text">
        <a aria-label="Tài khoản" class="header-action__link" href="/account/login" id="site-account-handle" title="Tài khoản">
         Đăng nhập
        </a>
       </div>
       <div class="header-action_dropdown">
        <div class="header-dropdown_content">
         <div class="site_account sitenav-account" id="siteNav-account">
          <div class="site_account_panel_list">
           <div class="site_account_panel site_account_default is-selected" id="header-login-panel">
            <div class="site_account_header">
             <h2 class="site_account_title heading">
              Đăng nhập tài khoản
             </h2>
             <p class="site_account_legend">
              Nhập email và mật khẩu của bạn:
             </p>
            </div>
            <div class="site_account_inner">
             <form accept-charset="UTF-8" action="/account/login" id="customer_login" method="post">
              <input name="form_type" type="hidden" value="customer_login"/>
              <input name="utf8" type="hidden" value="✓"/>
              <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt9B7RV8QY5qwe_rADgH8eDWnDczz3TFMN3tKR8n7lzD8sWkiBkjCPxykMpCo7XMdLbr0TkqS9esNAZB_evUjc-sMGj5LYwV8mr1IXtKt8vrY3TpQ_U9nAxAmlDXJidkqBU"/>
              <div class="form__input-wrapper form__input-wrapper--labelled">
               <input class="form__field form__field--text" id="login-customer[email]" name="customer[email]" required="required" type="email"/>
               <label class="form__floating-label" for="login-customer[email]">
                Email
               </label>
              </div>
              <div class="form__input-wrapper form__input-wrapper--labelled">
               <input autocomplete="current-password" class="form__field form__field--text" id="login-customer[password]" name="customer[password]" required="required" type="password"/>
               <label class="form__floating-label" for="login-customer[password]">
                Mật khẩu
               </label>
               <div class="sitebox-recaptcha">
                This site is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy" rel="noreferrer" target="_blank">
                 Privacy Policy
                </a>
                and
                <a href="https://policies.google.com/terms" rel="noreferrer" target="_blank">
                 Terms of Service
                </a>
                apply.
               </div>
              </div>
              <button class="form__submit button dark" id="form_submit-login" type="submit">
               Đăng nhập
              </button>
             </form>
             <div class="site_account_secondary-action">
              <p>
               Khách hàng mới?
               <a class="link" href="/account/register">
                Tạo tài khoản
               </a>
              </p>
              <p>
               Quên mật khẩu?
               <button aria-controls="header-recover-panel" class="js-link link">
                Khôi phục mật khẩu
               </button>
              </p>
             </div>
            </div>
           </div>
           <div class="site_account_panel site_account_sliding" id="header-recover-panel">
            <div class="site_account_header">
             <h2 class="site_account_title heading">
              Khôi phục mật khẩu
             </h2>
             <p class="site_account_legend">
              Nhập email của bạn:
             </p>
            </div>
            <div class="site_account_inner">
             <form accept-charset="UTF-8" action="/account/recover" method="post">
              <input name="form_type" type="hidden" value="recover_customer_password"/>
              <input name="utf8" type="hidden" value="✓"/>
              <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt9B7RV8QY5qwe_rADgH8eDWnDczz3TFMN3tKR8n7lzD8sWkiBkjCPxykMpCo7XMdLbr0TkqS9esNAZB_evUjc-sMGj5LYwV8mr1IXtKt8vrY3TpQ_U9nAxAmlDXJidkqBU"/>
              <div class="form__input-wrapper form__input-wrapper--labelled">
               <input class="form__field form__field--text" id="recover-customer[recover_email]" name="email" required="required" type="email"/>
               <label class="form__floating-label" for="recover-customer[recover_email]">
                Email
               </label>
               <div class="sitebox-recaptcha">
                This site is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy" rel="noreferrer" target="_blank">
                 Privacy Policy
                </a>
                and
                <a href="https://policies.google.com/terms" rel="noreferrer" target="_blank">
                 Terms of Service
                </a>
                apply.
               </div>
              </div>
              <button class="form__submit button dark" id="form_submit-recover" type="submit">
               Khôi phục
              </button>
             </form>
             <div class="site_account_secondary-action">
              <p>
               Bạn đã nhớ mật khẩu?
               <button aria-controls="header-login-panel" class="js-link link">
                Trở về đăng nhập
               </button>
              </p>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</header>
