<footer>
 <div class="container">
  <div class="gridtemplatefooter">
   <div class="gridtemplatefooter1">
    <div class="gridtemplatt">
     <div class="gridtemplatt1">
      <img alt="img" loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/footerlogo.png?v=841"/>
     </div>
     <div class="gridtemplatt2">
      <h3>
       LAM THẢO COSMETICS
      </h3>
      <div class="bdestion">
       ⭐️ Địa chỉ:
       <br/>
       Chi nhánh Tân Phú: 49 Trần Hưng Đạo, Phường Tân Sơn Nhì, Thành phố Hồ Chí Minh, Việt Nam
       <br/>
       Chi nhánh Sala: Căn hộ B-00.12A, Tầng trệt, Tháp B, Chung cư Sarica, Số 6 Đường D9, Phường An Khánh, Thành Phố Hồ Chí Minh
       <br/>
       Chi nhánh Quận 7: 371 – 373 Nguyễn Thị Thập, Phường Tân Hưng, Thành Phố Hồ Chí Minh
       <br/>
       Chi nhánh Bình Dương:  244 – 246 Đường GS1, Khu Phố Nhị Đồng 2, Phường Dĩ An, Thành Phố Hồ Chí Minh
       <br/>
       Chi nhánh Gò Vấp: 771 - 777 Quang Trung, Phường An Hội Tây, Thành Phố Hồ Chí Minh
       <br/>
       ☎️ Hotline: 0769 661 668
Email: cskh@lamthaocosmetic.vn
      </div>
     </div>
    </div>
    <div class="gridtemplattcontent">
     Thiên đưỡng Mỹ phẩm Chính hãng giá tốt. Với hơn 100+ Thương hiệu đồng hành. Là chuỗi cửa hàng uy tín hàng đầu của các bạn trẻ tại TP.HCM.
     <br/>
     Công ty TNHH Lam Thảo Cosmetics - Giấy phép kinh doanh số 0318085848, cấp ngày 06/10/2023 bởi Sở kế Hoạch và Đầu Tư TP.HCM.
    </div>
    <div class="gridoftheanhtoan">
     <div>
      <img alt="footer img" loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/linthanhtoicon1.png?v=841"/>
     </div>
     <div>
      <img alt="footer img" loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/linthanhtoicon2.png?v=841"/>
     </div>
     <div>
      <img alt="footer img" loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/linthanhtoicon3.png?v=841"/>
     </div>
     <div>
      <img alt="footer img" loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/linthanhtoicon4.png?v=841"/>
     </div>
     <div>
      <img alt="footer img" loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/linthanhtoicon5.png?v=841"/>
     </div>
     <div>
      <img alt="footer img" loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/linthanhtoicon6.png?v=841"/>
     </div>
    </div>
   </div>
   <div class="gridtemplatefooter2">
    <div class="gridtemplatright">
     <div>
      <img alt="image" loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/er2iconicheckimg1.png?v=841"/>
     </div>
     <div>
      <img alt="image" loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/er2iconicheckimg2.png?v=841"/>
     </div>
     <div>
      <img alt="image" loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/er2iconicheckimg3.png?v=841"/>
     </div>
     <div>
      <img alt="image" loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/er2iconicheckimg4.png?v=841"/>
     </div>
     <div>
      <img alt="image" loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/er2iconicheckimg5.png?v=841"/>
     </div>
    </div>
    <div class="gridmenulist">
     <div class="gridmenulisttitl">
      <h3>
       CHĂM SÓC KHÁCH HÀNG
      </h3>
      <ul>
       <li>
        <a href="/pages/chinh-sach-doi-tra">
         Chính sách đổi trả
        </a>
       </li>
       <li>
        <a href="/pages/chinh-sach-bao-mat">
         Chính sách bảo mật
        </a>
       </li>
       <li>
        <a href="/pages/chinh-sach-thanh-toan">
         Chính sách thanh toán
        </a>
       </li>
       <li>
        <a href="/pages/dieu-khoan-dich-vu">
         Điều khoản dịch vụ
        </a>
       </li>
       <li>
        <a href="/pages/huong-dan-mua-hang">
         Hướng dẫn mua hàng
        </a>
       </li>
       <li>
        <a href="/pages/huong-dan-thanh-toan-vnpay">
         Hướng dẫn thanh toán VNPAY
        </a>
       </li>
       <li>
        <a href="/pages/van-chuyen-1">
         Vận chuyển
        </a>
       </li>
       <li>
        <a href="/pages/lien-he">
         GÓP Ý - KHIẾU NẠI
        </a>
       </li>
       <li>
        <a href="/pages/hdgtgt">
         Hóa Đơn GTGT
        </a>
       </li>
      </ul>
     </div>
     <div class="gridmenulisttitl">
      <h3>
       GIỜ MỞ CỬA
      </h3>
      <div class="descot2">
       Từ 9:00 - 21:30 tất cả các ngày trong tuần (bao gồm cả các ngày lễ, ngày Tết).
      </div>
      <h3>
       GÓP Ý - KHIẾU NẠI
      </h3>
      <div class="descot2">
       <svg fill="none" height="14" viewbox="0 0 15 14" width="15" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_47547_18893)">
         <path d="M12.7293 9.74408C11.8835 9.02072 11.0252 8.58256 10.1899 9.30482L9.69108 9.74135C9.32613 10.0582 8.64757 11.5388 6.02404 8.52082C3.40105 5.50666 4.96195 5.03735 5.32745 4.7232L5.82899 4.28613C6.65998 3.56223 6.34638 2.65093 5.74704 1.71286L5.38536 1.14466C4.7833 0.208782 4.12769 -0.405852 3.29452 0.316958L2.84433 0.710323C2.4761 0.978577 1.44679 1.85054 1.19711 3.50705C0.896623 5.49464 1.84453 7.77069 4.01623 10.268C6.18521 12.7664 8.30884 14.0214 10.3205 13.9995C11.9923 13.9815 13.0019 13.0844 13.3177 12.7582L13.7695 12.3643C14.6005 11.6421 14.0842 10.9067 13.2379 10.1817L12.7293 9.74408Z" fill="#030104">
         </path>
        </g>
        <defs>
         <clippath id="clip0_47547_18893">
          <rect fill="white" height="14" transform="translate(0.666748)" width="14">
          </rect>
         </clippath>
        </defs>
       </svg>
       0769661668
      </div>
     </div>
     <div class="gridmenulisttitl">
      <h3>
       Thông tin công ty
      </h3>
      <ul>
       <li>
        <a href="/pages/about-us">
         Giới thiệu
        </a>
       </li>
       <li>
        <a href="/pages/lien-he-hop-tac">
         Liên hệ hợp tác
        </a>
       </li>
       <li>
        <a href="https://lamthaocosmetics.talent.vn/">
         Tuyển dụng
        </a>
       </li>
       <li>
        <a href="/pages/giay-chung-nhan-dai-ly">
         Giấy Chứng Nhận Đại Lý
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
 </div>
</footer>
