<header class="mainHeader mainHeader_temp03" id="site-header">
 <div class="mainHeader-middle">
  <div class="container">
   <div class="flex-container-header">
    <div class="header-wrap-iconav header-wrap-action d-sm-block d-lg-none">
     <div class="header-action">
      <div class="header-action-item header-action_menu activeMenuChecked">
       <div class="header-action_text">
        <a aria-label="Menu" class="header-action__link" href="javascript:void(0)" name="icon-menu-mobile" title="Menu">
         <span class="box-icon">
          <span aria-hidden="true" class="hamburger-menu">
           <span class="bar">
           </span>
          </span>
          <span class="box-icon--close">
           <svg role="presentation" viewbox="0 0 19 19">
            <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd">
            </path>
           </svg>
          </span>
         </span>
        </a>
       </div>
      </div>
     </div>
    </div>
    <div class="header-wrap-logo">
     <div class="wrap-logo" itemscope="" itemtype="http://schema.org/Organization">
      <a href="https://lamthaocosmetics.vn" itemprop="url">
       <img alt="Lam Thảo Cosmetics" class="img-responsive logoimg" decoding="async" itemprop="logo" src="//theme.hstatic.net/200000868185/1001288884/14/logo.png?v=841"/>
      </a>
      <h1 style="display:none">
       <a href="https://lamthaocosmetics.vn" itemprop="url">
        Lam Thảo Cosmetics
       </a>
      </h1>
     </div>
    </div>
    <div class="header-wrap-action">
     <div class="header-action">
      <div class="header-action-item header-wrap-search d-none d-lg-block">
       <div class="header-search">
        <div class="search-box wpo-wrapper-search">
         <form action="/search" class="searchform-product searchform-categoris ultimate-search">
          <div class="wpo-search-inner">
           <input name="type" type="hidden" value="product"/>
           <input autocomplete="off" class="input-search" id="inputSearchAuto-3" maxlength="40" name="q" placeholder="Bạn cần tìm ...." required="" size="20" type="text"/>
          </div>
          <button class="btn-search btn" type="submit">
           <svg class="svg search" style="enable-background:new 0 0 24 27;" version="1.1" viewbox="0 0 24 27" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
            <path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z">
            </path>
            <rect height="8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" x="17" y="17">
            </rect>
           </svg>
          </button>
         </form>
         <div class="smart-search-wrapper ajaxSearchResults" id="ajaxSearchResults-3" style="display: none">
          <div class="resultsContent">
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="header-action-item header-action_search">
       <div class="header-action_text">
        <a aria-label="Tìm kiếm" class="header-action__link header-action_clicked" href="javascript:void(0)" id="site-search-handle" title="Tìm kiếm">
         <span class="box-icon">
          <svg class="svg-ico-search" id="Capa_1" style="enable-background:new 0 0 451 451;" version="1.1" viewbox="0 0 451 451" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
           <g>
            <path d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3   s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4   C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3   s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z">
            </path>
           </g>
          </svg>
          <span class="box-icon--close">
           <svg role="presentation" viewbox="0 0 19 19">
            <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd">
            </path>
           </svg>
          </span>
         </span>
        </a>
        <span class="box-triangle">
         <svg role="presentation" viewbox="0 0 20 9">
          <path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z" fill="#ffffff">
          </path>
         </svg>
        </span>
       </div>
       <div class="header-action_dropdown">
        <div class="header-dropdown_content">
         <div class="sitenav-content sitenav-search">
          <p class="boxtitle">
           Tìm kiếm
          </p>
          <div class="search-box wpo-wrapper-search">
           <form action="/search" class="searchform searchform-categoris ultimate-search">
            <div class="wpo-search-inner">
             <input name="type" type="hidden" value="product">
              <input autocomplete="off" class="input-search" id="inputSearchAuto" maxlength="40" name="q" placeholder="Bạn cần tìm ...." required="" size="20" type="text"/>
             </input>
            </div>
            <button class="btn-search btn" id="search-header-btn" type="submit">
             <svg class="svg search" style="enable-background:new 0 0 24 27;" version="1.1" viewbox="0 0 24 27" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
              <path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z">
              </path>
              <rect height="8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" x="17" y="17">
              </rect>
             </svg>
            </button>
           </form>
           <div class="smart-search-wrapper ajaxSearchResults" id="ajaxSearchResults" style="display: none">
            <div class="resultsContent">
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="header-action-item header-action_account">
       <div class="header-action_text">
        <a aria-label="Tài khoản" class="header-action__link header-action_clicked" href="javascript:void(0);" id="site-account-handle" title="Tài khoản">
         <span class="box-icon">
          <svg fill="none" height="37" viewbox="0 0 36 37" width="36" xmlns="http://www.w3.org/2000/svg">
           <path d="M18 19.5C20.7614 19.5 23 17.2614 23 14.5C23 11.7386 20.7614 9.5 18 9.5C15.2386 9.5 13 11.7386 13 14.5C13 17.2614 15.2386 19.5 18 19.5ZM18 19.5C20.1217 19.5 22.1566 20.3429 23.6569 21.8431C25.1571 23.3434 26 25.3783 26 27.5M18 19.5C15.8783 19.5 13.8434 20.3429 12.3431 21.8431C10.8429 23.3434 10 25.3783 10 27.5" stroke="#131518" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
           </path>
          </svg>
          <span class="box-icon--close">
           <svg role="presentation" viewbox="0 0 19 19">
            <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd">
            </path>
           </svg>
          </span>
         </span>
        </a>
        <span class="box-triangle">
         <svg role="presentation" viewbox="0 0 20 9">
          <path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z" fill="#ffffff">
          </path>
         </svg>
        </span>
       </div>
       <div class="header-action_dropdown">
        <div class="header-dropdown_content">
         <div class="site_account sitenav-account" id="siteNav-account">
          <div class="site_account_panel_list">
           <div class="site_account_panel site_account_default is-selected" id="header-login-panel">
            <div class="site_account_header">
             <h2 class="site_account_title heading">
              Đăng nhập tài khoản
             </h2>
             <p class="site_account_legend">
              Nhập email và mật khẩu của bạn:
             </p>
            </div>
            <div class="site_account_inner">
             <form accept-charset="UTF-8" action="/account/login" id="customer_login" method="post">
              <input name="form_type" type="hidden" value="customer_login"/>
              <input name="utf8" type="hidden" value="✓"/>
              <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt8C004PmxYcWGPU7LoYX4ChIMwygvfeHJcuVTvJmObegfb7vHTNF_Qp4FS1vl9xLG1zBqJOXyUqMYdbOm4GPjHhDhCg9QZ0XH_qkpRLPlJMjGbslH5l3jBV9r8xGTdb1o8"/>
              <div class="form__input-wrapper form__input-wrapper--labelled">
               <input autocomplete="" class="form__field form__field--text" id="login-customer[email]" name="customer[email]" required="required" type="text"/>
               <label class="form__floating-label" for="login-customer[email]">
                Số điện thoại
               </label>
              </div>
              <div class="form__input-wrapper form__input-wrapper--labelled">
               <input autocomplete="current-password" class="form__field form__field--text" id="login-customer[password]" name="customer[password]" required="required" type="password"/>
               <label class="form__floating-label" for="login-customer[password]">
                Mật khẩu
               </label>
               <div class="sitebox-recaptcha">
                This site is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy" rel="noreferrer" target="_blank">
                 Privacy Policy
                </a>
                and
                <a href="https://policies.google.com/terms" rel="noreferrer" target="_blank">
                 Terms of Service
                </a>
                apply.
               </div>
              </div>
              <button class="form__submit button dark" id="form_submit-login" type="submit">
               Đăng nhập
              </button>
             </form>
             <div class="site_account_secondary-action">
              <p>
               Khách hàng mới?
               <a class="link" href="/account/register">
                Tạo tài khoản
               </a>
              </p>
              <p>
               Quên mật khẩu?
               <button aria-controls="header-recover-panel" class="js-link link">
                Khôi phục mật khẩu
               </button>
              </p>
             </div>
            </div>
           </div>
           <div class="site_account_panel site_account_sliding" id="header-recover-panel">
            <div class="site_account_header">
             <h2 class="site_account_title heading">
              Khôi phục mật khẩu
             </h2>
             <div class="text-center">
              <div class="optionCheck">
               <input checked="" class="form__field form__field--text" id="emailCheck" name="recoverLogin" type="radio" value="email"/>
               <label for="emailCheck">
                Khôi phục bằng email
               </label>
              </div>
              <div class="optionCheck">
               <input class="form__field form__field--text" id="phoneCheck" name="recoverLogin" type="radio" value="phone"/>
               <label for="phoneCheck">
                Khôi phục bằng số điện thoại
               </label>
              </div>
             </div>
            </div>
            <div class="site_account_inner emailCheckShow">
             <form accept-charset="UTF-8" action="/account/recover" method="post">
              <input name="form_type" type="hidden" value="recover_customer_password"/>
              <input name="utf8" type="hidden" value="✓"/>
              <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FyFPV59mBtNhmQGz0fYZt8C004PmxYcWGPU7LoYX4ChIMwygvfeHJcuVTvJmObegfb7vHTNF_Qp4FS1vl9xLG1zBqJOXyUqMYdbOm4GPjHhDhCg9QZ0XH_qkpRLPlJMjGbslH5l3jBV9r8xGTdb1o8"/>
              <div class="form__input-wrapper form__input-wrapper--labelled">
               <input class="form__field form__field--text" id="recover-customer[recover_email]" name="email" required="required" type="email"/>
               <label class="form__floating-label" for="recover-customer[recover_email]">
                Email
               </label>
               <div class="sitebox-recaptcha">
                This site is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy" rel="noreferrer" target="_blank">
                 Privacy Policy
                </a>
                and
                <a href="https://policies.google.com/terms" rel="noreferrer" target="_blank">
                 Terms of Service
                </a>
                apply.
               </div>
              </div>
              <button class="form__submit button dark" id="form_submit-recover" type="submit">
               Khôi phục
              </button>
             </form>
             <div class="site_account_secondary-action">
              <p>
               Bạn đã nhớ mật khẩu?
               <button aria-controls="header-login-panel" class="js-link link">
                Trở về đăng nhập
               </button>
              </p>
             </div>
            </div>
            <div class="site_account_inner phoneCheckShow">
             <div class="userbox" data-register="phone">
              <script async="" src="/phone_auth/lib.js">
              </script>
              <form id="phone_auth_recaptcha">
               <input class="d-none" id="country_code" name="country_code" value="84"/>
               <div class="form__input-wrapper form__input-wrapper--labelled">
                <input class="form__field form__field--text" id="phone_number" name="phone_number" type="text"/>
                <label class="form__floating-label" for="recover-customer[recover_email]">
                 Nhập số điện thoại
                </label>
               </div>
               <div class="action_bottom">
                <input class="form__submit button dark" id="phone-auth-submit" type="submit" value="Gửi mã xác nhận">
                </input>
               </div>
              </form>
              <form action="/phone_auth/validate" class="otpcode otpcode-form" method="post">
               <span class="error">
               </span>
               <div class="form__input-wrapper form__input-wrapper--labelled">
                <input class="form__field form__field--text" id="otp_code" name="otp_code"/>
                <label class="form__floating-label" for="otp_code">
                 Nhập mã OTP
                </label>
               </div>
               <div class="clearfix large_form">
                <input id="session_info" name="session_info" type="hidden" value=""/>
               </div>
               <div class="action_bottom">
                <input class="button dark form__submit" id="otp_submit" type="button" value="Xác thực mã OTP"/>
               </div>
              </form>
              <script>
               function On_PhoneAuthRecaptchaCallback(token)
						{
							var frm = $('#phone_auth_recaptcha');

							$.ajax({
								type: "POST",
								url: '/phone_auth/send_verify_code',
								data: frm.serialize(),
								dataType : "json",
								success: function(data, textStatus, jqXHR)
								{
									if(data && data.token)
									{
										if($('#session_info').length > 0){
											$('#session_info').val(data.token);
											$('#phone_auth_recaptcha').hide();
											$('.otpcode').show();
										}
									}
								},
								error: function(jqXHR, textStatus, errorThrown)
								{

								}
							});
						}
              </script>
             </div>
            </div>
            <style>
             .phoneCheckShow {
		display: none;
	}
	.otpcode{
		display: none;
	}
            </style>
            <script>
             $('.optionCheck input[type=radio]').change(function(e){
		console.log('change');
		var valueCheck = $(this).val();
		if(valueCheck == 'email'){
			$('.phoneCheckShow').hide();
			$('.emailCheckShow').show();
		}
		else{
			$('.phoneCheckShow').show();
			$('.emailCheckShow').hide();
		}
	});
	$('#otp_submit').click(function(){
		var otpCode = $(this).closest('.otpcode-form').find('#otp_code').val();
		if(otpCode == ''){
			$(this).closest('.otpcode-form').find('.error').html('Quý khách vui lòng nhập chính xác mã OTP được gửi đến số điện thoại của quý khách');
		}else{
			$(this).closest('.otpcode-form').submit();
		}
	})
            </script>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="header-action-item header-action_cart activeCartChecked">
       <div class="header-action_text">
        <a aria-label="Giỏ hàng" class="header-action__link header-action_clicked" href="javascript:void(0);" id="site-cart-handle" title="Giỏ hàng">
         <span class="box-icon">
          <svg fill="none" height="23" viewbox="0 0 23 23" width="23" xmlns="http://www.w3.org/2000/svg">
           <path d="M1 1.5H3L5.66 13.92C5.75758 14.3749 6.01067 14.7815 6.37571 15.0699C6.74075 15.3582 7.19491 15.5103 7.66 15.5H17.44C17.8952 15.4993 18.3365 15.3433 18.691 15.0578C19.0456 14.7724 19.2921 14.3745 19.39 13.93L21.04 6.5H4.07M7.9502 20.45C7.9502 21.0022 7.50248 21.45 6.9502 21.45C6.39791 21.45 5.9502 21.0022 5.9502 20.45C5.9502 19.8977 6.39791 19.45 6.9502 19.45C7.50248 19.45 7.9502 19.8977 7.9502 20.45ZM18.9502 20.45C18.9502 21.0022 18.5025 21.45 17.9502 21.45C17.3979 21.45 16.9502 21.0022 16.9502 20.45C16.9502 19.8977 17.3979 19.45 17.9502 19.45C18.5025 19.45 18.9502 19.8977 18.9502 20.45Z" id="Vector" stroke="#666666" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
           </path>
          </svg>
          <span class="box-icon--close">
           <svg role="presentation" viewbox="0 0 19 19">
            <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd">
            </path>
           </svg>
          </span>
          <span class="count-holder">
           <span class="count">
            0
           </span>
          </span>
         </span>
        </a>
        <span class="box-triangle">
         <svg role="presentation" viewbox="0 0 20 9">
          <path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z" fill="#ffffff">
          </path>
         </svg>
        </span>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="header-menu-desktop header-pd d-none d-lg-block">
  <div class="container-fluid container-pd">
   <div class="header-navbar-menu">
    <div class="header-wrap-logo wrap-logo-sticky">
     <div class="wrap-logo">
      <a href="https://lamthaocosmetics.vn" itemprop="url">
       <img alt="Lam Thảo Cosmetics" class="img-responsive logoimg" itemprop="logo" src="//theme.hstatic.net/200000868185/1001288884/14/logo.png?v=841"/>
      </a>
     </div>
    </div>
    <div class="header-wrap-menu">
     <nav class="navbar-mainmenu">
      <div class="danhmucsanpham">
       <div class="title">
        <svg fill="none" height="17" viewbox="0 0 17 17" width="17" xmlns="http://www.w3.org/2000/svg">
         <g clip-path="url(#clip0_47547_21751)">
          <path d="M1.98745 3.24468H14.7875C15.6711 3.24468 16.3875 2.5283 16.3875 1.64468C16.3875 0.761051 15.6711 0.0446777 14.7875 0.0446777H1.98745C1.10382 0.0446777 0.387451 0.761051 0.387451 1.64468C0.387451 2.5283 1.10382 3.24468 1.98745 3.24468Z" fill="white">
          </path>
          <path d="M14.7875 6.44458H1.98745C1.10382 6.44458 0.387451 7.16095 0.387451 8.04458C0.387451 8.92821 1.10382 9.64458 1.98745 9.64458H14.7875C15.6711 9.64458 16.3875 8.92821 16.3875 8.04458C16.3875 7.16095 15.6711 6.44458 14.7875 6.44458Z" fill="white">
          </path>
          <path d="M14.7875 12.8447H1.98745C1.10382 12.8447 0.387451 13.5611 0.387451 14.4447C0.387451 15.3284 1.10382 16.0447 1.98745 16.0447H14.7875C15.6711 16.0447 16.3875 15.3284 16.3875 14.4447C16.3875 13.5611 15.6711 12.8447 14.7875 12.8447Z" fill="white">
          </path>
         </g>
         <defs>
          <clippath id="clip0_47547_21751">
           <rect fill="white" height="16" transform="translate(0.387451 0.0446777)" width="16">
           </rect>
          </clippath>
         </defs>
        </svg>
        <span>
         Danh mục sản phẩm
        </span>
       </div>
       <div class="postionabcat">
        <ul>
         <h3 class="migatmenutitle">
          Lamthao beauty
         </h3>
         <li>
          <a href="/collections/cham-soc-da-mat">
           <span>
            <img loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/iconmenucheckmin1.png?v=841"/>
           </span>
           <span class="textcata">
            Chăm Sóc Da Mặt
            <svg fill="none" height="10" viewbox="0 0 6 10" width="6" xmlns="http://www.w3.org/2000/svg">
             <path d="M5.63009 5L1.28949 9.5L0.369872 8.5339L3.12873 5.67373L3.83013 5L3.12873 4.32627L0.369873 1.4661L1.28949 0.5L5.63009 5Z" fill="#131518">
             </path>
            </svg>
           </span>
          </a>
          <div class="megamenucat">
           <div>
            <div class="listmenuchuan">
             <div>
              <a href="/collections/tay-trang">
               Tẩy Trang
									
									(83)
              </a>
             </div>
             <div>
              <a href="/collections/sua-rua-mat">
               Sữa Rửa Mặt
									
									(116)
              </a>
             </div>
             <div>
              <a href="/collections/tay-te-bao-chet-mat">
               Tẩy Tế Bào Chết
									
									(17)
              </a>
             </div>
             <div>
              <a href="/collections/toner-lotion-nuoc-hoa-hong">
               Toner/Lotion (Nước Hoa Hồng)
									
									(91)
              </a>
             </div>
             <div>
              <a href="/collections/serum-essence-tinh-chat-duong">
               Serum/Essence (Tinh Chất Dưỡng)
									
									(162)
              </a>
             </div>
             <div>
              <a href="/collections/kem-duong-gel-duong">
               Kem Dưỡng/Gel Dưỡng
									
									(140)
              </a>
             </div>
             <div>
              <a href="/collections/duong-mat">
               Chăm Sóc Mắt
									
									(8)
              </a>
             </div>
             <div>
              <a href="/collections/son-duong-mat-na-ngu-moi">
               Son Dưỡng/ Mặt Nạ Môi
									
									(56)
              </a>
             </div>
             <div>
              <a href="/collections/xit-khoang">
               Xịt Khoáng
									
									(17)
              </a>
             </div>
             <div>
              <a href="/collections/mat-na">
               Mặt Nạ
									
									(125)
              </a>
             </div>
             <div>
              <a href="/collections/chong-nang">
               Chống Nắng
									
									(153)
              </a>
             </div>
             <div>
              <a href="/collections/mieng-dan-mun">
               Miếng Dán Mụn
									
									(8)
              </a>
             </div>
             <div>
              <a href="/collections/tay-te-bao-chet-moi">
               Tẩy Tế Bào Chết Môi
									
									(3)
              </a>
             </div>
            </div>
           </div>
           <div class="lisyimagetit">
            <a href="" onclick="return false">
             <img class="gapmenuan" loading="lazy" winsrc="//theme.hstatic.net/200000868185/1001288884/14/nmenucheckminbanner1.png?v=841"/>
            </a>
           </div>
          </div>
         </li>
         <li>
          <a href="/collections/cham-soc-co-the">
           <span>
            <img loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/iconmenucheckmin2.png?v=841"/>
           </span>
           <span class="textcata">
            Chăm Sóc Cơ Thể
            <svg fill="none" height="10" viewbox="0 0 6 10" width="6" xmlns="http://www.w3.org/2000/svg">
             <path d="M5.63009 5L1.28949 9.5L0.369872 8.5339L3.12873 5.67373L3.83013 5L3.12873 4.32627L0.369873 1.4661L1.28949 0.5L5.63009 5Z" fill="#131518">
             </path>
            </svg>
           </span>
          </a>
          <div class="megamenucat">
           <div>
            <div class="listmenuchuan">
             <div>
              <a href="/collections/sua-tam">
               Sữa Tắm
									
									(56)
              </a>
             </div>
             <div>
              <a href="/collections/tay-te-bao-chet-body">
               Tẩy Tế Bào Chết Body
									
									(12)
              </a>
             </div>
             <div>
              <a href="/collections/duong-the">
               Dưỡng Thể
									
									(30)
              </a>
             </div>
             <div>
              <a href="/collections/kem-duong-da-tay">
               Kem Dưỡng Da Tay
									
									(2)
              </a>
             </div>
             <div>
              <a href="/collections/giam-mun-lung">
               Giảm Mụn Lưng
									
									(4)
              </a>
             </div>
             <div>
              <a href="/collections/khu-mui-co-the">
               Khử Mùi Cơ Thể
									
									(31)
              </a>
             </div>
             <div>
              <a href="/collections/nuoc-hoa">
               Nước Hoa
									
									(49)
              </a>
             </div>
             <div>
              <a href="/collections/dau-goi-dau-xa">
               Dầu Gội - Dầu Xả
									
									(94)
              </a>
             </div>
             <div>
              <a href="/collections/duong-toc-u-toc">
               Dưỡng Tóc
									
									(21)
              </a>
             </div>
             <div>
              <a href="/collections/nhuom-toc">
               Nhuộm Tóc
									
									(4)
              </a>
             </div>
             <div>
              <a href="/collections/son-mong-tay">
               Son Móng Tay
              </a>
             </div>
             <div>
              <a href="/collections/duong-mong-tay">
               Dưỡng Móng
              </a>
             </div>
             <div>
              <a href="/collections/tay-long">
               Tẩy Lông
									
									(13)
              </a>
             </div>
             <div>
              <a href="/collections/duong-mi">
               Dưỡng Mi
              </a>
             </div>
             <div>
              <a href="/collections/cham-soc-vung-kin">
               Chăm Sóc Vùng Kín
									
									(45)
              </a>
             </div>
             <div>
              <a href="/collections/cham-soc-rang-mieng">
               Chăm Sóc Răng Miệng
									
									(22)
              </a>
             </div>
             <div>
              <a href="/collections/tay-te-bao-chet-da-dau">
               Tẩy Tế Bào Chết Da Đầu
									
									(5)
              </a>
             </div>
            </div>
           </div>
           <div class="lisyimagetit">
            <a href="" onclick="return false">
             <img class="gapmenuan" loading="lazy" winsrc="//theme.hstatic.net/200000868185/1001288884/14/nmenucheckminbanner2.png?v=841"/>
            </a>
           </div>
          </div>
         </li>
         <li>
          <a href="/collections/trang-diem">
           <span>
            <img loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/iconmenucheckmin3.png?v=841"/>
           </span>
           <span class="textcata">
            Trang Điểm
            <svg fill="none" height="10" viewbox="0 0 6 10" width="6" xmlns="http://www.w3.org/2000/svg">
             <path d="M5.63009 5L1.28949 9.5L0.369872 8.5339L3.12873 5.67373L3.83013 5L3.12873 4.32627L0.369873 1.4661L1.28949 0.5L5.63009 5Z" fill="#131518">
             </path>
            </svg>
           </span>
          </a>
          <div class="megamenucat">
           <div>
            <div class="listmenuchuan">
             <div>
              <a href="/collections/kem-lot">
               Kem Lót
									
									(32)
              </a>
             </div>
             <div>
              <a href="/collections/kem-nen-cushion-bb-cream">
               Kem Nền/Cushion/BB Cream
									
									(70)
              </a>
             </div>
             <div>
              <a href="/collections/che-khuyet-diem">
               Che Khuyết Điểm
									
									(27)
              </a>
             </div>
             <div>
              <a href="/collections/phan-phu">
               Phấn Phủ
									
									(42)
              </a>
             </div>
             <div>
              <a href="/collections/tao-khoi-highlight">
               Tạo Khối/Highlight
									
									(31)
              </a>
             </div>
             <div>
              <a href="/collections/ke-chan-may">
               Kẻ Chân Mày
									
									(19)
              </a>
             </div>
             <div>
              <a href="/collections/phan-mat">
               Phấn Mắt
									
									(53)
              </a>
             </div>
             <div>
              <a href="/collections/ke-mat">
               Kẻ Mắt
									
									(48)
              </a>
             </div>
             <div>
              <a href="/collections/mascara-mascara-chan-may">
               Mascara/Mascara Chân Mày
									
									(40)
              </a>
             </div>
             <div>
              <a href="/collections/ma-hong">
               Má Hồng
									
									(56)
              </a>
             </div>
             <div>
              <a href="/collections/son-moi">
               Son Môi
									
									(90)
              </a>
             </div>
             <div>
              <a href="/collections/xit-khoa-lop-makeup">
               Xịt Khoá Nền
									
									(16)
              </a>
             </div>
            </div>
           </div>
           <div class="lisyimagetit">
            <a href="" onclick="return false">
             <img class="gapmenuan" loading="lazy" winsrc="//theme.hstatic.net/200000868185/1001288884/14/nmenucheckminbanner3.png?v=841"/>
            </a>
           </div>
          </div>
         </li>
         <li>
          <a href="/collections/phu-kien">
           <span>
            <img loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/iconmenucheckmin4.png?v=841"/>
           </span>
           <span class="textcata">
            Phụ Kiện
            <svg fill="none" height="10" viewbox="0 0 6 10" width="6" xmlns="http://www.w3.org/2000/svg">
             <path d="M5.63009 5L1.28949 9.5L0.369872 8.5339L3.12873 5.67373L3.83013 5L3.12873 4.32627L0.369873 1.4661L1.28949 0.5L5.63009 5Z" fill="#131518">
             </path>
            </svg>
           </span>
          </a>
          <div class="megamenucat">
           <div>
            <div class="listmenuchuan">
             <div>
              <a href="/collections/phu-kien-lam-dep">
               Phụ Kiện Làm Đẹp
									
									(17)
              </a>
             </div>
             <div>
              <a href="/collections/phu-kien-toc">
               Phụ Kiện Tóc
									
									(18)
              </a>
             </div>
             <div>
              <a href="/collections/dung-cu-trang-diem-1">
               Dụng Cụ Trang Điểm
									
									(93)
              </a>
             </div>
            </div>
           </div>
           <div class="lisyimagetit">
            <a href="" onclick="return false">
             <img class="gapmenuan" loading="lazy" winsrc="//theme.hstatic.net/200000868185/1001288884/14/nmenucheckminbanner4.png?v=841"/>
            </a>
           </div>
          </div>
         </li>
         <li>
          <a href="/collections/duoc-my-pham">
           <span>
            <img loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/iconmenucheckmin5.png?v=841"/>
           </span>
           <span class="textcata">
            Dược Mỹ Phẩm
           </span>
          </a>
         </li>
         <li>
          <a href="/collections/thuc-pham-chuc-nang">
           <span>
            <img loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/iconmenucheckmin6.png?v=841"/>
           </span>
           <span class="textcata">
            Thực Phẩm Chức Năng
           </span>
          </a>
         </li>
         <li>
          <a href="/collections/best-seller">
           <span>
            <img loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/iconmenucheckmin7.png?v=841"/>
           </span>
           <span class="textcata">
            BEST SELLER
           </span>
          </a>
         </li>
        </ul>
        <ul>
         <h3 class="migatmenutitle">
          Lamthao studio
         </h3>
         <li>
          <a href="/">
           <span>
            <img loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/iconmenucheckmin21.png?v=841"/>
           </span>
           <span class="textcata">
            Tất cả
            <svg fill="none" height="10" viewbox="0 0 6 10" width="6" xmlns="http://www.w3.org/2000/svg">
             <path d="M5.63009 5L1.28949 9.5L0.369872 8.5339L3.12873 5.67373L3.83013 5L3.12873 4.32627L0.369873 1.4661L1.28949 0.5L5.63009 5Z" fill="#131518">
             </path>
            </svg>
           </span>
          </a>
          <div class="megamenucat">
           <div>
            <div class="listmenuchuan">
             <div>
              <a href="/collections/van-phong-pham">
               Văn Phòng Phẩm
									
									(1)
              </a>
             </div>
             <div>
              <a href="/collections/phu-kien-lam-dep">
               Phụ Kiện Làm Đẹp
									
									(17)
              </a>
             </div>
             <div>
              <a href="/collections/phu-kien-lam-dep">
               Đồ dễ thương
									
									(17)
              </a>
             </div>
             <div>
              <a href="/collections/gia-dung">
               Gia Dụng
              </a>
             </div>
            </div>
           </div>
           <div class="lisyimagetit">
            <a href="" onclick="return false">
             <img class="gapmenuan" loading="lazy" winsrc="//theme.hstatic.net/200000868185/1001288884/14/nmenucheckminbanner21.png?v=841"/>
            </a>
           </div>
          </div>
         </li>
         <li>
          <a href="/collections/phu-kien-lam-dep">
           <span>
            <img loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/iconmenucheckmin22.png?v=841"/>
           </span>
           <span class="textcata">
            Phụ Kiện Làm Đẹp
            <svg fill="none" height="10" viewbox="0 0 6 10" width="6" xmlns="http://www.w3.org/2000/svg">
             <path d="M5.63009 5L1.28949 9.5L0.369872 8.5339L3.12873 5.67373L3.83013 5L3.12873 4.32627L0.369873 1.4661L1.28949 0.5L5.63009 5Z" fill="#131518">
             </path>
            </svg>
           </span>
          </a>
          <div class="megamenucat">
           <div>
            <div class="listmenuchuan">
             <div>
              <a href="/collections/phu-kien-toc">
               Phụ kiện tóc
									
									(18)
              </a>
             </div>
             <div>
              <a href="/collections/lo-cuon-toc">
               Lô Cuốn Tóc
              </a>
             </div>
             <div>
              <a href="/collections/kep-toc">
               Kẹp Tóc
									
									(1)
              </a>
             </div>
            </div>
           </div>
           <div class="lisyimagetit">
            <a href="" onclick="return false">
             <img class="gapmenuan" loading="lazy" winsrc="//theme.hstatic.net/200000868185/1001288884/14/nmenucheckminbanner22.png?v=841"/>
            </a>
           </div>
          </div>
         </li>
         <li>
          <a href="/collections/phu-kien-lam-dep">
           <span>
            <img loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/iconmenucheckmin23.png?v=841"/>
           </span>
           <span class="textcata">
            Đồ dễ thương
           </span>
          </a>
         </li>
         <li>
          <a href="/collections/gia-dung">
           <span>
            <img loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/iconmenucheckmin24.png?v=841"/>
           </span>
           <span class="textcata">
            Gia Dụng
           </span>
          </a>
         </li>
         <li>
          <a href="/collections/van-phong-pham">
           <span>
            <img loading="lazy" src="//theme.hstatic.net/200000868185/1001288884/14/iconmenucheckmin25.png?v=841"/>
           </span>
           <span class="textcata">
            Văn Phòng Phẩm
           </span>
          </a>
         </li>
        </ul>
       </div>
      </div>
      <ul class="menuList-main">
       <li class="">
        <a href="/collections/san-pham-moi" title="SẢN PHẨM MỚI">
         SẢN PHẨM MỚI
        </a>
       </li>
       <li class="has-submenu fullwidth">
        <a href="/collections/lam-thao-beauty" title="Lam Thảo Beauty">
         Lam Thảo Beauty
         <svg height="12" viewbox="0 0 128 128" width="12" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
          <g>
           <path d="m64 88c-1.023 0-2.047-.391-2.828-1.172l-40-40c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l37.172 37.172 37.172-37.172c1.563-1.563 4.094-1.563 5.656 0s1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z">
           </path>
          </g>
         </svg>
        </a>
        <div class="menuList-submain multicolumn">
         <div class="multicolumn-container">
          <div class="subchildmenu subchildmenu-full d-flex flex-wrap">
           <div class="ui-menu-item has-submenu col-lg-3">
            <a href="/collections/cham-soc-da-mat" title="Chăm Sóc Da Mặt">
             Chăm Sóc Da Mặt
            </a>
            <ul class="subchildmenu-item">
             <li class="">
              <a href="/collections/tay-trang" title="Tẩy Trang">
               Tẩy Trang
              </a>
             </li>
             <li class="">
              <a href="/collections/sua-rua-mat" title="Sữa Rửa Mặt">
               Sữa Rửa Mặt
              </a>
             </li>
             <li class="">
              <a href="/collections/tay-te-bao-chet-mat" title="Tẩy Tế Bào Chết">
               Tẩy Tế Bào Chết
              </a>
             </li>
             <li class="">
              <a href="/collections/toner-lotion-nuoc-hoa-hong" title="Toner/Lotion (Nước Hoa Hồng)">
               Toner/Lotion (Nước Hoa Hồng)
              </a>
             </li>
             <li class="">
              <a href="/collections/serum-essence-tinh-chat-duong" title="Serum/Essence (Tinh Chất Dưỡng)">
               Serum/Essence (Tinh Chất Dưỡng)
              </a>
             </li>
             <li class="">
              <a href="/collections/kem-duong-gel-duong" title="Kem Dưỡng/Gel Dưỡng">
               Kem Dưỡng/Gel Dưỡng
              </a>
             </li>
             <li class="">
              <a href="/collections/duong-mat" title="Chăm Sóc Mắt">
               Chăm Sóc Mắt
              </a>
             </li>
             <li class="">
              <a href="/collections/son-duong-mat-na-ngu-moi" title="Son Dưỡng/ Mặt Nạ Môi">
               Son Dưỡng/ Mặt Nạ Môi
              </a>
             </li>
             <li class="">
              <a href="/collections/xit-khoang" title="Xịt Khoáng">
               Xịt Khoáng
              </a>
             </li>
             <li class="">
              <a href="/collections/mat-na" title="Mặt Nạ">
               Mặt Nạ
              </a>
             </li>
             <li class="">
              <a href="/collections/chong-nang" title="Chống Nắng">
               Chống Nắng
              </a>
             </li>
             <li class="">
              <a href="/collections/mieng-dan-mun" title="Miếng Dán Mụn">
               Miếng Dán Mụn
              </a>
             </li>
             <li class="">
              <a href="/collections/tay-te-bao-chet-moi" title="Tẩy Tế Bào Chết Môi">
               Tẩy Tế Bào Chết Môi
              </a>
             </li>
            </ul>
           </div>
           <div class="ui-menu-item has-submenu col-lg-3">
            <a href="/collections/cham-soc-co-the" title="Chăm Sóc Cơ Thể">
             Chăm Sóc Cơ Thể
            </a>
            <ul class="subchildmenu-item">
             <li class="">
              <a href="/collections/sua-tam" title="Sữa Tắm">
               Sữa Tắm
              </a>
             </li>
             <li class="">
              <a href="/collections/tay-te-bao-chet-body" title="Tẩy Tế Bào Chết Body">
               Tẩy Tế Bào Chết Body
              </a>
             </li>
             <li class="">
              <a href="/collections/duong-the" title="Dưỡng Thể">
               Dưỡng Thể
              </a>
             </li>
             <li class="">
              <a href="/collections/kem-duong-da-tay" title="Kem Dưỡng Da Tay">
               Kem Dưỡng Da Tay
              </a>
             </li>
             <li class="">
              <a href="/collections/giam-mun-lung" title="Giảm Mụn Lưng">
               Giảm Mụn Lưng
              </a>
             </li>
             <li class="">
              <a href="/collections/khu-mui-co-the" title="Khử Mùi Cơ Thể">
               Khử Mùi Cơ Thể
              </a>
             </li>
             <li class="">
              <a href="/collections/nuoc-hoa" title="Nước Hoa">
               Nước Hoa
              </a>
             </li>
             <li class="">
              <a href="/collections/dau-goi-dau-xa" title="Dầu Gội - Dầu Xả">
               Dầu Gội - Dầu Xả
              </a>
             </li>
             <li class="">
              <a href="/collections/duong-toc-u-toc" title="Dưỡng Tóc">
               Dưỡng Tóc
              </a>
             </li>
             <li class="">
              <a href="/collections/nhuom-toc" title="Nhuộm Tóc">
               Nhuộm Tóc
              </a>
             </li>
             <li class="">
              <a href="/collections/son-mong-tay" title="Son Móng Tay">
               Son Móng Tay
              </a>
             </li>
             <li class="">
              <a href="/collections/duong-mong-tay" title="Dưỡng Móng">
               Dưỡng Móng
              </a>
             </li>
             <li class="">
              <a href="/collections/tay-long" title="Tẩy Lông">
               Tẩy Lông
              </a>
             </li>
             <li class="">
              <a href="/collections/duong-mi" title="Dưỡng Mi">
               Dưỡng Mi
              </a>
             </li>
             <li class="">
              <a href="/collections/cham-soc-vung-kin" title="Chăm Sóc Vùng Kín">
               Chăm Sóc Vùng Kín
              </a>
             </li>
             <li class="has-submenu">
              <a href="/collections/cham-soc-rang-mieng" title="Chăm Sóc Răng Miệng">
               Chăm Sóc Răng Miệng
               <svg height="22" viewbox="0 0 128 128" width="22" xmlns="http://www.w3.org/2000/svg">
                <g>
                 <path d="m44 108c-1.023 0-2.047-.391-2.828-1.172-1.563-1.563-1.563-4.094 0-5.656l37.172-37.172-37.172-37.172c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l40 40c1.563 1.563 1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z" data-original="currentColor" fill="currentColor">
                 </path>
                </g>
               </svg>
              </a>
              <ul class="menuList-submain">
               <li>
                <a href="/collections/kem-danh-rang" title="Kem Đánh Răng">
                 Kem Đánh Răng
                </a>
               </li>
               <li>
                <a href="/collections/nuoc-suc-mieng" title="Nước Súc Miệng">
                 Nước Súc Miệng
                </a>
               </li>
               <li>
                <a href="/collections/bot-danh-rang" title="Bột Đánh Răng">
                 Bột Đánh Răng
                </a>
               </li>
              </ul>
             </li>
             <li class="">
              <a href="/collections/tay-te-bao-chet-da-dau" title="Tẩy Tế Bào Chết Da Đầu">
               Tẩy Tế Bào Chết Da Đầu
              </a>
             </li>
            </ul>
           </div>
           <div class="ui-menu-item has-submenu col-lg-3">
            <a href="/collections/trang-diem" title="Trang Điểm">
             Trang Điểm
            </a>
            <ul class="subchildmenu-item">
             <li class="">
              <a href="/collections/kem-lot" title="Kem Lót">
               Kem Lót
              </a>
             </li>
             <li class="">
              <a href="/collections/kem-nen-cushion-bb-cream" title="Kem Nền/Cushion/BB Cream">
               Kem Nền/Cushion/BB Cream
              </a>
             </li>
             <li class="">
              <a href="/collections/che-khuyet-diem" title="Che Khuyết Điểm">
               Che Khuyết Điểm
              </a>
             </li>
             <li class="">
              <a href="/collections/phan-phu" title="Phấn Phủ">
               Phấn Phủ
              </a>
             </li>
             <li class="">
              <a href="/collections/tao-khoi-highlight" title="Tạo Khối/Highlight">
               Tạo Khối/Highlight
              </a>
             </li>
             <li class="">
              <a href="/collections/ke-chan-may" title="Kẻ Chân Mày">
               Kẻ Chân Mày
              </a>
             </li>
             <li class="">
              <a href="/collections/phan-mat" title="Phấn Mắt">
               Phấn Mắt
              </a>
             </li>
             <li class="">
              <a href="/collections/ke-mat" title="Kẻ Mắt">
               Kẻ Mắt
              </a>
             </li>
             <li class="">
              <a href="/collections/mascara-mascara-chan-may" title="Mascara/Mascara Chân Mày">
               Mascara/Mascara Chân Mày
              </a>
             </li>
             <li class="">
              <a href="/collections/ma-hong" title="Má Hồng">
               Má Hồng
              </a>
             </li>
             <li class="has-submenu">
              <a href="/collections/son-moi" title="Son Môi">
               Son Môi
               <svg height="22" viewbox="0 0 128 128" width="22" xmlns="http://www.w3.org/2000/svg">
                <g>
                 <path d="m44 108c-1.023 0-2.047-.391-2.828-1.172-1.563-1.563-1.563-4.094 0-5.656l37.172-37.172-37.172-37.172c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l40 40c1.563 1.563 1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z" data-original="currentColor" fill="currentColor">
                 </path>
                </g>
               </svg>
              </a>
              <ul class="menuList-submain">
               <li>
                <a href="/collections/son-thoi" title="Son Thỏi">
                 Son Thỏi
                </a>
               </li>
               <li>
                <a href="/collections/son-kem-li" title="Son Kem Lỳ">
                 Son Kem Lỳ
                </a>
               </li>
               <li>
                <a href="/collections/son-kem-bong-tint" title="Son Tint">
                 Son Tint
                </a>
               </li>
              </ul>
             </li>
             <li class="">
              <a href="/collections/xit-khoa-lop-makeup" title="Xịt Khoá Nền">
               Xịt Khoá Nền
              </a>
             </li>
            </ul>
           </div>
           <div class="ui-menu-item has-submenu col-lg-3">
            <a href="/collections/phu-kien" title="Phụ Kiện">
             Phụ Kiện
            </a>
            <ul class="subchildmenu-item">
             <li class="has-submenu">
              <a href="/collections/phu-kien-lam-dep" title="Phụ Kiện Làm Đẹp">
               Phụ Kiện Làm Đẹp
               <svg height="22" viewbox="0 0 128 128" width="22" xmlns="http://www.w3.org/2000/svg">
                <g>
                 <path d="m44 108c-1.023 0-2.047-.391-2.828-1.172-1.563-1.563-1.563-4.094 0-5.656l37.172-37.172-37.172-37.172c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l40 40c1.563 1.563 1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z" data-original="currentColor" fill="currentColor">
                 </path>
                </g>
               </svg>
              </a>
              <ul class="menuList-submain">
               <li>
                <a href="/collections/dung-cu-lay-mun" title="Dụng Cụ Lấy Mụn">
                 Dụng Cụ Lấy Mụn
                </a>
               </li>
               <li>
                <a href="/collections/dung-cu-rua-mat" title="Dụng Cụ Rửa Mặt">
                 Dụng Cụ Rửa Mặt
                </a>
               </li>
               <li>
                <a href="/collections/giay-phim-tham-dau" title="Giấy/ Phim Thấm Dầu">
                 Giấy/ Phim Thấm Dầu
                </a>
               </li>
              </ul>
             </li>
             <li class="">
              <a href="/collections/phu-kien-toc" title="Phụ Kiện Tóc">
               Phụ Kiện Tóc
              </a>
             </li>
             <li class="has-submenu">
              <a href="/collections/dung-cu-trang-diem-1" title="Dụng Cụ Trang Điểm">
               Dụng Cụ Trang Điểm
               <svg height="22" viewbox="0 0 128 128" width="22" xmlns="http://www.w3.org/2000/svg">
                <g>
                 <path d="m44 108c-1.023 0-2.047-.391-2.828-1.172-1.563-1.563-1.563-4.094 0-5.656l37.172-37.172-37.172-37.172c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l40 40c1.563 1.563 1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z" data-original="currentColor" fill="currentColor">
                 </path>
                </g>
               </svg>
              </a>
              <ul class="menuList-submain">
               <li>
                <a href="/collections/bam-mi" title="Bấm Mi">
                 Bấm Mi
                </a>
               </li>
               <li>
                <a href="/collections/bong-mut-trang-diem" title="Bông Mút Trang Điểm">
                 Bông Mút Trang Điểm
                </a>
               </li>
               <li>
                <a href="/collections/co-trang-diem" title="Cọ Trang Điểm">
                 Cọ Trang Điểm
                </a>
               </li>
               <li>
                <a href="/collections/ve-sinh-do-trang-diem" title="Vệ Sinh Dụng Cụ Trang Điểm">
                 Vệ Sinh Dụng Cụ Trang Điểm
                </a>
               </li>
               <li>
                <a href="/collections/long-mi-gia" title="Mi Giả">
                 Mi Giả
                </a>
               </li>
               <li>
                <a href="/collections/kich-mi" title="Kích Mí">
                 Kích Mí
                </a>
               </li>
              </ul>
             </li>
            </ul>
           </div>
           <div class="ui-menu-item col-lg-3">
            <a href="/collections/duoc-my-pham" title="Dược Mỹ Phẩm">
             Dược Mỹ Phẩm
            </a>
           </div>
           <div class="ui-menu-item col-lg-3">
            <a href="/collections/thuc-pham-chuc-nang" title="Thực Phẩm Chức Năng">
             Thực Phẩm Chức Năng
            </a>
           </div>
           <div class="ui-menu-item col-lg-3">
            <a href="/collections/best-seller" title="BEST SELLER">
             BEST SELLER
            </a>
           </div>
          </div>
         </div>
        </div>
       </li>
       <li class="">
        <a href="/collections/sieu-deal-duoi-100k" title="💝 DEAL HOT DƯỚI 100K 💝">
         💝 DEAL HOT DƯỚI 100K 💝
        </a>
       </li>
       <li class="has-submenu">
        <a href="/blogs/news" title="Tin tức">
         Tin tức
         <svg height="12" viewbox="0 0 128 128" width="12" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
          <g>
           <path d="m64 88c-1.023 0-2.047-.391-2.828-1.172l-40-40c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l37.172 37.172 37.172-37.172c1.563-1.563 4.094-1.563 5.656 0s1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z">
           </path>
          </g>
         </svg>
        </a>
        <ul class="menuList-submain">
         <li class="">
          <a href="/blogs/news" title="Blog">
           Blog
          </a>
         </li>
         <li class="">
          <a href="https://lamthaocosmetics.talent.vn/" title="Tuyển dụng">
           Tuyển dụng
          </a>
         </li>
        </ul>
       </li>
       <li class="">
        <a href="https://lamthaocosmetics.vn/account?view=list" title="Tra cuu don hang">
         Tra cuu don hang
        </a>
       </li>
       <li class="item-live d-none">
       </li>
      </ul>
     </nav>
    </div>
   </div>
  </div>
 </div>
 <div class="header-search-mobile">
  <div class="search-box wpo-wrapper-search">
   <form action="/search" class="searchform-mobile searchform-categoris ultimate-search">
    <div class="wpo-search-inner">
     <input name="type" type="hidden" value="product">
      <input autocomplete="off" class="input-search" id="inputSearchAuto-mb" maxlength="40" name="q" placeholder="Bạn cần tìm ...." required="" size="20" type="text"/>
     </input>
    </div>
    <button class="btn-search btn" id="search-header-btn-mb" type="submit">
     <span class="search-icon">
      <svg class="svg search" style="enable-background:new 0 0 24 27;" version="1.1" viewbox="0 0 24 27" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
       <path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z">
       </path>
       <rect height="8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" x="17" y="17">
       </rect>
      </svg>
     </span>
     <span class="search-close">
      <svg height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
       <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
       </path>
      </svg>
     </span>
    </button>
   </form>
   <div class="smart-search-wrapper ajaxSearchResults" id="ajaxSearchResults-mb" style="display: none">
    <div class="resultsContent">
    </div>
   </div>
  </div>
 </div>
</header>
