<header class="m-animated" id="header">
 <div class="header-bg">
  <div class="header-inner">
   <!-- header logo -->
   <div class="header-branding">
    <h1>
     <a href="https://net-dep-spa.myharavan.com">
      <img alt="Nét đẹp spa" class="img-responsive" src="//hstatic.net/987/1000028987/1000046629/logo.png?v=902"/>
     </a>
    </h1>
    <h1 style="display:none">
     <a href="/">
      Nét đẹp spa
     </a>
    </h1>
   </div>
   <!-- end header logo -->
   <!-- header navigation -->
   <div class="header-navigation">
    <!-- header menu -->
    <nav class="header-menu">
     <button class="header-menu-toggle" type="button">
      <i class="fa fa-bars">
      </i>
      MENU
     </button>
     <ul>
      <li class="m-active">
       <span>
        <a href="/" title="Trang chủ">
         Trang chủ
        </a>
       </span>
      </li>
      <li class="dropdown">
       <span>
        <a href="/pages/about-us" title="Giới thiệu">
         Giới thiệu
        </a>
       </span>
       <ul class="sub-menu">
        <li>
         <a href="/pages/dich-vu" title="Dịch vụ">
          Dịch vụ
         </a>
        </li>
        <li>
         <a href="/pages/about-us" title="Về chúng tôi">
          Về chúng tôi
         </a>
        </li>
       </ul>
      </li>
      <li>
       <span>
        <a href="/collections/all" title="Shop">
         Shop
        </a>
       </span>
      </li>
      <li class="dropdown">
       <span>
        <a href="/blogs/news" title="Bài viết">
         Bài viết
        </a>
       </span>
       <ul class="sub-menu">
        <li>
         <a class="current" href="/" title="Dịch vụ">
          Dịch vụ
         </a>
        </li>
       </ul>
      </li>
      <li>
       <span>
        <a href="/pages/lien-he" title="Liên hệ">
         Liên hệ
        </a>
       </span>
      </li>
     </ul>
    </nav>
    <!-- end header menu -->
    <!-- header cart-->
    <div class="header-cart">
     <div class="header-cart-inner" id="cart-target">
      <a href="/cart">
       <i class="cart-ico fa fa-shopping-cart">
       </i>
       <span class="cart-label">
        Giỏ hàng
       </span>
       <span class="cart-count" id="cart-count">
        (0 sản phẩm)
       </span>
      </a>
     </div>
    </div>
    <!-- end header cart-->
    <!-- header serach -->
    <div class="header-search">
     <div class="header-search-inner">
      <form action="/search" class="search-form">
       <i class="search-ico fa fa-search">
       </i>
       <input name="type" type="hidden" value="product"/>
       <input class="search-input" name="q" placeholder="Bạn cần tìm..." type="text"/>
       <button class="search-submit" type="submit">
        <i class="fa fa-angle-right">
        </i>
       </button>
       <button class="search-toggle" type="button">
        Tìm kiếm
       </button>
      </form>
     </div>
     <button class="search-toggle-mobile" type="button">
      <i class="fa">
      </i>
     </button>
    </div>
    <!--end header serach -->
   </div>
   <!-- end header navigation -->
   <!-- header panel -->
   <div class="header-panel">
    <button class="header-panel-toggle" type="button">
     <i class="fa">
     </i>
    </button>
    <!-- header reservation -->
    <div class="header-reservation">
     <a class="c-button" href="#">
      Thông tin liên hệ
     </a>
    </div>
    <!--end header reservation -->
    <!-- header contact -->
    <div class="header-contact">
     <ul>
      <!-- PHONE : begin -->
      <li>
       <div class="item-inner">
        <i class="ico fa fa-phone">
        </i>
        <strong>
         1900.636.099
        </strong>
       </div>
      </li>
      <!-- PHONE : end -->
      <!-- EMAIL : begin -->
      <li>
       <div class="item-inner">
        <i class="ico fa fa-envelope-o">
        </i>
        <a href="#">
         hi@haravan.com
        </a>
       </div>
      </li>
      <!-- EMAIL : end -->
      <!-- ADDRESS : begin -->
      <li>
       <div class="item-inner">
        <i class="ico fa fa-map-marker">
        </i>
        <strong>
         Net dep Spa
        </strong>
        <br/>
        65 Trần Quốc Hoàn, Q. Tân Bình, Tp.HCM
       </div>
      </li>
      <!-- ADDRESS : end -->
      <!-- HOURS : begin -->
      <li>
       <div class="item-inner">
        <i class="ico fa fa-clock-o">
        </i>
        <dl>
         <dt>
          Sáng:
         </dt>
         <dd>
          8:00 - 10:00
         </dd>
         <dt>
          Chiều:
         </dt>
         <dd>
          2:00 - 4:00
         </dd>
         <dt>
          Tối:
         </dt>
         <dd>
          6:00 - 22:00
         </dd>
        </dl>
       </div>
      </li>
      <!-- HOURS : end -->
     </ul>
    </div>
    <!-- end header contact -->
    <!-- header social -->
    <div class="header-social">
     <ul>
      <li>
       <a href="#" title="Twitter">
        <i class="fa fa-twitter">
        </i>
       </a>
      </li>
      <li>
       <a href="#" title="Facebook">
        <i class="fa fa-facebook">
        </i>
       </a>
      </li>
      <li>
       <a href="#" title="Pinterest">
        <i class="fa fa-pinterest">
        </i>
       </a>
      </li>
     </ul>
    </div>
    <!-- header social -->
   </div>
   <!-- end header panel -->
  </div>
 </div>
</header>
