<footer class="Be ega-section-footer isCVH">
 <div class="Ua Ub ega-pre-footer">
  <div class="container pb-5 pt-1">
   <div class="row site-info">
    <div class="col-12 col-md-9">
     <div class="row">
      <div class="col-sm-4">
       <div class="ega-footer-item A2a A2b">
        <h3 class="A2a">
         VỀ CHÚNG TÔI
         <svg aria-hidden="true" class="ml-3 svg-inline--fa fa-caret-down fa-w-10 fa-lg" data-icon="caret-down" data-prefix="fas" role="img" viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg">
          <path class="" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" fill="currentColor">
          </path>
         </svg>
        </h3>
        <div>
         <div class="A2c">
          <ul class="Bb">
           <li>
            <a href="/pages/gioi-thieu-vaithuhay" target="_blank" title="Chúng tôi là ai">
             Chúng tôi là ai
            </a>
           </li>
           <li>
            <a href="http://tuyendung.vaithuhay.com/" target="_blank" title="Tuyển dụng">
             Tuyển dụng
            </a>
           </li>
           <li>
            <a href="http://tragop.vaithuhay.com/" target="_blank" title="Trả góp 0% lãi suất qua thẻ">
             Trả góp 0% lãi suất qua thẻ
            </a>
           </li>
           <li>
            <a href="https://quatanghay.com/" target="_blank" title="Quà tặng doanh nghiệp">
             Quà tặng doanh nghiệp
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
      <div class="col-sm-4">
       <div class="ega-footer-item A2a A2b">
        <h3 class="A2a">
         CÁC CHÍNH SÁCH
         <svg aria-hidden="true" class="ml-3 svg-inline--fa fa-caret-down fa-w-10 fa-lg" data-icon="caret-down" data-prefix="fas" role="img" viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg">
          <path class="" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" fill="currentColor">
          </path>
         </svg>
        </h3>
        <div>
         <div class="A2c">
          <ul class="Bb">
           <li>
            <a href="https://vaithuhay.com/blogs/news/chuong-trinh-thanh-vien-loyalty-tai-vaithuhay" title="Chương trình thành viên Loyalty">
             Chương trình thành viên Loyalty
            </a>
           </li>
           <li>
            <a href="https://vaithuhay.com/blogs/news/chinh-sach-pre-order-tai-vaithuhay" title="Chính sách đặt trước Pre-Order">
             Chính sách đặt trước Pre-Order
            </a>
           </li>
           <li>
            <a href="https://vaithuhay.com/pages/chinh-sach-doi-tra-bao-hanh-va-boi-hoan-san-pham" title="Chính sách đổi trả &amp; bảo hành">
             Chính sách đổi trả &amp; bảo hành
            </a>
           </li>
           <li>
            <a href="https://onapp.haravan.com/orderstrackingphone/shop/vai-thu-hay-i-something-nice" title="Kiểm tra hành trình đơn hàng">
             Kiểm tra hành trình đơn hàng
            </a>
           </li>
           <li>
            <a href="https://vaithuhay.com/blogs/news/huong-dan-mua-hang-thanh-toan-bang-the-qua-ngan-luong" title="Hướng dẫn mua hàng &amp; thanh toán">
             Hướng dẫn mua hàng &amp; thanh toán
            </a>
           </li>
           <li>
            <a href="https://vaithuhay.com/blogs/news/chinh-sach-bao-mat-thong-tin-khach-hang" title="Chính sách bảo mật thông tin khách hàng">
             Chính sách bảo mật thông tin khách hàng
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
      <div class="col-sm-4">
       <div class="ega-footer-item A2a A2b">
        <h3 class="A2a">
         DANH MỤC SẢN PHẨM
         <svg aria-hidden="true" class="ml-3 svg-inline--fa fa-caret-down fa-w-10 fa-lg" data-icon="caret-down" data-prefix="fas" role="img" viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg">
          <path class="" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" fill="currentColor">
          </path>
         </svg>
        </h3>
        <div>
         <div class="A2c">
          <ul class="Bb">
           <li>
            <a href="/collections/tatcasanpham" title="Tất cả sản phẩm">
             Tất cả sản phẩm
            </a>
           </li>
           <li>
            <a href="https://vaithuhay.com/collections/ban-nang-ha-cong-thai-hoc" title="Bàn nâng hạ">
             Bàn nâng hạ
            </a>
           </li>
           <li>
            <a href="https://vaithuhay.com/collections/ghe-cong-thai-hoc" title="Ghế công thái học">
             Ghế công thái học
            </a>
           </li>
           <li>
            <a href="/collections/preorder-collection" title="Chiến dịch đặt hàng trước">
             Chiến dịch đặt hàng trước
            </a>
           </li>
           <li>
            <a href="/collections/nid-light" title="Thương hiệu NID Việt Nam">
             Thương hiệu NID Việt Nam
            </a>
           </li>
           <li>
            <a href="/collections/ban-phim-hay" title="Bàn phím">
             Bàn phím
            </a>
           </li>
           <li>
            <a href="/collections/setup-goc-lam-viec" title="Setup góc làm việc">
             Setup góc làm việc
            </a>
           </li>
           <li>
            <a href="/collections/flash-sale-san-pham-hot" title="Sản phẩm tại showroom Vaithuhay">
             Sản phẩm tại showroom Vaithuhay
            </a>
           </li>
           <li>
            <a href="https://vaithuhay.com/collections/coming-soon" title="Showcase - Nơi khám phá những sản phẩm độc đáo">
             Showcase - Nơi khám phá những sản phẩm độc đáo
            </a>
           </li>
           <li>
            <a href="/collections/hydroflask-collection" title="Bộ sưu tập bình giữ nhiệt HydroFlask">
             Bộ sưu tập bình giữ nhiệt HydroFlask
            </a>
           </li>
           <li>
            <a href="/collections/ghe-gaming-cong-thai-hoc-doc-quyen-ingrem" title="Bộ sưu tập Ghế Gaming Công Thái Học Độc Quyền Ingrem – Đẳng Cấp Thiết Kế, Tối Ưu Sức Khỏe">
             Bộ sưu tập Ghế Gaming Công Thái Học Độc Quyền Ingrem – Đẳng Cấp Thiết Kế, Tối Ưu Sức Khỏe
            </a>
           </li>
          </ul>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="col-md-3 hidden-xs">
     <div class="ega-footer-item A2a" style="text-align: center;">
      <div class="footer-ecommerce__list">
       <a class="footer-ecommerce__item" href="https://shope.ee/10TWvlHQWI" target="_blank">
        <img alt="Vài Thứ Hay" decoding="async" fetchpriority="low" loading="lazy" srcset="//theme.hstatic.net/1000069970/1001119059/14/footer_ecommerce_1_mb_large.png?v=7362 480w, //theme.hstatic.net/1000069970/1001119059/14/footer_ecommerce_1_compact.png?v=7362">
        </img>
       </a>
       <a class="footer-ecommerce__item" href="https://www.lazada.vn/shop/vaithuhay-store?path=index.htm&amp;lang=vi&amp;pageTypeId=1" target="_blank">
        <img alt="Vài Thứ Hay" decoding="async" fetchpriority="low" loading="lazy" srcset="//theme.hstatic.net/1000069970/1001119059/14/footer_ecommerce_2_mb_large.png?v=7362 480w, //theme.hstatic.net/1000069970/1001119059/14/footer_ecommerce_2_compact.png?v=7362">
        </img>
       </a>
      </div>
      <p>
       Đến các sàn TMĐT của Vaithuhay để nhận nhiều khuyến mãi hơn
      </p>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="Bj Bi ega-footer">
  <div class="container Bg">
   <div class="row site-info gutter-30 d-flex flex-wrap" style="margin-bottom: 20px;">
    <div class="col col-sm-6 pr-sm-5">
     <div class="ega-footer-logos">
      <a aria-label="Vài Thứ Hay" href="#" onclick="return false;">
       <img class="Bk" decoding="async" fetchpriority="low" loading="lazy" srcset="//theme.hstatic.net/1000069970/1001119059/14/logo-bct-1_small.png?v=7362 767w, //theme.hstatic.net/1000069970/1001119059/14/logo-bct-1_medium.png?v=7362"/>
      </a>
      <a href="https://quatanghay.com/" target="_blank">
       <img class="Bk" decoding="async" fetchpriority="low" loading="lazy" srcset="//theme.hstatic.net/1000069970/1001119059/14/logo-bct-2_small.png?v=7362 767w, //theme.hstatic.net/1000069970/1001119059/14/logo-bct-2_medium.png?v=7362"/>
      </a>
     </div>
     <p class="mt-5 text-justify ega-footer-info">
      Vaithuhay.com là một website phân phối và thiết kế sản phẩm công nghiệp sáng tạo, với mong muốn thiết lập lại một triết lý nhằm định nghĩa lại cuộc sống thông qua việc đổi mới các vật dụng hàng ngày hiện nay, sáng tạo hơn, tiện dụng hơn, mới mẻ hơn, nhiều cảm hứng hơn. Và cam kết kiên quyết cung cấp các sản phẩm sáng tạo, chất lượng kết hợp với thiết kế công nghiệp độc đáo để tạo ra giá trị mới.
     </p>
     <div class="mt-5 d-flex logo-wrapper justify-content-center">
      <div class="d-flex justify-content-center ega-social-list">
       <a class="px-3 d-inline-block" href="https://www.facebook.com/vaithuhayofficial/" target="_blank">
        <img decoding="async" fetchpriority="low" loading="lazy" srcset="//theme.hstatic.net/1000069970/1001119059/14/vth-icon-face-mb.png?v=7362 767w, //theme.hstatic.net/1000069970/1001119059/14/vth-icon-face.png?v=7362"/>
       </a>
       <a class="px-3 d-inline-block" href="https://www.instagram.com/vaithuhay/" target="_blank">
        <img decoding="async" fetchpriority="low" loading="lazy" srcset="//theme.hstatic.net/1000069970/1001119059/14/vth-icon-insta-mb.png?v=7362 767w, //theme.hstatic.net/1000069970/1001119059/14/vth-icon-insta.png?v=7362"/>
       </a>
       <a class="px-3 d-inline-block" href="https://www.youtube.com/c/Vaithuhaychannel" target="_blank">
        <img decoding="async" fetchpriority="low" loading="lazy" srcset="//theme.hstatic.net/1000069970/1001119059/14/vth-icon-youtube-mb.png?v=7362 767w, //theme.hstatic.net/1000069970/1001119059/14/vth-icon-youtube.png?v=7362"/>
       </a>
      </div>
      <div class="hidden-xl hidden-lg hidden-sm hidden-md">
       <div class="footer-ecommerce__list">
        <a class="footer-ecommerce__item" href="https://shope.ee/10TWvlHQWI" target="_blank">
         <img alt="Vài Thứ Hay" decoding="async" fetchpriority="low" loading="lazy" srcset="//theme.hstatic.net/1000069970/1001119059/14/footer_ecommerce_1_mb_large.png?v=7362 480w, //theme.hstatic.net/1000069970/1001119059/14/footer_ecommerce_1_compact.png?v=7362">
         </img>
        </a>
        <a class="footer-ecommerce__item" href="https://www.lazada.vn/shop/vaithuhay-store?path=index.htm&amp;lang=vi&amp;pageTypeId=1" target="_blank">
         <img alt="Vài Thứ Hay" decoding="async" fetchpriority="low" loading="lazy" srcset="//theme.hstatic.net/1000069970/1001119059/14/footer_ecommerce_2_mb_large.png?v=7362 480w, //theme.hstatic.net/1000069970/1001119059/14/footer_ecommerce_2_compact.png?v=7362">
         </img>
        </a>
       </div>
      </div>
     </div>
    </div>
    <div class="col col-sm-6 d-flex justify-content-center" style="flex-direction: column;">
     <div class="ega-footer-contact">
      <div class="footer-contact-item">
       <div class="contact-head">
        <p>
         Trụ sở văn phòng:
        </p>
       </div>
       <div class="contact-body">
        <p>
         Showroom Hồ Chí Minh:  Số 7, Nguyễn Văn Vĩnh, Phường Tân Sơn Nhất, Quận Tân Bình, TP.HCM
        </p>
       </div>
      </div>
      <div class="footer-contact-item">
       <div class="contact-head">
        <p>
         Email:
        </p>
       </div>
       <div class="contact-body">
        <p>
         support@vaithuhay.com
        </p>
       </div>
      </div>
      <div class="footer-contact-item">
       <div class="contact-head">
        <p>
         Hợp tác doanh nghiệp
        </p>
       </div>
       <div class="contact-body">
        <p>
         partner@vaithuhay.com
        </p>
       </div>
      </div>
      <div class="footer-contact-item">
       <div class="contact-head">
        <p>
         Số điện thoại:
        </p>
       </div>
       <div class="contact-body">
        <p>
         <a href="tel:0906.888.640">
          0906.888.640 (Tư vấn mua hàng )
         </a>
         <a href="tel:0938.228.865   ">
          0938.228.865    (Chăm sóc khách hàng)
         </a>
         <a href="tel:0287.101.5808">
          0287.101.5808 (Khách hàng doanh nghiệp)
         </a>
        </p>
       </div>
      </div>
      <div class="footer-contact-item">
       <div class="contact-head">
        <p>
         Giờ làm việc:
        </p>
       </div>
       <div class="contact-body">
        <p>
         8:00 A.M : 20:00 P.M
        </p>
       </div>
      </div>
      <div class="trust-badge hidden-md hidden-lg hidden-xl text-center">
       <img alt="trustbadge" decoding="async" fetchpriority="low" loading="lazy" srcset="//theme.hstatic.net/1000069970/1001119059/14/trust-badge_large.png?v=7362 767w, data:image/jpg;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="196">
       </img>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="copyright">
  <div class="container clearfix">
   <div class="copyright-text">
    <p>
     <strong class="Bo">
      © 2022 - Bản quyền của Công ty cổ phần thương mại &amp; công nghệ Newideas
     </strong>
    </p>
    <br/>
    <p class="addr Bn">
     <i>
      Số 7, Nguyễn Văn Vĩnh, Phường 4, Quận Tân Bình, TP.HCM
     </i>
    </p>
   </div>
   <a class="cert" href="http://online.gov.vn/Home/WebDetails/43878" target="_blank">
    <img decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/logo-coppy-1_small.png?v=7362"/>
   </a>
   <a class="dmca-badge" href="//www.dmca.com/Protection/Status.aspx?ID=6487aabe-fe28-4e39-8b1b-8764143a0aaa&amp;refurl=https://vaithuhay.com/?themeid=1000538562&amp;_ga=2.64733741.362386730.1598249647-258765701.1597801093" target="_blank" title="DMCA.com Protection Status">
    <img alt="DMCA.com Protection Status" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/logo-coppy-2_thumb.png?v=7362"/>
   </a>
   <span class="Bp">
    © 2022 Vaithuhay.com. All right reserved.
   </span>
   <!-- <div class="ega-design-by"><img loading=lazy src="//theme.hstatic.net/1000069970/1001119059/14/vth-icon-designed-by.svg?v=7362" alt="vth-icon-designed-by"/><span>Designed by TT.NID</span></div> -->
  </div>
 </div>
</footer>
