<div class="ega-header header navbar-fixed-top">
 <div class="container-fluid desktop">
  <div class="row">
   <a class="col-sm-2 navbar-brand" href="/">
    <img alt="Vài Thứ Hay" decoding="async" fetchpriority="low" height="66" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/logo_medium.png?v=7362" width="240"/>
    <div class="text-pro">
    </div>
   </a>
   <div class="col-sm-6">
    <ul class="nav navbar-nav">
     <li class="top">
      <a href="/" title="Trang chủ">
       Trang chủ
      </a>
     </li>
     <li class="top dropdown">
      <a class="dropdown-toggle" href="#" onclick="return false;">
       Khám phá
       <i class="fa fa-lg fa-angle-down">
       </i>
      </a>
      <div class="col-sm-12">
       <div class="static-content" id="menu-discover">
        <div class="container">
         <h3 class="title">
          Khám phá theo chủ đề
         </h3>
        </div>
        <div class="menu-discover-container" style=" position: relative; z-index: 2; ">
         <div class="container">
          <div class="menu-discover-body">
           <div class="category-left">
            <div class="category-list">
             <a class="category-item active" data-menu="all" href="/collections/all" target="_blank">
              <img class="category-icon" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/hd_category_icon_first_small.png?v=7362">
               <span class="category-tooltip">
                Tất cả sản phẩm
               </span>
              </img>
             </a>
             <a class="category-item" data-menu="154c8a70-89ca-4960-8616-eae7fd74880a" href="/collections/onsale" target="_blank">
              <img class="category-icon" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/hd_category_icon_1_small.png?v=7362"/>
              <span class="category-tooltip">
               Sản phẩm khuyến mãi
              </span>
             </a>
             <a class="category-item" data-menu="2fdf5bd2-208c-4f76-8c27-5105ed4e2003" href="/collections/san-pham-moi" target="_blank">
              <img class="category-icon" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/hd_category_icon_2_small.png?v=7362"/>
              <span class="category-tooltip">
               Sản phẩm mới
              </span>
             </a>
             <a class="category-item" data-menu="7484777f-2467-423b-b430-3ca2979524eb" href="/collections/preorder-collection" target="_blank">
              <img class="category-icon" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/hd_category_icon_3_small.png?v=7362"/>
              <span class="category-tooltip">
               Các chiến dịch đặt hàng trước PRE-ORDER
              </span>
             </a>
             <div class="category-item more-btn">
              <img class="category-icon" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/hd_category_icon_last_small.png?v=7362"/>
              <span class="category-tooltip">
               Xem thêm
              </span>
             </div>
            </div>
           </div>
           <div class="category-right">
            <div class="menu-list all show">
             <a class="AMa" href="/collections/setup-goc-lam-viec" target="_blank">
              <div class="AMc">
               <div class="vth-thumb thumb A0b vth-thumb thumb ratio-3-2">
                <div class="content">
                 <img alt="Setup Góc Làm Việc" decoding="async" fetchpriority="low" height="320" loading="lazy" src="//file.hstatic.net/1000069970/collection/son09582_a184e45a54ee475d9fc51fc424d0de0e_large.jpg" width="480"/>
                 <div class="A0a">
                  <div class="A0c">
                  </div>
                 </div>
                </div>
               </div>
               <h5 class="AMe">
                SET UP KHÔNG GIAN GÓC LÀM VIỆC
               </h5>
              </div>
             </a>
             <a class="AMa" href="/collections/ban-phim-hay" target="_blank">
              <div class="AMc">
               <div class="vth-thumb thumb A0b vth-thumb thumb ratio-3-2">
                <div class="content">
                 <img alt="Bàn phím hay" decoding="async" fetchpriority="low" height="320" loading="lazy" src="//file.hstatic.net/1000069970/collection/thiet_ke_chua_co_ten__2__1b49337d200946d08ee2993045bbb203_large.png" width="480"/>
                 <div class="A0a">
                  <div class="A0c">
                  </div>
                 </div>
                </div>
               </div>
               <h5 class="AMe">
                BÀN PHÍM HAY
               </h5>
              </div>
             </a>
             <a class="AMa" href="/collections/flash-sale-san-pham-hot" target="_blank">
              <div class="AMc">
               <div class="vth-thumb thumb A0b vth-thumb thumb ratio-3-2">
                <div class="content">
                 <img alt="Du Lịch Dã Ngoại" decoding="async" fetchpriority="low" height="320" loading="lazy" src="//file.hstatic.net/1000069970/collection/20240801-113333_408d293fe0964529a4d3c14958b0f30b_large.jpeg" width="480"/>
                 <div class="A0a">
                  <div class="A0c">
                  </div>
                 </div>
                </div>
               </div>
               <h5 class="AMe">
                Khơi nguồn cảm hứng, bật tung hiệu suất
               </h5>
              </div>
             </a>
             <a class="AMa" href="/collections/gravastar-collection-chien-binh-khong-gian" target="_blank">
              <div class="AMc">
               <div class="vth-thumb thumb A0b vth-thumb thumb ratio-3-2">
                <div class="content">
                 <img alt="Loa - Tai Nghe" decoding="async" fetchpriority="low" height="320" loading="lazy" src="//file.hstatic.net/1000069970/collection/gravastar_collection_af12333a90a34df0b3f30914520f092b_large.png" width="480"/>
                 <div class="A0a">
                  <div class="A0c">
                  </div>
                 </div>
                </div>
               </div>
               <h5 class="AMe">
                Collection Gravastar -Những chiến binh không gian
               </h5>
              </div>
             </a>
             <a class="AMa" href="/collections/san-pham-moi-la-nhat-hien-tai" target="_blank">
              <div class="AMc">
               <div class="vth-thumb thumb A0b vth-thumb thumb ratio-3-2">
                <div class="content">
                 <img alt="Sản phẩm độc đáo nhất" decoding="async" fetchpriority="low" height="320" loading="lazy" src="//file.hstatic.net/1000069970/collection/vth-050_f0657890f9234e798f6f8bb8f0f1a38f_large.jpg" width="480"/>
                 <div class="A0a">
                  <div class="A0c">
                  </div>
                 </div>
                </div>
               </div>
               <h5 class="AMe">
                Sản phẩm độc đáo nhất trên thị trường
               </h5>
              </div>
             </a>
             <a class="AMa" href="/collections/cong-nghe-tien-ich-co-san" target="_blank">
              <div class="AMc">
               <div class="vth-thumb thumb A0b vth-thumb thumb ratio-3-2">
                <div class="content">
                 <img alt="Sản phẩm HOT" decoding="async" fetchpriority="low" height="320" loading="lazy" src="//file.hstatic.net/1000069970/collection/123_39bb10e736d242e4b1a0a35d608f5c72_large.jpg" width="480"/>
                 <div class="A0a">
                  <div class="A0c">
                  </div>
                 </div>
                </div>
               </div>
               <h5 class="AMe">
                Công nghệ Thiết yếu - Có sẵn giao ngay
               </h5>
              </div>
             </a>
             <a class="AMa" href="/collections/san-pham-cong-nghe-diy-lap-rap-dac-biet" target="_blank">
              <div class="AMc">
               <div class="vth-thumb thumb A0b vth-thumb thumb ratio-3-2">
                <div class="content">
                 <img alt="Sản phẩm DIY Steampunk" decoding="async" fetchpriority="low" height="320" loading="lazy" src="//file.hstatic.net/1000069970/collection/white2_8c5962d90a9049cfbd10513344994245_large.png" width="480"/>
                 <div class="A0a">
                  <div class="A0c">
                  </div>
                 </div>
                </div>
               </div>
               <h5 class="AMe">
                Sản phẩm DIY Steampunk
               </h5>
              </div>
             </a>
             <a class="AMa" href="/collections/nid-light" target="_blank">
              <div class="AMc">
               <div class="vth-thumb thumb A0b vth-thumb thumb ratio-3-2">
                <div class="content">
                 <img alt="Đèn tràn trí NID LIGHT" decoding="async" fetchpriority="low" height="320" loading="lazy" src="//file.hstatic.net/1000069970/collection/4_copy_4eca127c007e48de8a7ab3bbd1c4754a_large.jpg" width="480"/>
                 <div class="A0a">
                  <div class="A0c">
                  </div>
                 </div>
                </div>
               </div>
               <h5 class="AMe">
                Đèn trang trí NID Light
               </h5>
              </div>
             </a>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div class="container menu-discover-sale" style=" position: relative; z-index: 2; ">
         <h3 class="title">
         </h3>
         <div class="sale-list">
          <div>
           <a class="sale-item" href="https://shope.ee/10TWvlHQWI" target="_blank">
            <img class="sale-icon" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/hd_category_sale_icon_1_grande.png?v=7362">
            </img>
           </a>
          </div>
          <div>
           <a class="sale-item" href="https://www.lazada.vn/shop/vaithuhay-store" target="_blank">
            <img class="sale-icon" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/hd_category_sale_icon_3_grande.png?v=7362">
            </img>
           </a>
          </div>
         </div>
        </div>
        <div class="container menu-discover-blog" style=" position: relative; z-index: 2; ">
         <div style="display: flex; justify-content: space-between; align-items: center;">
          <h3 class="title">
           GÓC VAITHUHAY
          </h3>
          <a class="more-btn" href="https://vaithuhay.com/blogs/news" target="_blank">
           Xem tất cả
           <i aria-hidden="true" class="fa fa-caret-right">
           </i>
          </a>
         </div>
         <div class="blog-list">
          <div class="item">
           <a class="item" href="/blogs/setup-decor/pre-order-la-gi" style=" text-decoration: none; " target="_blank">
            <div class="articles-img">
             <img decoding="async" fetchpriority="low" loading="lazy" srcset="//file.hstatic.net/1000069970/article/pre-order-la-gi-moi-dieu-can-biet-ve-pre-order_b22ae22812ed4333bb07146c5f156217_compact.jpg 767w, https://file.hstatic.net/1000069970/article/pre-order-la-gi-moi-dieu-can-biet-ve-pre-order_b22ae22812ed4333bb07146c5f156217.jpg"/>
            </div>
            <div class="article-des">
             <h5 class="title" style=" height: 42px; ">
              Pre order là gì? Mọi điều cần biết về pre order
             </h5>
            </div>
           </a>
          </div>
          <div class="item">
           <a class="item" href="/blogs/setup-decor/livestream-ban-hang" style=" text-decoration: none; " target="_blank">
            <div class="articles-img">
             <img decoding="async" fetchpriority="low" loading="lazy" srcset="//file.hstatic.net/1000069970/article/bi-kip-live-stream-ban-hang_4fa4513f3d96436f859a495e2bc312cb_compact.png 767w, https://file.hstatic.net/1000069970/article/bi-kip-live-stream-ban-hang_4fa4513f3d96436f859a495e2bc312cb.png"/>
            </div>
            <div class="article-des">
             <h5 class="title" style=" height: 42px; ">
              Cách livestream bán hàng của dân chuyên
             </h5>
            </div>
           </a>
          </div>
          <div class="item">
           <a class="item" href="/blogs/setup-decor/top-5-mau-dong-ho-trang-tri-ban-lam-viec" style=" text-decoration: none; " target="_blank">
            <div class="articles-img">
             <img decoding="async" fetchpriority="low" loading="lazy" srcset="//file.hstatic.net/1000069970/article/5-mau-dong-ho-de-ban-giup-tang-cam-hung-sang-tao_f0c31564117b4b86832a68ec65f31a09_compact.jpg 767w, https://file.hstatic.net/1000069970/article/5-mau-dong-ho-de-ban-giup-tang-cam-hung-sang-tao_f0c31564117b4b86832a68ec65f31a09.jpg"/>
            </div>
            <div class="article-des">
             <h5 class="title" style=" height: 42px; ">
              5 mẫu đồng hồ để bàn sáng tạo giúp tăng cảm hứng làm việc
             </h5>
            </div>
           </a>
          </div>
          <div class="item">
           <a class="item" href="/blogs/setup-decor/tong-hop-nhung-bo-ban-phim-va-chuot-gia-phai-chang-danh-cho-designer" style=" text-decoration: none; " target="_blank">
            <div class="articles-img">
             <img decoding="async" fetchpriority="low" loading="lazy" srcset="//file.hstatic.net/1000069970/article/tong-hop-nhung-bo-ban-phim-chuot-phai-chang-danh-cho-design_69d2459670874f238d1c555f8310024f_compact.jpg 767w, https://file.hstatic.net/1000069970/article/tong-hop-nhung-bo-ban-phim-chuot-phai-chang-danh-cho-design_69d2459670874f238d1c555f8310024f.jpg"/>
            </div>
            <div class="article-des">
             <h5 class="title" style=" height: 42px; ">
              Tổng hợp những bộ bàn phím và chuột giá phải chăng dành cho designer
             </h5>
            </div>
           </a>
          </div>
          <div class="item">
           <a class="item" href="/blogs/setup-decor/huong-dan-su-dung-va-bao-quan-ban-nang-ha-chieu-cao" style=" text-decoration: none; " target="_blank">
            <div class="articles-img">
             <img decoding="async" fetchpriority="low" loading="lazy" srcset="//file.hstatic.net/1000069970/article/huong-dan-su-dung-va-bao-quan-ban-nang-ha-chieu-cao_fe80568ad0074ab2a03db9308256a0ff_compact.jpg 767w, https://file.hstatic.net/1000069970/article/huong-dan-su-dung-va-bao-quan-ban-nang-ha-chieu-cao_fe80568ad0074ab2a03db9308256a0ff.jpg"/>
            </div>
            <div class="article-des">
             <h5 class="title" style=" height: 42px; ">
              Hướng dẫn sử dụng và bảo quản bàn nâng hạ chiều cao
             </h5>
            </div>
           </a>
          </div>
          <div class="item">
           <a class="item" href="/blogs/setup-decor/top-10-mon-do-cong-nghe-thong-minh-tao-cam-hung-lam-viec" style=" text-decoration: none; " target="_blank">
            <div class="articles-img">
             <img decoding="async" fetchpriority="low" loading="lazy" srcset="//file.hstatic.net/1000069970/article/top-10-mon-do-cong-nghe-thong-minh-tao-cam-hug-lam-viec-cho-designer_f4cd3ca816b545bb81e49ae26f030f0c_compact.jpg 767w, https://file.hstatic.net/1000069970/article/top-10-mon-do-cong-nghe-thong-minh-tao-cam-hug-lam-viec-cho-designer_f4cd3ca816b545bb81e49ae26f030f0c.jpg"/>
            </div>
            <div class="article-des">
             <h5 class="title" style=" height: 42px; ">
              Top 10 món đồ công nghệ thông minh tạo cảm hứng làm việc cho designer
             </h5>
            </div>
           </a>
          </div>
          <div class="item">
           <a class="item" href="/blogs/setup-decor/cach-setup-phong-livestream" style=" text-decoration: none; " target="_blank">
            <div class="articles-img">
             <img decoding="async" fetchpriority="low" loading="lazy" srcset="//file.hstatic.net/1000069970/article/cach-setup-phong-livestream-de-ban-hang-livestream-game_76062ecd6bab486c90d8b12d684be96d_compact.jpg 767w, https://file.hstatic.net/1000069970/article/cach-setup-phong-livestream-de-ban-hang-livestream-game_76062ecd6bab486c90d8b12d684be96d.jpg"/>
            </div>
            <div class="article-des">
             <h5 class="title" style=" height: 42px; ">
              Cách setup phòng livestream để bán hàng, livestream game
             </h5>
            </div>
           </a>
          </div>
          <div class="item">
           <a class="item" href="/blogs/setup-decor/dau-co-tay-nhung-khong-sung-nguyen-nhan-cach-khac-phuc" style=" text-decoration: none; " target="_blank">
            <div class="articles-img">
             <img decoding="async" fetchpriority="low" loading="lazy" srcset="//file.hstatic.net/1000069970/article/dau-co-tay-nhung-khong-sung-la-bi-gi-nguyen-nhan-cach-khac-phuc_5e4d1eec513b4b778b4d3112c7f98b40_compact.jpg 767w, https://file.hstatic.net/1000069970/article/dau-co-tay-nhung-khong-sung-la-bi-gi-nguyen-nhan-cach-khac-phuc_5e4d1eec513b4b778b4d3112c7f98b40.jpg"/>
            </div>
            <div class="article-des">
             <h5 class="title" style=" height: 42px; ">
              Đau cổ tay nhưng không sưng là bị gì? Nguyên nhân, cách khắc phục
             </h5>
            </div>
           </a>
          </div>
         </div>
        </div>
        <div class="overload-menu" style=" position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1;">
        </div>
       </div>
      </div>
     </li>
     <li class="top ega-has-submenu">
      <a class="dropdown-toggle" href="#" onclick="return false;">
       Tìm hiểu thêm
       <i class="fa fa-lg fa-angle-down">
       </i>
      </a>
      <div class="ega-submenu-content">
       <ul>
        <li class="ega-submenu-item">
         <a href="/pages/gioi-thieu-vaithuhay" target="_blank">
          Về Vaithuhay
         </a>
        </li>
        <li class="ega-submenu-item">
         <a href="https://partner.vaithuhay.com" target="_blank">
          Bán hàng liên kết (Affiliate)
         </a>
        </li>
        <li class="ega-submenu-item">
         <a href="https://tuyendung.vaithuhay.com" target="_blank">
          Tìm đồng đội - tuyển dụng
         </a>
        </li>
        <li class="ega-submenu-item">
         <a href="https://vaithuhay.com/collections/coming-soon" target="_blank">
          Showcase
         </a>
        </li>
        <li class="ega-submenu-item">
         <a href="https://quatanghay.com" target="_blank">
          Quà tặng hay
         </a>
        </li>
        <li class="ega-submenu-item">
         <a href="https://www.facebook.com/groups/gocvaithuhay" target="_blank">
          Cộng đồng Hayer
         </a>
        </li>
        <li class="ega-submenu-item has-end-level">
         <a href="/">
          Các chính sách quan trọng
          <img decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/ega-vth-caret-down.svg?v=7362"/>
         </a>
         <div class="ega-submenu-content">
          <ul>
           <li class="ega-submenu-item">
            <a href="https://vaithuhay.com/blogs/news/chuong-trinh-thanh-vien-loyalty-tai-vaithuhay">
             Membership/Loyalty
            </a>
           </li>
           <li class="ega-submenu-item">
            <a href="https://vaithuhay.com/blogs/news/chinh-sach-pre-order-tai-vaithuhay">
             Chính sách đặt hàng trước
            </a>
           </li>
           <li class="ega-submenu-item">
            <a href="/pages/chinh-sach-doi-tra-bao-hanh-va-boi-hoan-san-pham">
             Chính sách bảo hành/đổi trả
            </a>
           </li>
          </ul>
         </div>
        </li>
       </ul>
      </div>
     </li>
     <li class="top ega-has-submenu">
      <a class="dropdown-toggle" href="#" onclick="return false;">
       Bài viết
       <i class="fa fa-lg fa-angle-down">
       </i>
      </a>
      <div class="ega-submenu-content">
       <ul>
        <li class="ega-submenu-item">
         <a href="/blogs/setup-decor" target="_blank">
          Setup Decor
         </a>
        </li>
        <li class="ega-submenu-item">
         <a href="/blogs/cong-nghe" target="_blank">
          Công Nghệ
         </a>
        </li>
       </ul>
      </div>
     </li>
    </ul>
   </div>
   <style>
    .AIc {display: none;}
   </style>
   <div class="col-sm-4">
    <ul class="nav navbar-nav navbar-right">
     <li>
      <div class="AIb ega-search-wrap">
       <form action="/search" class="navbar-form ega-header-search">
        <div class="input-group add-on">
         <input name="type" type="hidden" value="product"/>
         <input autocomplete="off" class="form-control" data-search-id="search-desktop" id="search" maxlength="40" name="q" onclick="onClickSearch(event)" onkeyup="searchText(event)" placeholder="Tìm sản phẩm" required=""/>
         <div class="input-group-btn">
          <div class="btn">
           <svg aria-hidden="true" class="svg-inline--fa fa-search fa-w-16" data-icon="search" data-prefix="fas" role="img" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
            <path class="" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" fill="currentColor">
            </path>
           </svg>
          </div>
         </div>
        </div>
       </form>
       <div class="AIc" id="search-desktop">
        <div class="search-index">
         <div class="search-tags">
          <a href="https://vaithuhay.com/collections/upgen-phu-kien-setup-toi-gian">
           <span>
            #
           </span>
           #UPGEN
          </a>
          <a href="https://shope.ee/10TWvlHQWI">
           <span>
            #
           </span>
           #ShopeeMall
          </a>
          <a href="https://www.lazada.vn/shop/vaithuhay-store">
           <span>
            #
           </span>
           #LazadaMall
          </a>
          <a href="https://vaithuhay.com/collections/setup-goc-lam-viec">
           <span>
            #
           </span>
           #GócLàmViệc
          </a>
          <a href="https://vaithuhay.com/collections/nid-light">
           <span>
            #
           </span>
           #ĐènRGB
          </a>
          <a href="https://vaithuhay.com/collections/preorder-collection">
           <span>
            #
           </span>
           #PreOrder
          </a>
          <a href="https://vaithuhay.com/collections/san-pham-sang-tao">
           <span>
            #
           </span>
           #SángTạo
          </a>
          <a href="https://vaithuhay.com/collections/onsale">
           <span>
            #
           </span>
           #NO RESTOCK
          </a>
          <a href="https://vaithuhay.com/collections/san-pham-moi">
           <span>
            #
           </span>
           #Sản Phẩm Mới
          </a>
         </div>
         <div class="search-content" style="display: none;">
         </div>
        </div>
       </div>
      </div>
     </li>
     <li class="ega-cart-icon header-cart">
      <a class="AKc ega-cart-icon" href="/cart">
       <img alt="Giỏ hàng" decoding="async" fetchpriority="low" height="64" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/vth-cart.png?v=7362" width="64">
        <span class="AKe">
         0
        </span>
       </img>
      </a>
      <div class="cart-hover-empty hidden-xs">
       <div class="cart-empty-wrapper" data-cart="0">
        <h3 class="title">
         Giỏ hàng rỗng
        </h3>
        <div class="cart-des">
         Hổng lẻ hổng ưng
        </div>
        <img alt="Linh vật" class="img-linhvat" decoding="async" fetchpriority="low" height="168" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/lv-xinloi.png?v=7362" width="76">
        </img>
       </div>
       <div class="popup-coupon-wrapper">
        <div class="popup-coupon-head">
         Mã giảm giá đang được áp dụng
        </div>
        <div class="coupon-cart coupon-customer free-gifts">
        </div>
        <div class="popup-desc">
         <a class="redirect-cart" href="/cart">
          <span class="ic-cart">
           <svg fill="none" height="13" viewbox="0 0 13 13" width="13" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.58172 13C5.16754 13 5.64244 12.5048 5.64244 11.8939C5.64244 11.2831 5.16754 10.7879 4.58172 10.7879C3.9959 10.7879 3.521 11.2831 3.521 11.8939C3.521 12.5048 3.9959 13 4.58172 13Z" fill="white">
            </path>
            <path d="M10.0976 13C10.6834 13 11.1583 12.5048 11.1583 11.8939C11.1583 11.2831 10.6834 10.7879 10.0976 10.7879C9.51177 10.7879 9.03687 11.2831 9.03687 11.8939C9.03687 12.5048 9.51177 13 10.0976 13Z" fill="white">
            </path>
            <path d="M12.8981 1.6698C12.8586 1.61627 12.8078 1.57288 12.7497 1.54297C12.6916 1.51306 12.6277 1.49743 12.5629 1.49726H2.76183L2.5709 0.864611C2.54992 0.796682 2.5135 0.735052 2.46474 0.684977C2.41598 0.634903 2.35633 0.597872 2.29087 0.577042L0.551281 0.0196005C0.497791 0.00246137 0.441588 -0.00352434 0.38588 0.00198525C0.330171 0.00749484 0.276049 0.0243917 0.226604 0.0517112C0.126744 0.106885 0.0519939 0.201164 0.018798 0.313806C-0.0143979 0.426448 -0.00332045 0.548227 0.0495934 0.652352C0.102507 0.756478 0.192923 0.834421 0.30095 0.869035L1.82415 1.35569L3.76739 7.75742L3.0758 8.35025L3.02064 8.40777C2.84961 8.61427 2.75271 8.87632 2.74652 9.1491C2.74033 9.42187 2.82523 9.68842 2.9867 9.90313C3.10234 10.0498 3.2493 10.1662 3.4158 10.243C3.58231 10.3198 3.76374 10.3549 3.94559 10.3455H11.027C11.1395 10.3455 11.2474 10.2989 11.327 10.216C11.4066 10.133 11.4513 10.0205 11.4513 9.90313C11.4513 9.78579 11.4066 9.67326 11.327 9.59029C11.2474 9.50732 11.1395 9.46071 11.027 9.46071H3.87771C3.82885 9.45897 3.78125 9.44412 3.7395 9.4176C3.69775 9.39108 3.66327 9.35377 3.63938 9.3093C3.6155 9.26482 3.60301 9.21467 3.60314 9.1637C3.60327 9.11272 3.616 9.06264 3.64011 9.0183L4.66264 8.13347H11.2094C11.3063 8.13641 11.4013 8.10466 11.4785 8.04348C11.5557 7.9823 11.6105 7.8954 11.6337 7.79724L12.9914 2.04586C13.0043 1.9799 13.0026 1.91174 12.9865 1.84658C12.9703 1.78141 12.9401 1.72095 12.8981 1.6698Z" fill="white">
            </path>
           </svg>
          </span>
          <span>
           Vào giỏ hàng ngay
          </span>
         </a>
        </div>
       </div>
      </div>
      <div class="popover bottom popup-addCart">
       <div class="arrow">
       </div>
       <div class="popover-content AJe" style="padding: 10px 25px;">
        <p>
         <span class="popover-icon-check">
          <img decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/vth-icon-check.svg?v=7362"/>
         </span>
         <span>
          Thêm vào giỏ hàng thành công
         </span>
        </p>
        <a href="/cart">
         Xem giỏ hàng &amp; Ưu đãi
        </a>
       </div>
       <div class="vth-icon-character">
        <img decoding="async" fetchpriority="low" loading="lazy/" src="//theme.hstatic.net/1000069970/1001119059/14/vth-icon-addcart_medium.png?v=7362"/>
       </div>
      </div>
     </li>
     <li class="customer-hv">
     </li>
    </ul>
   </div>
  </div>
 </div>
 <div class="ega-mobile-header AZe mobile d-flex justify-content-between align-items-center">
  <div class="AZg ega-toggle-mb" onclick="showMenuMobile()" style="transform: scale(1);">
   <div class="menu-toggle-btn">
    <span class="cls">
    </span>
    <span>
    </span>
    <span class="cls">
    </span>
    <strong>
     4
    </strong>
   </div>
  </div>
  <a class="AZf navbar-brand" href="/" style="transform: scale(1);">
   <img alt="Vài Thứ Hay" class="logo" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/logo_medium.png?v=7362"/>
   <img alt="Vài Thứ Hay" class="logo-white" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/logo-white_medium.png?v=7362"/>
   <div class="text-pro">
   </div>
  </a>
  <div class="ega-header-icons">
   <span class="ega-mb-search">
    <img alt="Tìm kiếm" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/vth-icon-search.png?v=7362">
    </img>
   </span>
   <div class="ega-header__logout">
    <a href="/account/logout">
     <img alt="Đăng xuất" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/logout.png?v=7362">
     </img>
    </a>
   </div>
   <a class="ega-mb-cart cart Xa" href="/cart">
    <img alt="Giỏ hàng" class="cart-icon" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/vth-cart.png?v=7362">
     <img alt="Giỏ hàng" class="cart-icon-white" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/vth-cart-white.png?v=7362">
      <span class="Xb AKe" style="transform: translateX(0%) translateY(0%);">
       0
      </span>
     </img>
    </img>
   </a>
  </div>
  <div class="popover bottom popup-addCart">
   <div class="arrow">
   </div>
   <div class="popover-content AJe" style="padding: 10px 25px;">
    <p>
     <span class="popover-icon-check">
      <img decoding="async" fetchpriority="low" loading="lazy/" src="//theme.hstatic.net/1000069970/1001119059/14/vth-icon-check.svg?v=7362"/>
     </span>
     <span>
      Thêm vào giỏ hàng thành công
     </span>
    </p>
    <a href="/cart">
     Xem giỏ hàng &amp; Ưu đãi
    </a>
   </div>
   <div class="vth-icon-character">
    <img decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/vth-icon-addcart_medium.png?v=7362">
    </img>
   </div>
  </div>
 </div>
 <div class="ega-mb-sidebar static-content mobile-panel animated">
  <div class="menu-mb__content">
   <div class="menu-mb__account text-center">
   </div>
   <div class="discovery">
    <nav class="discovery__list">
     <div class="discovery__item">
      <a href="/collections/setup-goc-lam-viec" target="_blank">
       <img alt="Vài Thứ Hay - Setup Góc Làm Việc" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_discovery_icon_1_thumb.png?v=7362 767w, data:image/jpg;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <span>
         Setup Góc Làm Việc
        </span>
       </img>
      </a>
     </div>
     <div class="discovery__item">
      <a href="/collections/ban-phim-hay" target="_blank">
       <img alt="Vài Thứ Hay - Bàn phím hay" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_discovery_icon_2_thumb.png?v=7362 767w, data:image/jpg;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <span>
         Bàn phím hay
        </span>
       </img>
      </a>
     </div>
     <div class="discovery__item">
      <span class="badge" style="color: ; background-color: #DE0B19">
       New
      </span>
      <a href="/collections/flash-sale-san-pham-hot" target="_blank">
       <img alt="Vài Thứ Hay - Du Lịch Dã Ngoại" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_discovery_icon_3_thumb.png?v=7362 767w, data:image/jpg;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <span>
         Du Lịch Dã Ngoại
        </span>
       </img>
      </a>
     </div>
     <div class="discovery__item">
      <span class="badge" style="color: ; background-color: #DE0B19">
       New
      </span>
      <a href="/collections/gravastar-collection-chien-binh-khong-gian" target="_blank">
       <img alt="Vài Thứ Hay - Loa - Tai Nghe" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_discovery_icon_4_thumb.png?v=7362 767w, data:image/jpg;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <span>
         Loa - Tai Nghe
        </span>
       </img>
      </a>
     </div>
     <div class="discovery__item">
      <a href="/collections/san-pham-moi-la-nhat-hien-tai" target="_blank">
       <img alt="Vài Thứ Hay - Sản phẩm độc đáo nhất" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_discovery_icon_5_thumb.png?v=7362 767w, data:image/jpg;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <span>
         Sản phẩm độc đáo nhất
        </span>
       </img>
      </a>
     </div>
     <div class="discovery__item">
      <a href="/collections/cong-nghe-tien-ich-co-san" target="_blank">
       <img alt="Vài Thứ Hay - Sản phẩm HOT" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_discovery_icon_6_thumb.png?v=7362 767w, data:image/jpg;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <span>
         Sản phẩm HOT
        </span>
       </img>
      </a>
     </div>
     <div class="discovery__item">
      <a href="/collections/san-pham-cong-nghe-diy-lap-rap-dac-biet" target="_blank">
       <img alt="Vài Thứ Hay - Sản phẩm DIY Steampunk" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_discovery_icon_7_thumb.png?v=7362 767w, data:image/jpg;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <span>
         Sản phẩm DIY Steampunk
        </span>
       </img>
      </a>
     </div>
     <div class="discovery__item">
      <a href="/collections/nid-light" target="_blank">
       <img alt="Vài Thứ Hay - Đèn tràn trí NID LIGHT" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_discovery_icon_8_thumb.png?v=7362 767w, data:image/jpg;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        <span>
         Đèn tràn trí NID LIGHT
        </span>
       </img>
      </a>
     </div>
    </nav>
   </div>
  </div>
  <nav class="menu-mb__nav">
   <div class="menu-mb__nav-item">
    <span class="badge" style="color: ; background-color: #868686">
     Coming soon
    </span>
    <a href="https://vaithuhay.com/collections/coming-soon" target="_blank">
     <span>
      <img alt="Vài Thứ Hay" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_main_icon_1.png?v=7362"/>
     </span>
     Showcase
    </a>
   </div>
   <div class="menu-mb__nav-item">
    <span class="badge" style="color: ; background-color: #868686">
     Coming soon
    </span>
    <a href="https://showcase-dev.vaithuhay.com/manage/create-post/step1" target="_blank">
     <span>
      <img alt="Vài Thứ Hay" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_main_icon_2.png?v=7362"/>
     </span>
     Hợp tác phát triển sản phẩm
    </a>
   </div>
   <div class="menu-mb__nav-item">
    <a href="http://partner.vaithuhay.com" target="_blank">
     <span>
      <img alt="Vài Thứ Hay" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_main_icon_3.png?v=7362"/>
     </span>
     Tiếp thị liên kết - Affiliate
    </a>
   </div>
   <div class="menu-mb__nav-item">
    <a href="https://www.facebook.com/groups/gocvaithuhay" target="_blank">
     <span>
      <img alt="Vài Thứ Hay" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_main_icon_4.png?v=7362"/>
     </span>
     Cộng đồng Hay-er
    </a>
   </div>
   <div class="menu-mb__nav-item">
    <a href="http://tuyendung.vaithuhay.com" target="_blank">
     <span>
      <img alt="Vài Thứ Hay" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_main_icon_5.png?v=7362"/>
     </span>
     Tìm đồng đội
    </a>
   </div>
   <div class="menu-mb__nav-item">
    <a href="https://quatanghay.com" target="_blank">
     <span>
      <img alt="Vài Thứ Hay" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_main_icon_6.png?v=7362"/>
     </span>
     Quà tặng doanh nghiệp
    </a>
   </div>
   <div class="menu-mb__nav-item">
    <a href="/blogs/brand-story" target="_blank">
     <span>
      <img alt="Vài Thứ Hay" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_main_icon_7.png?v=7362"/>
     </span>
     Tin tức
    </a>
   </div>
   <div class="menu-mb__nav-item">
    <a href="/pages/kiem-tra-hanh-trinh-don-hang" target="_blank">
     <span>
      <img alt="Vài Thứ Hay" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_main_icon_8.png?v=7362"/>
     </span>
     Kiểm tra đơn hàng
    </a>
   </div>
   <div class="menu-mb__nav-item">
    <a href="/" target="_blank">
     <span>
      <img alt="Vài Thứ Hay" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_main_icon_9.png?v=7362"/>
     </span>
     Giới thiệu thương hiệu hay
    </a>
   </div>
   <div class="menu-mb__bottom text-center animated">
    <div class="menu-mb__slogan text-center" style="background-image: url(//theme.hstatic.net/1000069970/1001119059/14/menu-bottom-bg.png?v=7362);">
     <img alt="Vài Thứ Hay" class="menu-mb__slogan-logo" decoding="async" fetchpriority="low" loading="lazy" src="//theme.hstatic.net/1000069970/1001119059/14/menu_mb_logo_compact.png?v=7362"/>
     <p>
      Không đơn thuần chỉ bán hàng, chúng tôi còn đem đến nhiều hơn thế, tìm hiểu ngay
     </p>
     <div class="menu-mb__bottom-group">
      <a class="ega-btn ega-btn--default" href="/pages/gioi-thieu-vaithuhay">
       Tìm hiểu thêm
       <span>
        <i class="fa fa-caret-right">
        </i>
       </span>
      </a>
      <a class="ega-btn ega-btn--default menu-mb__feedback-btn" href="tel:02871015808">
       <span>
        !
       </span>
       Khiếu nại dịch vụ
      </a>
     </div>
    </div>
   </div>
  </nav>
 </div>
</div>
