<footer class="footer bor-20 py-5 modal-open pd-wrapper">
 <div class="container">
  <div class="row">
   <div class="col-12 col-sm-6 col-lg-3">
    <a class="logo d-block mb-3" href="/" title="Mew Plant">
     <img alt="Mew Plant" class="img-fluid lazy" data-src="https://file.hstatic.net/200000815931/file/logo1_5b67c7252b224770b7db3d83af4c7923.png" src="//theme.hstatic.net/200000815931/1001163947/14/placeholder_1x1.png?v=745"/>
    </a>
    <p class="mb-2">
     Giấy chứng nhận Đăng ký Kinh doanh số 0309532xxx do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp ngày 01/04/2002
    </p>
    <a class="dub_btn my-2" href="/pages/he-thong-cua-hang" title="Hệ thống cửa hàng">
     Hệ thống cửa hàng
     <svg class="octicon arrow-symbol-mktg" height="16" width="16">
      <path d="M7.28033 3.21967C6.98744 2.92678 6.51256 2.92678 6.21967 3.21967C5.92678 3.51256 5.92678 3.98744 6.21967 4.28033L7.28033 3.21967ZM11 8L11.5303 8.53033C11.8232 8.23744 11.8232 7.76256 11.5303 7.46967L11 8ZM6.21967 11.7197C5.92678 12.0126 5.92678 12.4874 6.21967 12.7803C6.51256 13.0732 6.98744 13.0732 7.28033 12.7803L6.21967 11.7197ZM6.21967 4.28033L10.4697 8.53033L11.5303 7.46967L7.28033 3.21967L6.21967 4.28033ZM10.4697 7.46967L6.21967 11.7197L7.28033 12.7803L11.5303 8.53033L10.4697 7.46967Z" fill="currentColor">
      </path>
      <path class="octicon-chevrow-stem" d="M1.75 8H11" stroke="currentColor" stroke-linecap="round" stroke-width="1.5">
      </path>
     </svg>
    </a>
    <div class="footer_social py-2">
     <a class="p-0 mr-1 d-inline-block" href="" target="_blank" title="Facebook">
      <img alt="facebook" class="lazy rounded-circle" data-src="https://file.hstatic.net/200000785527/file/facebook_ce742afdcdea4026a633915bdfdce6f5.png" height="32" src="//theme.hstatic.net/200000815931/1001163947/14/placeholder_1x1.png?v=745" width="32"/>
     </a>
     <a class="p-0 mr-1 d-inline-block" href="" target="_blank" title="Twitter">
      <img alt="twitter" class="lazy rounded-circle" data-src="https://file.hstatic.net/200000785527/file/twitter_b15cb1006ec04c63855aef2dec8fac47.png" height="32" src="//theme.hstatic.net/200000815931/1001163947/14/placeholder_1x1.png?v=745" width="32"/>
     </a>
     <a class="p-0 mr-1 d-inline-block" href="" target="_blank" title="Instagram+">
      <img alt="instagram" class="lazy rounded-circle" data-src="https://file.hstatic.net/200000785527/file/instagram_45effdfd0d0e47d986a7c8b1a8e2ab01.png" height="32" src="//theme.hstatic.net/200000815931/1001163947/14/placeholder_1x1.png?v=745" width="32"/>
     </a>
     <a class="p-0 mr-1 d-inline-block" href="" target="_blank" title="Youtube">
      <img alt="youtube" class="lazy rounded-circle" data-src="https://file.hstatic.net/200000785527/file/youtube_749d73527fb94f2c8d005d2ffdb1ca10.png" height="32" src="//theme.hstatic.net/200000815931/1001163947/14/placeholder_1x1.png?v=745" width="32"/>
     </a>
     <a class="p-0 mr-1 d-inline-block" href="" target="_blank" title="Shopee">
      <img alt="Shopee" class="lazy rounded-circle" data-src="https://file.hstatic.net/200000785527/file/shopee_efcb449798c24dd4a4a312f1ad9e3e8d.png" height="32" src="//theme.hstatic.net/200000815931/1001163947/14/placeholder_1x1.png?v=745" width="32"/>
     </a>
     <a class="p-0 mr-1 d-inline-block" href="" target="_blank" title="Lazada">
      <img alt="Lazada" class="lazy rounded-circle" data-src="https://file.hstatic.net/200000785527/file/lazada_0080ef48005044af8ba3f720097866f7.jpg" height="32" src="//theme.hstatic.net/200000815931/1001163947/14/placeholder_1x1.png?v=745" width="32"/>
     </a>
    </div>
   </div>
   <div class="col-12 col-sm-6 col-lg-3">
    <h3 class="footer-title font-weight-bold my-2 my-lg-4">
     Chính sách
    </h3>
    <ul class="links">
     <li>
      <a href="/search" title="Tìm kiếm">
       Tìm kiếm
      </a>
     </li>
     <li>
      <a href="/pages/about-us" title="Giới thiệu">
       Giới thiệu
      </a>
     </li>
     <li>
      <a href="/pages/chinh-sach-doi-tra" title="Chính sách đổi trả">
       Chính sách đổi trả
      </a>
     </li>
     <li>
      <a href="/pages/chinh-sach-bao-mat" title="Chính sách bảo mật">
       Chính sách bảo mật
      </a>
     </li>
     <li>
      <a href="/pages/dieu-khoan-dich-vu" title="Điều khoản dịch vụ">
       Điều khoản dịch vụ
      </a>
     </li>
     <li>
      <a href="/pages/lien-he" title="Liên hệ">
       Liên hệ
      </a>
     </li>
    </ul>
   </div>
   <div class="col-12 col-sm-6 col-lg-3">
    <h3 class="footer-title font-weight-bold my-2 my-lg-4">
     Hỗ trợ
    </h3>
    <ul class="links">
     <li>
      <a href="/search" title="Tìm kiếm">
       Tìm kiếm
      </a>
     </li>
     <li>
      <a href="/pages/about-us" title="Giới thiệu">
       Giới thiệu
      </a>
     </li>
     <li>
      <a href="/pages/chinh-sach-doi-tra" title="Chính sách đổi trả">
       Chính sách đổi trả
      </a>
     </li>
     <li>
      <a href="/pages/chinh-sach-bao-mat" title="Chính sách bảo mật">
       Chính sách bảo mật
      </a>
     </li>
     <li>
      <a href="/pages/dieu-khoan-dich-vu" title="Điều khoản dịch vụ">
       Điều khoản dịch vụ
      </a>
     </li>
     <li>
      <a href="/pages/lien-he" title="Liên hệ">
       Liên hệ
      </a>
     </li>
    </ul>
   </div>
   <div class="col-12 col-sm-6 col-lg-3">
    <h3 class="footer-title font-weight-bold my-2 my-lg-4">
     Thông tin liên hệ
    </h3>
    <address class="vcard mb-2">
     <p class="adr">
      <b>
       Hà Nội:
      </b>
      Tầng 3, tòa nhà The Artemis, số 03 Lê Trọng Tấn, Khương Mai, Thanh Xuân, Hà Nội
     </p>
     <p>
      <b>
       Hotline:
      </b>
      <a href="tel:1900636099" title="1900.636.099">
       1900.636.099
      </a>
     </p>
     <p class="adr mt-2">
      <b>
       HCM:
      </b>
      Lầu 6, 182 Lê Đại Hành, P.15, Quận 11, Tp.HCM
     </p>
     <p>
      <b>
       Email:
      </b>
      <a href="mailto:support@haravan.com" title="support@haravan.com">
       support@haravan.com
      </a>
     </p>
    </address>
   </div>
  </div>
 </div>
 <div class="foo_bot pt-2">
  <div class="container">
   <div class="row align-items-center">
    <div class="col-12">
     <div class="coppyright">
      Bản quyền thuộc về
      <a href="https://www.facebook.com/mewtheme/" rel="nofollow noopener" target="_blank" title="MewTheme">
       MewTheme
      </a>
      .
      <a href="https://www.haravan.com/?utm_campaign=poweredby&amp;utm_medium=haravan&amp;utm_source=onlinestore" target="_blank">
       Powered by Haravan
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
</footer>
