<div class="col-12 col-lg-7 col-xl-8 header_nav d-none d-md-block">
 <div class="navigation-block mx-lg-auto position-relative main_fade">
  <ul class="p-lg-0 px-lg-3 m-0 list-unstyled position-static d-lg-inline-flex" id="menu_pc">
   <li class="level0 cls pt-1 pt-lg-2 pb-lg-2 pb-1 not-mega">
    <a class="font-weight-bold d-block py-1 pl-lg-3 pr-lg-3 pr-2 position-relative active" href="/" title="Trang chủ">
     Trang chủ
    </a>
   </li>
   <li class="level0 cls pt-1 pt-lg-2 pb-lg-2 pb-1 mega">
    <a class="font-weight-bold d-block py-1 pl-lg-3 pr-4 js-checkMenu position-relative" href="/collections/all" title="Sản phẩm">
     Sản phẩm
     <i class="down_icon align-items-center justify-content-center position-absolute d-none d-lg-block mg">
     </i>
    </a>
    <i class="js-submenu down_icon d-flex align-items-center justify-content-center position-absolute d-lg-none">
    </i>
    <ul class="lvdiv lv1 list-group p-0 list-unstyled rounded py-lg-2">
     <li class="level1 pr-lg-2 pb-lg-2 pl-2 position-relative cls">
      <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/collections/cay-pho-bien" title="Cây phổ biến">
       Cây phổ biến
      </a>
      <i class="js-submenu down_icon d-flex align-items-center justify-content-center position-absolute d-lg-none">
      </i>
      <ul class="lv2 list-group p-0 list-unstyled rounded">
       <li class="level2 px-2 px-lg-0">
        <a class="py-1 position-relative" href="/collections/hot-products" title="Bán chạy">
         Bán chạy
        </a>
       </li>
       <li class="level2 px-2 px-lg-0">
        <a class="py-1 position-relative" href="/collections/hot-products" title="Nổi bật">
         Nổi bật
        </a>
       </li>
       <li class="level2 px-2 px-lg-0">
        <a class="py-1 position-relative" href="/collections/hot-products" title="Khuyến mãi">
         Khuyến mãi
        </a>
       </li>
      </ul>
     </li>
     <li class="level1 pr-lg-2 pb-lg-2 pl-2 position-relative cls">
      <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/collections/cay-moi-ve" title="Cây mới về">
       Cây mới về
      </a>
      <i class="js-submenu down_icon d-flex align-items-center justify-content-center position-absolute d-lg-none">
      </i>
      <ul class="lv2 list-group p-0 list-unstyled rounded">
       <li class="level2 px-2 px-lg-0">
        <a class="py-1 position-relative" href="/collections/hot-products" title="Cây bonsai">
         Cây bonsai
        </a>
       </li>
       <li class="level2 px-2 px-lg-0">
        <a class="py-1 position-relative" href="/collections/hot-products" title="Sen đá">
         Sen đá
        </a>
       </li>
       <li class="level2 px-2 px-lg-0">
        <a class="py-1 position-relative" href="/collections/hot-products" title="Xương rồng">
         Xương rồng
        </a>
       </li>
       <li class="level2 px-2 px-lg-0">
        <a class="py-1 position-relative" href="/collections/hot-products" title="Lan các loại">
         Lan các loại
        </a>
       </li>
      </ul>
     </li>
     <li class="level1 pr-lg-2 pb-lg-2 pl-2 position-relative cls">
      <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/collections/cay-de-ban" title="Cây để bàn">
       Cây để bàn
      </a>
      <i class="js-submenu down_icon d-flex align-items-center justify-content-center position-absolute d-lg-none">
      </i>
      <ul class="lv2 list-group p-0 list-unstyled rounded">
       <li class="level2 px-2 px-lg-0">
        <a class="py-1 position-relative" href="/collections/hot-products" title="Tiểu cảnh sen đá">
         Tiểu cảnh sen đá
        </a>
       </li>
       <li class="level2 px-2 px-lg-0">
        <a class="py-1 position-relative" href="/collections/hot-products" title="Tiểu cảnh xương rồng">
         Tiểu cảnh xương rồng
        </a>
       </li>
       <li class="level2 px-2 px-lg-0">
        <a class="py-1 position-relative" href="/collections/hot-products" title="Bình thủy sinh">
         Bình thủy sinh
        </a>
       </li>
       <li class="level2 px-2 px-lg-0">
        <a class="py-1 position-relative" href="/collections/hot-products" title="Terrarium">
         Terrarium
        </a>
       </li>
      </ul>
     </li>
     <li class="level1 pr-lg-2 pb-lg-2 pl-2 position-relative cls">
      <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/collections/cay-trong-nha" title="Cây trong nhà">
       Cây trong nhà
      </a>
     </li>
     <li class="level1 pr-lg-2 pb-lg-2 pl-2 position-relative cls">
      <a class="py-1 py-lg-2 pr-5 position-relative js-checkMenu" href="/collections/cay-ngoai-troi" title="Cây ngoài trời">
       Cây ngoài trời
      </a>
     </li>
    </ul>
   </li>
   <li class="level0 cls pt-1 pt-lg-2 pb-lg-2 pb-1 not-mega">
    <a class="font-weight-bold d-block py-1 pl-lg-3 pr-lg-3 pr-2 position-relative" href="/blogs/news" title="Tin tức">
     Tin tức
    </a>
   </li>
   <li class="level0 cls pt-1 pt-lg-2 pb-lg-2 pb-1 not-mega">
    <a class="font-weight-bold d-block py-1 pl-lg-3 pr-lg-3 pr-2 position-relative" href="/pages/about-us" title="Giới thiệu">
     Giới thiệu
    </a>
   </li>
   <li class="level0 cls pt-1 pt-lg-2 pb-lg-2 pb-1 not-mega">
    <a class="font-weight-bold d-block py-1 pl-lg-3 pr-lg-3 pr-2 position-relative" href="/pages/lien-he" title="Liên hệ">
     Liên hệ
    </a>
   </li>
  </ul>
 </div>
</div>
