<header class="site-header" id="header">
 <div class="header-top has-suggest-list" id="site-header-center">
  <div class="container">
   <div class="row-left-list d-flex d-flex-center">
    <div class="logo col-lg-20 col-md-3 col-xs-3 col-sm-3 pd-right-0">
     <a href="/" title="WD Kid">
      <img alt="WD Kid" class="dt-width-auto logo-shop" fetchpriority="high" height="50" src="https://file.hstatic.net/200000847317/file/logo--kid_1cb0b7977ede44dc85aca41ce0d1c798.png" type="image/png" width="200"/>
     </a>
    </div>
    <div class="col-lg-55 col-md-5 col-xs-7 col-sm-7 pd-right-0">
     <div class="site_search search-desktop">
      <form action="/search" class="wanda-mxm-search">
       <input name="type" type="hidden" value="product"/>
       <div class="search-inner">
        <input aria-label="Search" autocomplete="off" class="searchinput input-search search-input" name="q" placeholder="Bạn đang tìm gì..." size="20" type="text"/>
       </div>
       <button aria-label="Tìm kiếm" class="btn-search" type="submit">
        <svg class="icon-svg" style="--width: 24px;--height: 24px;--fillcolor: var(--color_header);">
         <use xlink:href="#icon-search">
         </use>
        </svg>
       </button>
      </form>
      <div class="smart-search-wrapper ajaxSearchResults">
       <div class="results-seach">
        <div class="title-search text-center">
         Kết quả tìm kiếm
        </div>
        <div class="group-head-smart d-flex">
         <span class="title-search-item-parent">
          Sản phẩm
         </span>
         <a class="total-product-result result-total-smart" href="/">
         </a>
        </div>
        <div class="product-result-data padding-15">
        </div>
        <div class="group-head-smart d-flex">
         <span class="title-search-item-parent">
          Bài viết
         </span>
         <a class="total-article-result result-total-smart" href="/">
          Xem tất cả 10 bài viết
         </a>
        </div>
        <div class="article-result-data padding-15">
        </div>
       </div>
      </div>
     </div>
     <ul class="list-key-search d-flex hidden-xs hidden-sm">
      <li class="item">
       <a href="/search?q=Đồ bầu&amp;type=product" title="Đồ bầu">
        Đồ bầu
       </a>
      </li>
      <li class="item">
       <a href="/search?q=Sữa Meiji&amp;type=product" title="Sữa Meiji">
        Sữa Meiji
       </a>
      </li>
      <li class="item">
       <a href="/search?q=Bình sữa Pigeon&amp;type=product" title="Bình sữa Pigeon">
        Bình sữa Pigeon
       </a>
      </li>
      <li class="item">
       <a href="/search?q=Bỉm Merries&amp;type=product" title="Bỉm Merries">
        Bỉm Merries
       </a>
      </li>
      <li class="item">
       <a href="/search?q=Xe tập đi&amp;type=product" title="Xe tập đi">
        Xe tập đi
       </a>
      </li>
     </ul>
     <ul class="list-search-suggest">
     </ul>
    </div>
    <div class="col-md-4 col-lg-3 group-icon-header col-xs-2 col-sm-2 pd-right-0">
     <div class="cart-login-search align-items-center d-flex d-flex-center js-between">
      <ul class="header-group-icon hidden-xs hidden-sm">
       <li class="list-inline-item mr-0 header-hotline">
        <a class="group-icon-item d-flex d-flex-center" href="tel:038.594.2049" title="038.594.2049">
         <span class="box-icon">
          <svg class="icon-svg" style="--width: 32px;--height: 32px;--fillcolor: var(--color_header);">
           <use xlink:href="#icon-hotline">
           </use>
          </svg>
         </span>
         <span class="box-text">
          Hotline
          <span class="small-text">
           038.594.2049
          </span>
         </span>
        </a>
       </li>
      </ul>
      <ul class="group-icon-cart-account d-flex d-flex-center">
       <li class="list-inline-item mr-0 header-location hidden-xs hidden-sm">
        <div class="list-inline-item-text">
         <a class="icon-item d-flex d-flex-center button-icon" href="/pages/he-thong-cua-hang" title="Hệ thống cửa hàng">
          <span class="box-icon">
           <svg class="icon-svg" style="--width: 24px;--height: 24px;">
            <use xlink:href="#icon-location">
            </use>
           </svg>
          </span>
         </a>
        </div>
       </li>
       <li class="list-inline-item mr-0 header-account">
        <div class="list-inline-item-text">
         <button class="icon-item d-flex d-flex-center button-icon" onclick="window.location.href= '/account'" title="Tài khoản" type="button">
          <span class="box-icon">
           <svg class="icon-svg" style="--width: 24px;--height: 24px;">
            <use xlink:href="#icon-account">
            </use>
           </svg>
          </span>
         </button>
        </div>
       </li>
       <li class="list-inline-item mr-0 header-wishlish">
        <div class="list-inline-item-text">
         <button class="icon-item d-flex d-flex-center button-icon" onclick="window.location.href= '/pages/wishlist'" title="Sản phẩm yêu thích" type="button">
          <span class="box-icon">
           <svg class="icon-svg" style="--width: 24px;--height: 24px;">
            <use xlink:href="#icon-heart-no-fill">
            </use>
           </svg>
           <span class="js-number-like number-like">
            0
           </span>
          </span>
         </button>
        </div>
       </li>
       <li class="list-inline-item mr-0 header-cart hidden-xs hidden-sm">
        <div class="list-inline-item-text">
         <button class="icon-item d-flex d-flex-center button-icon" title="Giỏ hàng" type="button">
          <span class="box-icon">
           <svg class="icon-svg" style="--width: 24px;--height: 24px;">
            <use xlink:href="#icon-cart">
            </use>
           </svg>
           <span class="js-number-cart number-cart">
            0
           </span>
          </span>
         </button>
        </div>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="header-bottom hidden-sm hidden-xs">
  <div class="container">
   <div class="d-flex d-flex-center row-left-list">
    <div class="navigation-category col-lg-20 col-md-3 pd-right-0 index-tp">
     <div class="head-title">
      <div class="icon">
       <svg class="icon-svg" style="--width: 24px;--height: 24px;--fillcolor: var(--bgheader);">
        <use xlink:href="#icon-menu">
        </use>
       </svg>
      </div>
      <span class="font-title">
       Danh mục sản phẩm
      </span>
     </div>
     <div class="group-fixed-nav">
     </div>
    </div>
    <div class="sticky-overlay">
    </div>
    <nav class="site-nav-menu col-lg-80 col-md-9 pd-right-0">
     <ul class="d-flex menu-desk">
      <li class="">
       <a href="/pages/about-us" title="Giới thiệu">
        Giới thiệu
       </a>
      </li>
      <li class="">
       <a href="/blogs/news" title="Tin tức">
        Tin tức
       </a>
      </li>
      <li class="">
       <a href="/pages/chinh-sach-doi-tra" title="Chính sách đổi trả">
        Chính sách đổi trả
       </a>
      </li>
      <li class="">
       <a href="/pages/dieu-khoan-dich-vu" title="Điều khoản dịch vụ">
        Điều khoản dịch vụ
       </a>
      </li>
      <li class="">
       <a href="/pages/huong-dan-thiet-lap" title="Hướng dẫn thiết lập website">
        Hướng dẫn thiết lập website
       </a>
      </li>
      <li class="">
       <a href="/pages/tinh-nang-noi-bat" title="Tính năng nổi bật">
        Tính năng nổi bật
       </a>
      </li>
     </ul>
    </nav>
   </div>
  </div>
 </div>
</header>
